{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Home'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/admin.scss') }}">
{% endblock %}

{% block body %}
    {% include('_blocks/_menu.html.twig') %}
    <div class="container-fluid home">
        <h2>{{ 'Users'|trans }}</h2>
        <div class="users">
            <div class="user">
                <div class="user__avatar"></div>
                <div class="user__name">{{ 'Username'|trans }}</div>
                <div class="user__email">{{ 'Email'|trans }}</div>
                <div class="user__series">{{ 'Series'|trans }}</div>
                <div class="user__providers">{{ 'Providers'|trans }}</div>
                <div class="user__episodes">{{ 'Episodes'|trans }}</div>
                <div class="user__role">User</div>
                <div class="user__role">Admin</div>
                <div class="user__role">Switch</div>
            </div>
            {% for u in users %}
                <div class="user">
                    <img src="/images/users/avatars/{{ u.avatar }}" class="user__avatar" alt="{{ u.username }}">
                    <div class="user__name">{{ u.username }}</div>
                    <div class="user__email">{{ u.email }}</div>
                    <div class="user__series">{{ u.seriesCount }}</div>
                    <div class="user__providers">{{ u.providerCount }}</div>
                    <div class="user__episodes">{{ u.episodeCount }}</div>
                    <div class="user__role">{% if 'USER' in u.roles %}{{ ux_icon('fa6-solid:check', {height: '18px', width: '18px'}) }}{% endif %}</div>
                    <div class="user__role">{% if 'ADMIN' in u.roles %}{{ ux_icon('fa6-solid:check', {height: '18px', width: '18px'}) }}{% endif %}</div>
                    <div class="user__role">{% if 'SWITCH' in u.roles %}{{ ux_icon('fa6-solid:check', {height: '18px', width: '18px'}) }}{% endif %}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
