<div class="select-categories">
    <label for="categories">{{ 'Categories'|trans }}
        <select id="categories" name="categories">
            <option value="all">{{ 'All categories'|trans }}</option>
            {% for category in categories %}
                <option value="{{ category.id }}"{% if category in video.categories %} disabled{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
    </label>
    <label for="new-category">
        {{ 'New category'|trans }}
        <input type="text" id="new-category" name="new-category" placeholder="{{ 'New category'|trans }}">
        <input type="color" id="new-category-color" name="new-category-color">
        <button id="new-category-button" type="button">{{ ux_icon('mdi:arrow-right') }}</button>
    </label>
</div>
