{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Series'|trans }} → {{ season.series_localized_name ? season.series_localized_name.name : series.name }} → {{ season.name }} → {{ 'Episode'|trans }} {{ episode.episode_number }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/contact.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/map.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/user.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/card.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/episode.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/translations.scss') }}">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.14.0/mapbox-gl.css">
{% endblock %}
{% block body %}
    {% if episode.still_path %}
        {% set still = episode.still_path %}
    {% elseif episode.stills|length %}{# is defined and ue.still #}
        {% set still = episode.stills|last %}
        {% set still = "/series/stills/" ~ still.path %}
    {% else %}
        {% set still = '' %}
    {% endif %}
    <script>
        const bd = '/series/posters_blurred{{ season.blurred_poster_path }}';
        const body = document.querySelector("body");
        body.style.backgroundSize = "cover";
        body.style.backgroundPosition = "center";
        body.style.backgroundRepeat = "no-repeat";
        body.style.backgroundAttachment = "fixed";
        body.style.backgroundImage = "url(" + bd + ")";
    </script>
    {{ include('_blocks/_menu.html.twig', {seriesName: season.series_localized_name ? season.series_localized_name.name:series.name, seriesLink: path('app_tv_series', {id: series.id, slug: season.series_localized_name.slug ?? series.slug}) }) }}
    <div class="container-fluid backgroundImageOverlay">
        <div class="episode-show" data-theme="none" data-series-id="{{ series.id }}" data-episode-id="{{ episode.id }}">
            <header>
                <div class="still">
                    {% if still|length %}
                        <img src="{{ still }}" alt="{{ episode.name }} still image">
                    {% endif %}
                </div>
                <div class="infos">
                    <div class="name-block">
                        {% set name = episode.user_episode.substitute_name ?: episode.name %}
                        <h1>{{ episode.episode_number }} / {{ season.episode_count }}. <span>{{ name }}</span></h1>
                        <button class="name-edit" popovertarget="episode-name-edit" popovertargetaction="show" data-name="{{ 'Edit episode name'|trans }}">
                            {{ ux_icon('mdi:pencil', {height: '24px', width: '24px'}) }}
                        </button>
                        <dialog class="episode-name-dialog" id="episode-name-edit" popover="auto">
                            <form class="episode-name-form">
                                <div class="form-row">
                                    <label for="name-input">{{ 'Episode name'|trans }}
                                        <input type="text" id="name-input" class="name-input" value="{{ name }}" />
                                    </label>
                                </div>
                                <div class="form-row">
                                    <button type="button" name="cancel">{{ 'Cancel'|trans }}</button>
                                    <button type="submit" name="save">{{ 'Save'|trans }}</button>
                                </div>
                            </form>
                        </dialog>
                    </div>
                    {{ include('_blocks/series/_episode_air_date.html.twig', {episode: episode, ue: episode.user_episode, ues: episode.user_episodes}) }}
                    {{ include('_blocks/series/_episode_stats.html.twig', {episode: episode}) }}
                    <div class="overview-block">
                        {% set overview = episode.user_episode.localized_overview ?: episode.overview %}
                        <div class="overview">{{ overview }}</div>
                        <button class="overview-edit" popovertarget="episode-overview-edit" popovertargetaction="show" data-title="{{ 'Edit episode overview'|trans }}">
                            {{ ux_icon('mdi:pencil', {height: '24px', width: '24px'}) }}
                        </button>
                        <dialog class="episode-overview-dialog" id="episode-overview-edit" popover="auto">
                            <form class="episode-overview-form">
                                <div class="form-row">
                                    <label for="overview-textarea">{{ 'Episode overview'|trans }}
                                        <textarea id="overview-textarea" class="overview-textarea" rows="4" cols="50" placeholder="{{ 'Write your overview here'|trans }}">{{ overview }}</textarea>
                                    </label>
                                </div>
                                <div class="form-row">
                                    <button type="button" name="cancel">{{ 'Cancel'|trans }}</button>
                                    <button type="submit" name="save">{{ 'Save'|trans }}</button>
                                </div>
                            </form>
                        </dialog>
                    </div>
                </div>
                <div class="navigation">
                    {% if locations|length %}
                        <div class="go-to-map" data-target="#map" data-title="{{ 'Filming locations map'|trans }}">{{ ux_icon('mdi:map-outline') }}</div>
                    {% endif %}
                    {% if episode.episode_number > 1 %}
                        <a href="{{ path("app_tv_episode", {id: series.id, slug: slug, seasonNumber: season.season_number, episodeNumber: episode.episode_number - 1}) }}">
                            <div class="previous-episode" data-title="{{ 'Previous episode'|trans }}">{{ ux_icon('mdi:arrow-left') }}</div>
                        </a>
                    {% endif %}
                    <a id="back-to-season" href="{{ path('app_tv_season', {id: series.id, slug: season.series_localized_name.slug ?? series.slug, seasonNumber: season.season_number}) }}">
                        <div class="back" data-title="{{ 'Back to season'|trans }}">
                            {% if season.season_number %}
                                {{ 'Season'|trans }} {{ season.season_number }}
                            {% else %}
                                {{ 'Specials'|trans }}
                            {% endif %}
                        </div>
                    </a>
                    {% if episode.next_episode_is_available %}
                        <a href="{{ path("app_tv_episode", {id: series.id, slug: slug, seasonNumber: season.season_number, episodeNumber: episode.episode_number + 1}) }}">
                            <div class="next-episode" data-title="{{ 'Next episode'|trans }}">{{ ux_icon('mdi:arrow-right') }}</div>
                        </a>
                    {% else %}
                        {% set addWatchNextDiv = true %}
                        <div class="what-s-next" data-id="{{ series.tmdbId }}" data-language="{{ language }}" data-title="{{ 'What else to watch?'|trans }}">{{ ux_icon('mdi:chevron-right-last') }}</div>
                    {% endif %}
                </div>
                {{ include('_blocks/series/_user_episode.html.twig', {ue: episode.user_episode, episode: episode, series: series, season: season}) }}
                {{ include('_blocks/series/_watch_links.html.twig', {watchLinks: series.seriesWatchLinks, seasonNumber: season.season_number, hidden: (episode.user_episode.watch_at != null)}) }}
            </header>
            <aside>
                <div class="episode__cards" data-id="{{ series.id }}" data-tmdb-id="{{ series.tmdbId }}" data-season-number="{{ season.season_number }}" data-series-slug="{{ season.series_localized_name.slug ?? series.slug }}">
                    <div class="episode-loader on">
                        <div class="blue-light" style="--delay: 0"></div>
                        <div class="blue-light" style="--delay: 100ms"></div>
                        <div class="blue-light" style="--delay: 200ms"></div>
                        <div class="blue-light" style="--delay: 300ms"></div>
                        <div class="blue-light" style="--delay: 400ms"></div>
                        <div class="blue-light" style="--delay: 500ms"></div>
                        <div class="blue-light" style="--delay: 600ms"></div>
                    </div>
                </div>
            </aside>
            <main>
                <div class="episodes-comments"></div>
                {% if addWatchNextDiv is defined %}
                    <div class="what-to-watch-next"></div>
                {% endif %}
                {{ include('_blocks/series/_credits.html.twig', {season: season, series: series, seasonVotes: seasonVotes}) }}
                {{ include('_blocks/series/_guest_stars.html.twig', {guest_stars: episode.guest_stars, episode_page: true}) }}
                {{ include('_blocks/series/_map.html.twig', {locations: locations, mapSettings: mapSettings}) }}
            </main>
        </div>
    </div>
    {{ include('_blocks/series/_comment_image.html.twig') }}
    {{ include('_blocks/series/_review_dialog.html.twig') }}
    {{ include('_blocks/series/_select_device.html.twig') }}
    {{ include('_blocks/series/_select_provider.html.twig') }}

    <div class="episodes" style="display: none">
        <div class="episode-wrapper">
            <div class="episode" id="episode-{{ season.season_number }}-{{ episode.episode_number }}" data-ue-id="{{ episode.user_episode.id }}" data-episode-id="{{ episode.id }}">
            </div>
        </div>
    </div>
    <div id="globs" style="display: none">
        {
            "user": {
                "avatar": "{{ app.user.avatar }}",
                "username": "{{ app.user.username }}"
            },
            "seriesId": {{ series.id }},
            "showId": {{ series.tmdbId }},
            "episodeId": {{ episode.id }},
            "seasonNumber": {{ season.season_number }},
            "seasonVotes": {{ seasonVotes|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "episodeNumber": {{ episode.episode_number }},
            "seriesName": "{{ (season.series_localized_name ?:series.name)|e('js') }}",
            "episodeName": "{{ (episode.user_episode.substitute_name ?: episode.name)|e('js') }}",
            "episodeOverview": "{{ (episode.user_episode.localized_overview ?: episode.overview)|e('js') }}",
            "episodeRuntime": {{ episode.runtime ?? 0 }},
            "episodeStill": "{{ still }}",
            "timezone": "{{ timezone }}",
            "seasonProvider": {{ season["watch/providers"]|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "providers": {{ providers|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "devices": {{ devices|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "translations": {{ translations|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
        }
    </div>
    <div id="svgs" style="display: none">
        {% for d in devices %}
            {{ ux_icon(d.svg, {id: 'device-'~d.id, height: '18px', width: '18px'}) }}
        {% endfor %}
        {{ ux_icon('mdi:asterisk', {id: 'asterisk'}) }}
        {{ ux_icon('mdi:checkbox-outline', {id: 'save' }) }}
        {{ ux_icon('mdi:close', {id: 'cancel' }) }}
        {{ ux_icon('mdi:comment-text', {id: 'comment-badge'}) }}
        {{ ux_icon('mdi:comment-text-outline', {id: 'comment-badge-outline'}) }}
        {{ ux_icon('mdi:eye', {id: 'eye' }) }}
        {{ ux_icon('mdi:image-plus', {id: 'image-plus'}) }}
        {{ ux_icon('mdi:plus', {id: 'plus' }) }}
        {{ ux_icon('mdi:question-answer', {id: 'answer-badge'}) }}
        {{ ux_icon('mdi:send', {id: 'send'}) }}
        {{ ux_icon('mdi:trash', {id: 'trash' }) }}
        <div class="svg" id="svg-xmark">{{ ux_icon('mdi:close') }}</div>
    </div>
    {{ include('_blocks/series/_map_stuff.html.twig', {locations: locations, mapSettings: mapSettings, addLocationFormData: addLocationFormData}) }}

    {% include '_blocks/_footer.html.twig' %}
{% endblock %}
