<div class="side-panel add-location-dialog">
    <div class="frame">
        <form action="" id="add-location-form" enctype="multipart/form-data">
            <input type="hidden" name="series-id" id="series-id" value="{{ series.id }}">
            <input type="hidden" name="tmdb-id" id="tmdb-id" value="{{ tv.id }}">
            <input type="hidden" name="crud-type" id="crud-type" value="create">{# create (new) | update (edit) | delete (remove) #}
            <input type="hidden" name="crud-id" id="crud-id" value="0">{# id of updated location #}
            <div class="form-row">
                <div class="form-field">
                    <label for="title">{{ 'Title'|trans }}
                        <input type="text" name="title" id="title" required>
                        <span class="error"></span>
                    </label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label for="location">{{ 'Location'|trans }}
                        <input type="text" name="location" id="location" required>
                        <span class="error"></span>
                    </label>
                </div>
                <div class="form-row">
                    <div class="form-field">
                        <label for="season-number">{{ 'Season number'|trans }}
                            <input type="text" name="season-number" id="season-number" required>
                            <span class="error"></span>
                        </label>
                    </div>
                    <div class="form-field">
                        <label for="episode-number">{{ 'Episode number'|trans }}
                            <input type="text" name="episode-number" id="episode-number" required>
                            <span class="error"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label for="description">{{ 'Description'|trans }}
                        <input type="text" name="description" id="description" required>
                        <span class="error"></span>
                    </label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label for="google-map-url">{{ 'Paste Google maps url here to obtain latitude and longitude'|trans }}
                        <input type="text" name="google-map-url" id="google-map-url">
                    </label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label for="latitude">{{ 'Latitude'|trans }}
                        <input type="number" name="latitude" id="latitude" step="0.0000001" required>
                        <span class="error"></span>
                    </label>
                </div>
                <div class="form-field">
                    <label for="longitude">{{ 'Longitude'|trans }}
                        <input type="number" name="longitude" id="longitude" step="0.0000001" required>
                        <span class="error"></span>
                    </label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    <div class="form-field">
                        {{ 'Urls'|trans }}
                    </div>
                    <div class="form-field">
                        <label for="image-url">{{ 'Image'|trans }}
                            <input type="url" name="image-url" id="image-url" required>
                            <span class="error"></span>
                        </label>
                        <div class="image-preview">
                            <img src="" alt="">
                        </div>
                        <div class="blob-preview">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="form-field">
                        <label for="image-url-1">{{ 'Additional image'|trans }} #1
                            <input type="url" name="image-url-1" id="image-url-1">
                            <span class="error"></span>
                        </label>
                        <div class="image-preview">
                            <img src="" alt="">
                        </div>
                        <div class="blob-preview">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="form-field">
                        <label for="image-url-2">{{ 'Additional image'|trans }} #2
                            <input type="url" name="image-url-2" id="image-url-2">
                            <span class="error"></span>
                        </label>
                        <div class="image-preview">
                            <img src="" alt="">
                        </div>
                        <div class="blob-preview">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="form-field">
                        <label for="image-url-3">{{ 'Additional image'|trans }} #3
                            <input type="url" name="image-url-3" id="image-url-3">
                            <span class="error"></span>
                        </label>
                        <div class="image-preview">
                            <img src="" alt="">
                        </div>
                        <div class="blob-preview">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="form-field">
                        <label for="image-url-4">{{ 'Additional image'|trans }} #4
                            <input type="url" name="image-url-4" id="image-url-4">
                            <span class="error"></span>
                        </label>
                        <div class="image-preview">
                            <img src="" alt="">
                        </div>
                        <div class="blob-preview">
                            <img src="" alt="">
                        </div>
                    </div>
                </div>
                <div class="form-column">
                    <div class="form-field">
                        {{ 'Local files'|trans }} ({{ 'Thumbnail, additional images'|trans }})
                    </div>
                    <div class="form-field">
                        <label for="image-file" class="">{{ 'Drop your image file here'|trans }}
                            <input type="file" name="image-file" id="image-file">
                        </label>
                        <div class="preview-image-file">
                            <p>{{ 'No image currently selected for upload'|trans }}</p>
                        </div>
                    </div>
                    <div class="form-field">
                        <label for="image-files" class="">{{ 'Drop your additional images files here'|trans }}
                            <input type="file" name="image-files" id="image-files" multiple>
                        </label>
                        <div class="preview-image-files">
                            <p>{{ 'No additional images currently selected for upload'|trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <div class="location-images">
                        <div class="still">
                            <h4>{{ 'Still'|trans }}</h4>
                            <div class="image"></div>
                        </div>
                        <div class="additional-images">
                            <h4>{{ 'Additional images'|trans }}</h4>
                            <div class="wrapper">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row submit-row">
                <div class="form-field">
                    <button type="button">{{ 'Cancel'|trans }}</button>
                </div>
                <div class="form-field">
                    <button type="submit">{{ 'Add'|trans }}</button>
                </div>
            </div>
        </form>
        <div class="scroll-down-to-submit">
            <button>{{ 'Scroll down to submit'|trans }}</button>
        </div>
    </div>
</div>