<div class="form-row">
    <div class="form-field">
        <label for="caption">{{ 'Caption'|trans }}
            <input type="text" name="caption" id="caption" required>
            <span class="error"></span>
        </label>
    </div>
    <div class="form-field">
        <label for="date">{{ 'Date'|trans }}
            <input type="datetime-local" name="date" id="date" required>
            <span class="error"></span>
        </label>
    </div>
</div>
<div class="form-row">
    <div class="form-field">
        <label for="google-map-url">{{ 'Paste Google maps url here to obtain latitude and longitude'|trans }}
            <input type="text" name="google-map-url" id="google-map-url">
        </label>
    </div>
</div>
<div class="form-row">
    <div class="form-field">
        <label for="latitude">{{ 'Latitude'|trans }}
            <input type="number" name="latitude" id="latitude" step="0.0000001" required>
            <span class="error"></span>
        </label>
    </div>
    <div class="form-field">
        <label for="longitude">{{ 'Longitude'|trans }}
            <input type="number" name="longitude" id="longitude" step="0.0000001" required>
            <span class="error"></span>
        </label>
    </div>
</div>
