<div class="side-panel edit-episode-infos-dialog">
    <div class="frame">
        <form action="" id="edit-episode-infos-form" enctype="multipart/form-data">
            {% for episode in season.episodes %}
                {% set ue = episode.user_episode %}
                <div class="form-row" id="episode-{{ episode.episode_number }}">
                    <div class="episode-number">#{{ episode.episode_number }}</div>
                    <div class="form-field">
                        <div class="still" id="still-{{ episode.episode_number }}"
                             data-editing="1"
                             data-series-id="{{ series.tmdbId }}"
                             data-season-id="{{ season.id }}"
                             data-episode-id="{{ episode.id }}"
                        >
                            {% if episode.still_path %}
                                <img src="{{ episode.still_path }}" alt="{{ episode.name }}">
                            {% elseif episode.stills|length %}{# is defined and ue.still #}
                                {% set still = episode.stills|last %}
                                <img src="/series/stills/{{ still.path }}" alt="{{ episode.name }}">
                            {% else %}
                                <div class="no-poster">{{ 'No poster'|trans }}</div>
                            {% endif %}
                        </div>
                        <div>{{ episode.air_date|format_date("short") }}</div>
                        <label for="copy-{{ episode.id }}">
                            <input type="checkbox" id="copy-{{ episode.id }}" name="copy-{{ episode.id }}" data-id="{{ episode.id }}" switch>{{ 'Copy'|trans }}
                        </label>
                    </div>
                    <div class="form-column">
                        <div class="form-field">
                            <label for="title-{{ episode.id }}">{{ 'Title'|trans }} #{{ episode.episode_number }}
                                <input type="text"
                                       name="title-{{ episode.id }}"
                                       id="title-{{ episode.id }}"
                                       value="{{ ue.substitute_name ?? episode.name }}"
                                >
                                <span class="error"></span>
                            </label>
                            <label for="overview-{{ episode.id }}">{{ 'Overview'|trans }} #{{ episode.episode_number }}
                                <textarea
                                        name="overview-{{ episode.id }}"
                                        id="overview-{{ episode.id }}"
                                >{{ ue.localized_overview ?? episode.overview }}</textarea>
                                <span class="error"></span>
                            </label>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="form-row">
                <div class="form-field">
                    <label for="edit-episode-infos-copy-all">
                        <input type="checkbox" id="edit-episode-infos-copy-all" switch="">{{ 'Copy all'|trans }}
                    </label>
                </div>
            </div>
            <div class="form-row submit-row">
                <div class="form-field">
                    <button type="button" id="edit-episode-infos-copy">{{ 'Copy'|trans }}</button>
                </div>
                <div class="form-field">
                    <button type="button" id="edit-episode-infos-cancel">{{ 'Cancel'|trans }}</button>
                </div>
                <div class="form-field">
                    <button type="submit" id="edit-episode-infos-save">{{ 'Add'|trans }}</button>
                </div>
            </div>
        </form>
        <div class="scroll-down-to-submit">
            <button>{{ 'Scroll down to submit'|trans }}</button>
        </div>
    </div>
</div>