<div class="form-field">
    <label for="{{ field.name }}">{{ field.label|trans }}
        <input type="{{ field.type }}" name="{{ field.name }}" id="{{ field.name }}" {{ field.required ? 'required' : '' }}>
        <span class="error"></span>
    </label>
</div>