<div class="form-field">
    <div class="form-field">
        <label for="{{ field.name }}">{{ field.label|trans }}
            <select name="{{ field.name }}" id="{{ field.name }}" {{ field.required ? 'required' : '' }}>
                {% if field.placeholder %}
                    <option value="" disabled selected>{{ field.placeholder|trans }}</option>
                {% endif %}
                {% for value, label in field.options %}
                    <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
            <span class="error"></span>
        </label>
    </div>
</div>