<div class="form-field{% if field.class is defined %} {{ field.class }}{% endif %}">
    <label for="{{ field.name }}">{{ field.label|trans }}
        <input list="list-{{ field.name }}"
               type="{{ field.type }}"
               name="{{ field.name }}"
               id="{{ field.name }}"
               value="{{ field.value|default('') }}"
                {{ field.required ? 'required' : '' }}>
        <datalist id="list-{{ field.name }}">
            {% for item in field.list %}
                <option value="{{ item }}"></option>
            {% endfor %}
        </datalist>
        <span class="error"></span>
    </label>
</div>