<div class="series-in-list{% if isSeriesInList %} added{% endif %}" data-title="{{ 'This series has been added to one or more lists'|trans }}">{{ ux_icon('mdi:bookmark') }}</div>
<div class="series-tools-container" data-id="{{ seriesId }}" data-name="{{ seriesName|e('html_attr') }}">
    <div class="series-tools">{{ ux_icon('mdi:ellipsis-vertical') }}</div>
    {{ include('_blocks/list/_tools_menu.html.twig') }}
</div>