{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Home'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid home">
        {% include('_blocks/_menu.html.twig') %}
        <h1>Bienvenue sur My Tv Time</h1>
        <p>My Tv Time est un site qui vous permet de gérer vos séries préférées. Vous pouvez ajouter des séries à votre liste, indiquer les épisodes que vous avez vus, et bien plus encore !</p>

        <div class="series-group">
            <h2>Dernières séries ajoutées</h2>
            <div class="wrapper">
                <div class="content">
                    {% for s in series %}
                        {{ include('_blocks/series/_card.html.twig', { series: s }) }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="series-group">
            <div class="header">
                <div class="logo">
                    {{ providerLogo(watchProviders, provider) }}
                </div>
                <h2>{{ providerName(watchProviders, provider) }}</h2>
                <label for="watch-providers">Filtrer par plateforme de streaming
                    <select id="watch-providers">
                        {% for watchProvider in watchProviders|sort((a, b) => a.name <=> b.name) %}
                            <option value="{{ watchProvider.id }}" data-logo="{{ watchProvider.logoPath }}"{{ watchProvider.id == provider ? ' selected':''}}>{{ watchProvider.name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div class="wrapper">
                <div class="content">
                    {% for s in filteredSeries %}
                        {{ include('_blocks/series/_card.html.twig', { series: s }) }}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include('_blocks/_footer.html.twig') %}
    </div>
{% endblock %}
