{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Home'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/card.scss') }}">
{% endblock %}

{% block body %}
    {% include('_blocks/_menu.html.twig') %}
    <div class="container-fluid home">
        {# <div class="presentation">
                        <p>My Tv Time est un site qui vous permet de gérer vos séries préférées. Vous pouvez ajouter des séries à votre liste, indiquer les épisodes que vous avez vus, et bien plus encore !</p>
                        <p>Vous pouvez également consulter les séries les plus populaires, les séries les mieux notées, ou encore les séries les plus récentes.</p>
                        <p>Enfin, vous pouvez filtrer les séries par plateforme de streaming pour savoir où les regarder.</p>
        </div> #}
        <div class="highlight-progress">
            <div class="head"></div>
        </div>

        <div class="home-content" dir="ltr">
            <div class="highlighted-series">
                <div class="poster">
                    <a href="{{ path('app_series_tmdb', {'id': highlightedSeries.0.id, 'slug': highlightedSeries.0.slug}) }}">
                        <img src="{{ highlightedSeries.0.poster_path }}" alt="{{ highlightedSeries.0.name }}">
                    </a>
                </div>
                <div class="infos">
                    <div class="details">
                        <a href="{{ path('app_series_tmdb', {'id': highlightedSeries.0.id, 'slug': highlightedSeries.0.slug}) }}">
                            <div class="name">{{ highlightedSeries.0.name }}</div>
                        </a>
                        <div class="overview">{{ highlightedSeries.0.overview }}</div>
                        <div class="providers">
                            <div class="wrapper">
                                {% for provider in highlightedSeries.0.watch_providers %}
                                    <div class="provider"><img src="{{ provider.logo_path }}" alt=""></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="poster-list">
                        {% for s in highlightedSeries %}
                            <a href="{{ path('app_series_tmdb', {'id': s.id, 'slug': s.slug}) }}">
                                <div class="item">
                                    <div class="poster-item" id="thumb-{{ s.id }}">
                                        <img src="{{ s.poster_path }}" alt="{{ s.name }}">
                                    </div>
                                    <div class="count"></div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="loading">
                    <div class="loading-item"></div>
                    <div class="loading-item"></div>
                    <div class="loading-item"></div>
                    <div class="loading-item"></div>
                </div>
                {#            <div class="loading-v2"> #}
                {#                <div class="ball-container"> #}
                {#                </div> #}
                {#            </div> #}
            </div>
            <div class="series-group">
                <h2>{{ 'Recent series'|trans }}</h2>
                <div class="wrapper">
                    <div class="content">
                        {% for s in highlightedSeries %}
                            {{ include('_blocks/series/_card.html.twig', { series: s, dataTitle: s.date }) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="series-group">
                <h2>{{ 'Recent movies'|trans }}</h2>
                <div class="wrapper">
                    <div class="content">
                        {% for m in highlightedMovies %}
                            {{ include('_blocks/movie/_card_tmdb.html.twig', { movie: m }) }}
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% if 0 %}
                {#            {% if movieVideos.firstVideo|length %} #}
                {% set video = movieVideos.firstVideo %}
                {% if video.site == 'YouTube' %}
                    <h2>{{ movieVideos.title }}</h2>
                    <div class="video-background">
                        <div class="video-background__inner">
                            <object class="video-background__video"
                                    data="https://www.youtube.com/embed/{{ video.key }}?autoplay=1&mute=1&loop=1&playlist={{ movieVideos.videoList }}">
                            </object>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {# <div class="video-background">
                <!-- The video container -->
                <div class="video-background__inner">
                    <video class="video-background__video" src="/videos/make-up-make-me-grow-up.mp4" autoplay loop muted controls></video>
                </div>

                <!-- The content -->
                <div class="video-background__content">Make Up, Make Me Grow Up!</div>
            </div> #}

            {% if app.user %}
                {% if lastViewedMovies|length %}
                    <div class="series-group">
                        <h2>{{ 'Last viewed movies'|trans }} ({{ lastViewedMovies|length }})</h2>
                        <div class="wrapper">
                            <div class="content">
                                {% for movie in lastViewedMovies %}
                                    {{ include('_blocks/movie/_card.html.twig') }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="series-status">
                    {% set total = statusArray|reduce((carry, s) => carry + s.count) %}
                    <div class="status-title">{{ 'My series'|trans }}</div>
                    <div class="status-items">
                        <div class="status-item">
                            <div class="name">{{ 'Total'|trans }}</div>
                            <div class="count">{{ total }}</div>
                            <div class="percent">100%</div>
                        </div>
                        {% for s in statusArray %}
                            <div class="status-item">
                                <div class="name">{{ s.status|trans }}</div>
                                <div class="count">{{ s.count }}</div>
                                <div class="percent">{{ (100 * s.count / total)|round(1) }}%</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% if episodesOfTheDay|length %}
                    <div class="series-group">
                        <h2>{{ 'Episodes of the day'|trans }} ({{ episodesOfTheDay|length }})</h2>
                        <div class="wrapper">
                            <div class="content">
                                {% for s in episodesOfTheDay %}
                                    {{ include('_blocks/series/_history_card.html.twig', { series: s, dataTitle: s.date|format_date("relative_short") }) }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if episodesToWatch|length %}
                    <div class="series-group">
                        <h2>{{ 'Episodes to watch'|trans }} {# ({{ episodesToWatch|length }}) #}</h2>
                        <div class="wrapper">
                            <div class="content">
                                {% for s in episodesToWatch %}
                                    {{ include('_blocks/series/_history_card.html.twig', { series: s, dataTitle: 'S%02dE%02d'|format(s.seasonNumber, s.episodeNumber) }) }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="series-group">
                    <h2>{{ 'Your series'|trans }} ({{ userSeriesCount }})</h2>
                    <div class="wrapper">
                        <div class="content">
                            {% for s in userSeries %}
                                {{ include('_blocks/series/_card.html.twig', { series: s, dataTitle: s.localized_name ?? s.name }) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="series-group">
                    <h2>{{ 'Last added series'|trans }}</h2>
                    <div class="wrapper">
                        <div class="content">
                            {% for s in lastAddedSeries %}
                                {{ include('_blocks/series/_card.html.twig', { series: s, dataTitle: s.localized_name ?? s.name }) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="series-group">
                    <h2>{{ 'Series history'|trans }}</h2>
                    <div class="wrapper">
                        <div class="content">
                            {% for s in historySeries %}
                                {{ include('_blocks/series/_episode_card.html.twig', { series: s, dataTitle: s.localized_name ?? s.name }) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="series-group">
                    <div class="header">
                        {% if dayCount == 1 %}
                            <h2>{{ 'Episode history (%h)'|trans|format(dayCount*24) }} ({{ historyEpisode|length }})</h2>
                        {% else %}
                            <h2>{{ 'Episode history (%d)'|trans|format(dayCount) }} ({{ historyEpisode|length }})</h2>
                        {% endif %}
                        <label for="day-count">{{ 'Day count'|trans }}
                            <select id="day-count">
                                <option value="1"{% if dayCount == 1 %} selected{% endif %}>{{ 'Last 24 hours'|trans }}</option>
                                <option value="7"{% if dayCount == 7 %} selected{% endif %}>{{ 'Last 7 days'|trans }}</option>
                                <option value="14"{% if dayCount == 14 %} selected{% endif %}>{{ 'Last 14 days'|trans }}</option>
                                <option value="30"{% if dayCount == 30 %} selected{% endif %}>{{ 'Last 30 days'|trans }}</option>
                            </select>
                        </label>
                    </div>
                    <div class="wrapper" id="episode-history">
                        <div class="content">
                            {{ include('_blocks/home/_episode_history.html.twig') }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="series-group">
                <div class="header">
                    <div class="logo">
                        {{ providerLogo(watchProviders, provider)|raw }}
                    </div>
                    <h2>{{ providerName(watchProviders, provider) }}</h2>
                    <label for="watch-providers">{# Filtrer par plateforme de streaming #}
                        <select id="watch-providers">
                            {% for watchProvider in watchProviders|sort((a, b) => a.name <=> b.name) %}
                                <option value="{{ watchProvider.id }}" data-logo="{{ watchProvider.logoPath }}"{{ watchProvider.id == provider ? ' selected':'' }}>{{ watchProvider.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <div class="wrapper" id="provider-series">
                    <div class="content">
                        {{ include('_blocks/home/_provider_series.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
        <div id="global-data" class="hidden">
            {
            "highlightedSeries": {{ highlightedSeries|json_encode|raw }},
            "watchProviders": {{ watchProviders|json_encode|raw }},
            "app_series_tmdb": "{{ path('app_series_tmdb', {'id': 0, 'slug':"a"})|slice(0, -3) }}",
            "app_home_load_episode_history": "{{ path('app_home_load_episode_history') }}",
            "app_home_load_provider_series": "{{ path('app_home_load_provider_series') }}"
            }
        </div>
    </div>
    {% include('_blocks/_footer.html.twig') %}
{% endblock %}
