{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Movies'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/filter.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/movie.scss') }}">
{% endblock %}

{% block body %}
    {% include('_blocks/_menu.html.twig') %}
    <div class="container-fluid movie-index filter-page">

        <h1>{{ 'My movies'|trans }} (<span id="movie-count">{{ userMovieCount }}</span>)</h1>
        <aside>
            <article>
                <header>
                    <div class="title">{{ 'Filters'|trans }}</div>
                    <div class="filter-values">
                        <div id="sort-value" class="filter-value" data-title="{{ 'Sort'|trans }} / {{ 'Order'|trans }}">{{ ux_icon('mdi:settings-outline') }}&nbsp;<span>{{ filterMeanings[filters.sort]|trans }} / {{ filterMeanings[filters.order]|trans }}</span></div>
                        <div id="per-value" class="filter-value" data-title="{{ 'Number of elements per page'|trans }}">{{ ux_icon('mdi:dots-grid') }}&nbsp;<span>{{ filters.perPage }}</span></div>
                    </div>
                    <div class="collapse" data-for="filters" data-title="{{ 'Show / hide filter options'|trans }}">
                        {% if filterBoxOpen %}
                            {{ ux_icon('mdi:chevron-down') }}
                        {% else %}
                            {{ ux_icon('mdi:chevron-up') }}
                        {% endif %}
                    </div>
                </header>
                <div class="filters{% if filterBoxOpen == 0 %} collapse{% endif %}">
                    <div class="filter">
                        <label for="per-page">{{ 'Number of elements per page'|trans }}
                            <select id="per-page">
                                {% for number in [10, 20, 50, 100] %}
                                    <option value="{{ number }}"{% if filters.perPage==number %} selected{% endif %}>{{ number }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="filter">
                        <label for="title-filter">{{ 'Title'|trans }}
                            <input type="search" id="title-filter" name="title-filter" value="{{ filters.title }}" {% if filters.title|length %} autofocus{% endif %}>
                        </label>
                    </div>
                    <div class="filter">
                        <label for="sort-by">{{ 'Sort'|trans }}
                            <select id="sort-by">
                                <option value="name"{% if filters.sort=='name' %} selected{% endif %}>{{ 'Name'|trans }}</option>
                                <option value="releaseDate"{% if filters.sort=='releaseDate' %} selected{% endif %}>{{ 'Release date'|trans }}</option>
                                <option value="addedAt"{% if filters.sort=='addedAt' %} selected{% endif %}>{{ 'Date added'|trans }}</option>
                            </select>
                        </label>
                    </div>
                    <div class="filter">
                        <label for="order-by">{{ 'Order'|trans }}
                            <select id="order-by">
                                <option value="DESC"{% if filters.order=='DESC' %} selected{% endif %}>{{ 'Descending'|trans }}</option>
                                <option value="ASC"{% if filters.order=='ASC' %} selected{% endif %}>{{ 'Ascending'|trans }}</option>
                            </select>
                        </label>
                    </div>
                </div>
            </article>
            {{ include('_blocks/_pagination.html.twig', {index: 1, current_page: filters.page, total_pages: pages}) }}
        </aside>
        <main>
            <article>
                {% set firstMovie = userMovies|first %}
                {% if firstMovie.userMovieId is null %}
                    <div class="no-movies-header">{{ 'Your list does not contain any movies'|trans }}</div>
                {% endif %}
                <div class="wrapper">
                    {% if firstMovie.userMovieId %}
                        {% for movie in userMovies %}
                            {{ include('_blocks/movie/_card.html.twig') }}
                        {% endfor %}
                    {% else %}
                        {% for movie in userMovies %}
                            {{ include('_blocks/movie/_card-tmdb.html.twig') }}
                        {% endfor %}
                    {% endif %}
                </div>
            </article>
        </main>
        <aside>
            {{ include('_blocks/_pagination.html.twig', {index: 2, current_page: filters.page, total_pages: pages}) }}
        </aside>

        </div>
    {% include('_blocks/_footer.html.twig') %}
    <div id="globs">
        {
            "app_series_settings_save": "{{ path('app_series_settings_save') }}",
            "txt_no_poster": "{{ 'No poster'|trans }}"
        }
    </div>
{% endblock %}
