{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Movies'|trans }} → {{ 'Search'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/contact.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        {% include '_blocks/_menu.html.twig' %}
        <div class="series-search">
            <h1>{{ title|trans }}</h1>
            {{ form_start(form, {'action': path('app_movie_search'), 'attr': {'class': 'form'}}) }}
            <div class="form-row">
                <div class="form-field">
                    <label for="{{ form.query.vars.id }}">
                        {{ form.query.vars.label|trans }}
                        {{ form_widget(form.query, {'attr': {'autofocus': ''}}) }}
                        {{ form_errors(form.query) }}
                    </label>
                </div>
                <div class="form-field">
                    <label for="{{ form.releaseDateYear.vars.id }}">
                        {{ form.releaseDateYear.vars.label|trans }}
                        {{ form_widget(form.releaseDateYear) }}
                        {{ form_errors(form.releaseDateYear) }}
                    </label>
                </div>
            </div>
            <div class="form-row">
                <button type="submit">{{ 'Send'|trans }}</button>
            </div>
            <div class="series-search-result">
                <div class="header">
                    {% if results.total_results > 0 %}
                        <h4>{{ 'Search results'|trans }}</h4>
                        <span>{{ results.total_results }} {{ 'results'|trans }}</span>
                        <span>{{ 'Page'|trans }} {{ results.page }}/{{ results.total_pages }}</span>
                        {% if results.total_pages > 1 %}
                            <div class="pages">
                                {% for page in 1..results.total_pages %}
                                    {% if page == results.page %}
                                        <div class="btn current-page">{{ page }}</div>
                                    {% else %}
                                        <button type="submit" name="{{ field_name(form.page) }}" value="{{ page }}" data-title="{{ 'Go to page'|trans }} {{ page }}" class="btn btn-primary">{{ page }}</button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% else %}
                        {% if results.total_results != -1 %}
                            <h4>{{ 'No results'|trans }}</h4>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="wrapper">
                    {% for movie in movieList %}
                        {{ include('_blocks/movie/_card-tmdb.html.twig') }}
                    {% endfor %}
                </div>
                <div class="footer">
                    {% if results.total_results > 0 %}
                        <h4>{{ 'Search results'|trans }}</h4>
                        <span>{{ results.total_results }} {{ 'results'|trans }}</span>
                        <span>{{ 'Page'|trans }} {{ results.page }}/{{ results.total_pages }}</span>
                        {% if results.total_pages > 1 %}
                            <div class="pages">
                                {% for page in 1..results.total_pages %}
                                    {% if page == results.page %}
                                        <div class="btn current-page">{{ page }}</div>
                                    {% else %}
                                        <button type="submit" name="{{ field_name(form.page) }}" value="{{ page }}" data-title="{{ 'Go to page'|trans }} {{ page }}" class="btn btn-primary">{{ page }}</button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% include '_blocks/_footer.html.twig' %}
{% endblock %}
