{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Movies'|trans }} → {{ movie.title }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/contact.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/movie.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/translations.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/user.scss') }}">
{% endblock %}

{% block body %}
    <script>
        const bd = '/movies/posters_blurred{{ blurredPosterPath }}';
        const body = document.querySelector("body");
        body.style.backgroundSize = "cover";
        body.style.backgroundPosition = "center";
        body.style.backgroundRepeat = "no-repeat";
        body.style.backgroundAttachment = "fixed";
        body.style.backgroundImage = "url(" + bd + ")";
    </script>
    {% include '_blocks/_menu.html.twig' %}
    <div class="container-fluid backgroundImageOverlay">
        <div class="movie-show">
            <header>
                <div class="poster">
                    {% if movie.poster_path %}
                        <img src="/movies/posters{{ movie.poster_path }}" alt="{{ movie.title }} {{ 'poster'|trans }}">
                    {% else %}
                        <div>{{ 'No poster'|trans }}</div>
                    {% endif %}
                </div>
                <div class="infos">
                    {% if movie.backdrop_path %}
                        <div class="backdrop">
                            <img src="/movies/backdrops{{ movie.backdrop_path }}" alt="{{ movie.title }} {{ 'backdrop'|trans }}">
                        </div>
                    {% endif %}
                    <div class="title">
                        <h1>
                            {% if movie.localized_name %}
                                <span class="localization-span">{{ movie.localized_name.name }}</span><br>
                            {% elseif movie.original_language != app.locale and movie.title == movie.original_title and movie.translations %}
                                <span class="localization-span">{{ movie.translations.data.title }}</span><br>
                            {% endif %}
                            <span class="name-span">{{ movie.title }}</span>
                            {% if movie.release_date %}
                                <span title="{{ movie.release_date|date("d/m/Y") }}">({{ movie.release_date|date("Y") }})</span>
                            {% endif %}
                        </h1>
                        {{  include('_blocks/translations/_tools.html.twig') }}
                    </div>
                    {{ include('_blocks/forms/_delete-overview.html.twig') }}
                    {{ include('_blocks/forms/_localized-name.html.twig', {media: movie}) }}
                    {{ include('_blocks/forms/_overview.html.twig', {media: movie}) }}
                    {% if movie.overview|length %}
                        <div class="movie-overview">{{ movie.overview|nl2br }}</div>
                    {% endif %}
                        <div class="localized overviews">
                            <h4 class="localized-h4">{{ 'Localized overviews'|trans }}</h4>
                            {% if movie.localized_overviews|length %}
                            {% for overview in movie.localized_overviews %}
                                <div class="localized overview" data-id="{{ overview.id }}">
                                    <div class="content" data-overview="{{ overview.overview }}">
                                        {{ overview.overview|nl2br }}
                                    </div>
                                    <div class="tools">
                                        <div class="locale">{{ overview.locale|upper }}</div>
                                        <div class="edit" data-id="{{ overview.id }}" data-title="{{ 'Edit'|trans }}">
                                            {{ ux_icon('mdi:pencil') }}
                                        </div>
                                        <div class="delete" data-id="{{ overview.id }}" data-title="{{ 'Delete'|trans }}">
                                            {{ ux_icon('mdi:trash') }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="additional overviews">
                            <h4 class="additional-h4">{{ 'Additional overviews'|trans }}</h4>
                            {% if movie.additional_overviews|length %}
                            {% for overview in movie.additional_overviews %}
                                <div class="additional overview" data-id="{{ overview.id }}">
                                    <div class="content" data-overview="{{ overview.overview }}">
                                        {{ overview.overview|nl2br }}
                                    </div>
                                    <div class="tools">
                                        {% if overview.source %}
                                            <div class="source">
                                                {% if overview.source.path %}
                                                    <a href="{{ overview.source.path }}" data-title="{{ overview.source.name }}" target="_blank" rel="noopener noreferrer">
                                                        {% if overview.source.LogoPath %}
                                                            <img src="{{ overview.source.LogoPath }}" alt="{{ overview.source.name }}">
                                                        {% else %}
                                                            {{ overview.source.name }}
                                                        {% endif %}
                                                    </a>
                                                {% else %}
                                                    {{ overview.source.name }}
                                                {% endif %}
                                            </div>
                                            <div class="locale">{{ overview.locale|upper }}</div>
                                        {% endif %}
                                        <div class="edit" data-id="{{ overview.id }}" data-title="{{ 'Edit'|trans }}">
                                            {{ ux_icon('mdi:pencil') }}
                                        </div>
                                        <div class="delete" data-id="{{ overview.id }}" data-title="{{ 'Delete'|trans }}">
                                            {{ ux_icon('mdi:trash') }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                </div>
            </header>
            <main>
                <section>
                    <div class="details">
                        <div class="movie-details">
                            <div class="left">
                                {% if movie.genres|length %}
                                    <div class="genres">
                                        <div class="label">{{ 'Genres'|trans }}</div>
                                        <div class="content">
                                            {% for genre in movie.genres %}
                                                <div class="genre">{{ genre.name }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="runtime">
                                    <div class="label">{{ 'Runtime'|trans }}</div>
                                    <div class="content">{{ movie.runtime|time }}</div>
                                </div>
                                {% if movie.vote_average and movie.vote_count %}
                                    <div class="notes">
                                        <div class="label">{{ 'Note'|trans }}</div>
                                        <div class="content">
                                            <div class="note">{{ 'Average'|trans }} {{ movie.vote_average }}</div>
                                            <div class="note">{{ 'Count'|trans }} {{ movie.vote_count }}</div>
                                        </div>
                                    </div>
                                {% endif %}
                                {{ include('_blocks/movie/_release-dates.html.twig') }}
                                <div class="original-name">
                                    <div class="label">{{ 'Original name'|trans }}</div>
                                    <div class="content">{{ movie.original_title }}</div>
                                </div>
                                <div class="original-language">
                                    <div class="label">{{ 'Original language'|trans }}</div>
                                    <div class="content">{{ movie.original_language|language_name }}</div>
                                </div>
                                <div class="original-countries">
                                    <div class="label">{{ 'Original Country'|trans }}</div>
                                    <div class="content">
                                        {% for country in movie.origin_country %}
                                            <div class="country">{{ getEmojiFlag(country) ~ ' ' ~ country|country_name }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="status">
                                    <div class="label">{{ 'Status'|trans }}</div>
                                    <div class="content">{{ movie.status|trans }}</div>
                                </div>
                            </div>
                            <div class="right">
                                {% if movie.providers %}
                                    {% set list = movie.providers.rent_buy_difference ? ['flatrate', 'buy', 'rent'] : ['flatrate', 'buy'] %}
                                    {% for type in list %}
                                        {% if movie.providers[type]|length %}
                                            <h3>{{ ('Where to ' ~ type)|trans }}</h3>
                                            <div class="providers">
                                                <div class="wrapper">
                                                    {% for provider in movie.providers[type] %}
                                                        <div class="provider" data-title="{{ provider.provider_name }}">
                                                            <div class="logo">
                                                                <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                                            </div>
                                                            <div class="name">{{ provider.provider_name }}</div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {#                                    {% if movie.production_companies|length %} #}
                                <div class="production-companies">
                                    <div class="label">{{ 'Production companies'|trans }}</div>
                                    <div class="content">
                                        {% for pc in movie.production_companies %}
                                            <div class="frame">
                                                {% if pc.logo_path %}
                                                    <img src="{{ pc.logo_path }}" data-title="{{ pc.name }}" alt="{{ pc.name }}" loading="lazy">
                                                {% else %}
                                                    {{ pc.name }}
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="add">
                                        {{ ux_icon('mdi:plus') }}
                                    </div>
                                </div>
                                {#                                    {% endif %} #}
                                {% if movie.production_countries|length %}
                                    <div class="production-countries">
                                        <div class="label">{{ 'Production countries'|trans }}</div>
                                        <div class="content">
                                            {% for pc in movie.production_countries %}
                                                <div class="frame">
                                                    {{ getEmojiFlag(pc.iso_3166_1) ~ ' ' ~ pc.name|country_name }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if movie.keywords.keywords|length %}
                                    <div class="movie-keywords">
                                        <div class="content keyword-block">
                                            {{ include('_blocks/movie/_keywords.html.twig', {id: movie.id, keywords: movie.keywords.keywords, missing: movie.missing_translations}) }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% if movie.found == false %}
                            <div class="not-found">
                                <div class="label">{{ 'Not found'|trans }}</div>
                                <div class="content">
                                    <p>{{ 'Movie not found on TMDB'|trans }}</p>
                                </div>
                                <div class="actions">
                                    <div class="search-movie">
                                        <label for="movieTitle">{{ 'Title'|trans }}
                                            <input type="search" name="movieTitle" id="movieTitle" value="{{ movie.title }}">
                                        </label>
                                        <button id="search-tmdb">{{ 'Search'|trans }}</button>
                                    </div>
                                    <div class="delete-movie">
                                        <button id="delete-movie">{{ 'Delete this movie from your watchlist'|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="user-details">
                            <div class="user-actions">
                                <h2>{{ 'User actions'|trans }}</h2>
                                <div class="wrapper">
                                    <div class="watch-links">
                                        <div class="label">{{ 'Watch links'|trans }}</div>
                                        {% for link in movie.direct_links %}
                                            <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                                                <div class="watch-link">
                                                    {% if link.providerId %}
                                                        <img src="{{ providers.logos[link.providerId] }}" alt="{{ providers.names[link.providerId] }}" data-title="{{ link.title ?? providers.names[link.providerId] }}">
                                                    {% else %}
                                                        <span>{{ link.title }}</span>
                                                    {% endif %}
                                                </div>
                                            </a>
                                        {% endfor %}
                                        <div class="add-watch-link" data-title="{{ 'Add a watch link'|trans }}">
                                            {{ ux_icon('mdi:plus') }}
                                        </div>
                                    </div>
                                    <div class="watch-link-form">
                                        <form class="form" action="" id="watch-link-form">
                                            <div class="form-row">
                                                <div class="form-field">
                                                    <label for="provider">{{ 'Provider'|trans }}
                                                        <select name="provider" id="provider">
                                                            <option value="">{{ 'Select a provider'|trans }}</option>
                                                            {% for name, id in providers.select %}
                                                                <option value="{{ id }}">{{ name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-field">
                                                    <label for="name">{{ 'Name'|trans }}
                                                        <input type="text" name="name" id="name" required>
                                                        <span class="error"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-field">
                                                    <label for="url">{{ 'URL'|trans }}
                                                        <input type="url" name="url" id="url" required>
                                                        <span class="error"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-field">
                                                    <button type="button">{{ 'Cancel'|trans }}</button>
                                                    <button type="submit">{{ 'Add'|trans }}</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="viewed-at" data-viewed="{{ userMovie.viewed }}">
                                        <div class="mark-as-viewed{% if userMovie.lastViewedAt %} viewed{% endif %}">{{ ux_icon('mdi:eye') }}</div>
                                        {% if userMovie.lastViewedAt %}
                                            <div class="view-date"> {{ userMovie.lastViewedAt|format_datetime('relative_full', 'short')|capitalize }}</div>
                                        {% endif %}
                                        {% for viewDate in userMovie.viewArray %}
                                            <div class="view-date"> {{ viewDate|format_datetime('relative_full', 'short')|capitalize }}</div>
                                        {% endfor %}
                                    </div>
                                    <div class="rating">
                                        <div class="rating-stars">
                                            <div class="stars" data-trans-rating="Cancel rating|{{ 'Cancel rating'|trans }}" data-trans-star="star|{{ 'star'|trans }}" data-trans-stars="stars|{{ 'stars'|trans }}">
                                                <div class="star {{ userMovie.rating >= 1 ? "active" }}" data-value="1" data-title="{{ (userMovie.rating >= 1 ? "Cancel rating":"x star")|trans({'x': 1}) }}">
                                                    {{ ux_icon('mdi:star') }}
                                                </div>
                                                <div class="star {{ userMovie.rating >= 2 ? "active" }}" data-value="2" data-title="{{ (userMovie.rating >= 2 ? "Cancel rating":"x stars")|trans({'x': 2}) }}">
                                                    {{ ux_icon('mdi:star') }}
                                                </div>
                                                <div class="star {{ userMovie.rating >= 3 ? "active" }}" data-value="3" data-title="{{ (userMovie.rating >= 3 ? "Cancel rating":"x stars")|trans({'x': 3}) }}">
                                                    {{ ux_icon('mdi:star') }}
                                                </div>
                                                <div class="star {{ userMovie.rating >= 4 ? "active" }}" data-value="4" data-title="{{ (userMovie.rating >= 4 ? "Cancel rating":"x stars")|trans({'x': 4}) }}">
                                                    {{ ux_icon('mdi:star') }}
                                                </div>
                                                <div class="star {{ userMovie.rating >= 5 ? "active" }}" data-value="5" data-title="{{ (userMovie.rating >= 5 ? "Cancel rating":"x stars")|trans({'x': 5}) }}">
                                                    {{ ux_icon('mdi:star') }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="actions">
                                        {#                                <div class="action toggle-pinned-movie{% if userMovie.userPinnedSeries %} pinned{% endif %}" data-title="{{ (userMovie.userPinnedSeries ? "Remove from pinned series" : "Add to pinned series")|trans }}"> #}
                                        {#                                    {{ ux_icon('fa6-solid:paperclip') }} #}
                                        {#                                </div> #}
                                        <div class="action toggle-favorite-movie{% if userMovie.favorite %} favorite{% endif %}" data-title="{{ (userMovie.favorite ? "Remove from favorites" : "Add to favorites")|trans }}">
                                            {{ ux_icon('mdi:heart') }}
                                        </div>
                                        <div class="action remove-this-movie" data-title="{{ 'Remove this series from your watchlist'|trans }}">
                                            {{ ux_icon('mdi:trash') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    {{ include('_blocks/movie/_collection.html.twig') }}
                </section>
                <section>
                    <div class="movie-details">
                        {% if movie.credits.cast %}
                            <div class="cast">
                                <div class="label">{{ 'Cast'|trans }}</div>
                                    <div class="wrapper">
                                        {% for cast in movie.credits.cast %}
                                            {{ include('_blocks/movie/_cast.html.twig', {cast: cast, job: cast.character}) }}
                                        {% endfor %}
                                    </div>
                            </div>
                        {% endif %}
                        {% if movie.credits.crew %}
                            <div class="cast">
                                <div class="label">{{ 'Crew'|trans }}</div>
                                    <div class="wrapper">
                                        {% for crew in movie.credits.crew %}
                                            {{ include('_blocks/movie/_cast.html.twig', {cast: crew, job: crew.job}) }}
                                        {% endfor %}
                                    </div>
                            </div>
                        {% endif %}
                        {% if movie.recommendations|length %}
                            <div class="recommendations">
                                <div class="label">{{ 'Recommendations'|trans }}</div>
                                    <div class="wrapper">
                                        {% for recommendation in movie.recommendations %}
                                            {{ include('_blocks/movie/_recommandation.html.twig', {recommendation: recommendation}) }}
                                        {% endfor %}
                                    </div>
                            </div>
                        {% endif %}
                    </div>
                </section>
            </main>
        </div>
    </div>
    <div id="globs" style="display: none">
        {
        "userMovieId": {{ userMovie.id }},
        "tmdbId": {{ movie.id }},
        "providers": {{ providers|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "translations": {{ translations|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
        }
    </div>
    {% include('_blocks/_footer.html.twig') %}
{% endblock %}
