{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Movies'|trans }} → {{ movie.title }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/contact.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/movie.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/user.scss') }}">
{% endblock %}

{% block body %}
    <script>
        {% if blurredPosterPath %}
            const bd = '/movies/posters_blurred{{ blurredPosterPath }}';
            const body = document.querySelector("body");
            body.style.backgroundSize = "cover";
            body.style.backgroundPosition = "center";
            body.style.backgroundRepeat = "no-repeat";
            body.style.backgroundAttachment = "fixed";
            body.style.backgroundImage = "url(" + bd + ")";
        {% endif %}
    </script>
    {% include '_blocks/_menu.html.twig' %}
    <div class="container-fluid backgroundImageOverlay">
        <div class="movie-show">
            <header>
                <div class="backdrop">
                    {% if movie.backdrop_path %}
                        <img src="/movies/backdrops{{ movie.backdrop_path }}" alt="{{ movie.title }} {{ 'backdrop'|trans }}">
                    {% elseif movie.poster_path %}
                        <img src="/movies/posters{{ movie.poster_path }}" alt="{{ movie.title }} {{ 'backdrop'|trans }}">
                    {% endif %}
                </div>
                <div class="poster">
                    {% if movie.poster_path %}
                        <img src="/movies/posters{{ movie.poster_path }}" alt="{{ movie.title }} {{ 'poster'|trans }}">
                    {% else %}
                        <div>{{ 'No poster'|trans }}</div>
                    {% endif %}
                </div>
                <div class="infos">
                    <div class="title">
                        <h1>
                            {{ movie.title }} ({{ movie.release_date|date("Y") }})
                        </h1>
                    </div>
                    <div class="movie-overview">{{ movie.overview }}</div>
                </div>
            </header>
            <main>
                <section>
                    <div class="details">
                        <div class="movie-details">
                            <div class="left">
                                {% if movie.providers %}
                                    {% set list = movie.providers.rent_buy_difference ? ['flatrate', 'buy', 'rent'] : ['flatrate', 'buy'] %}
                                    {% for type in list %}
                                        {% if movie.providers[type]|length %}
                                            <h3>{{ (type == 'flatrate' or (type == 'buy' and movie.providers.rent_buy_difference) ? ('Where to ' ~ type) : 'Where to buy or rent')|trans }}</h3>
                                            <div class="providers">
                                                <div class="wrapper">
                                                    {% for provider in movie.providers[type] %}
                                                        <div class="provider" data-title="{{ provider.provider_name }}">
                                                            <div class="logo">
                                                                <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                                            </div>
                                                            <div class="name">{{ provider.provider_name }}</div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <div class="genres">
                                    <div class="label">{{ 'Genres'|trans }}</div>
                                    <div class="content">
                                        {% for genre in movie.genres %}
                                            <div class="genre">{{ genre.name }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="runtime">
                                    <div class="label">{{ 'Runtime'|trans }}</div>
                                    <div class="content">{{ movie.runtime|time }}</div>
                                </div>
                                <div class="notes">
                                    <div class="label">{{ 'Note'|trans }}</div>
                                    <div class="content">
                                        <div class="note">{{ 'Average'|trans }} {{ movie.vote_average }}</div>
                                        <div class="note">{{ 'Count'|trans }} {{ movie.vote_count }}</div>
                                    </div>
                                </div>
                                {{ include('_blocks/movie/_release_dates.html.twig') }}
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    {{ include('_blocks/movie/_collection.html.twig') }}
                </section>
                <section>
                    <div class="movie-details">
                        {% if movie.credits.cast %}
                            <div class="cast">
                                <div class="label">{{ 'Cast'|trans }}</div>
                                <div class="content">
                                    <div class="wrapper">
                                        {% for cast in movie.credits.cast %}
                                            {{ include('_blocks/movie/_cast.html.twig', {cast: cast, job: cast.character}) }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if movie.credits.crew %}
                            <div class="cast">
                                <div class="label">{{ 'Crew'|trans }}</div>
                                <div class="content">
                                    <div class="wrapper">
                                        {% for crew in movie.credits.crew %}
                                            {{ include('_blocks/movie/_cast.html.twig', {cast: crew, job: crew.job}) }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if movie.recommendations|length %}
                            <div class="recommendations">
                                <div class="label">{{ 'Recommendations'|trans }}</div>
                                <div class="content">
                                    <div class="wrapper">
                                        {% for recommendation in movie.recommendations %}
                                            {{ include('_blocks/movie/_recommandation.html.twig', {recommendation: recommendation}) }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </section>
            </main>
        </div>
    </div>
    <div id="globs" style="display: none">
        {
        "userMovieId": 0,
        "tmdbId": {{ movie.id }},
        "providers": {{ providers|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "translations": {{ translations|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
        }
    </div>
    {% if app.user %}
        <a href="{{ path('app_movie_add', {id: movie.id}) }}">
            <div class="add-this">{{ 'Add this movie to your watchlist'|trans }}</div>
        </a>
    {% endif %}
    {% include('_blocks/_footer.html.twig') %}
{% endblock %}
