{% extends 'base.html.twig' %}

{% block title %}{{ 'Movies'|trans }}!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/movie.scss') }}">
{% endblock %}

{% block body %}
    <script>
        const bd = '/movies/posters{{ movie.poster_path }}';
        const body = document.querySelector("body");
        body.style.backgroundSize = "cover";
        body.style.backgroundPosition = "center";
        body.style.backgroundRepeat = "no-repeat";
        body.style.backgroundAttachment = "fixed";
        body.style.backgroundImage = "url(" + bd + ")";
    </script>
    {% include '_blocks/_menu.html.twig' %}
    <div class="container-fluid backgroundImageOverlay movie-show">
        <header>
            <div class="poster">
                <img src="/movies/posters{{ movie.poster_path }}" alt="{{ movie.title }} {{ 'poster'|trans }}">
            </div>
            <div class="infos">
                <div class="backdrop">
                    <img src="/movies/backdrops{{ movie.backdrop_path }}" alt="{{ movie.title }} {{ 'backdrop'|trans }}">
                </div>
                <div class="title">{{ movie.title }} ({{ movie.release_date|date("Y") }})</div>
                <div class="overview">{{ movie.overview }}</div>
            </div>
        </header>
        <main>
            <section>
                <div class="details">
                    <div class="genres">
                        <div class="label">{{ 'Genres'|trans }}</div>
                        <div class="content">
                            {% for genre in movie.genres %}
                                <div class="genre">{{ genre.name }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="runtime">
                        <div class="label">{{ 'Runtime'|trans }}</div>
                        <div class="content">{{ movie.runtime }} {{ 'minutes'|trans }}</div>
                    </div>
                    <div class="notes">
                        <div class="label">{{ 'Note'|trans }}</div>
                        <div class="content">
                            <div class="note">{{ 'Average'|trans }} {{ movie.vote_average }}</div>
                            <div class="note">{{ 'Count'|trans }} {{ movie.vote_count }}</div>
                        </div>
                    </div>
                    <div class="release-dates">
                        <div class="label">{{ 'Release date'|trans }}</div>
                        <div class="content">
                            {% for rd in movie.release_dates %}
                                <div class="release-date">
                                    <div class="note">{{ rd.note }}</div>
                                    <div class="release-date">{{ rd.release_date|date("d/m/Y") }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if movie.recommendations|length %}
                        <div class="recommendations">
                            <div class="label">{{ 'Recommendations'|trans }}</div>
                            <div class="content">
                                <div class="wrapper">
                                    {% for recommendation in movie.recommendations %}
                                        <div class="recommendation">
                                            <div class="poster" data-title="{{ recommendation.title }}">
                                                <img src="/movies/posters{{ recommendation.poster_path }}" alt="{{ recommendation.title }} {{ 'poster'|trans }}">
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </section>
        </main>
        {% include('_blocks/_footer.html.twig') %}
    </div>
{% endblock %}
