{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Shooting locations for your %d series'|trans|format(seriesCount) }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/filter.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
{% endblock %}

{% block body %}
    {% include('_blocks/_menu.html.twig') %}
<div class="container-fluid">
    <div class="series-map" id="map">
        <div id="series-map-title">
            <div class="title">{{ 'Shooting locations for your %d series'|trans|format(seriesCount) }} ({{ filmingLocationCount }} {{ 'locations'|trans }} - {{ filmingLocationImageCount }} {{ 'images'|trans }})</div>
        </div>
        {{ render_map(map, { 'data-controller': 'series_map', class: 'map-controller all'}) }}
    </div>
    {#
    [▼
        "id" => 5
        "name" => "Love in the air - บรรยากาศรัก เดอะซีรีส์"
        "locations" => array:6 [▼
          0 => array:6 [▼
            "image" => "https://blscene.com/wp-content/uploads/2024/06/Love.in_.the_.Air_.2022.S01E01-Bhumibol-Bridge-scaled.webp"
            "title" => "Love in the air"
            "latitude" => 13.6608033
            "location" => "Bhumibol Bridge"
            "longitude" => 100.5395901
            "description" => "Bhumibol Bridge - MG6Q+8RG, Industrial Ring Rd, Bang Ya Phraek, Phra Pradaeng District, Samut Prakan 10130, Thaïlande"
          ]
          1 => array:6 [▶]
          2 => array:6 [▶]
          3 => array:6 [▶]
          4 => array:6 [▶]
          5 => array:6 [▶]
        ]
      ]
    #}
    <div class="series-map-list center">
        <h2><label for="series-map-select">{{ 'Go to' }}
                <select id="series-map-select" onchange="gotoLocation()">
                    {% for sl in seriesLocations %}
                        <option value="{{ sl.id }}">{{ sl.name }}</option>
                    {% endfor %}
                </select>
            </label>
        </h2>
        <script>
            function gotoLocation() {
                const select = document.getElementById('series-map-select');
                const id = select.options[select.selectedIndex].value;
                const location = document.querySelector(`.series-location[data-id="${id}"]`);
                location.scrollIntoView({behavior: 'instant', block: 'center'});
            }
        </script>
        {% for sl in seriesLocations %}
            <h2>{{ sl.name }}</h2>
            {% for loc in sl.locations %}
                <div class="series-location" data-id="{{ sl.id }}">
                    <div class="series-location-image">
                        <a href="{{ path('app_series_show', { 'id': sl.id, slug: sl.slug }) }}">
                            <img src="{{ loc.image }}" alt="{{ loc.title ?? 'No title entry!!' }}">
                        </a>
                    </div>
                    <div class="series-location-title">
                        {{ loc.title ?? 'No title entry!!' }}
                        <!-- Lien vers Google Maps -->
                        <a href="https://www.google.com/maps?q={{ loc.latitude }},{{ loc.longitude }}" target="_blank">
                            {{ ux_icon('logos:google-maps', {height: '36px', width: '36px'}) }}
                        </a>
                    </div>
                    <div class="series-location-location">{{ loc.location }}</div>
                    <div class="series-location-description">{{ loc.description }}</div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    {% include('_blocks/_footer.html.twig') %}
</div>
{% endblock %}
