{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Shooting locations for your %d series'|trans|format(seriesCount) }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/filter.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/map.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
    {% if leaflet %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    {% endif %}
    {% if mapbox %}
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.14.0/mapbox-gl.css">
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.1.0/mapbox-gl-geocoder.css" type="text/css">
    {% endif %}
{% endblock %}

{% block shift %}{{ ux_icon('mdi:apple-keyboard-shift') }}{% endblock %}
{% block arrowUp %}{{ ux_icon('mdi:arrow-up') }}{% endblock %}
{% block arrowDown %}{{ ux_icon('mdi:arrow-down') }}{% endblock %}
{% block arrowRight %}{{ ux_icon('mdi:arrow-right') }}{% endblock %}
{% block arrowLeft %}{{ ux_icon('mdi:arrow-left') }}{% endblock %}

{% block body %}
    {% include('_blocks/_menu.html.twig') %}
    <div class="container-fluid">
        <div id="map-index" class="series-map import-map">
            <div class="series-map-header">
                <h1>{{ 'Shooting locations for %d series'|trans|format(seriesCount) }}</h1>
                <div class="numbers">
                    <div data-title="{{ filmingLocationCount }} {{ 'locations'|trans }}">{{ filmingLocationCount }} {{ ux_icon('mdi:map-marker', {height: '24px', width: '24px'}) }}</div>
                    <div data-title="{{ filmingLocationImageCount }} {{ 'images'|trans }}">{{ filmingLocationImageCount }} {{ ux_icon('mdi:image-multiple', {height: '24px', width: '24px'}) }}</div>
                </div>
            </div>
            {{ include('_blocks/map/_map-container.html.twig', {type: 'all', styleSettings: settings.data.styles}) }}
        </div>

        <div class="series-map-list center">
            <div class="map-tools">
                <h2>
                    <label for="fl-series-map-select">{{ 'Go to'|trans }}
                        <select id="fl-series-map-select">
                            <option value="" data-country="">{{ 'All series'|trans }}</option>
                            {% for key,l in fl %}
                                <option value="{{ key }}" data-country="{{ l.country.0 }}">{{ l.locations.0.title }} ({{ l.locations|length }})</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label for="fl-country-map-select">{{ 'Locations'|trans }}
                        <select id="fl-country-map-select">
                            <option value="">{{ 'All countries'|trans }}</option>
                            {% for key,name in countries %}
                                <option value="{{ key }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label for="fl-country-bb-select">{{ 'Countries'|trans }}
                        <select id="fl-country-bb-select">
                            <option value="all">{{ 'All countries'|trans }}</option>
                            {% for c in countryBoundingBoxes %}
                                <option value="{{ c.code }}"
                                        data-lat1="{{ c.lat1 }}" data-lng1="{{ c.lng1 }}"
                                        data-lat2="{{ c.lat2 }}" data-lng2="{{ c.lng2 }}"
                                >
                                    {{ c.displayName }}
                                </option>
                            {% endfor %}
                        </select>
                    </label>
                </h2>
                <div class="help">?</div>
                <div class="keyboard-help">
                    <div>{{ 'Click the map to copy the latitude and longitude to the clipboard'|trans }}</div>
                    <div></div>
                    <div>= / +: {{ 'Increase the zoom level by 1'|trans }}.</div>
                    <div>{{ block('shift') }} = / {{ block('shift') }} +: {{ 'Increase the zoom level by 2'|trans }}.</div>
                    <div>-: {{ 'Decrease the zoom level by 1'|trans }}.</div>
                    <div>{{ block('shift') }} -: {{ 'Decrease the zoom level by 2'|trans }}.</div>
                    <div>{{ 'Arrow keys'|trans }}: {{ 'Pan by 100 pixels'|trans }}.</div>
                    <div>{{ block('shift') }} {{ block('arrowRight') }}: {{ 'Increase the rotation by 15 degrees'|trans }}.</div>
                    <div>{{ block('shift') }} {{ block('arrowLeft') }}: {{ 'Decrease the rotation by 15 degrees'|trans }}.</div>
                    <div>{{ block('shift') }} {{ block('arrowUp') }}: {{ 'Increase the pitch by 10 degrees'|trans }}.</div>
                    <div>{{ block('shift') }} {{ block('arrowDown') }}: {{ 'Decrease the pitch by 10 degrees'|trans }}.</div>
                </div>
            </div>

            <div class="series-location-selected" style="display: none">{{ selectedFilmingLocation }}</div>
            <div class="all-series-locations">
                {% for key,l in fl %}
                    <div class="series-locations" data-tmdb-id="{{ key }}" data-country="{{ l.country.0 }}">
                        <div class="series-location-header">
                            <a href="{{ path('app_series_tmdb', { 'id': key, slug: l.locations.0.title|slug }) }}" target="_blank">
                                {{ l.locations.0.title }} ({{ l.locations|length }})
                            </a>
                            <div class="zoom-to">
                                {{ 'Zoom to'|trans }}
                                <div class="buttons">
                                    <div class="to-country active" data-country="{{ l.country.0 }}">
                                        {{ l.country.0|country_name }}
                                    </div>
                                    <div class="to-markers"
                                         data-min-lat="{{ min(l.locations|map(loc => loc.latitude)) }}"
                                         data-max-lat="{{ max(l.locations|map(loc => loc.latitude)) }}"
                                         data-min-lng="{{ min(l.locations|map(loc => loc.longitude)) }}"
                                         data-max-lng="{{ max(l.locations|map(loc => loc.longitude)) }}"
                                    >
                                        {{ 'Locations'|trans }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="series-location-content">
                            {% for loc in l.locations %}
                                <div class="series-location" data-tmdb-id="{{ key }}">
                                    <div class="series-location-image" data-title="{{ loc.location }}" data-position="0">
                                        <img src="/images/map{{ loc.still_path }}" alt="{{ loc.location ?? 'No title entry!!' }}">
                                        <div class="image-count">{{ loc.filmingLocationImages|length }}</div>
                                        {% if loc.season_number and loc.episode_number %}
                                            <div class="episode">
                                                {{ 'S%02dE%02d'|format(loc.season_number, loc.episode_number) }}
                                            </div>
                                        {% endif %}
                                        <div class="image-list">
                                            {% for image in loc.filmingLocationImages %}
                                                <img src="/images/map{{ image.path }}" alt="{{ loc.title }} #{{ loop.index }}">
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="series-location-title">
                                        <div class="text">{{ loc.location ?? 'No title entry!!' }}</div>
                                        <!-- Lien vers Google Maps -->
                                        <div class="google-maps">
                                            <a href="https://www.google.com/maps?q={{ loc.latitude }},{{ loc.longitude }}" target="_blank">
                                                {{ ux_icon('logos:google-maps', {height: '36px', width: '36px'}) }}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="series-location-location">{{ loc.location }}</div>
                                    <div class="series-location-description">{{ loc.description }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include('_blocks/_footer.html.twig') %}
    <div id="globs-map" style="display: none">
        {
            "locations": {{ locations|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "countryBoundingBoxes": {{ countryBoundingBoxes|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "countryLatLngs": {{ countryLatLngs|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "countryLocationIds": {{ countryLocationIds|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "bounds": [
                          [-6.33933, 42.17674],
                          [9.61942, 51.19724]
                      ]
        }
    </div>
{% endblock %}
