{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ (type=='creation' ? 'Recent additions':'Recent updates')|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/filter.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/map.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.14.0/mapbox-gl.css">
{% endblock %}

{% block shift %}{{ ux_icon('mdi:apple-keyboard-shift') }}{% endblock %}
{% block arrowUp %}{{ ux_icon('mdi:arrow-up') }}{% endblock %}
{% block arrowDown %}{{ ux_icon('mdi:arrow-down') }}{% endblock %}
{% block arrowRight %}{{ ux_icon('mdi:arrow-right') }}{% endblock %}
{% block arrowLeft %}{{ ux_icon('mdi:arrow-left') }}{% endblock %}

{% block body %}
    {% include('_blocks/_menu.html.twig') %}
    <div class="container-fluid">
        <div class="series-map import-map">
            <div class="series-map-header">
                <h1>{{ (type=='creation' ? 'Recent additions':'Recent updates')|trans }}</h1>
                <div class="numbers">
                    <div>{{ seriesCount }} {{ 'Series'|trans }}</div>
                    <div data-title="{{ filmingLocationCount }} {{ 'locations'|trans }}">{{ filmingLocationCount }} {{ ux_icon('mdi:map-marker', {height: '32px', width: '32px'}) }}</div>
                    <div data-title="{{ filmingLocationImageCount }} {{ 'images'|trans }}">{{ filmingLocationImageCount }} {{ ux_icon('mdi:image-multiple', {height: '32px', width: '32px'}) }}</div>
                </div>
            </div>
{#            <div id="map" class="map-controller all"></div>#}
            {{ include('_blocks/map/_map-container.html.twig', {type: 'all', styleSettings: settings.data.styles}) }}
        </div>

        <div class="series-map-list center">
            <div class="map-tools">
                <div class="options">
                    {{ form_start(form) }}
                    <div class="form-row">
                        <div class="pages">
                            {% for p in 1..pages %}
                                {% if p == form.page.vars.value %}
                                    <button class="page active" name="{{ field_name(form.page) }}" value="{{ p }}">{{ p }}</button>
                                {% else %}
                                    <button class="page" type="submit" name="{{ field_name(form.page) }}" value="{{ p }}" data-title="{{ 'Go to page'|trans }} {{ p }}">{{ p }}</button>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <label for="{{ form.perPage.vars.id }}">
                            {{ form.perPage.vars.label|trans }}
                            {{ form_widget(form.perPage) }}
                            {{ form_errors(form.perPage) }}
                        </label>
                        <label for="{{ form.type.vars.id }}">
                            {{ form.type.vars.label|trans }}
                            {{ form_widget(form.type) }}
                            {{ form_errors(form.type) }}
                        </label>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="help">?</div>
                <div class="keyboard-help">
                    <div>{{ 'Click the map to copy the latitude and longitude to the clipboard'|trans }}</div>
                    <div></div>
                    <div>= / +: {{ 'Increase the zoom level by 1'|trans }}.</div>
                    <div>{{ block('shift') }} = / {{ block('shift') }} +: {{ 'Increase the zoom level by 2'|trans }}.</div>
                    <div>-: {{ 'Decrease the zoom level by 1'|trans }}.</div>
                    <div>{{ block('shift') }} -: {{ 'Decrease the zoom level by 2'|trans }}.</div>
                    <div>{{ 'Arrow keys'|trans }}: {{ 'Pan by 100 pixels'|trans }}.</div>
                    <div>{{ block('shift') }} {{ block('arrowRight') }}: {{ 'Increase the rotation by 15 degrees'|trans }}.</div>
                    <div>{{ block('shift') }} {{ block('arrowLeft') }}: {{ 'Decrease the rotation by 15 degrees'|trans }}.</div>
                    <div>{{ block('shift') }} {{ block('arrowUp') }}: {{ 'Increase the pitch by 10 degrees'|trans }}.</div>
                    <div>{{ block('shift') }} {{ block('arrowDown') }}: {{ 'Decrease the pitch by 10 degrees'|trans }}.</div>
                </div>
            </div>

{#            {{ include('_blocks/map/_thumbnails.html.twig', {styles: settings.data.styles}) }}#}

            <div class="all-series-locations">
                <div class="series-locations">
                    <div class="series-location-content">
                        {% set date = "" %}
                        {% for loc in locations %}
                            {% if date != loc.created_at|date("Y-m-d") %}
                                {% set date = loc.created_at|date("Y-m-d") %}
                                <div class="series-location-date">{{ date|format_date('relative_long')|capitalize }}</div>
                            {% endif %}
                            <div class="series-location" data-tmdb-id="{{ loc.tmdb_id }}">
                                <div class="series-location-image" data-title="{{ loc.location }}">
                                    <img src="/images/map{{ loc.still_path }}" alt="{{ loc.location ?? 'No title entry!!' }}">
                                    <div class="image-count">{{ loc.filmingLocationImages|length }}</div>
                                    {% if loc.episode_number %}
                                        <div class="episode">{{ "S%02dE%02d"|format(loc.season_number, loc.episode_number) }}</div>
                                    {% endif %}
                                    <div class="image-list">
                                        {% for image in loc.filmingLocationImages %}
                                            <img src="/images/map{{ image.path }}" alt="{{ loc.title }} #{{ loop.index }}">
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="series-location-title">
                                    <div class="text">{{ loc.title ?? 'No title entry!!' }}</div>
                                    <div class="show-location">
                                        <!-- Lien vers Google Maps -->
                                        <a href="https://www.google.com/maps?q={{ loc.latitude }},{{ loc.longitude }}" target="_blank">
                                            {{ ux_icon('logos:google-maps', {height: '36px', width: '36px'}) }}
                                        </a>
                                        <!-- Center location on map -->
                                        <div class="target-map" data-title="{{ 'Center the map on this location'|trans }}" data-loc-id="{{ loc.id }}" data-lat="{{ loc.latitude }}" data-lng="{{ loc.longitude }}">
                                            {{ ux_icon('mdi:crosshairs-gps', {height: '36px', width: '36px'}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="series-location-location">{{ loc.location }}</div>
                                <div class="series-location-description">{{ loc.description }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="globs-map" style="display: none">{# {{ locations|json_encode(constant('JSON_PRETTY_PRINT'))|raw }} #}
        {
            "locations": {{ locations|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "bounds": {{ bounds|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
        }
    </div>
    {% include('_blocks/_footer.html.twig') %}
{% endblock %}
