{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ (type=='creation' ? 'Recent additions':'Recent updates')|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/filter.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/map.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.14.0/mapbox-gl.css">
{% endblock %}

{% block shift %}{{ ux_icon('mdi:apple-keyboard-shift') }}{% endblock %}
{% block arrowUp %}{{ ux_icon('mdi:arrow-up') }}{% endblock %}
{% block arrowDown %}{{ ux_icon('mdi:arrow-down') }}{% endblock %}
{% block arrowRight %}{{ ux_icon('mdi:arrow-right') }}{% endblock %}
{% block arrowLeft %}{{ ux_icon('mdi:arrow-left') }}{% endblock %}

{% block body %}
    {% include('_blocks/_menu.html.twig') %}
    <div class="container-fluid">
        <div id="map-last" class="series-map import-map">
            <div class="series-map-header">
                <h1>{{ (type=='creation' ? 'Recent additions':'Recent updates')|trans }}</h1>
                <div class="numbers">
                    <div class="series-count" data-count="{{ seriesCount }}">
                        <span>{{ seriesCount }}</span> {{ 'Series'|trans }}
                        <div class="badge" data-badge="0"></div>
                    </div>
                    <div class="location-count" data-count="{{ filmingLocationCount }}" data-title="{{ filmingLocationCount }} {{ 'locations'|trans }}">
                        <span>{{ filmingLocationCount }}</span> {{ ux_icon('mdi:map-marker', {height: '32px', width: '32px'}) }}
                        <div class="badge" data-badge="0"></div>
                    </div>
                    <div class="image-count" data-count="{{ filmingLocationImageCount }}" data-title="{{ filmingLocationImageCount }} {{ 'images'|trans }}">
                        <span>{{ filmingLocationImageCount }}</span> {{ ux_icon('mdi:image-multiple', {height: '32px', width: '32px'}) }}
                        <div class="badge" data-badge="0"></div>
                    </div>
                </div>
            </div>
            {{ include('_blocks/map/_map_container.html.twig', {type: 'all', styleSettings: settings.data.styles}) }}
        </div>

        <div class="series-map-list center">
            <div class="map-tools">
                <div class="options">
                    {{ form_start(form) }}
                    <div class="form-row">
                        <div class="pages">
                            {% for p in 1..pages %}
                                {% if p == form.page.vars.value %}
                                    <button class="page active" name="{{ field_name(form.page) }}" value="{{ p }}">{{ p }}</button>
                                {% else %}
                                    <button class="page" type="submit" name="{{ field_name(form.page) }}" value="{{ p }}" data-title="{{ 'Go to page'|trans }} {{ p }}">{{ p }}</button>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <label for="{{ form.perPage.vars.id }}">
                            {{ form.perPage.vars.label|trans }}
                            {{ form_widget(form.perPage) }}
                            {{ form_errors(form.perPage) }}
                        </label>
                        <label for="{{ form.type.vars.id }}">
                            {{ form.type.vars.label|trans }}
                            {{ form_widget(form.type) }}
                            {{ form_errors(form.type) }}
                        </label>
                    </div>
                    {{ form_end(form) }}
                </div>
                {{ include('_blocks/map/_help.html.twig') }}
            </div>

            <div class="all-series-locations">
                <div class="series-locations">
                    <div class="series-location-content">
                        {% set date = "" %}
                        {% for loc in locations %}
                            {% if date != loc.created_at|date("Y-m-d") %}
                                {% set date = loc.created_at|date("Y-m-d") %}
                                <div class="series-location-date" data-date="{{ date }}">{{ date|format_date('relative_long')|capitalize }}</div>
                            {% endif %}
                            {{ include('_blocks/series/_map_location.html.twig', {'loc': loc}) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="globs-map" style="display: none">
        {
            "locations": {{ locations|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "bounds": {{ bounds|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
        }
    </div>
    {% include('_blocks/_footer.html.twig') %}
{% endblock %}
