{% if series.progress is defined %}
    {% set start = series.progress==0 %}
    {% set ended = series.progress==100 %}
{% endif %}
<div class="card">
    {% if series.tmdb is defined %}
        {% set url = path('app_series_tmdb', {'id': series.id, 'slug': series.slug|length  ?series.slug : 'no-slug' }) %}
    {% else %}
        {% set url = path('app_series_show', {'id': series.id, 'slug': series.localized_slug ?? series.slug }) %}
    {% endif %}
    <a href="{{ url }}">
        <div class="poster">
            {% if series.poster_path is defined %}
                {% if series.poster_path %}
                    <img src="{{ series.poster_path }}" alt="{{ series.name }}"{% if series.date is defined and series.series_of_the_week is not defined %} data-title="{{ series.date }}{% endif %}">
                {% else %}
                    <div>{{ 'No poster'|trans }}</div>
                {% endif %}
            {% endif %}
            {% if series.episode_of_the_day is defined %}
                {% if series.air_at %}
                    <div class="air-at">{{ series.air_at|format_datetime('none', 'short') }}</div>
                {% endif %}
            {% endif %}
            <div class="series-infos">
                {% if series.favorite is defined and series.favorite %}
                    <div class="favorite">
                        {{ ux_icon('fa6-solid:heart', {height: '18px', width: '18px'}) }}
                    </div>
                {% endif %}
                {% if series.watch_providers is defined and series.watch_providers|length %}
                    <div class="providers">
                        <div class="provider-content">
                            {% for provider in series.watch_providers %}
                                <div class="provider">
                                    <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if series.last_watched_series is defined %}
                    <div class="episode-number watched">{{ 'S%02dE%02d'|format(series.last_season, series.last_episode) }}</div>
                {% endif %}
                {% if series.episode_of_the_day is defined %}
                    <div class="episode-number{% if series.watch_at %} watched{% endif %}">{{ 'S%02dE%02d'|format(series.season_number, series.episode_number) }}</div>
                {% endif %}
                {% if allFiltered is defined %}
                    {% if sort == 'addedAt' %}
                        <div class="date-added" data-title="{{ 'Date added'|trans }}">{{ series.added_at|format_date('relative_full')|capitalize }}</div>
                    {% endif %}
                    <div class="air-date" data-title="{{ 'Episode air date'|trans }}">{{ series.final_air_date|format_date('relative_full')|capitalize }}</div>
                    <div class="episode-number" data-title="{{ 'Next episode'|trans }}">{{ 'S%02dE%02d'|format(series.next_episode_season_number, series.next_episode_episode_number) }}</div>
                {% endif %}
            </div>
            {% if series.progress is defined %}
                {% if series.status == "In Production" %}
                    <div class="status">{{ 'In production'|trans }}</div>
                {% elseif start and series.released == 0 %} {# series.id|hasSeriesStartedAiring #}
                    <div class="status coming-soon">{{ 'Coming soon'|trans }}</div>
                {% else %}
                    <div class="progress{% if ended %} that-s-all-folks{% endif %}{% if start %} start-this-series{% endif %}">
                        <div class="progress-bar" style="width: {{ series.progress }}%"></div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="name{% if ids is defined and series.id in ids %} added{% endif %}">
            {{ series.localized_name ?? series.name }}
            {% if allFiltered is defined %}
                <div class="">{{ series.remainingEpisodes }} {{ (series.remainingEpisodes > 1 ? 'remaining episodes':'remaining episode')|trans }}</div>
            {% endif %}
        </div>
    </a>
</div>