<div class="card">
    {% set url = path('app_series_show', {'id': series.id, 'slug': series.slug }) %}
    <a href="{{ url }}">
        <div class="poster">
            {% if series.poster_path %}
                <img src="/series/posters{{ series.poster_path }}" alt="{{ series.display_name }}">
            {% else %}
                <div>{{ 'No poster'|trans }}</div>
            {% endif %}
        </div>
        <div class="infos">
            <div class="name">
                {{ series.display_name }}
            </div>
            <div class="series-tools-container" data-id="{{ series.id }}">
                <label for="series-select-{{ series.id }}">
                    <input type="checkbox" id="series-select-{{ series.id }}" switch>
                </label>
            </div>
        </div>
    </a>
</div>