<div class="card">
    {% set url = path('app_series_show', {'id': series.id, 'slug': series.slug }) %}
    <a href="{{ url }}">
        <div class="poster">
            {% if series.poster_path is defined %}
                {% if series.poster_path %}
                    <img src="/series/posters{{ series.poster_path }}" alt="{{ series.name }}">
                {% else %}
                    <div>{{ 'No poster'|trans }}</div>
                {% endif %}
            {% endif %}
            <div class="series-infos">
                <div class="air-date" data-title="{{ 'Episode air date'|trans }}">{{ series.last_viewed_at|format_date('relative_full')|capitalize }}</div>
            </div>
        </div>
        <div class="name">
            {{ series.name }} {{ 'S%02dE%02d'|format(series.last_season, series.last_episode) }}
        </div>
    </a>
</div>