<div class="card">
    {% if series.tmdb is defined %}
        {% set url = path('app_series_tmdb', {'id': series.id, 'slug': series.slug }) %}
    {% else %}
        {% set url = path('app_series_show', {'id': series.id, 'slug': series.localized_slug ?? series.slug }) %}
    {% endif %}
    <a href="{{ url }}">
        <div class="poster">
            {% if series.poster_path is defined %}
                {% if series.poster_path %}
                    <img src="{{ series.poster_path }}" alt="{{ series.name }}"{% if series.date is defined and series.series_of_the_week is not defined %} data-title="{{ series.date }}{% endif %}">
                {% else %}
                    <div>{{ 'No poster'|trans }}</div>
                {% endif %}
            {% endif %}
            {% if series.watch_providers is defined and series.watch_providers|length %}
                <div class="providers">
                    <div class="provider-content">
                        {% for provider in series.watch_providers %}
                            <div class="provider">
                                <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if series.progress is defined %}
                <div class="progress">
                    <div class="progress-bar" style="width: {{ series.progress }}%"></div>
                </div>
            {% endif %}
            {% if series.last_watched_series is defined%}
                <div class="episode-number watched">{{ 'S%02dE%02d'|format(series.last_season, series.last_episode) }}</div>
            {% endif %}
            {% if series.episode_of_the_day is defined %}
                <div class="episode-number{% if series.watch_at %} watched{% endif %}">{{ 'S%02dE%02d'|format(series.season_number, series.episode_number) }}</div>
            {% endif %}
            {% if series.series_of_the_week is defined %}
                <div class="date">{{ series.date|format_date('relative_full')|capitalize }}</div>
            {% endif %}
            {% if series.favorite is defined and series.favorite %}
                <div class="favorite">
                    <i class="fas fa-heart"></i>
                </div>
            {% endif %}
        </div>
        <div class="name">{{ series.localized_name ?? series.name }}</div>
    </a>
</div>