<div class="card" data-first-air-date="{{ series.final_air_date|date('Y-m-d') }}" data-added-at="{{ series.added_at|date('Y-m-d') }}">
    <a href="{{ series.url }}">
        <div class="poster">
            {% if series.poster_path is defined and series.poster_path %}
                <img src="/series/posters{{ series.poster_path }}" alt="{{ series.name }}">
            {% else %}
                <div>{{ 'No poster'|trans }}</div>
            {% endif %}
            {% if series.watch_links|length %}
                <div class="watch-links">
                    {% for wl in series.watch_links %}
                        <div class="provider">
                            <img src="{{ wl.logo_path }}" data-title="{{ wl.link_name }}" alt="{{ wl.provider_name }}">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="series-infos">
                <div class="dates">
                    <div class="air-date" data-title="{{ 'First air date'|trans }}">{{ ux_icon('mdi:date-range') }}{{ series.final_air_date|format_date('relative_short')|capitalize }}</div>
                    <div class="add-date" data-title="{{ 'Added on'|trans }}">{{ ux_icon('mdi:plus') }}{{ series.added_at|format_date('relative_short')|capitalize }}</div>
                </div>
            </div>
        </div>
        <div class="name to-start"{% if series.sln_name %} data-title="{{ series.sln_name }}"{% endif %}>
            {{ series.name }}
            {% if series.sln_name %}<span>{{ series.sln_name }}</span>{% endif %}
        </div>
    </a>
</div>