<div class="card">
    {% set url = path('app_series_show', {'id': series.id, 'slug': series.slug }) %}
    {% set toStart = series.progress==0 %}
    {% set upToDate = series.progress==100 %}
    {% set inProgress = (series.progress>0 and series.progress<100) %}
    <a href="{{ url }}">
        <div class="poster">
            {% if series.poster_path is defined %}
                {% if series.poster_path %}
                    <img src="/series/posters{{ series.poster_path }}" alt="{{ series.name }}">
                {% else %}
                    <div>{{ 'No poster'|trans }}</div>
                {% endif %}
            {% endif %}
            <div class="series-infos">
                {% if series.final_air_date %}
                    <div class="air-date" data-title="{{ 'Episode air date'|trans }}">{{ series.final_air_date|format_date('relative_full')|capitalize }}</div>
                {% else %}
                    <div class="air-date" data-title="{{ 'First air date'|trans }}">{{ 'No date'|trans }}</div>
                {% endif %}
            </div>
            {% if series.progress and series.upToDate %}
                {% if series.progress==100 %}
                    {% set title = 'That\'s all!'|trans %}
                {% else %}
                    {% set title = 'Up to date!'|trans %}
                {% endif %}
                <div class="up-to-date-mask">
                    <div class="up-to-date-banner{% if series.progress==100 %} ended{% endif %}">{{ title }}</div>
                </div>
            {% endif %}
            {% if series.status == "In Production" %}
                <div class="status">{{ 'In production'|trans }}</div>
            {% elseif series.progress==0 and series.released == 0 %} {# series.id|hasSeriesStartedAiring #}
                <div class="status coming-soon">{{ 'Coming soon'|trans }}</div>
            {% elseif inProgress %}
                <div class="progress">
                    <div class="progress-bar" style="width: {{ series.progress }}%"></div>
                </div>
            {% endif %}
        </div>
        <div class="infos">
            <div class="name by-country{% if upToDate %} up-to-date{% endif %}{% if toStart %} to-start{% endif %}">
                {{ series.name|raw }}
            </div>
            {{ include('_blocks/series/_tools.html.twig', {seriesId: series.tmdb_id}) }}
        </div>
    </a>
</div>