<div class="cast-buttons">
    <a href="{{ path('app_series_show', {id: seriesId, slug: name|slug}) }}">
    <div class="series-name">
        {% if localized_name %}
            <span class="localization-span">{{ localized_name.name }}</span>
        {% else %}
            <span class="name-span">{{ name }}</span>
        {% endif %}
    </div>
    </a>
    {% if "ROLE_ADMIN" in app.user.roles %}
        <div class="add-cast-button" data-title="{{ 'Add someone to the cast'|trans }}">
            {{ ux_icon('mdi:plus') }}
        </div>
        {{ include('_blocks/people/_search.html.twig') }}
    {% endif %}
</div>