{% set someCast = 1 %}{# season.credits.cast|length #}
{% if someCast %}
    <h3>{{ 'Cast'|trans }}</h3>
    <div class="cast-and-name">
        <div class="cast">
            <div class="wrapper">
                {% for people in season.credits.cast %}
                    {{ include('_blocks/series/_cast.html.twig', {people: people, role: people.character}) }}
                {% endfor %}
            </div>
        </div>
        {{ include('_blocks/series/_cast_buttons.html.twig', {localized_name: season.series_localized_name, name: series.name, seriesId: series.id, seasonNumber: season.season_number}) }}
    </div>
{% endif %}

{% if season.credits.guest_stars|length %}
    <h3>{{ 'Guest starts'|trans }}</h3>
    <div class="cast">
        <div class="wrapper">
            {% for people in season.credits.guest_stars %}
                {{ include('_blocks/series/_cast.html.twig', {people: people, role: people.character}) }}
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if season.credits.crew|length %}
    <h3>{{ 'Crew'|trans }}</h3>
    {% if someCast %}
        <div class="crew">
            <div class="wrapper">
                {% for people in season.credits.crew %}
                    {{ include('_blocks/series/_crew.html.twig') }}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="crew-and-name">
            <div class="crew">
                <div class="wrapper">
                    {% for people in season.credits.crew %}
                        {{ include('_blocks/series/_crew.html.twig') }}
                    {% endfor %}
                </div>
            </div>
            {{ include('_blocks/series/_cast_buttons.html.twig', {localized_name: season.series_localized_name, name: series.name, seriesId: series.id, seasonNumber: season.season_number}) }}
        </div>
    {% endif %}
{% endif %}
