{#<a href="{{ path('app_people_show', {id: people.id, slug: people.slug}) }}">#}
<div class="people-card" data-id="{{ people.id }}">
    <div class="people" id="crew-{{ people.id }}">
        <div class="photo" data-title="{{ people.name }}{% if people.preferred_name %} - {{ people.preferred_name }}{% endif %}">
            {% if people.profile_path %}
                <img src="{{ people.profile_path }}" alt="{{ people.name }}">
            {% else %}
                {{ 'No picture'|trans }}
            {% endif %}
        </div>
        <div class="infos">
            {% if people.preferred_name %}
                <div class="preferred-name">{{ people.preferred_name }}</div>
            {% endif %}
            <div class="name">{{ people.name }}</div>
            <div class="jobs">
                {% for job in people.jobs %}
                    <div class="job">{{ job }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{#</a>#}