{% set upToDate = series.upToDate is defined and series.upToDate == 1 %}
{% set start = series.progress==0 %}
{% set ended = series.progress==100 %}
{% set displayName = series.localizedName ?? series.name %}
{% set displaySlug = displayName|slug|lower %}
{% if not upToDate %}
    {% if series.remainingEpisodes > 1 %}
        {% set title = series.remainingEpisodes ~ ' ' ~ ('remaining episodes to see'|trans) %}
    {% else %}
        {% set title = series.remainingEpisodes ~ ' ' ~ ('remaining episode to see'|trans) %}
    {% endif %}
{% else %}
    {% if ended %}
        {% set title = 'That\'s all, Folks!'|trans %}
    {% else %}
        {% set title = 'Up to date!'|trans %}
    {% endif %}
{% endif %}
<div class="card" data-title="{{ title }}">
    <a href="{{ path('app_series_season', {'id': series.id, 'seasonNumber': series.seasonNumber, 'slug': displaySlug }) }}#episode-{{ series.episodeNumber }}">
        <div class="poster">
            {% if series.posterPath %}
                <img src="{{ series.posterPath }}" alt="{{ displayName }}"{% if series.date is defined %} data-title="{{ series.date }}{% endif %}">
            {% else %}
                <div>{{ 'No poster'|trans }}</div>
            {% endif %}
            <div class="series-infos">
                {% if series.favorite %}
                    <div class="favorite">
                        <i class="fas fa-heart"></i>
                    </div>
                {% endif %}
                {% if series.providerName is defined and series.providerName %}
                    <div class="providers">
                        <div class="provider-content">
                            <div class="provider">
                                <img src="{{ series.providerLogoPath }}" alt="{{ series.providerName }}">
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="episode-number">
                    {{ 'S%02dE%02d'|format(series.seasonNumber, series.episodeNumber) }}
                </div>
                {% if series.watchAt is defined and series.watchAt %}
                    <div class="date">
                        {{ series.watchAt|format_datetime('relative_medium', 'short') }}
                    </div>
                {% endif %}
            </div>
            {% if upToDate %}
                <div class="up-to-date-mask">
                    <div class="up-to-date-banner{% if ended %} ended{% endif %}">{{ (ended?'That\'s all!':'Up to date!')|trans }}</div>
                </div>
            {% endif %}
            <div class="progress{% if upToDate %}{% if ended %} that-s-all-folks{% else %} up-to-date{% endif %}{% endif %}{% if start %} start-this-series{% endif %}">
                <div class="progress-bar" style="width: {{ series.progress }}%"></div>
            </div>
        </div>
    </a>
    <a href="{{ path('app_series_show', {'id': series.id, 'slug': displaySlug }) }}">
        <div class="name">{{ displayName }}</div>
    </a>
</div>