{% if episode.air_date %}
    <div class="air-date">
        <div class="airing">
            {{ ux_icon('fa6-solid:tower-broadcast') }}
            {% if ue.custom_date %}
                {{ ue.custom_date|format_datetime('relative_full', 'short', timezone: "Europe/Paris")|capitalize }}
            {% elseif ue.air_at %}
                {{ episode.air_date|format_date('relative_full', timezone: "Europe/Paris")|capitalize }}, {{ ue.air_at }}
            {% else %}
                {{ episode.air_date|format_date('relative_full', timezone: "Europe/Paris")|capitalize }}
            {% endif %}
        </div>
        {% if ue  and ue.watch_at %}
            <div class="watch-at-list">
                {% for ue in ues %}
                    {{ include ('_blocks/series/_watched-at.html.twig', {e: ue}) }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endif %}