{% if externals|length %}
    <div class="externals">
        <h2>
            {{ 'External sources'|trans }}
            -
            <label for="external-no-filter">
                <input type="checkbox" id="external-no-filter" name="external-no-filter" switch>
                {{ 'Show all'|trans }}
            </label>
        </h2>
        <div class="wrapper">
            {% for e in externals %}
                <div class="external" data-title="{{ e.name }}">
                    <a href="{{ e.fullUrl }}" target="_blank" rel="noopener noreferrer">
                        {% if e.logoPath %}
                            <img src="{{ e.logoPath }}" alt="{{ e.name }}">
                        {% else %}
                            <div>{{ e.name }}</div>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
