{% set upToDate = series.upToDate is defined and series.upToDate == 1 %}
{% set start = series.progress==0 %}
{% set ended = series.progress==100 %}
{% set displayName = series.localizedName ?? series.name %}
{% set displaySlug = displayName|slug|lower %}
<div class="card"{% if dataTitle is defined %} data-title="{{ dataTitle }}"{% endif %}>
    <a href="{{ path('app_series_season_show', {'id': series.id, 'seasonNumber': series.seasonNumber, 'slug': displaySlug }) }}#episode-{{ series.episodeNumber }}">
        <div class="poster">
            {% if series.posterPath %}
                <img src="{{ series.posterPath }}" alt="{{ series.name }}">
            {% else %}
                <div>{{ 'No poster'|trans }}</div>
            {% endif %}
            <div class="series-infos">
                {% if series.favorite %}
                    <div class="favorite">
                        <i class="fas fa-heart"></i>
                    </div>
                {% endif %}
                {% if series.providerName is defined and series.providerName %}
                    <div class="providers">
                        <div class="provider-content">
                            <div class="provider">
                                <img src="{{ series.providerLogoPath }}" alt="{{ series.providerName }}">
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="episode-number">
                    {{ 'S%02dE%02d'|format(series.seasonNumber, series.episodeNumber) }}
                </div>
            </div>
            <div class="progress{% if upToDate %}{% if ended %} that-s-all-folks{% else %} up-to-date{% endif %}{% endif %}{% if start %} start-this-series{% endif %}">
                <div class="progress-bar" style="width: {{ series.progress }}%"></div>
            </div>
        </div>
    </a>
    <a href="{{ path('app_series_show', {'id': series.id, 'slug': displaySlug }) }}" class="series-name">
        <div class="name">{{ displayName }}</div>
    </a>
</div>