{%  set upToDate = series.upToDate is defined and series.upToDate == 1 %}
{% set ended = series.progress==100 %}
<div class="card"{% if upToDate %}{% if ended %} data-title="{{ "That's all, Folks!"|trans }}"{% else %} data-title="{{ 'Up to date!'|trans }}"{% endif %}{% endif %}>
    <a href="{{ path('app_series_season', {'id': series.id, 'seasonNumber': series.seasonNumber, 'slug': series.localizedSlug ?? series.slug }) }}#episode-{{ series.episodeNumber }}">
        <div class="poster">
            {% if series.posterPath %}
                <img src="{{ series.posterPath }}" alt="{{ series.name }}"{% if series.date is defined %} data-title="{{ series.date }}{% endif %}">
            {% else %}
                <div>{{ 'No poster'|trans }}</div>
            {% endif %}
            {% if series.providerName is defined and series.providerName %}
                <div class="providers">
                    <div class="provider-content">
                        <div class="provider">
                            <img src="{{ series.providerLogoPath }}" alt="{{ series.providerName }}">
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="progress{% if upToDate %}{% if ended %} that-s-all-folks{% else %} up-to-date{% endif %}{% endif %}">
                <div class="progress-bar" style="width: {{ series.progress }}%"></div>
            </div>
            <div class="episode-number">
                {{ 'S%02dE%02d'|format(series.seasonNumber, series.episodeNumber) }}
            </div>
            {% if series.favorite %}
                <div class="favorite">
                    <i class="fas fa-heart"></i>
                </div>
            {% endif %}
        </div>
        <div class="name">{{ series.localizedName ?? series.name }}</div>
    </a>
</div>