{#
Mandatory variables:
    tv.next_episode_to_air: object < ..., air_date, ...>// Next episode to air
    series.schedules: array [<day_of_week, time>] // Schedules of the series
    series_day_offset: object <offset, country> // Day offset for the series
#}


{% if series.schedules|length or series.nextEpisodeAirDate %}
    <div class="schedules">
        <div class="wrapper">
            {% for schedule in series.schedules %}
                <div class="schedule-block">
                    <div class="schedule">
                        {% set country = user.country ?? 'FR' %}
                        <div class="next-episode" onclick="ToggleScheduleForm({{ schedule.id }})">
                            <div class="type">{{ ux_icon('fa6-regular:clock', {height: "18px", width: "18px"}) }}</div>
                            <div class="country" data-title="{{ country|country_name }}">{{ getEmojiFlag(country) }}</div>
                            <div class="local-air">{{ schedule.dayList }}</div>
                            <div class="local-air">{{ schedule.airAt }}</div>
                            {% set d = schedule.before %}
                            <div class="remaining" data-target-ts="{{ schedule.targetTS }}">
                                <span>{% if schedule.toBeContinued %}{{ 'To be continued'|trans }}{% else %}{{ 'That\'s all!'|trans }}{% endif %}</span>
                                <span></span>
                            </div>
                        </div>
                        <script>
                            function ToggleScheduleForm(id) {
                                const form = document.getElementById('schedule-form-' + id);
                                const formBlock = form.parentElement;
                                formBlock.style.display = formBlock.style.display === 'block' ? 'none' : 'block';
                            }
                        </script>
                        {% set ule = schedule.userLastEpisode %}
                        {% set une = schedule.userNextEpisode %}
                        {% set tvle = schedule.tvLastEpisode %}
                        {% set tvne = schedule.tvNextEpisode %}
                        {% if ule %}
                            <div class="episode user">
                                <div class="type">{{ ux_icon('fa6-solid:user', {height: "18px", width: "18px"}) }}</div>
                                <div class="episode-info">{{ 'Last episode watched'|trans }}</div>
                                <div class="episode-number">{{ "S%02dE%02d"|format(ule.season_number, ule.episode_number) }}</div>
                                <div class="episode-air-date">{{ ule.air_date_offset|format_date("relative_short")|capitalize }}</div>
                                <div class="episode-air-date">{{ ule.watch_at|format_datetime("relative_short", "short")|capitalize }}</div>
                            </div>
                        {% endif %}
                        {% if une %}
                            <div class="episode user">
                                <div class="type">{{ ux_icon('fa6-solid:user', {height: "18px", width: "18px"}) }}</div>
                                <div class="episode-info">{{ 'Next episode to watch'|trans }}</div>
                                <div class="episode-number">{{ "S%02dE%02d"|format(une.season_number, une.episode_number) }}</div>
                                <div class="episode-air-date">{{ 'Not watched yet'|trans }}</div>
                                <div class="episode-air-date">{{ une.air_date_offset|format_date("relative_short")|capitalize }}</div>
                            </div>
                            {% if schedule.multiple %}
                                {% set ulne = schedule.userLastNextEpisode %}
                                <div class="episode user last-of-group">
                                    <div class="type">{{ ux_icon('fa6-solid:user', {height: "18px", width: "18px"}) }}</div>
                                    <div class="episode-info">{{ 'Last to watch'|trans }}</div>
                                    <div class="episode-number">{{ "S%02dE%02d"|format(ulne.season_number, ulne.episode_number) }}</div>
                                    <div class="episode-air-date">{{ 'Not watched yet'|trans }}</div>
                                    <div class="episode-air-date">{{ ulne.air_date_offset|format_date("relative_short")|capitalize }}</div>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if tvle %}
                            <div class="episode tv">
                                <div class="type">{{ ux_icon('fa6-solid:tv', {height: "18px", width: "18px"}) }}</div>
                                <div class="episode-info">{{ 'Last episode to air'|trans }}</div>
                                <div class="episode-number">{{ "S%02dE%02d"|format(tvle.season_number, tvle.episode_number) }}</div>
                                <div class="episode-name">{{ tvle.name }}</div>
                                <div class="episode-air-date">{{ tvle.air_date|format_date("relative_short")|capitalize }}</div>
                            </div>
                        {% endif %}
                        {% if tvne %}
                            <div class="episode tv">
                                <div class="type">{{ ux_icon('fa6-solid:tv', {height: "18px", width: "18px"}) }}</div>
                                <div class="episode-info">{{ 'Next episode to air'|trans }}</div>
                                <div class="episode-number">{{ "S%02dE%02d"|format(tvne.season_number, tvne.episode_number) }}</div>
                                <div class="episode-name">{{ tvne.name }}</div>
                                <div class="episode-air-date">{{ tvne.air_date|format_date("relative_short")|capitalize }}</div>
                            </div>
                            {% if schedule.multiple %}
                                {% set ulne = schedule.userLastNextEpisode %}
                                <div class="episode tv last-of-group">
                                    <div class="type">{{ ux_icon('fa6-solid:tv', {height: "18px", width: "18px"}) }}</div>
                                    <div class="episode-info">{{ 'Last to air'|trans }}</div>
                                    <div class="episode-number">{{ "S%02dE%02d"|format(ulne.season_number, ulne.episode_number) }}</div>
                                    <div class="episode-name">{{ 'Episode'|trans ~ ' ' ~ ulne.episode_number }}</div>
                                    <div class="episode-air-date">{{ ulne.air_date_offset|format_date("relative_short")|capitalize }}</div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="schedule-form">
                        <form id="schedule-form-{{ schedule.id }}">
                            <input type="hidden" name="id" value="{{ schedule.id }}">
                            <input type="hidden" name="country" value="{{ country }}">
                            <div class="form-group">
                                <div class="form-field">
                                    <div>
                                        <label for="time-{{ schedule.id }}">{{ 'Time'|trans }}
                                            <input type="time" name="time-{{ schedule.id }}" value="{{ schedule.airAt }}" id="time-{{ schedule.id }}">
                                        </label>
                                    </div>
                                    <div>
                                        <h4>{{ 'Days of the week'|trans }}</h4>
                                        <label for="days-1">
                                            <input type="checkbox" switch {% if schedule.dayArr.1 %} checked{% endif %} name="days" value="1" id="days-1">{{ 'Monday'|trans }}
                                        </label>
                                    </div>
                                    <div>
                                        <label for="days-2">
                                            <input type="checkbox" switch {% if schedule.dayArr.2 %} checked{% endif %} name="days" value="2" id="days-2">{{ 'Tuesday'|trans }}
                                        </label>
                                        <label for="days-3">
                                            <input type="checkbox" switch {% if schedule.dayArr.3 %} checked{% endif %} name="days" value="3" id="days-3">{{ 'Wednesday'|trans }}
                                        </label>
                                    </div>
                                    <div>
                                        <label for="days-4">
                                            <input type="checkbox" switch {% if schedule.dayArr.4 %} checked{% endif %} name="days" value="4" id="days-4">{{ 'Thursday'|trans }}
                                        </label>
                                        <label for="days-5">
                                            <input type="checkbox" switch {% if schedule.dayArr.5 %} checked{% endif %} name="days" value="5" id="days-5">{{ 'Friday'|trans }}
                                        </label>
                                    </div>
                                    <div>
                                        <label for="days-6">
                                            <input type="checkbox" switch {% if schedule.dayArr.6 %} checked{% endif %} name="days" value="6" id="days-6">{{ 'Saturday'|trans }}
                                        </label>
                                        <label for="days-0">
                                            <input type="checkbox" switch {% if schedule.dayArr.0 %} checked{% endif %} name="days" value="0" id="days-0">{{ 'Sunday'|trans }}
                                        </label>
                                    </div>
                                    <div>
                                        <button type="button" onclick="SaveSchedule({{ schedule.id }})">{{ 'Save'|trans }}</button>
                                    </div>
                                    <script>
                                        function SaveSchedule(id) {
                                            const form = document.getElementById('schedule-form-' + id);
                                            const country = form.querySelector('input[name="country"]').value;
                                            const time = form.querySelector('input[name="time-' + id + '"]').value;
                                            const days = form.querySelectorAll('input[name="days"]');
                                            const dayArr = [];
                                            days.forEach(day => {
                                                if (day.checked) {
                                                    dayArr.push(day.value);
                                                }
                                            });
                                            const data = {
                                                id: id,
                                                country: country,
                                                time: time,
                                                days: dayArr
                                            };
                                            fetch('{{ path('app_series_schedule_save') }}', {
                                                method: 'POST',
                                                headers: {
                                                    'Content-Type': 'application/json',
                                                    'X-Requested-With': 'XMLHttpRequest'
                                                },
                                                body: JSON.stringify(data)
                                            })
                                                .then(response => response.json())
                                                .then(data => {
                                                    if (data.success) {
                                                        ToggleScheduleForm(id);
                                                        window.location.reload();
                                                    }
                                                });
                                        }
                                    </script>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}