{#
Mandatory variables:
    tv.next_episode_to_air: object < ..., air_date, ...>// Next episode to air
    series.schedules: array [<day_of_week, time>] // Schedules of the series
    series_day_offset: object <offset, country> // Day offset for the series
#}

<div class="schedules">
    <h2>
        {{ 'Schedules'|trans }}
        <div class="new-schedule" onclick="ToggleScheduleForm(0)" data-title="{{ 'New schedule'|trans }}">
            {{ ux_icon('mdi:plus', {height: "18px", width: "18px"}) }}
        </div>
    </h2>
    {{ include('_blocks/series/_schedules-form.html.twig', {schedule: series.emptySchedule, country: user.country ?? 'FR'}) }}
    {% if series.schedules|length or series.nextEpisodeAirDate %}
        <div class="wrapper">
            {% for schedule in series.schedules %}
                <div class="schedule-block">
                    <div class="schedule">
                        {% set country = user.country ?? 'FR' %}
                        <div class="next-episode" onclick="ToggleScheduleForm({{ schedule.id }})">
                            {% if schedule.override %}
                                <div class="override">{{ ux_icon('mdi:calendar', {height: '18px', width: '18px'}) }}</div>
                            {% endif %}
                            <div class="type">{{ ux_icon('mdi:clock-outline', {height: "18px", width: "18px"}) }}</div>
                            <div class="season">
                                {{ 'Season'|trans }} {{ schedule.seasonNumber }}
                                {% if schedule.multiPart %}
                                    {{ 'Part'|trans }} {{ schedule.seasonPart }} ({{ 'Episodes'|trans }} {{ schedule.seasonPartFirstEpisode }}-{{ schedule.seasonPartFirstEpisode+schedule.seasonPartEpisodeCount-1 }})
                                {% endif %}
                            </div>
                            <div class="details">
                                <div class="country" data-title="{{ country|country_name }}">{{ getEmojiFlag(country) }}</div>
                                {% if schedule.providerId %}
                                    <div class="provider"><img src="{{ schedule.providerLogo }}" alt="{{ schedule.providerName }}" data-title="{{ schedule.providerName }}"></div>
                                {% endif %}
                            </div>
                            <div class="local-air">{{ schedule.dayList }}</div>
                            <div class="local-air">{{ schedule.airAt }}</div>
                            {% set d = schedule.before %}
                            <div class="remaining"
                                 data-target-ts="{{ schedule.targetTS }}"
                                 data-season-completed="{{ schedule.seasonCompleted ? 1 : 0 }}"
                                 data-up-to-date="{{ schedule.upToDate ? 1 : 0 }}"
                            >
                                <span>{% if schedule.toBeContinued %}{{ 'To be continued'|trans }}{% else %}{{ 'That\'s all!'|trans }}{% endif %}</span>
                                <span></span>
                            </div>
                        </div>
                        {% set ule = schedule.userLastEpisode %}
                        {% set une = schedule.userNextEpisode %}
                        {#                        {% set tvle = schedule.tvLastEpisode %} #}
                        {#                        {% set tvne = schedule.tvNextEpisode %} #}
                        {% if ule %}
                            <div class="episode user">
                                <div class="type">{{ ux_icon('mdi:user-outline', {height: "18px", width: "18px"}) }}</div>
                                <div class="episode-info">{{ 'Last episode watched'|trans }}</div>
                                <div class="episode-number">{{ "S%02dE%02d"|format(ule.season_number, ule.episode_number) }}</div>
                                <div class="episode-air-date" data-title="{{ 'Episode air date'|trans }}">{{ ule.air_date|format_date("relative_short")|capitalize }}</div>
                                <div class="episode-air-date" data-title="{{ 'View date'|trans }}">{{ ule.watch_at|format_datetime("relative_short", "short")|capitalize }}</div>
                            </div>
                        {% endif %}
                        {% if une %}
                            <div class="episode user">
                                <div class="type">{{ ux_icon('mdi:user-outline', {height: "18px", width: "18px"}) }}</div>
                                <div class="episode-info">{{ 'Next episode to watch'|trans }}</div>
                                <div class="episode-number">{{ "S%02dE%02d"|format(une.season_number, une.episode_number) }}</div>
                                <div class="episode-air-date" data-title="{{ 'Episode air date'|trans }}">{{ une.air_date|format_date("relative_short")|capitalize }}</div>
                                <div class="episode-air-date" data-title="{{ 'View date'|trans }}">{{ 'Not watched yet'|trans }}</div>
                            </div>
                            {% if schedule.multiple %}
                                {% set ulne = schedule.userLastNextEpisode %}
                                <div class="episode user last-of-group">
                                    <div class="type">{{ ux_icon('mdi:user-outline', {height: "18px", width: "18px"}) }}</div>
                                    <div class="episode-info">{{ 'Last to watch'|trans }}</div>
                                    <div class="episode-number">{{ "S%02dE%02d"|format(ulne.season_number, ulne.episode_number) }}</div>
                                    <div class="episode-air-date" data-title="{{ 'Episode air date'|trans }}">{{ ulne.air_date|format_date("relative_short")|capitalize }}</div>
                                    <div class="episode-air-date" data-title="{{ 'View date'|trans }}">{{ 'Not watched yet'|trans }}</div>
                                </div>
                            {% endif %}
                        {% endif %}
                        {#     {% if tvle %}
                            <div class="episode tv">
                                <div class="type">{{ ux_icon('mdi:tv', {height: "18px", width: "18px"}) }}</div>
                                <div class="episode-info">{{ 'Last episode to air'|trans }}</div>
                                <div class="episode-number">{{ "S%02dE%02d"|format(tvle.season_number, tvle.episode_number) }}</div>
                                <div class="episode-name">{{ tvle.name }}</div>
                                <div class="episode-air-date">{{ tvle.air_date|format_date("relative_short")|capitalize }}</div>
                            </div>
                        {% endif %}
                        {% if tvne %}
                            <div class="episode tv">
                                <div class="type">{{ ux_icon('mdi:tv', {height: "18px", width: "18px"}) }}</div>
                                <div class="episode-info">{{ 'Next episode to air'|trans }}</div>
                                <div class="episode-number">{{ "S%02dE%02d"|format(tvne.season_number, tvne.episode_number) }}</div>
                                <div class="episode-name">{{ tvne.name }}</div>
                                <div class="episode-air-date">{{ tvne.air_date|format_date("relative_short")|capitalize }}</div>
                            </div>
                            {% if schedule.multiple %}
                                {% set ulne = schedule.userLastNextEpisode %}
                                <div class="episode tv last-of-group">
                                    <div class="type">{{ ux_icon('mdi:tv', {height: "18px", width: "18px"}) }}</div>
                                    <div class="episode-info">{{ 'Last to air'|trans }}</div>
                                    <div class="episode-number">{{ "S%02dE%02d"|format(ulne.season_number, ulne.episode_number) }}</div>
                                    <div class="episode-name">{{ 'Episode'|trans ~ ' ' ~ ulne.episode_number }}</div>
                                    <div class="episode-air-date">{{ ulne.air_date_offset|format_date("relative_short")|capitalize }}</div>
                                </div>
                            {% endif %}
                        {% endif %} #}
                    </div>
                    {{ include('_blocks/series/_schedules-form.html.twig', {schedule: schedule, country: country}) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if series.alternateSchedules|reduce((carry, as) => carry + as.override) and series.alternateSchedules|reduce((carry, as) => carry + as.airDays|length) %}
        <h2>{{ 'Alternate schedules'|trans }}</h2>
        <div class="wrapper">
            <div class="schedule-block">
                {% for as in series.alternateSchedules %}
                    {% if as.override %}
                        <h3> {{ 'Season'|trans }} {{ as.seasonNumber }}{% if as.multiPart %} {{ 'Part'|trans }} {{ as.seasonPart }}{% endif %} - {{ as.airDays|length }} {{ 'episodes'|trans }}</h3>
                        <div class="alternate-schedule">
                            {% for airDay in as.airDays %}
                                <a href="{{ airDay.url }}">
                                    <div class="air-day{% if airDay.watched %} watched{% endif %}{% if airDay.future %} future{% endif %}">
                                        <div class="air-day-episode">{{ airDay.episode }}</div>
                                        <div class="air-day-date">
                                            <div class="day-of-week">{{ airDay.date|date("l")|trans }}</div>
                                            <div class="day">{{ airDay.date|date("j") }}</div>
                                            <div class="month">{{ airDay.date|date("F")|trans }}</div>
                                            <div class="year">{{ airDay.date|date("Y") }}</div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {{ include('_blocks/series/_schedules-js.html.twig') }}
</div>