<div class="schedule-form">
    <form id="schedule-form-{{ schedule.id }}">
        <input type="hidden" name="id" value="{{ schedule.id }}">
        <input type="hidden" name="country-{{ schedule.id }}" value="{{ country }}">
        <div class="form-group">
            <div class="form-field">
                <div>
                    <div class="date-time group full">
                        <label for="season-number-{{ schedule.id }}">{{ 'Season'|trans }}
                            <input type="number" name="season-number-{{ schedule.id }}" value="{{ schedule.seasonNumber }}" id="season-number-{{ schedule.id }}">
                        </label>
                    </div>
                    <div class="date-time group full">
                        <label for="multi-part-{{ schedule.id }}" data-title="{{ 'This season will be broadcast in several parts'|trans }}">
                            <input type="checkbox" switch onchange="toggleMultiPart({{ schedule.id }})" name="multi-part-{{ schedule.id }}" id="multi-part-{{ schedule.id }}" {% if schedule.multiPart %}checked{% endif %}>
                            {{ 'Multi part'|trans }}
                        </label>
                        <label for="season-part-{{ schedule.id }}">{{ 'Part'|trans }}
                            <input type="number" name="season-part-{{ schedule.id }}" value="{{ schedule.seasonPart }}" id="season-part-{{ schedule.id }}"{% if schedule.multiPart==0 %} disabled{% endif %}>
                        </label>
                        <label for="season-part-first-episode-{{ schedule.id }}">{{ 'First episode'|trans }}
                            <input type="number" name="season-part-first-episode-{{ schedule.id }}" value="{{ schedule.seasonPartFirstEpisode }}" id="season-part-first-episode-{{ schedule.id }}"{% if schedule.multiPart==0 %} disabled{% endif %}>
                        </label>
                        <label for="season-part-episode-count-{{ schedule.id }}">{{ 'Episode count'|trans }}
                            <input type="number" name="season-part-episode-count-{{ schedule.id }}" value="{{ schedule.seasonPartEpisodeCount }}" id="season-part-first-episode-{{ schedule.id }}"{% if schedule.multiPart==0 %} disabled{% endif %}>
                        </label>
                    </div>
                    <div class="date-time group full">
                        <label for="date-{{ schedule.id }}">{{ 'First air date'|trans }}
                            <input type="date" name="date-{{ schedule.id }}" value="{% if schedule.firstAirDate %}{{ schedule.firstAirDate|date("Y-m-d") }}{% endif %}" id="date-{{ schedule.id }}">
                        </label>
                        <label for="time-{{ schedule.id }}">{{ 'Time'|trans }}
                            <input type="time" name="time-{{ schedule.id }}" value="{{ schedule.airAt }}" id="time-{{ schedule.id }}">
                        </label>
                    </div>
                    <div class="date-time group full">
                        <label for="override-{{ schedule.id }}" data-title="{{ 'Override the Movie Database schedule'|trans }}">
                            <input type="checkbox" switch name="override-{{ schedule.id }}" id="override-{{ schedule.id }}" {% if schedule.override %}checked{% endif %} class="big-switch">
                            {{ 'Override TMDB'|trans }}
                        </label>
                        <label for="frequency-{{ schedule.id }}">
                            <select name="frequency-{{ schedule.id }}" id="frequency-{{ schedule.id }}">
                                <option value="">{{ 'Frequency'|trans }}</option>
                                <option value="1" {% if schedule.frequency == 1 %}selected{% endif %}>{{ 'All at once'|trans }}</option>
                                <option value="2" {% if schedule.frequency == 2 %}selected{% endif %}>{{ 'Daily'|trans }}</option>
                                <option value="3" {% if schedule.frequency == 3 %}selected{% endif %}>{{ 'Weekly, one at a time'|trans }}</option>
                                <option value="4" {% if schedule.frequency == 4 %}selected{% endif %}>{{ 'Weekly, two at a time'|trans }}</option>
                                <option value="5" {% if schedule.frequency == 5 %}selected{% endif %}>{{ 'Weekly, three at a time'|trans }}</option>
                                <option value="11" {% if schedule.frequency == 11 %}selected{% endif %}>{{ 'Weekly, four at a time'|trans }}</option>
                                <option value="6" {% if schedule.frequency == 6 %}selected{% endif %}>{{ 'Weekly, two, then one'|trans }}</option>
                                <option value="7" {% if schedule.frequency == 7 %}selected{% endif %}>{{ 'Weekly, three, then one'|trans }}</option>
                                <option value="8" {% if schedule.frequency == 8 %}selected{% endif %}>{{ 'Weekly, four, then one'|trans }}</option>
                                <option value="9" {% if schedule.frequency == 9 %}selected{% endif %}>{{ 'Weekly, four, then two'|trans }}</option>
                                <option value="10" {% if schedule.frequency == 10 %}selected{% endif %}>{{ 'Weekly, selected days'|trans }}</option>
                                <option value="12" {% if schedule.frequency == 12 %}selected{% endif %}>{{ 'Selected days, then weekly, one at a time'|trans }}</option>
                            </select>
                        </label>
                    </div>
                    <div class="group full">
                        <label for="provider-{{ schedule.id }}">{{ 'Provider'|trans }}
                            <select id="provider-{{ schedule.id }}" name="provider-{{ schedule.id }}">
                                <option value="">{{ 'Select a provider'|trans }}</option>
                                {% for providerName, providerId in providers.select %}
                                    <option value="{{ providerId }}" {% if providerId == schedule.providerId %}selected{% endif %}>{{ providerName }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                </div>
                <div class="group">
                    <h4>{{ 'Days of the week'|trans }}</h4>
                    <label for="days-{{ schedule.id }}-1">
                        <input type="checkbox" switch {% if schedule.dayArr.1 %} checked{% endif %} name="days-{{ schedule.id }}" value="1" id="days-{{ schedule.id }}-1">{{ 'Monday'|trans }}
                    </label>
                    {# </div>
                <div> #}
                    <label for="days-{{ schedule.id }}-2">
                        <input type="checkbox" switch {% if schedule.dayArr.2 %} checked{% endif %} name="days-{{ schedule.id }}" value="2" id="days-{{ schedule.id }}-2">{{ 'Tuesday'|trans }}
                    </label>
                    <label for="days-{{ schedule.id }}-3">
                        <input type="checkbox" switch {% if schedule.dayArr.3 %} checked{% endif %} name="days-{{ schedule.id }}" value="3" id="days-{{ schedule.id }}-3">{{ 'Wednesday'|trans }}
                    </label>
                    {# </div>
                <div> #}
                    <label for="days-{{ schedule.id }}-4">
                        <input type="checkbox" switch {% if schedule.dayArr.4 %} checked{% endif %} name="days-{{ schedule.id }}" value="4" id="days-{{ schedule.id }}-4">{{ 'Thursday'|trans }}
                    </label>
                    <label for="days-{{ schedule.id }}-5">
                        <input type="checkbox" switch {% if schedule.dayArr.5 %} checked{% endif %} name="days-{{ schedule.id }}" value="5" id="days-{{ schedule.id }}-5">{{ 'Friday'|trans }}
                    </label>
                    {# </div>
                <div> #}
                    <label for="days-{{ schedule.id }}-6">
                        <input type="checkbox" switch {% if schedule.dayArr.6 %} checked{% endif %} name="days-{{ schedule.id }}" value="6" id="days-{{ schedule.id }}-6">{{ 'Saturday'|trans }}
                    </label>
                    <label for="days-{{ schedule.id }}-0">
                        <input type="checkbox" switch {% if schedule.dayArr.0 %} checked{% endif %} name="days-{{ schedule.id }}" value="0" id="days-{{ schedule.id }}-0">{{ 'Sunday'|trans }}
                    </label>
                </div>
                <div>
                    <button type="button" onclick="SaveSchedule({{ schedule.id }})">{{ 'Save'|trans }}</button>
                </div>
            </div>
        </div>
    </form>
</div>