<div class="season-filming-locations">
    {% for location in locations %}
        <div class="season-filming-location">
            <div class="location-card">
                <div class="d-flex-1">{{ ux_icon('mdi:camera-outline', {style: "--size: 1.5rem;"}) }} {{ location.location }}</div>
                <div>{{ location.description }}</div>
            </div>
            {% for image_path in location.images %}
                <div class="image" data-title="{{ location.location }} image #{{ loop.index }}">
                    <img src="/images/map{{ image_path }}" alt="Filming location image">
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
