<div class="season-filming-locations">
    {% for location in locations %}
        <div class="season-filming-location">
            <div class="location-card">
                <div class="location">{{ ux_icon('mdi:video-film', {style: "--size: 2rem;"}) }} {{ location.location }}</div>
                <div class="description">{{ location.description }}</div>
            </div>
            {% for image_path in location.images %}
                <div class="image" data-title="{{ location.location }} image #{{ loop.index }}">
                    <img src="/images/map{{ image_path }}" alt="Filming location image">
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
