<div class="user-episode">
    {% if ue and ue.watch_at %}
        <div class="remove-this-episode" data-id="{{ episode.id }}"
             data-ue-id="{{ ue.id }}"
             data-series-id="{{ series.id }}"
             data-last-episode="{{ loop.last ?? 0 }}"
             data-show-id="{{ episode.show_id }}"
             data-s-number="{{ episode.season_number }}"
             data-e-number="{{ episode.episode_number }}"
             data-views="{{ episode.user_episodes|length }}"
             data-title="{{ ue.watch_at|format_datetime('relative_short', 'short')|capitalize }}">
            {{ ux_icon('mdi:eye') }}
        </div>
        <div class="comment-badge" data-id="{{ episode.id }}" data-count="0" data-title="{{ 'Add a comment or reply to it for the episode'|trans }} {{ episode.episode_number }}">
            {{ ux_icon('mdi:comment-text-outline') }}
        </div>
        <div class="select-provider" data-ue-id="{{ ue.id }}" data-title="{{ ue.provider_id ? ue.provider_name : 'Choose a provider'|trans }}">
            {% if ue.provider_id %}
                <img src="{{ ue.provider_logo_path }}" alt="{{ ue.provider_name }}">
            {% else %}
                {{ ux_icon('mdi:plus') }}
            {% endif %}
        </div>
        <div class="select-device" data-ue-id="{{ ue.id }}" data-title="{{ 'Choose a device'|trans }}">
            {% if ue.device_id %}
                {{ ux_icon(ue.device_svg) }}
            {% else %}
                {{ ux_icon('mdi:plus') }}
            {% endif %}
        </div>
        <div class="select-vote" data-ue-id="{{ ue.id }}" data-title="{{ 'Give a rating'|trans }}">
            {#                                        {% if ue.vote %} #}
            {#                                            {{ ue.vote }} #}
            {#                                        {% else %} #}
            {#                                            {{ ux_icon('fa6-solid:plus') }} #}
            {#                                        {% endif %} #}
            {{ ue.vote ?? ux_icon('mdi:plus') }}
        </div>
    {% else %}
        <div class="add-this-episode" data-id="{{ episode.id }}"
             data-ue-id="{{ ue.id }}"
             data-series-id="{{ series.id }}"
             data-last-episode="{{ loop.last ?? 0 }}"
             data-show-id="{{ episode.show_id }}"
             data-s-number="{{ episode.season_number }}"
             data-e-number="{{ episode.episode_number }}"
             data-title="{{ 'Mark this episode as seen'|trans }}">
            {{ ux_icon('mdi:plus') }}
        </div>
    {% endif %}
    <div class="back-to-top" data-title="{{ 'Back to top'|trans }}">
        {{ ux_icon('mdi:arrow-up') }}
    </div>
    <a href="{{ path('app_series_show', {id: series.id, slug: season.series_localized_name.slug ?? series.slug}) }}"
       class="back-to-series"
       data-title="{{ 'Back to series'|trans }} «&nbsp;{% if season.series_localized_name %}{{ season.series_localized_name.name }}{% else %}{{ series.name }}{% endif %}&nbsp;»">
        {#                                            <div class="back-to-series" data-title="{{ 'Back to series'|trans }} «&nbsp;{% if season.series_localized_name %}{{ season.series_localized_name.name }}{% else %}{{ series.name }}{% endif %}&nbsp;»"> #}
        {{ ux_icon('mdi:arrow-left') }}
        {#                                            </div> #}
    </a>
</div>