<div id="series-videos" class="videos">
    {% set videoCount = series.videos|length %}
    <div class="video-tools">
        <h2>{{ 'Videos'|trans }}{% if videoCount %} ({{ videoCount }}){% endif %}</h2>
        <div class="video-tool add-video" data-title="{{ 'Add a video'|trans }}">
            {{ ux_icon('mdi:plus') }}
        </div>
        {% if videoCount %}
            <div class="video-tool folder" data-title="{{ (series.videoListFolded ? 'Expand all videos' : 'Collapse all videos')|trans }}">
                {{ ux_icon('mdi:chevron-down') }}
            </div>
            <script>
                const dataTitles = {
                    'expand': '{{ 'Expand all videos'|trans }}',
                    'collapse': '{{ 'Collapse all videos'|trans }}'
                };
                document.querySelector('.video-tool.folder').addEventListener('click', function (e) {
                    e.preventDefault();
                    const tool = e.currentTarget;
                    const videoList = document.querySelector('.video-list');
                    videoList.classList.toggle('folded');
                    if (videoList.classList.contains('folded')) {
                        tool.setAttribute('data-title', dataTitles.expand);
                        saveSettings(1);
                    } else {
                        tool.setAttribute('data-title', dataTitles.collapse);
                        saveSettings(0);
                    }
                });

                function saveSettings(newValue) {
                    // Use fetch to send the new value to the server
                    fetch('{{ path('app_series_settings_save') }}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRF-Token': '{{ csrf_token('user_settings') }}'
                        },
                        body: JSON.stringify({"name": "series_video_list_folded", "value": {"folded": newValue}})
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log('Settings saved:', data);
                        })
                        .catch(error => {
                            console.error('Error saving settings:', error);
                        });
                }
            </script>
        {% endif %}
    </div>
    <div class="video-list{% if series.videoListFolded %} folded{% endif %}">
        {% for video in series.videos %}
            <div class="video">
                <iframe src="{{ video.link }}" title="{{ video.title }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        {% endfor %}
    </div>
    <dialog class="add-video-dialog">
        {{ form_start(form) }}
        {{ form_widget(form.title) }}
        {{ form_widget(form.link) }}
        <div class="form-row">
            <button type="button" name="cancel">{{ 'Cancel'|trans }}</button>
            <button type="submit" name="add">{{ 'Add'|trans }}</button>
        </div>
        {{ form_end(form) }}
    </dialog>
</div>
