{% set links = watchLinks|filter(link => link.seasonNumber==seasonNumber or link.seasonNumber == -1) %}

{% if links|length %}
    <div class="user-actions{% if hidden %} d-none{% endif %}">
        <div class="wrapper">
            <div class="watch-links">
                <div class="label">{{ 'Watch links'|trans }}</div>
                <div class="label-small" data-title="{{ 'Watch links'|trans }}">{{ ux_icon('mdi:link-variant') }}</div>
                {% for link in links %}
                    {% set linkSeasonNumber = link.seasonNumber ?? -1 %}
                    {% if linkSeasonNumber == seasonNumber or linkSeasonNumber == -1 %}
                        <div class="watch-link" data-id="{{ link.id }}">
                            <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                                {% if link.providerId > 0 %}
                                    <img src="{{ providers.logos[link.providerId] }}" alt="{{ providers.names[link.providerId] }}"{# data-title="{{ link.name ?? providers.names[link.providerId] }}"#}>
                                {% else %}
                                    <span>{{ link.name }}</span>
                                {% endif %}
                            </a>
                            <div class="watch-link-tools"
                                 data-id="{{ link.id }}"
                                 data-provider="{{ link.providerId }}"
                                 data-name="{{ link.name }}"
                                 data-season-number="{{ linkSeasonNumber }}"
                            >
                                <div class="watch-link-tool copy" data-title="{{ 'Copy this watch link'|trans }}">
                                    {{ ux_icon('mdi:content-paste') }}
                                </div>
                                <div class="watch-link-name">{{ link.name }}</div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
