{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Series'|trans }} → {{ season.series_localized_name ? season.series_localized_name.name : series.name }} → {{ season.name }} → {{ 'Episode'|trans }} {{ episode.episode_number }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/contact.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/map.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/user.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/card.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/episode.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/translations.scss') }}">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.14.0/mapbox-gl.css">
{% endblock %}
{% block body %}
    <script>
        const bd = '/series/posters_blurred{{ season.blurred_poster_path }}';
        const body = document.querySelector("body");
        body.style.backgroundSize = "cover";
        body.style.backgroundPosition = "center";
        body.style.backgroundRepeat = "no-repeat";
        body.style.backgroundAttachment = "fixed";
        body.style.backgroundImage = "url(" + bd + ")";
    </script>
    {{ include('_blocks/_menu.html.twig', {seriesName: season.series_localized_name ? season.series_localized_name.name:series.name, seriesLink: path('app_series_show', {id: series.id, slug: season.series_localized_name.slug ?? series.slug}) }) }}
    <div class="container-fluid backgroundImageOverlay">
        <div class="episode-show">
            <header>
                {% if episode.still_path %}
                    <div class="still">
                        <img src="{{ episode.still_path }}" alt="{{ episode.name }} still image">
                    </div>
                {% endif %}
                <div class="infos">
                    <h1>{{ episode.episode_number }} / {{ season.episodes|length }}. {{ episode.user_episode.substitute_name ?: episode.name }}</h1>
                    <div class="overview">{{ episode.user_episode.localized_overview ?: episode.overview }}</div>
                </div>
                <div class="navigation">
                    {% if episode.episode_number > 1 %}
                        <a href="{{ path("app_series_episode_show", {id: series.id, slug: slug, seasonNumber: season.season_number, episodeNumber: episode.episode_number - 1}) }}">
                            <div class="previous-episode">{{ ux_icon('mdi:arrow-left') }}</div>
                        </a>
                    {% endif %}
                    <a id="back-to-season" href="{{ path('app_series_season_show', {id: series.id, slug: season.series_localized_name.slug ?? series.slug, seasonNumber: season.season_number}) }}">
                        <div class="back">
                            {% if season.season_number %}
                                {{ 'Season'|trans }} {{ season.season_number }}
                            {% else %}
                                {{ 'Specials'|trans }}
                            {% endif %}
                        </div>
                    </a>
                    {% if  episode.episode_type == "standard" %} {# Last episode: episode.episode_type == "finale" #}
                        <a href="{{ path("app_series_episode_show", {id: series.id, slug: slug, seasonNumber: season.season_number, episodeNumber: episode.episode_number + 1}) }}">
                            <div class="next-episode">{{ ux_icon('mdi:arrow-right') }}</div>
                        </a>
                    {% endif %}
                </div>
                {{ include('_blocks/series/_user_episode.html.twig', {ue: episode.user_episode, episode: episode, series: series, season: season}) }}
            </header>
            <main>
                <div class="episodes-comments"></div>
                {{ include('_blocks/series/_map.html.twig', {locations: locations, mapSettings: mapSettings}) }}
                {{ include('_blocks/series/_guest_stars.html.twig', {guest_stars: episode.guest_stars, episode_page: true}) }}
                {{ include('_blocks/series/_credits.html.twig', {season: season, series: series}) }}
            </main>
        </div>
    </div>
    {{ include('_blocks/series/_comment_image.html.twig') }}
    <div class="episodes" style="display: none">
        <div class="episode-wrapper">
            <div class="episode" id="episode-{{ season.season_number }}-{{ episode.episode_number }}" data-ue-id="{{ episode.user_episode.id }}" data-episode-id="{{ episode.id }}">
            </div>
        </div>
    </div>
    <div id="globs" style="display: none">
        {
            "user": {
                "avatar": "{{ app.user.avatar }}",
                "username": "{{ app.user.username }}"
            },
            "seriesId": {{ series.id }},
            "showId": {{ series.tmdbId }},
            "seasonNumber": {{ season.season_number }},
            "episodeNumber": {{ episode.episode_number }},
            "seriesName": "{{ season.series_localized_name ?:series.name }}",
            "seasonProvider": {{ season["watch/providers"]|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "providers": {{ providers|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "devices": {{ devices|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "translations": {{ translations|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
        }
    </div>
    <div id="svgs" style="display: none">
        {{ ux_icon('mdi:asterisk', {id: 'asterisk'}) }}
        {{ ux_icon('mdi:checkbox-outline', {id: 'save' }) }}
        {{ ux_icon('mdi:close', {id: 'cancel' }) }}
        {{ ux_icon('mdi:comment-text', {id: 'comment-badge'}) }}
        {{ ux_icon('mdi:comment-text-outline', {id: 'comment-badge-outline'}) }}
        {{ ux_icon('mdi:image-plus', {id: 'image-plus'}) }}
        {{ ux_icon('mdi:question-answer', {id: 'answer-badge'}) }}
        {{ ux_icon('mdi:send', {id: 'send'}) }}
        {{ ux_icon('mdi:trash', {id: 'trash' }) }}
    </div>
    {{ include('_blocks/series/_map_stuff.html.twig', {locations: locations, mapSettings: mapSettings, addLocationFormData: addLocationFormData}) }}

    {% include '_blocks/_footer.html.twig' %}
{% endblock %}
