{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Series'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
{% endblock %}

{% block body %}
    {% include('_blocks/_menu.html.twig') %}
    <div class="container-fluid series-index">
        {% if seriesOfTheDay|length %}
            <h2>{{ 'Series of the day'|trans }}</h2>
            <div class="series-group user">
                <div class="wrapper">
                    <div class="content">
                        {% for series in seriesOfTheDay %}
                            {{ include('_blocks/series/_card.html.twig') }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if episodesOfTheDay|length %}
            <h2>{{ 'Episodes of the day'|trans }}</h2>
            <div class="series-group user">
                <div class="wrapper">
                    <div class="content">
                        {% for series in episodesOfTheDay %}
                            {{ include('_blocks/series/_card.html.twig') }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if seriesToStart|length %}
            <h2>{{ 'Series to start'|trans }}</h2>
            <div class="series-group user">
                <div class="wrapper">
                    <div class="content">
                        {% for series in seriesToStart %}
                            {{ include('_blocks/series/_card2Start.html.twig') }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if seriesOfTheWeek|length %}
            <h2>{{ 'Series of the next 7 days'|trans }} ({{ seriesOfTheWeek|length }})</h2>
            <div class="series-group user">
                <div class="wrapper">
                    <div class="content">
                        {% set date = "" %}
                        {% for series in seriesOfTheWeek %}
                            {% if date != series.date %}
                                <h3>{{ series.date|format_date('relative_full')|capitalize }} ({{ seriesOfTheWeek|filter(s => s.date == series.date)|length }} ep.)</h3>
                                {% set date = series.date %}
                                <div class="calendar">
                                    <div class="day-of-week">{{ series.date|format_datetime(pattern: "EEEE") }}</div>
                                    <div class="day-of-mouth">{{ series.date|date('j') }}</div>
                                    <div class="month">{{ series.date|format_datetime(pattern: "MMMM") }}</div>
                                </div>
                            {% endif %}
                            {{ include('_blocks/series/_card.html.twig') }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        <h2>{{ 'Series airing this week'|trans }} ({{ seriesList|length }})</h2>
        <div class="series-group user">
            <div class="wrapper">
                <div class="content">
                    {% for series in seriesList %}
                        {{ include('_blocks/series/_card.html.twig') }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <h2>{{ 'Episode history (%d)'|trans|format(14) }} ({{ episodeHistory|length }})</h2>
        <div class="series-group user">
            <div class="wrapper">
                <div class="content">
                    {% for series in episodeHistory %}
                        {{ include('_blocks/series/_episode-card.html.twig') }}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include('_blocks/_footer.html.twig') %}
    </div>
{% endblock %}
