{% extends 'base.html.twig' %}

{% block title %}{{ 'Series' }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
{% endblock %}

{% block body %}
    {% include('_blocks/_menu.html.twig') %}
<div class="container-fluid">
    <div class="series-group user">
        <div class="wrapper">
            <div class="content">
                {% for series in seriesList %}
                    {{  include('_blocks/series/_card.html.twig') }}
                {% endfor %}
            </div>
        </div>
    </div>
    {% include('_blocks/_footer.html.twig') %}
</div>
{% endblock %}
