{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Series'|trans }} → {{ 'Episodes of the week'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
{% endblock %}

{% block body %}
    {% include('_blocks/_menu.html.twig') %}
    <div class="container-fluid series-index">
        {% set count = episodesOfTheDay|reduce((carry, s) => carry + s|length) %}
        {% if count %}
            <h2>{{ 'Today'|trans }} ({{ count }})</h2>
            <div class="series-group user">
                <div class="wrapper">
                    <div class="content center">
                        {% set series = episodesOfTheDay|first|first %}
                        {% set dayOfMonth = series.date|date('j') %}
                        {% if dayOfMonth == "1" and app.locale == 'fr' %}
                            {% set dayOfMonth = '1<sup>er</sup>' %}
                        {% endif %}
                        <div class="calendar">
                            {% set day = series.date|format_datetime(pattern: "EEEE")|capitalize %}
                            {% set month = series.date|format_datetime(pattern: "MMMM")|capitalize %}
                            {% if app.locale == 'kr' %}
                                {% set day = day|trans %}
                                {% set month = month|trans %}
                            {% endif %}
                            <div class="count">{{ count }}</div>
                            <div class="day-of-week">{{ day }}</div>
                            <div class="day-of-mouth">{{ dayOfMonth|raw }}</div>
                            <div class="month">{{ month }}</div>
                            {% if episodesOfTheDay|reduce((carry, s) => carry + (s.0.episode_number is defined and s.0.episode_number == 1)) %}
                                <div class="banner-mask">
                                    <div class="banner premiere">{{ 'Premiere'|trans }}</div>
                                </div>
                            {% endif %}
                        </div>
                        {% for series in episodesOfTheDay %}
                            {% if series|length == 1 %}
                                {{ include('_blocks/series/_card.html.twig', {series: series|first}) }}
                            {% endif %}
                            {% if series|length > 1 %}
                                <div class="episode-block">
                                    {% for episode in [series|first, series|last] %}
                                        {{ include('_blocks/series/_card.html.twig', {series: episode}) }}
                                        {% if loop.first %}
                                            {% if series|length == 2 %}
                                                <div class="episode-arrow">&</div>
                                            {% else %}
                                                <div class="episode-arrow"> {{ ux_icon('mdi:arrow-right', {height: '32px', width: '32px'}) }}</div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if seriesOfTheWeek|length %}
            <h2>{{ 'Series of the next 7 days'|trans }} ({{ seriesOfTheWeek|reduce((carry, s) => carry + s|length) }})</h2>
            <div class="series-group user">
                <div class="wrapper">
                    <div class="content center">
                        {% set date = "" %}
                        {% for series in seriesOfTheWeek %}
                            {% if date != series.0.date %}
                                {% set date = series.0.date %}
                                {% set dayOfMonth = series.0.date|date('j') %}
                                {% if dayOfMonth == "1" and app.locale == 'fr' %}
                                    {% set dayOfMonth = '1<sup>er</sup>' %}
                                {% endif %}
                                {#{% if app.locale == 'en' %}
                                    {% if dayOfMonth == 1 %}
                                        {% set dayOfMonth = '1<sup>st</sup>' %}
                                    {% elseif dayOfMonth == 2 %}
                                        {% set dayOfMonth = '2<sup>nd</sup>' %}
                                    {% elseif dayOfMonth == 3 %}
                                        {% set dayOfMonth = '3<sup>rd</sup>' %}
                                    {% else %}
                                        {% set dayOfMonth = dayOfMonth ~ '<sup>th</sup>' %}
                                    {% endif %}
                                {% endif %}#}
                                {% set day = date|format_datetime(pattern: "EEEE")|capitalize %}
                                {% set month = date|format_datetime(pattern: "MMMM")|capitalize %}
                                {% if app.locale == 'ko' %}
                                    {% set day = day|trans %}
                                    {% set month = month|trans %}
                                {% endif %}
                                <div class="new-line"></div>
                                <div class="calendar">
                                    <div class="count">{{ seriesOfTheWeek|filter(s => s.0.date == date)|reduce((carry, s) => carry + s|length) }}</div>
                                    <div class="day-of-week">{{ day }}</div>
                                    <div class="day-of-mouth">{{ dayOfMonth|raw }}</div>
                                    <div class="month">{{ month }}</div>
                                    {% if seriesOfTheWeek|filter(s => s.0.date == date)|reduce((carry, s) => carry + (s.0.episode_number is defined and s.0.episode_number == 1)) %}
                                        <div class="banner-mask">
                                            <div class="banner premiere">{{ 'Premiere'|trans }}</div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if series|length == 1 %}
                                {{ include('_blocks/series/_card.html.twig', {series: series.0}) }}
                            {% endif %}
                            {% if series|length > 1 %}
                                <div class="episode-block">
                                    {% for episode in [series|first, series|last] %}
                                        {{ include('_blocks/series/_card.html.twig', {series: episode}) }}
                                        {% if loop.first %}
                                            {% if series|length == 2 %}
                                                <div class="episode-arrow">&</div>
                                            {% else %}
                                                <div class="episode-arrow"> {{ ux_icon('mdi:arrow-right', {height: '32px', width: '32px'}) }}</div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if seriesToStart|length %}
            <h2>
                {{ 'Series to start'|trans }} ({{ seriesToStart|length }} / {{ seriesToStartCount }})
                <button class="btn btn-primary" onclick="window.location.href='{{ path('app_series_to_start') }}'">{{ 'See all'|trans }}</button>
            </h2>
            <div class="series-group user">
                <div class="wrapper">
                    <div class="content center">
                        {% for series in seriesToStart %}
                            {{ include('_blocks/series/_card2Start.html.twig') }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        <h2>{{ 'Series airing this week'|trans }} ({{ seriesList|length }})</h2>
        <div class="series-group user">
            <div class="wrapper">
                <div class="content center">
                    {% for series in seriesList %}
                        {{ include('_blocks/series/_card.html.twig', {ids: userSeriesTMDBIds}) }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <h2>{{ 'Episode history (%d)'|trans|format(14) }} ({{ episodeHistory|length }})</h2>
        <div class="series-group user">
            <div class="wrapper">
                <div class="content center">
                    {% for series in episodeHistory %}
                        {{ include('_blocks/series/_episode-card.html.twig') }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="global-data" class="hidden">
            {
            "tmdbIds": {{ tmdbIds|json_encode|raw }},
            "app_series_tmdb_check": "{{ path('app_series_tmdb_check') }}"
            }
        </div>
        <div id="svgs" style="display: none">
            <div id="svg-xmark">{{ ux_icon('mdi:close') }}</div>
        </div>
    </div>
    {% include('_blocks/_footer.html.twig') %}
{% endblock %}
