{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Search'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/contact.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series_search.scss') }}">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        {% include '_blocks/_menu.html.twig' %}
        <div class="series-search">
            <h1>{{ title|trans }}</h1>
            {{ form_start(form, {'action': path(action), 'attr': {'class': 'form'}}) }}
            <div class="form-row center">
                <div class="form-field">
                    <label for="{{ form.query.vars.id }}">
                        {{ form_widget(form.query) }}
                        {{ form_errors(form.query) }}
                    </label>
                </div>
                <div class="form-field">
                    <label for="{{ form.firstAirDateYear.vars.id }}">
                        {{ form_widget(form.firstAirDateYear) }}
                        {{ form_errors(form.firstAirDateYear) }}
                    </label>
                </div>
                <button type="submit">{{ ux_icon('mdi:search') }}</button>
            </div>
            {{ include('_blocks/series/_search_result_infos.html.twig') }}
            {{ form_end(form) }}
            <div class="series-search-result">
                <div class="wrapper">
                    {#                    <div class="content"> #}
                    {% for series in seriesList %}
                        {{ include('_blocks/series/_card.html.twig') }}
                    {% endfor %}
                    {#                    </div> #}
                </div>
            </div>
        </div>
    </div>
    {% include '_blocks/_footer.html.twig' %}
{% endblock %}
