{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Series'|trans }} → {{ season.series_localized_name.name ?? series.name }} → {{ 'season'|trans }} {{ season.season_number }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/user.scss') }}">
{% endblock %}
{% block body %}
    <script>
        const bd = '/series/posters{{ season.poster_path }}';
        const body = document.querySelector("body");
        body.style.backgroundSize = "cover";
        body.style.backgroundPosition = "center";
        body.style.backgroundRepeat = "no-repeat";
        body.style.backgroundAttachment = "fixed";
        body.style.backgroundImage = "url(" + bd + ")";
    </script>
    {{ include('_blocks/_menu.html.twig', {seriesName: season.series_localized_name ? season.series_localized_name.name:series.name, seriesLink: path('app_series_show', {id: series.id, slug: season.series_localized_name.slug ?? series.slug}) }) }}
    <div class="container-fluid backgroundImageOverlay">
        <div id="series-season" class="series-show">
            <div class="header">
                <div class="poster" id="top">
                    {% if season.poster_path %}
                        <img src="/series/posters{{ season.poster_path }}" alt="{{ series.name }} {{ season.season_number }}"
                             data-id="{{ series.id }}"
                             data-name="{{ season.series_localized_name ? season.series_localized_name.name:series.name }}"
                             data-slug="{{ season.series_localized_name ? season.series_localized_name.slug:series.slug }}">
                    {% else %}
                        <div>{{ 'No poster'|trans }}</div>
                    {% endif %}
                    {% set episodeCount = season.episodes|length %}
                    {% set episodeWatchedCount = season.episodes|reduce((carry, ep) => carry + (ep.user_episode.watch_at is not null ? 1:0)) %}
                    {% if episodeCount > 1 %}{# Les saisons à venir ont généralement un seul épisode au départ #}
                        <div class="progress" data-value="{{ 100 * episodeWatchedCount / episodeCount }}" data-title="{{ episodeWatchedCount }} / {{ episodeCount }}">
                            <div class="progress-bar"></div>
                        </div>
                    {% endif %}
                </div>
                <div class="infos">
                    <div class="name">
                        <h1>
                            {% if season.series_localized_name %}
                                <span class="localized-name-span">{{ season.series_localized_name.name }}</span><br>
                            {% endif %}
                            <span class="name-span">{{ series.name }} ({{ series.firstAirDate|date("Y") }})</span>
                        </h1>
                    </div>
                    <h2>{{ season.name }}{% if season.season_number > 1 %} ({{ season.air_date|date("Y") }}){% endif %}</h2>
                    {% if season.season_localized_overview|length %}
                        <div class="season-overview">
                            <div class="header">{{ 'Season localized overview'|trans }} ({{ season.season_localized_overview.locale|upper }})</div>
                            <div class="content">{{ season.season_localized_overview.overview|nl2br }}</div>
                        </div>
                    {% endif %}
                    {% if season.overview %}
                        <div class="season-overview">
                            <div class="header">
                                {% if season.is_series_overview %}
                                    {{ 'Overview for the series'|trans }}
                                {% else %}
                                    {{ 'Overview for the season'|trans }}
                                {% endif %}
                            </div>
                            <div class="body">{{ season.overview|nl2br }}</div>
                        </div>
                    {% endif %}
                    {% if season.series_localized_overviews|length %}
                        <div class="season-overview">
                            <div class="header">{{ 'Localized overviews for the series'|trans }}</div>
                            <div class="body">
                                {% for overview in season.series_localized_overviews %}
                                    <div class="content" data-overview="{{ overview.overview }}" data-id="{{ overview.id }}">
                                        {{ overview.overview|nl2br }}
                                        <div class="tools">
                                            <div class="locale">{{ overview.locale|upper }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {# {% else %}
                        {% if season.deepl %}
                            {% if season.deepl.localized %}
                                <div class="series-overview deepl">{{ season.deepl.localizedOverview|raw }}</div>
                            {% endif %}
                        {% endif %} #}
                    {% endif %}
                    {% if season.series_additional_overviews|length %}
                        <div class="season-overview">
                            <div class="header">{{ 'Additional overviews for the series'|trans }}</div>
                            <div class="body">
                                {% for overview in season.series_additional_overviews %}
                                    <div class="content" data-overview="{{ overview.overview }}" data-id="{{ overview.id }}" data-source-id="{{ overview.source.id }}">
                                        {{ overview.overview|nl2br }}
                                        <div class="tools">
                                            <div class="source">
                                                <a href="{{ overview.source.path }}" data-title="{{ overview.source.name }}" target="_blank" rel="noopener noreferrer">
                                                    <img src="{{ overview.source.LogoPath }}" alt="{{ overview.source.name }}">
                                                </a>
                                            </div>
                                            <div class="locale">{{ overview.locale|upper }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if series.backdropPath %}
                        <div class="backdrop">
                            <img src="/series/backdrops{{ series.backdropPath }}" alt="{{ series.name }}">
                        </div>
                    {% endif %}
                </div>
                <div class="series-back">
                    <a href="{{ path('app_series_show', {id: series.id, slug: season.series_localized_name.slug ?? series.slug}) }}">
                        {% if series.posterPath %}
                            <div class="poster-back">
                                <img src="/series/posters{{ series.posterPath }}" alt="{{ series.name }} {{ season.season_number }}">
                            </div>
                        {% endif %}
                        <div class="series-back-link">
                            {{ ux_icon('fa6-solid:arrow-left') }}
                            <span>{{ 'Back to series'|trans }}</span>
                        </div>
                    </a>
                </div>
            </div>

            {{ include('_blocks/series/_changes.html.twig') }}
            {{ include('_blocks/series/_externals.html.twig') }}

            <div class="season-stuff">
                {#                <h2>{{ 'Season stuff'|trans }}</h2> #}
                {{ include('_blocks/series/_watch-links.html.twig', {watchLinks: series.seriesWatchLinks, seasonNumber: season.season_number, hidden: false}) }}

                <div class="sizes" data-user-series-id="{{ userSeries.id }}">
                    <div class="size-item{% if episodeDiv.height == '15rem' %} active{% endif %}" data-size="15rem" data-type="size">
                        {{ ux_icon('fa:list-ul') }}
                    </div>
                    <div class="size-item{% if episodeDiv.height == '20rem' %} active{% endif %}" data-size="20rem" data-type="size">
                        {{ ux_icon('fa:th-list') }}
                    </div>
                    <div class="size-item{% if episodeDiv.height == '25rem' %} active{% endif %}" data-size="25rem" data-type="size">
                        {{ ux_icon('el:th-list') }}
                    </div>
                </div>

                <div class="aspect-ratios" data-user-series-id="{{ userSeries.id }}">
                    <div class="ar-item{% if episodeDiv.aspectRatio == '16 / 9' %} active{% endif %}" data-ar="16 / 9" data-type="aspect-ratio">
                        {{ ux_icon('ion:tablet-landscape-outline') }}
                    </div>
                    <div class="ar-item{% if episodeDiv.aspectRatio == '1 / 1' %} active{% endif %}" data-ar="1 / 1" data-type="aspect-ratio">
                        {{ ux_icon('ion:square-outline') }}
                    </div>
                    <div class="ar-item{% if episodeDiv.aspectRatio == '9 / 16' %} active{% endif %}" data-ar="9 / 16" data-type="aspect-ratio">
                        {{ ux_icon('ion:tablet-portrait-outline') }}
                    </div>
                </div>

                <div class="edit-episode-infos" data-title="{{ 'Edit all episodes name and overview'|trans }}">
                    {{ ux_icon('basil:edit-alt-outline', {height: '24px', width: '24px'}) }}
                </div>

                {% set episodeCount = season.episodes|length %}
                {% if episodeCount > 10 %}
                    {% if episodeCount is even %}
                        {% set itemPerLine = episodeCount / 2 %}
                    {% else %}
                        {% set itemPerLine = (episodeCount + 1) / 2 %}
                    {% endif %}
                    {% if itemPerLine > 10 %}
                        {% if episodeCount % 10 == 0 %}
                            {% set itemPerLine = 10 %}
                        {% endif %}
                        {% if episodeCount % 9 == 0 %}
                            {% set itemPerLine = 9 %}
                        {% endif %}
                        {% if episodeCount % 8 == 0 %}
                            {% set itemPerLine = 8 %}
                        {% endif %}
                        {% if episodeCount % 7 == 0 %}
                            {% set itemPerLine = 7 %}
                        {% endif %}
                    {% endif %}
                    {% set lineCount = (episodeCount / itemPerLine)|round(0, 'ceil') %}
                {% else %}
                    {% set itemPerLine = episodeCount %}
                    {% set lineCount = 1 %}
                {% endif %}
                <div class="quick-episodes" data-season-number="{{ season.season_number }}" style="height: {{ 36 * lineCount + 20 }}px; width: {{ 36 * itemPerLine + 32 }}px;">
                    {% for episode in season.episodes %}
                        {% set ue = episode.user_episode %}
                        {% set air_date = episode.air_date %}
                        {% if air_date %}
                            {% if air_date <= now %}
                                <div class="quick-episode{% if ue and ue.watch_at %} watched{% endif %}" data-number="{{ ue.episode_number }}" data-title="{{ air_date|format_date('relative_long') }} | {{ episode.name }}{% if ue and ue.substitute_name %} - {{ ue.substitute_name }}{% endif %}">
                                    {{ episode.episode_number }}
                                </div>
                            {% else %}
                                <div class="future-episode" data-title="{{ air_date|format_date('relative_long') }} | {{ episode.name }}{% if ue and ue.substitute_name %} - {{ ue.substitute_name }}{% endif %}">
                                    {{ ue.episode_number }}
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="future-episode" data-title="{{ 'No date'|trans }} | {{ episode.name }}{% if ue and ue.substitute_name %} - {{ ue.substitute_name }}{% endif %}">
                                {{ ue.episode_number }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            {# <h3>{{ 'Episodes'|trans }}</h3> #}
            <div class="content column">
                <div class="episodes">
                    <div class="episode-wrapper">
                        {% set episodeCount = season.episodes|length %}
                        {% set seasonCount = series.numberOfSeason %}
                        {% for episode in season.episodes %}
                            {% set ue = episode.user_episode %}
                            {% set ues = episode.user_episodes %}
                            {% set air_date = episode.air_date %}
                            {% if air_date and air_date <= now %}
                                <div class="episode" id="episode-{{ season.season_number }}-{{ episode.episode_number }}" data-ue-id="{{ ue.id }}">
                                    <div class="still" data-series-id="{{ series.tmdbId }}" data-season-id="{{ season.id }}" data-episode-id="{{ episode.id }}">
                                        {% if episode.still_path %}
                                            <img src="{{ episode.still_path }}" alt="{{ episode.name }}">
                                        {% elseif episode.stills|length %}{# is defined and ue.still #}
                                            {% set still = episode.stills|last %}
                                            <img src="/series/stills/{{ still.path }}" alt="{{ episode.name }}">
                                        {% else %}
                                            <div class="no-poster">{{ 'No poster'|trans }}</div>
                                        {% endif %}
                                        <div class="custom-stills">
                                            {% for still in episode.stills %}
                                                <div class="custom-still" data-title="{{ episode.name }}">
                                                    <img src="/series/stills/{{ still.path }}" alt="{{ episode.name }}">
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="custom-stills-text">{{ 'Click here to add an image'|trans }}</div>
                                        <div class="number{% if ue and ue.watch_at %} watched{% endif %}" data-title="{{ 'Watched %time% times'|trans({'%time%': ues|length}) }}">
                                            {{ episode.episode_number }}<span>/{{ episodeCount }}</span>
                                        </div>
                                        {% if episode.episode_number == episodeCount %}
                                            <div class="finale season-finale{% if ue and ue.watch_at %} watched{% endif %}">{{ 'Season finale'|trans }}</div>
                                            {% if season.season_number == seasonCount or (episode.episode_type is defined and episode.episode_type == 'finale') %}
                                                <div class="finale series-finale{% if ue and ue.watch_at %} watched{% endif %}">{{ 'Series finale'|trans }}</div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="infos">
                                        <div class="episode-name">
                                            <div class="name">{{ episode.name }}</div>
                                            {% if ue.substitute_name %}
                                                <div class="substitute{% if ue and ue.watch_at %} watched{% endif %}">
                                                    {{ ue.substitute_name }}
                                                </div>
                                            {% endif %}
                                            <div class="edit"
                                                 data-title="{{ 'Suggest a title'|trans }}"
                                                 data-id="{{ episode.id }}"
                                                 data-type="name"
                                            >
                                                {{ ux_icon('fa6-solid:pen') }}
                                            </div>
                                        </div>
                                        {{ include('_blocks/series/_watch-links.html.twig', {watchLinks: series.seriesWatchLinks, seasonNumber: season.season_number, hidden: (ue.watch_at != null)}) }}
                                        {{ include('_blocks/series/_episode-air-date.html.twig', {episode: episode, ue: ue, ues: episode.user_episodes}) }}
                                        {% if episode.runtime or episode.vote_average %}
                                            <div class="episode-stats">
                                                {% if episode.runtime %}
                                                    <div class="runtime">{{ episode.runtime }} {{ 'minutes'|trans }}</div>
                                                {% endif %}
                                                {% if episode.vote_average %}
                                                    <div class="vote-average">{{ episode.vote_average }} / 10 - {{ episode.vote_count }} {{ (episode.vote_count > 1 ? 'votes':'vote')|trans }}</div>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                        <div class="episode-overview" data-id="{{ episode.id }}">
                                            {% if episode.overview %}
                                                <div class="overview">
                                                    {{ episode.overview }}
                                                </div>
                                            {% endif %}
                                            {% if ue.localized_overview|length %}
                                                <div class="overview additional">
                                                    {{ ue.localized_overview|nl2br }}
                                                </div>
                                            {% endif %}
                                            {% if (episode.overview or ue.localized_overview|length) == 0 %}
                                                <div class="overview additional">{{ 'No overview'|trans }}</div>
                                            {% endif %}
                                            <div class="edit"
                                                 data-title="{{ 'Suggest an overview'|trans }}"
                                                 data-id="{{ episode.id }}"
                                                 data-type="overview"
                                            >
                                                {{ ux_icon("fa6-solid:pen") }}
                                            </div>
                                        </div>
                                        {% if episode.guest_stars %}
                                            <div class="guest-stars">
                                                <div class="wrapper">
                                                    {% for people in episode.guest_stars %}
                                                        <div class="people" data-title="{{ people.name }} - {{ people.character }}">
                                                            <a href="{{ path('app_people_show', {id: people.id, slug: people.slug}) }}">
                                                                <div class="photo">
                                                                    {% if people.profile_path %}
                                                                        <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                                                    {% else %}
                                                                        <div>{{ people.character }}</div>
                                                                        <div>{{ people.name }}</div>
                                                                        <div>{{ 'No picture'|trans }}</div>
                                                                    {% endif %}
                                                                </div>
                                                            </a>
                                                            {% if people.google is defined %}
                                                                <div class="google" data-title="{{ 'See on Google'|trans }}">
                                                                    <a href="{{ people.google }}" target="_blank">
                                                                        {{ ux_icon('flat-color-icons:google') }}
                                                                    </a>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="user-episode">
                                        {% if ue and ue.watch_at %}
                                            <div class="remove-this-episode" data-id="{{ episode.id }}"
                                                 data-ue-id="{{ ue.id }}"
                                                 data-series-id="{{ series.id }}"
                                                 data-last-episode="{{ loop.last ?? 0 }}"
                                                 data-show-id="{{ episode.show_id }}"
                                                 data-s-number="{{ episode.season_number }}"
                                                 data-e-number="{{ episode.episode_number }}"
                                                 data-views="{{ episode.user_episodes|length }}"
                                                 data-title="{{ ue.watch_at|format_datetime('relative_short', 'short')|capitalize }}">
                                                {{ ux_icon('fa6-solid:eye') }}
                                            </div>
                                            <div class="select-provider" data-ue-id="{{ ue.id }}" data-title="{{ ue.provider_id ? ue.provider_name : 'Choose a provider'|trans }}">
                                                {% if ue.provider_id %}
                                                    <img src="{{ ue.provider_logo_path }}" alt="{{ ue.provider_name }}">
                                                {% else %}
                                                    {{ ux_icon('fa6-solid:plus') }}
                                                {% endif %}
                                            </div>
                                            <div class="select-device" data-ue-id="{{ ue.id }}" data-title="{{ 'Choose a device'|trans }}">
                                                {% if ue.device_id %}
                                                    {{ ux_icon(ue.device_svg) }}
                                                {% else %}
                                                    {{ ux_icon('fa6-solid:plus') }}
                                                {% endif %}
                                            </div>
                                            <div class="select-vote" data-ue-id="{{ ue.id }}" data-title="{{ 'Give a rating'|trans }}">
                                                {#                                        {% if ue.vote %} #}
                                                {#                                            {{ ue.vote }} #}
                                                {#                                        {% else %} #}
                                                {#                                            {{ ux_icon('fa6-solid:plus') }} #}
                                                {#                                        {% endif %} #}
                                                {{ ue.vote ?? ux_icon('fa6-solid:plus') }}
                                            </div>
                                        {% else %}
                                            <div class="add-this-episode" data-id="{{ episode.id }}"
                                                 data-ue-id="{{ ue.id }}"
                                                 data-series-id="{{ series.id }}"
                                                 data-last-episode="{{ loop.last ?? 0 }}"
                                                 data-show-id="{{ episode.show_id }}"
                                                 data-s-number="{{ episode.season_number }}"
                                                 data-e-number="{{ episode.episode_number }}"
                                                 data-title="{{ 'Mark this episode as seen'|trans }}">
                                                {{ ux_icon('fa6-solid:plus') }}
                                            </div>
                                        {% endif %}
                                        <div class="back-to-top" data-title="{{ 'Back to top'|trans }}">
                                            {{ ux_icon('fa6-solid:arrow-up-long') }}
                                        </div>
                                        <a href="{{ path('app_series_show', {id: series.id, slug: season.series_localized_name.slug ?? series.slug}) }}">
                                            <div class="back-to-series" data-title="{{ 'Back to series'|trans }} «&nbsp;{% if season.series_localized_name %}{{ season.series_localized_name.name }}{% else %}{{ series.name }}{% endif %}&nbsp;»">
                                                {{ ux_icon('fa6-solid:arrow-left-long') }}
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="vote-graph">
                    {% set sum = 0 %}
                    {% set count = 0 %}
                    <div class="episode-votes">
                        {% for ep in season.episodes %}
                            {% set ue = ep.user_episode %}
                            <div class="episode-vote"{% if ue.vote %} data-vote="{{ ue.vote }}"{% endif %} data-ep-id="{{ ep.id }}" data-episode-number="{{ ep.episode_number }}" data-season-number="{{ ep.season_number }}">
                                <div class="vote" data-ep-id="{{ ue.id }}" style="height: {{ ep.vote_average }}rem; border-width: {{ ep.vote_average > 0 ? '2px':'0' }};">
                                    {% if ue.watch_at_db and ue.vote is not null %}
                                        <div class="user-vote" style=" height: {{ ue.vote }}rem">
                                            {{ ue.vote }}
                                        </div>
                                        {% set sum = sum + ue.vote %}
                                        {% set count = count + 1 %}
                                    {% else %}
                                        <div class="dashed-vote"></div>
                                    {% endif %}
                                </div>
                                <div class="episode-number">{{ 'S%02dE%02d'|format(ep.season_number, ep.episode_number) }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="vote-average">
                        {% if count > 0 %}
                            {{ (sum / count)|round(1) }} / 10
                        {% else %}
                            {{ 'No votes'|trans }}
                        {% endif %}
                    </div>
                </div>

                {% if season.credits.cast|length %}
                    <h3>{{ 'Cast'|trans }}</h3>
                    <div class="cast-and-name">
                        <div class="cast">
                            <div class="wrapper">
                                {% for people in season.credits.cast %}
                                    {{ include('_blocks/series/_people.html.twig', {people: people, role: people.character}) }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="series-name">
                            {% if season.series_localized_name %}
                                <span class="localized-name-span">{{ season.series_localized_name.name }} ({{ series.firstAirDate|date("Y") }})</span>
                            {% else %}
                                <span class="name-span">{{ series.name }} ({{ series.firstAirDate|date("Y") }})</span>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if season.credits.guest_stars|length %}
                    <h3>{{ 'Guest starts'|trans }}</h3>
                    <div class="cast">
                        <div class="wrapper">
                            {% for people in season.credits.guest_stars %}
                                {{ include('_blocks/series/_people.html.twig', {people: people, role: people.character}) }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if season.credits.crew|length %}
                    <h3>{{ 'Crew'|trans }}</h3>
                    <div class="crew">
                        <div class="wrapper">
                            {% for people in season.credits.crew %}
                                {{ include('_blocks/series/_crew.html.twig') }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {#     Retirez-vous cet épisode ou le regardez-vous de nouveau ? #}
    <dialog id="review-dialog">
        <div class="content">
            <form method="dialog">
                <button value="remove">{{ 'Remove'|trans }}</button>
                <button value="watch">{{ 'Watched again'|trans }}</button>
                <button value="now">{{ 'Now'|trans }}</button>
                <button value="cancel" autofocus>{{ 'Cancel'|trans }}</button>
            </form>
        </div>
    </dialog>
    <dialog id="select-provider-dialog">
        <div class="content">
            <form method="dialog">
                <button value="cancel" autofocus>{{ 'Cancel'|trans }}</button>
            </form>
        </div>
    </dialog>

    {{ include('_blocks/forms/_edit-episode-infos-form.html.twig') }}

    <div id="globs" style="display: none">
        {
            "seasonProvider": {{ season["watch/providers"]|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "providers": {{ providers|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "devices": {{ devices|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "text": {
                "provider": "{{ 'Choose a provider'|trans }}",
                "device": "{{ 'Choose a device'|trans }}",
                "rating": "{{ 'Give a rating'|trans }}",
                "now": "{{ 'Now'|trans }}",
                "Today": "{{ 'Today'|trans }}",
                "add": "{{ 'Add'|trans }}",
                "markAsWatched": "{{ 'Mark this episode as seen'|trans }}",
                "Television": "{{ 'Television'|trans }}",
                "Mobile": "{{ 'Mobile'|trans }}",
                "Tablet": "{{ 'Tablet'|trans }}",
                "Laptop": "{{ 'Laptop'|trans }}",
                "Desktop": "{{ 'Desktop'|trans }}",
                "Search": "{{ 'Search'|trans }}",
                "days": "{{ 'days'|trans }}",
                "hours": "{{ 'hours'|trans }}",
                "minutes": "{{ 'minutes'|trans }}",
                "seconds": "{{ 'seconds'|trans }}",
                "day": "{{ 'day'|trans }}",
                "hour": "{{ 'hour'|trans }}",
                "minute": "{{ 'minute'|trans }}",
                "second": "{{ 'second'|trans }}",
                "copied": "{{ 'The link has been copied to your clipboard'|trans }}",
                "additional": "{{ 'No overview'|trans }}",
                "click": "{{ 'Click here to add an image'|trans }}",
                "paste": "{{ 'Paste your image here (green)'|trans }}",
                "No votes": "{{ 'No votes'|trans }}"
            }
        }
    </div>
    <div class="svgs" style="display: none">
        {% for d in devices %}
            {{ ux_icon(d.svg, {id: 'device-'~d.id, height: '18px', width: '18px'}) }}
        {% endfor %}
        {{ ux_icon('fa6-solid:plus', {id: 'plus', height: '18px', width: '18px'}) }}
        {{ ux_icon('fa6-solid:eye', {id: 'eye', height: '18px', width: '18px'}) }}
        {{ ux_icon('fa6-solid:arrow-up-long', {id: 'up', height: '18px', width: '18px'}) }}
        {{ ux_icon('fa6-solid:arrow-left-long', {id: 'left', height: '18px', width: '18px'}) }}
        {{ ux_icon('mingcute:save-line', {id: 'save', height: '18px', width: '18px'}) }}
        {{ ux_icon('mingcute:delete-2-line', {id: 'delete', height: '18px', width: '18px'}) }}
        {{ ux_icon('fa6-solid:xmark', {id: 'cancel', height: '18px', width: '18px'}) }}
        <div class="svg" id="svg-xmark">{{ ux_icon('fa6-solid:xmark') }}</div>
    </div>
    {% include '_blocks/_footer.html.twig' %}
{% endblock %}
{# {% block javascripts %} #}
{#    {{ parent() }} #}
{#    <script src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"></script> #}
{# {% endblock %} #}
