{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Series'|trans }} → {{ season.series_localized_name.name ?? series.name }} → {{ season.name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/contact.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/map.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/user.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/card.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/translations.scss') }}">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.14.0/mapbox-gl.css">
{% endblock %}
{% block body %}
    <script>
        const bd = '/series/posters_blurred{{ season.blurred_poster_path }}';
        const body = document.querySelector("body");
        body.style.backgroundSize = "cover";
        body.style.backgroundPosition = "center";
        body.style.backgroundRepeat = "no-repeat";
        body.style.backgroundAttachment = "fixed";
        body.style.backgroundImage = "url(" + bd + ")";
    </script>
    {{ include('_blocks/_menu.html.twig', {seriesName: season.series_localized_name ? season.series_localized_name.name:series.name, seriesLink: path('app_series_show', {id: series.id, slug: season.series_localized_name.slug ?? series.slug}) }) }}
    <div class="container-fluid backgroundImageOverlay">
        <div id="series-season" class="series-show">
            <div class="header">
                <div class="infos">
                    <div class="infos-content">
                        <div class="name">
                            <h1>
                                {% if season.series_localized_name %}
                                    <span class="localization-span">{{ season.series_localized_name.name }}</span><br>
                                {% endif %}
                                <span class="name-span">{{ series.name }}</span>&nbsp;<span>({{ series.firstAirDate|date("Y") }})</span>
                            </h1>
                            {{ include('_blocks/translations/_tools.html.twig', {type: 'season', hidden: season.season_localized_overview|length}) }}
                        </div>
                        {{ include('_blocks/forms/_delete_overview.html.twig') }}
                        {{ include('_blocks/forms/_overview.html.twig', {sources: season.sources}) }}
                        <div class="season-name">{{ season.name }}{% if season.season_number > 1 %} ({{ season.air_date|date("Y") }}){% endif %}</div>

                        <div class="localized overviews">
                            <h4 class="localized-h4">{{ 'Season localized overview'|trans }}</h4>
                            {% if season.season_localized_overview|length %}
                                {% set overview = season.season_localized_overview %}
                                <div class="localized overview" data-id="{{ overview.id }}">
                                    <div class="content" data-overview="{{ overview.overview }}">
                                        {{ overview.overview|nl2br }}
                                    </div>
                                    <div class="tools">
                                        <div class="locale">{{ overview.locale|upper }}</div>
                                        <button class="edit" data-id="{{ overview.id }}" data-title="{{ 'Edit'|trans }}" popovertarget="overview-form-container">
                                            {{ ux_icon('mdi:pencil') }}
                                        </button>
                                        <button class="delete" data-id="{{ overview.id }}" data-title="{{ 'Delete'|trans }}" popovertarget="delete-overview-form-container">
                                            {{ ux_icon('mdi:trash') }}
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% if season.overview %}
                            <div class="season-overview">
                                <div class="header">
                                    {% if season.is_series_overview %}
                                        {{ 'Overview for the series'|trans }}
                                    {% else %}
                                        {{ 'Overview for the season'|trans }}
                                    {% endif %}
                                </div>
                                <div class="body">{{ season.overview|nl2br }}</div>
                            </div>
                        {% endif %}
                        {% if season.series_localized_overviews|length %}
                            <div class="season-overview">
                                <div class="header">{{ 'Localized overviews for the series'|trans }}</div>
                                <div class="body">
                                    {% for overview in season.series_localized_overviews %}
                                        <div class="content" data-overview="{{ overview.overview }}" data-id="{{ overview.id }}">
                                            {{ overview.overview|nl2br }}
                                            <div class="tools">
                                                <div class="locale">{{ overview.locale|upper }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {# {% else %}
                        {% if season.deepl %}
                            {% if season.deepl.localized %}
                                <div class="series-overview deepl">{{ season.deepl.localizedOverview|raw }}</div>
                            {% endif %}
                        {% endif %} #}
                        {% endif %}
                        {% if season.series_additional_overviews|length %}
                            <div class="season-overview">
                                <div class="header">{{ 'Additional overviews for the series'|trans }}</div>
                                <div class="body">
                                    {% for overview in season.series_additional_overviews %}
                                        <div class="content" data-overview="{{ overview.overview }}" data-id="{{ overview.id }}" data-source-id="{{ overview.source.id }}">
                                            {{ overview.overview|nl2br }}
                                            <div class="tools">
                                                <div class="source">
                                                    <a href="{{ overview.source.path }}" data-title="{{ overview.source.name }}" target="_blank" rel="noopener noreferrer">
                                                        <img src="{{ overview.source.LogoPath }}" alt="{{ overview.source.name }}">
                                                    </a>
                                                </div>
                                                <div class="locale">{{ overview.locale|upper }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% if series.backdropPath and series.posterPath %}
                        <div class="backdrop">
                            <picture>
                                <source media="(orientation: portrait)" srcset="/series/posters{{ series.posterPath }}">
                                <img src="/series/backdrops{{ series.backdropPath }}" alt="{{ series.name }} backdrop">
                            </picture>
                        </div>
                    {% elseif series.backdropPath %}
                        <div class="backdrop">
                            <img src="/series/backdrops{{ series.backdropPath }}" alt="{{ series.name }}">
                        </div>
                    {% endif %}
                </div>
                {% set episodeCount = season.episodes|length %}
                {% set episodeWatchedCount = season.episodes|reduce((carry, ep) => carry + (ep.user_episode.watch_at is not null ? 1:0)) %}
                {% if episodeCount > 1 %}{# Les saisons à venir ont généralement un seul épisode au départ #}
                    <div class="progress" data-value="{{ 100 * episodeWatchedCount / episodeCount }}" data-title="{{ episodeWatchedCount }} / {{ episodeCount }}">
                        <div class="progress-bar"></div>
                    </div>
                {% endif %}
                {% if season.poster_path %}
                    <div class="poster" id="top">
                        <a href="{{ path('app_series_show', {id: series.id, slug: season.series_localized_name.slug ?? series.slug}) }}">
                            <img src="/series/posters{{ season.poster_path }}" alt="{{ series.name }} {{ season.season_number }}">
                        </a>
                    </div>
                {% else %}
                    <div class="series-back">
                        <a href="{{ path('app_series_show', {id: series.id, slug: season.series_localized_name.slug ?? series.slug}) }}">
                            {% if series.posterPath %}
                                <div class="poster-back">
                                    <img src="/series/posters{{ series.posterPath }}" alt="{{ series.name }} {{ season.season_number }}">
                                </div>
                            {% endif %}
                            <div class="series-back-link">
                                {{ ux_icon('mdi:arrow-left') }}
                                <span>{{ 'Back to series'|trans }}</span>
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>

            {#            {{ include('_blocks/series/_changes.html.twig') }} #}
            {#            {{ include('_blocks/series/_externals.html.twig') }} #}
            {% set episodeCount = season.episodes|length %}

            <div class="season-stuff">
                {#                <h2>{{ 'Season stuff'|trans }}</h2> #}
                {{ include('_blocks/series/_watch_links.html.twig', {watchLinks: series.seriesWatchLinks, seasonNumber: season.season_number, hidden: false}) }}

                {% if episodeCount %}
                    <div class="user-actions" data-user-series-id="{{ userSeries.id }}">
                        <div class="size-item{% if episodeDiv.height == '15rem' %} active{% endif %}" data-size="15rem" data-type="size">
                            {{ ux_icon('mdi:size-s') }}
                        </div>
                        <div class="size-item{% if episodeDiv.height == '20rem' %} active{% endif %}" data-size="20rem" data-type="size">
                            {{ ux_icon('mdi:size-m') }}
                        </div>
                        <div class="size-item{% if episodeDiv.height == '25rem' %} active{% endif %}" data-size="25rem" data-type="size">
                            {{ ux_icon('mdi:size-l') }}
                        </div>
                        {#                </div> #}
                        <div class="separator">{{ ux_icon('mdi:circle') }}</div>
                        {#                <div class="user-actions" data-user-series-id="{{ userSeries.id }}"> #}
                        <div class="ar-item{% if episodeDiv.aspectRatio == '16 / 9' %} active{% endif %}" data-ar="16 / 9" data-type="aspect-ratio">
                            {{ ux_icon('mdi:crop-landscape') }}
                        </div>
                        <div class="ar-item{% if episodeDiv.aspectRatio == '1 / 1' %} active{% endif %}" data-ar="1 / 1" data-type="aspect-ratio">
                            {{ ux_icon('mdi:crop-square') }}
                        </div>
                        <div class="ar-item{% if episodeDiv.aspectRatio == '9 / 16' %} active{% endif %}" data-ar="9 / 16" data-type="aspect-ratio">
                            {{ ux_icon('mdi:crop-portrait') }}
                        </div>
                        {#                </div> #}
                        <div class="separator">{{ ux_icon('mdi:circle') }}</div>
                        {#                <div class="user-actions"> #}
                        <div class="edit-episode-infos" data-title="{{ 'Edit all episodes name and overview'|trans }}">
                            {{ ux_icon('mdi:edit-box-outline') }}
                        </div>
                    </div>

                    {% if quickLinks.count > 1 %}
                        <div class="quick-episodes" data-season-number="{{ season.season_number }}" style="height: {{ 32 * quickLinks.lineCount + 4 * (quickLinks.lineCount - 1) + 20 }}px; width: {{ 32 * quickLinks.itemPerLine + 4 * (quickLinks.itemPerLine - 1) + 20 }}px;">
                            {% for item in quickLinks.items %}
                                <div class="{{ item.class }}" data-number="{{ item.episode_number }}"{% if item.name %} data-title="{{ item.air_date|format_date('relative_long')|capitalize }} | {{ item.name }}"{% endif %}>
                                    {{ item.episode_number }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>

            {# <h3>{{ 'Episodes'|trans }}</h3> #}
            <div class="content column">
                {% if episodeCount %}
                    <div class="episodes">
                        <div class="episode-wrapper">
                            {% set seasonCount = series.numberOfSeason %}
                            {% for episode in season.episodes %}
                                {% set ue = episode.user_episode %}
                                {% set ues = episode.user_episodes %}
                                {% set air_date = episode.air_date %}
                                {% if air_date and air_date <= now %}
                                    <div class="episode" id="episode-{{ season.season_number }}-{{ episode.episode_number }}" data-ue-id="{{ ue.id }}" data-episode-id="{{ episode.id }}">
                                        <div class="still" data-series-id="{{ series.tmdbId }}" data-season-id="{{ season.id }}" data-episode-id="{{ episode.id }}">
                                            {% if episode.still_path %}
                                                <img src="{{ episode.still_path }}" alt="{{ episode.name }}">
                                            {% elseif episode.stills|length %}{# is defined and ue.still #}
                                                {% set still = episode.stills|last %}
                                                <img src="/series/stills/{{ still.path }}" alt="{{ episode.name }}">
                                            {% else %}
                                                <div class="no-poster">{{ 'No poster'|trans }}</div>
                                            {% endif %}
                                            <div class="custom-stills">
                                                {% for still in episode.stills %}
                                                    <div class="custom-still" data-title="{{ episode.name }}">
                                                        <img src="/series/stills/{{ still.path }}" alt="{{ episode.name }}">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="custom-stills-text">{{ 'Click here to add an image'|trans }}</div>
                                            <div class="number{% if ue and ue.watch_at %} watched{% endif %}" data-title="{{ 'Watched %time% times'|trans({'%time%': ues|length}) }}">
                                                {{ episode.episode_number }}<span>/{{ episodeCount }}</span>
                                            </div>
                                            {% if episode.episode_type is defined and episode.episode_type == 'finale' %}
                                                <div class="finale season-finale{% if ue and ue.watch_at %} watched{% endif %}">{{ 'Season finale'|trans }}</div>
                                            {% endif %}
                                        </div>
                                        <div class="infos">
                                            <div class="infos-content">
                                                <div class="episode-name">
                                                    <div class="name">{{ episode.name }}</div>
                                                    {% if ue.substitute_name %}
                                                        <div class="substitute{% if ue and ue.watch_at %} watched{% endif %}">
                                                            {{ ue.substitute_name }}
                                                        </div>
                                                    {% endif %}
                                                    <div class="edit"
                                                         data-title="{{ 'Suggest a title'|trans }}"
                                                         data-id="{{ episode.id }}"
                                                         data-type="name"
                                                    >
                                                        {{ ux_icon('mdi:pencil') }}
                                                    </div>
                                                </div>
                                                {{ include('_blocks/series/_watch_links.html.twig', {watchLinks: series.seriesWatchLinks, seasonNumber: season.season_number, hidden: (ue.watch_at != null)}) }}
                                                {{ include('_blocks/series/_episode_air_date.html.twig', {episode: episode, ue: ue, ues: episode.user_episodes}) }}
                                                {% if episode.runtime or episode.vote_average %}
                                                    <div class="episode-stats">
                                                        {% if episode.runtime %}
                                                            <div class="runtime">{{ episode.runtime }} {{ 'minutes'|trans }}</div>
                                                        {% endif %}
                                                        {% if episode.vote_average %}
                                                            <div class="vote-average">{{ episode.vote_average }} / 10 - {{ episode.vote_count }} {{ (episode.vote_count > 1 ? 'votes':'vote')|trans }}</div>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                                <div class="episode-overview" data-id="{{ episode.id }}">
                                                    {% if episode.overview %}
                                                        <div class="overview">
                                                            {{ episode.overview }}
                                                        </div>
                                                    {% endif %}
                                                    {% if ue.localized_overview|length %}
                                                        <div class="overview additional">
                                                            {{ ue.localized_overview|nl2br }}
                                                        </div>
                                                    {% endif %}
                                                    {% if (episode.overview or ue.localized_overview|length) == 0 %}
                                                        <div class="overview additional">{{ 'No overview'|trans }}</div>
                                                    {% endif %}
                                                    <div class="edit"
                                                         data-title="{{ 'Suggest an overview'|trans }}"
                                                         data-id="{{ episode.id }}"
                                                         data-type="overview"
                                                    >
                                                        {{ ux_icon("mdi:pencil") }}
                                                    </div>
                                                </div>
                                                {% if episode.guest_stars %}
                                                    <div class="guest-stars">
                                                        <div class="wrapper">
                                                            {% for people in episode.guest_stars %}
                                                                <div class="people" data-title="{{ people.name }}{% if people.preferred_name %} - {{ people.preferred_name }}{% endif %} → {{ people.character }}">
                                                                    <a href="{{ path('app_people_show', {id: people.id, slug: people.slug}) }}">
                                                                        <div class="photo">
                                                                            {% if people.profile_path %}
                                                                                <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                                                            {% else %}
                                                                                <div>{{ people.character }}</div>
                                                                                <div>{{ people.name }}</div>
                                                                                <div>{{ 'No picture'|trans }}</div>
                                                                            {% endif %}
                                                                        </div>
                                                                    </a>
                                                                    {% if people.google is defined %}
                                                                        <div class="google" data-title="{{ 'See on Google'|trans }}">
                                                                            <a href="{{ people.google }}" target="_blank">
                                                                                {{ ux_icon('flat-color-icons:google') }}
                                                                            </a>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="scroll-infos-button">{{ ux_icon('mdi:video-film', {style: "--size: 2rem;"}) }}</div>
                                        </div>
                                        <div class="user-episode">
                                            {% if ue and ue.watch_at %}
                                                <div class="remove-this-episode" data-id="{{ episode.id }}"
                                                     data-ue-id="{{ ue.id }}"
                                                     data-series-id="{{ series.id }}"
                                                     data-last-episode="{{ loop.last ?? 0 }}"
                                                     data-show-id="{{ episode.show_id }}"
                                                     data-s-number="{{ episode.season_number }}"
                                                     data-e-number="{{ episode.episode_number }}"
                                                     data-views="{{ episode.user_episodes|length }}"
                                                     data-title="{{ ue.watch_at|format_datetime('relative_short', 'short')|capitalize }}">
                                                    {{ ux_icon('mdi:eye') }}
                                                </div>
                                                <div class="select-provider" data-ue-id="{{ ue.id }}" data-title="{{ ue.provider_id ? ue.provider_name : 'Choose a provider'|trans }}">
                                                    {% if ue.provider_id %}
                                                        <img src="{{ ue.provider_logo_path }}" alt="{{ ue.provider_name }}">
                                                    {% else %}
                                                        {{ ux_icon('mdi:plus') }}
                                                    {% endif %}
                                                </div>
                                                <div class="select-device" data-ue-id="{{ ue.id }}" data-title="{{ 'Choose a device'|trans }}">
                                                    {% if ue.device_id %}
                                                        {{ ux_icon(ue.device_svg) }}
                                                    {% else %}
                                                        {{ ux_icon('mdi:plus') }}
                                                    {% endif %}
                                                </div>
                                                <div class="select-vote" data-ue-id="{{ ue.id }}" data-title="{{ 'Give a rating'|trans }}">
                                                    {#                                        {% if ue.vote %} #}
                                                    {#                                            {{ ue.vote }} #}
                                                    {#                                        {% else %} #}
                                                    {#                                            {{ ux_icon('fa6-solid:plus') }} #}
                                                    {#                                        {% endif %} #}
                                                    {{ ue.vote ?? ux_icon('mdi:plus') }}
                                                </div>
                                            {% else %}
                                                <div class="add-this-episode" data-id="{{ episode.id }}"
                                                     data-ue-id="{{ ue.id }}"
                                                     data-series-id="{{ series.id }}"
                                                     data-last-episode="{{ loop.last ?? 0 }}"
                                                     data-show-id="{{ episode.show_id }}"
                                                     data-s-number="{{ episode.season_number }}"
                                                     data-e-number="{{ episode.episode_number }}"
                                                     data-title="{{ 'Mark this episode as seen'|trans }}">
                                                    {{ ux_icon('mdi:plus') }}
                                                </div>
                                            {% endif %}
                                            <div class="back-to-top" data-title="{{ 'Back to top'|trans }}">
                                                {{ ux_icon('mdi:arrow-up') }}
                                            </div>
                                            <a href="{{ path('app_series_show', {id: series.id, slug: season.series_localized_name.slug ?? series.slug}) }}"
                                               class="back-to-series"
                                               data-title="{{ 'Back to series'|trans }} «&nbsp;{% if season.series_localized_name %}{{ season.series_localized_name.name }}{% else %}{{ series.name }}{% endif %}&nbsp;»">
                                                {#                                            <div class="back-to-series" data-title="{{ 'Back to series'|trans }} «&nbsp;{% if season.series_localized_name %}{{ season.series_localized_name.name }}{% else %}{{ series.name }}{% endif %}&nbsp;»"> #}
                                                {{ ux_icon('mdi:arrow-left') }}
                                                {#                                            </div> #}
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if season.air_date and season.air_date <= today %}
                    {{ include('_blocks/series/_votes.html.twig', {scale: 1, type: 'array', season_number: season.season_number, ues: season.episodes|map(ep => ep.user_episode), vas: season.episodes|map(ep => ep.vote_average)}) }}
                {% else %}
                    <div class="season-air-date">
                        {{ season.air_date_string }}
                    </div>
                {% endif %}

                <div class="what-to-watch-next">
                    <div class="next-button" data-id="{{ series.tmdbId }}" data-language="{{ language }}">
                        {% if episodeCount %}
                        {{ 'What to watch next?'|trans }}
                        {% else %}
                        {{ 'What else to watch?'|trans }}
                        {% endif %}
                    </div>
                </div>

                {% if filmingLocation %}
                    <div class="get-filming-locations">
                        <div class="get-filming-locations-button" data-id="{{ series.tmdbId }}">{{ 'Where was "%name%" filmed?'|trans({'%name%': season.series_localized_name.name??series.name}) }}</div>
                    </div>
                {% endif %}

                {% set someCast = season.credits.cast|length %}
                {% if someCast %}
                    <h3>{{ 'Cast'|trans }}</h3>
                    <div class="cast-and-name">
                        <div class="cast">
                            <div class="wrapper">
                                {% for people in season.credits.cast %}
                                    {{ include('_blocks/series/_cast.html.twig', {people: people, role: people.character}) }}
                                {% endfor %}
                            </div>
                        </div>
                        {{ include('_blocks/series/_cast_buttons.html.twig', {localized_name: season.series_localized_name, name: series.name, seriesId: series.id, seasonNumber: season.season_number}) }}
                    </div>
                {% endif %}

                {% if season.credits.guest_stars|length %}
                    <h3>{{ 'Guest starts'|trans }}</h3>
                    <div class="cast">
                        <div class="wrapper">
                            {% for people in season.credits.guest_stars %}
                                {{ include('_blocks/series/_cast.html.twig', {people: people, role: people.character}) }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if season.credits.crew|length %}
                    <h3>{{ 'Crew'|trans }}</h3>
                    {% if someCast %}
                        <div class="crew">
                            <div class="wrapper">
                                {% for people in season.credits.crew %}
                                    {{ include('_blocks/series/_crew.html.twig') }}
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="crew-and-name">
                            <div class="crew">
                                <div class="wrapper">
                                    {% for people in season.credits.crew %}
                                        {{ include('_blocks/series/_crew.html.twig') }}
                                    {% endfor %}
                                </div>
                            </div>
                            {{ include('_blocks/series/_cast_buttons.html.twig', {localized_name: season.series_localized_name, name: series.name, seriesId: series.id, seasonNumber: season.season_number}) }}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {#     Retirez-vous cet épisode ou le regardez-vous de nouveau ? #}
    <dialog id="review-dialog">
        <div class="content">
            <form method="dialog">
                <button value="remove">{{ 'Remove'|trans }}</button>
                <button value="watch">{{ 'Watched again'|trans }}</button>
                <button value="now">{{ 'Now'|trans }}</button>
                <button value="cancel" autofocus>{{ 'Cancel'|trans }}</button>
            </form>
        </div>
    </dialog>
    <dialog id="select-provider-dialog">
        <div class="content">
            <form method="dialog">
                <button value="cancel" autofocus>{{ 'Cancel'|trans }}</button>
            </form>
        </div>
    </dialog>

    {{ include('_blocks/forms/_edit_episode_infos_form.html.twig') }}

    <div id="globs" style="display: none">
        {
            "seriesId": {{ series.id }},
            "showId": {{ series.tmdbId }},
            "seasonNumber": {{ season.season_number }},
            "seasonProvider": {{ season["watch/providers"]|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "providers": {{ providers|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "devices": {{ devices|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "translations": {{ translations|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
        }
    </div>
    <div id="svgs" style="display: none">
        {% for d in devices %}
            {{ ux_icon(d.svg, {id: 'device-'~d.id, height: '18px', width: '18px'}) }}
        {% endfor %}
        {{ ux_icon('mdi:arrow-left', {id: 'left', height: '18px', width: '18px'}) }}
        {{ ux_icon('mdi:arrow-up', {id: 'up', height: '18px', width: '18px'}) }}
        {{ ux_icon('mdi:checkbox-outline', {id: 'save', height: '18px', width: '18px'}) }}
        {{ ux_icon('mdi:close', {id: 'cancel', height: '18px', width: '18px'}) }}
        {{ ux_icon('mdi:content-copy', {id: 'copy', height: '18px', width: '18px'}) }}
        {{ ux_icon('mdi:eye', {id: 'eye', height: '18px', width: '18px'}) }}
        {{ ux_icon('mdi:location-favorite', {id: 'poi-toggler-svg'}) }}
        {{ ux_icon('mdi:plus', {id: 'plus', height: '18px', width: '18px'}) }}
        {{ ux_icon('mdi:trash', {id: 'trash', height: '18px', width: '18px'}) }}
        <div class="svg" id="svg-xmark">{{ ux_icon('mdi:close') }}</div>
        <div class="svg" id="pen">{{ ux_icon('mdi:pencil') }}</div>
        <div class="svg" id="trash">{{ ux_icon('mdi:trash') }}</div>
        <div id="svg-bookmark">{{ ux_icon('mdi:bookmark') }}</div>
        <div id="svg-bookmark-outline">{{ ux_icon('mdi:bookmark-outline') }}</div>
    </div>
    {% include '_blocks/_footer.html.twig' %}
{% endblock %}
