{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Series'|trans }} → {{ season.localized_name.name ?? series.name }} → {{ 'season'|trans }} {{ season.season_number }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/user.scss') }}">
{% endblock %}
{% block body %}
    <script>
        const bd = '/series/posters{{ season.poster_path }}';
        const body = document.querySelector("body");
        body.style.backgroundSize = "cover";
        body.style.backgroundPosition = "center";
        body.style.backgroundRepeat = "no-repeat";
        body.style.backgroundAttachment = "fixed";
        body.style.backgroundImage = "url(" + bd + ")";
    </script>
    <div class="scroll-watcher"></div>
    {{ include('_blocks/_menu.html.twig', {seriesName: season.localized_name ? season.localized_name.name:series.name, seriesLink: path('app_series_show', {id: series.id, slug: season.localized_name.slug ?? series.slug}) }) }}
    <div class="container-fluid backgroundImageOverlay">
        <div id="series-season" class="series-show">
            <div class="header">
                <div class="poster" id="top">
                    {% if season.poster_path %}
                        <img src="/series/posters{{ season.poster_path }}" alt="{{ series.name }} {{ season.season_number }}"
                             data-id="{{ series.id }}"
                             data-name="{{ season.localized_name ? season.localized_name.name:series.name }}"
                             data-slug="{{ season.localized_name ? season.localized_name.slug:series.slug }}">
                    {% else %}
                        <div>{{ 'No poster'|trans }}</div>
                    {% endif %}
                    {% set episodeCount = season.episodes|length %}
                    {% set episodeWatchedCount = season.episodes|reduce((carry, ep) => carry + (ep.user_episode.watch_at is not null ? 1:0)) %}
                    {% if episodeCount > 1 %}{# Les saisons à venir ont généralement un seul épisode au départ #}
                        <div class="progress" data-value="{{ 100 * episodeWatchedCount / episodeCount }}" data-title="{{ episodeWatchedCount }} / {{ episodeCount }}">
                            <div class="progress-bar"></div>
                        </div>
                    {% endif %}
                </div>
                <div class="infos">
                    <div class="name">
                        <h1>
                            {% if season.localized_name %}
                                <span class="localized-name-span">{{ season.localized_name.name }}</span><br>
                            {% endif %}
                            <span class="name-span">{{ series.name }} ({{ series.firstAirDate|date("Y") }})</span>
                        </h1>
                    </div>
                    <h2>{{ season.name }}{% if season.season_number > 1 %} ({{ season.air_date|date("Y") }}){% endif %}</h2>
                    {% if season.overview %}
                        <div class="series-overview">{{ season.overview }}</div>
                    {% else %}
                        {% if season['series_overview'] %}
                            <h4 class="localized-h4">{{ 'Overview for the series'|trans }}</h4>
                        {% endif %}
                    {% endif %}
                    {% if season.localized_overviews|length %}
                        <div class="localized overviews">
                            <h4 class="localized-h4">{{ 'Localized overviews for the series'|trans }}</h4>
                            {% for overview in season.localized_overviews %}
                                <div class="localized overview" data-id="{{ overview.id }}">
                                    <div class="content" data-overview="{{ overview.overview }}">
                                        {{ overview.overview|nl2br }}
                                    </div>
                                    <div class="tools">
                                        <div class="locale">{{ overview.locale|upper }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {# {% else %}
                        {% if season.deepl %}
                            {% if season.deepl.localized %}
                                <div class="series-overview deepl">{{ season.deepl.localizedOverview|raw }}</div>
                            {% endif %}
                        {% endif %} #}
                    {% endif %}
                    {% if season.additional_overviews|length %}
                        <div class="additional overviews">
                            <h4 class="additional-h4">{{ 'Additional overviews for the series'|trans }}</h4>
                            {% for overview in season.additional_overviews %}
                                <div class="additional overview" data-id="{{ overview.id }}" data-source-id="{{ overview.source.id }}">
                                    <div class="content" data-overview="{{ overview.overview }}">
                                        {{ overview.overview|nl2br }}
                                    </div>
                                    <div class="tools">
                                        <div class="source">
                                            <a href="{{ overview.source.path }}" data-title="{{ overview.source.name }}" target="_blank" rel="noopener noreferrer">
                                                <img src="{{ overview.source.LogoPath }}" alt="{{ overview.source.name }}">
                                            </a>
                                        </div>
                                        <div class="locale">{{ overview.locale|upper }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="backdrop">
                        <img src="/series/backdrops{{ series.backdropPath }}" alt="{{ series.name }}">
                    </div>
                </div>
                <div class="series-back">
                    <a href="{{ path('app_series_show', {id: series.id, slug: season.localized_name.slug ?? series.slug}) }}">
                        {% if series.posterPath %}
                            <div class="poster-back">
                                <img src="/series/posters{{ series.posterPath }}" alt="{{ series.name }} {{ season.season_number }}">
                            </div>
                        {% endif %}
                        <div class="series-back-link">
                            {{ ux_icon('fa6-solid:arrow-left', {height: '18px', width: '18px'}) }}
                            <span>{{ 'Back to series'|trans }}</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="season-stuff">
                {#                <h2>{{ 'Season stuff'|trans }}</h2> #}
                {{ include('_blocks/series/_watch-links.html.twig', {watchLinks: series.seriesWatchLinks, seasonNumber: season.season_number, hidden: false}) }}

                <div class="sizes" data-user-series-id="{{ userSeries.id }}">
                    <div class="size-item{% if episodeDivSize == '15rem' %} active{% endif %}" data-size="15rem">
                        {{ ux_icon('fa:list-ul', {height: '18px', width: '18px'}) }}
                    </div>
                    <div class="size-item{% if episodeDivSize == '20rem' %} active{% endif %}" data-size="20rem">
                        {{ ux_icon('fa:th-list', {height: '18px', width: '18px'}) }}
                    </div>
                    <div class="size-item{% if episodeDivSize == '25rem' %} active{% endif %}" data-size="25rem">
                        {{ ux_icon('el:th-list', {height: '18px', width: '18px'}) }}
                    </div>
                </div>

                <div class="edit-episode-infos" data-title="{{ 'Edit all episodes name and overview'|trans }}">
                    {{ ux_icon('basil:edit-alt-outline', {height: '24px', width: '24px'}) }}
                </div>

                {% set now = 'now'|date("Y-m-d") %}
                {% set episodeCount = season.episodes|length %}
                {% if episodeCount > 10 %}
                    {% if episodeCount is even %}
                        {% set break = episodeCount / 2 %}
                    {% else %}
                        {% set break = (episodeCount + 1) / 2 %}
                        {#                    {% set break = 10 %} #}
                    {% endif %}
                    {% if break > 10 %}
                        {% if episodeCount % 10 == 0 %}
                            {% set break = 10 %}
                        {% endif %}
                        {% if episodeCount % 9 == 0 %}
                            {% set break = 9 %}
                        {% endif %}
                        {% if episodeCount % 8 == 0 %}
                            {% set break = 8 %}
                        {% endif %}
                        {% if episodeCount % 7 == 0 %}
                            {% set break = 7 %}
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% set break = episodeCount %}
                {% endif %}
                <div class="quick-episodes" style="width: {{ 36 * break + 16 }}px;">
                    {% for episode in season.episodes %}
                        {% set ue = episode.user_episode %}
                        {% if ue.air_date %}
                            {% if ue.air_date <= now %}
                                <div class="quick-episode{% if ue and ue.watch_at %} watched{% endif %}" data-number="{{ ue.episode_number }}" data-title="{{ ue.air_date|format_date('relative_long') }} | {{ episode.name }}{% if ue and ue.substitute_name %} - {{ ue.substitute_name }}{% endif %}">
                                    {{ episode.episode_number }}
                                </div>
                            {% else %}
                                <div class="future-episode" data-title="{{ ue.air_date|format_date('relative_long') }} | {{ episode.name }}{% if ue and ue.substitute_name %} - {{ ue.substitute_name }}{% endif %}">
                                    {{ ue.episode_number }}
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="future-episode" data-title="{{ 'No date'|trans }} | {{ episode.name }}{% if ue and ue.substitute_name %} - {{ ue.substitute_name }}{% endif %}">
                                {{ ue.episode_number }}
                            </div>
                        {% endif %}
                        {#                    {% if loop.index0 % break == break-1 %} #}
                        {#                        <div class="quick-episodes-break"></div> #}
                        {#                    {% endif %} #}
                    {% endfor %}
                </div>
            </div>

            {{ include('_blocks/series/_externals.html.twig') }}

            {# <h3>{{ 'Episodes'|trans }}</h3> #}
            <div class="content column">
                <div class="episodes">
                    {% for episode in season.episodes|filter(e => e.user_episode.air_date and e.user_episode.air_date <= now) %}
                        {#                        {% if episode.air_date and episode.air_date <= now %} #}
                        {% set ue = episode.user_episode %}
                        {% set ues = episode.user_episodes %}
                        <div class="episode" id="episode-{{ episode.episode_number }}" data-ue-id="{{ ue.id }}">
                            <div class="still" data-series-id="{{ series.tmdbId }}" data-season-id="{{ season.id }}" data-episode-id="{{ episode.id }}">
                                {% if episode.still_path %}
                                    <img src="{{ episode.still_path }}" alt="{{ episode.name }}">
                                {% elseif episode.stills|length %}{# is defined and ue.still #}
                                    {% set still = episode.stills|last %}
                                    <img src="/series/stills/{{ still.path }}" alt="{{ episode.name }}">
                                {% else %}
                                    <div class="no-poster">{{ 'No poster'|trans }}</div>
                                {% endif %}
                                <div class="custom-stills">
                                    {% for still in episode.stills %}
                                        <div class="custom-still" data-title="{{ episode.name }}">
                                            <img src="/series/stills/{{ still.path }}" alt="{{ episode.name }}">
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="custom-stills-text">{{ 'Click here to add an image'|trans }}</div>
                                <div class="number{% if ue and ue.watch_at %} watched{% endif %}" data-title="{{ 'Watched %time% times'|trans({'%time%': ues|length}) }}">
                                    {{ episode.episode_number }}<span>/{{ episodeCount }}</span>
                                </div>
                                {% if episode.episode_type is defined and episode.episode_type == 'finale' %}
                                    <div class="finale">{{ 'Series finale'|trans }}</div>
                                {% endif %}
                            </div>
                            <div class="infos">
                                <div class="episode-name">
                                    <div class="name">{{ episode.name }}</div>
                                    {% if ue.substitute_name %}
                                        <div class="substitute{% if ue and ue.watch_at %} watched{% endif %}">
                                            {{ ue.substitute_name }}
                                        </div>
                                    {% endif %}
                                    <div class="edit"
                                         data-title="{{ 'Suggest a title'|trans }}"
                                         data-id="{{ episode.id }}"
                                         data-type="name"
                                    >
                                        {{ ux_icon('fa6-solid:pen', {height: '18px', width: '18px'}) }}
                                    </div>
                                </div>
                                {{ include('_blocks/series/_watch-links.html.twig', {watchLinks: series.seriesWatchLinks, seasonNumber: season.season_number, hidden: (ue.watch_at != null)}) }}
                                {{ include('_blocks/series/_episode-air-date.html.twig', {episode: episode, ue: ue, ues: episode.user_episodes}) }}
                                {% if episode.runtime %}
                                    <div class="runtime">{{ episode.runtime }} {{ 'minutes'|trans }}</div>
                                {% endif %}
                                <div class="episode-overview" data-id="{{ episode.id }}">
                                    {% if episode.overview %}
                                        <div class="overview">
                                            {{ episode.overview }}
                                        </div>
                                    {% endif %}
                                    {% if ue.localized_overview|length %}
                                        <div class="overview additional">
                                            {{ ue.localized_overview|nl2br }}
                                        </div>
                                    {% endif %}
                                    {% if (episode.overview or ue.localized_overview|length) == 0 %}
                                        <div class="overview additional">{{ 'No overview'|trans }}</div>
                                    {% endif %}
                                    <div class="edit"
                                         data-title="{{ 'Suggest an overview'|trans }}"
                                         data-id="{{ episode.id }}"
                                         data-type="overview"
                                    >
                                        {{ ux_icon("fa6-solid:pen", {height: '18px', width: '18px'}) }}
                                    </div>
                                </div>
                                {% if episode.guest_stars %}
                                    <div class="guest-stars">
                                        <div class="wrapper">
                                            {% for people in episode.guest_stars %}
                                                <div class="people" data-title="{{ people.name }} - {{ people.character }}">
                                                    <a href="{{ path('app_people_show', {id: people.id, slug: people.slug}) }}">
                                                        <div class="photo">
                                                            {% if people.profile_path %}
                                                                <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                                            {% else %}
                                                                <div>{{ people.character }}</div>
                                                                <div>{{ people.name }}</div>
                                                                <div>{{ 'No picture'|trans }}</div>
                                                            {% endif %}
                                                        </div>
                                                    </a>
                                                    {% if people.google is defined %}
                                                        <div class="google" data-title="{{ 'See on Google'|trans }}">
                                                            <a href="{{ people.google }}" target="_blank">
                                                                {{ ux_icon('flat-color-icons:google', {height: '18px', width: '18px'}) }}
                                                            </a>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="user-episode">
                                {% if ue and ue.watch_at %}
                                    <div class="remove-this-episode" data-id="{{ episode.id }}"
                                         data-ue-id="{{ ue.id }}"
                                         data-series-id="{{ series.id }}"
                                         data-last-episode="{{ loop.last ?? 0 }}"
                                         data-show-id="{{ episode.show_id }}"
                                         data-s-number="{{ episode.season_number }}"
                                         data-e-number="{{ episode.episode_number }}"
                                         data-views="{{ episode.user_episodes|length }}"
                                         data-title="{{ ue.watch_at|format_datetime('relative_short', 'short')|capitalize }}">
                                        {{ ux_icon('fa6-solid:eye', {height: '18px', width: '18px'}) }}
                                    </div>
                                    <div class="select-provider" data-ue-id="{{ ue.id }}" data-title="{{ (ue.provider_id ?'Choose a provider':ue.provider_name)|trans }}">
                                        {% if ue.provider_id %}
                                            <img src="{{ ue.provider_logo_path }}" alt="{{ ue.provider_name }}">
                                        {% else %}
                                            {{ ux_icon('fa6-solid:plus', {height: '18px', width: '18px'}) }}
                                        {% endif %}
                                    </div>
                                    <div class="select-device" data-ue-id="{{ ue.id }}" data-title="{{ 'Choose a device'|trans }}">
                                        {% if ue.device_id %}
                                            {{ ux_icon(ue.device_svg, {height: '18px', width: '18px'}) }}
                                        {% else %}
                                            {{ ux_icon('fa6-solid:plus', {height: '18px', width: '18px'}) }}
                                        {% endif %}
                                    </div>
                                    <div class="select-vote" data-ue-id="{{ ue.id }}" data-title="{{ 'Give a rating'|trans }}">
                                        {#                                        {% if ue.vote %} #}
                                        {#                                            {{ ue.vote }} #}
                                        {#                                        {% else %} #}
                                        {#                                            {{ ux_icon('fa6-solid:plus', {height: '18px', width: '18px'}) }} #}
                                        {#                                        {% endif %} #}
                                        {{ ue.vote ?? ux_icon('fa6-solid:plus', {height: '18px', width: '18px'}) }}
                                    </div>
                                {% else %}
                                    <div class="add-this-episode" data-id="{{ episode.id }}"
                                         data-ue-id="{{ ue.id }}"
                                         data-series-id="{{ series.id }}"
                                         data-last-episode="{{ loop.last ?? 0 }}"
                                         data-show-id="{{ episode.show_id }}"
                                         data-s-number="{{ episode.season_number }}"
                                         data-e-number="{{ episode.episode_number }}"
                                         data-title="{{ 'Mark this episode as seen'|trans }}">
                                        {{ ux_icon('fa6-solid:plus', {height: '18px', width: '18px'}) }}
                                    </div>
                                {% endif %}
                                <div class="back-to-top" data-title="{{ 'Back to top'|trans }}">
                                    {{ ux_icon('fa6-solid:arrow-up-long', {height: '18px', width: '18px'}) }}
                                </div>
                                <a href="{{ path('app_series_show', {id: series.id, slug: season.localized_name.slug ?? series.slug}) }}">
                                    <div class="back-to-series" data-title="{{ 'Back to series'|trans }} «&nbsp;{% if season.localized_name %}{{ season.localized_name.name }}{% else %}{{ series.name }}{% endif %}&nbsp;»">
                                        {{ ux_icon('fa6-solid:arrow-left-long', {height: '18px', width: '18px'}) }}
                                    </div>
                                </a>
                            </div>
                        </div>
                        {#                        {% endif %} #}
                    {% endfor %}
                </div>
                {% if season.credits.cast|length %}
                    <h3>{{ 'Cast'|trans }}</h3>
                    <div class="cast">
                        <div class="wrapper">
                            {% for people in season.credits.cast %}
                                <a href="{{ path('app_people_show', {id: people.id, slug: people.slug}) }}">
                                    <div class="people">
                                        <div class="photo">
                                            {% if people.profile_path %}
                                                <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                            {% else %}
                                                {{ 'No picture'|trans }}
                                            {% endif %}
                                        </div>
                                        <div class="infos">
                                            <div class="name">{{ people.name }}</div>
                                            <div>{{ people.character }}</div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if season.credits.guest_stars|length %}
                    <h3>{{ 'Guest starts'|trans }}</h3>
                    <div class="cast">
                        <div class="wrapper">
                            {% for people in season.credits.guest_stars %}
                                <a href="{{ path('app_people_show', {id: people.id, slug: people.slug}) }}">
                                    <div class="people">
                                        <div class="photo">
                                            {% if people.profile_path %}
                                                <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                            {% else %}
                                                {{ 'No picture'|trans }}
                                            {% endif %}
                                        </div>
                                        <div class="infos">
                                            <div class="name">{{ people.name }}</div>
                                            <div>{{ people.caracter }}</div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if season.credits.crew|length %}
                    <h3>{{ 'Crew'|trans }}</h3>
                    <div class="crew">
                        <div class="wrapper">
                            {% for people in season.credits.crew %}
                                <a href="{{ path('app_people_show', {id: people.id, slug: people.slug}) }}">
                                    <div class="people">
                                        <div class="photo">
                                            {% if people.profile_path %}
                                                <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                            {% else %}
                                                {{ 'No picture'|trans }}
                                            {% endif %}
                                        </div>
                                        <div class="infos">
                                            <div class="name">{{ people.name }}</div>
                                            <div>{{ people.job ~ ' - ' ~ people.department }}</div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% include '_blocks/_footer.html.twig' %}
    </div>
    {#     Retirez-vous cet épisode ou le regardez-vous de nouveau ? #}
    <dialog id="review-dialog">
        <div class="content">
            <form method="dialog">
                <button value="remove">{{ 'Remove'|trans }}</button>
                <button value="watch">{{ 'Watched again'|trans }}</button>
                <button value="now">{{ 'Now'|trans }}</button>
                <button value="cancel" autofocus>{{ 'Cancel'|trans }}</button>
            </form>
        </div>
    </dialog>

    {{ include('_blocks/forms/_edit-episode-infos-form.html.twig') }}

    <div id="globs" style="display: none">
        {
        "seasonProvider": {{ season["watch/providers"]|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "providers": {{ providers|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "devices": {{ devices|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "text": {
        "provider": "{{ 'Choose a provider'|trans }}",
        "device": "{{ 'Choose a device'|trans }}",
        "rating": "{{ 'Give a rating'|trans }}",
        "now": "{{ 'Now'|trans }}",
        "Today": "{{ 'Today'|trans }}",
        "add": "{{ 'Add'|trans }}",
        "Television": "{{ 'Television'|trans }}",
        "Mobile": "{{ 'Mobile'|trans }}",
        "Tablet": "{{ 'Tablet'|trans }}",
        "Laptop": "{{ 'Laptop'|trans }}",
        "Desktop": "{{ 'Desktop'|trans }}",
        "Search": "{{ 'Search'|trans }}",
        "days": "{{ 'days'|trans }}",
        "hours": "{{ 'hours'|trans }}",
        "minutes": "{{ 'minutes'|trans }}",
        "seconds": "{{ 'seconds'|trans }}",
        "day": "{{ 'day'|trans }}",
        "hour": "{{ 'hour'|trans }}",
        "minute": "{{ 'minute'|trans }}",
        "second": "{{ 'second'|trans }}",
        "copied": "{{ 'The link has been copied to your clipboard'|trans }}",
        "additional": "{{ 'No overview'|trans }}",
        "click": "{{ 'Click here to add an image'|trans }}",
        "paste": "{{ 'Paste your image here (green)'|trans }}"
        }
        }
    </div>
    <div class="svgs" style="display: none">
        {% for d in devices %}
            {{ ux_icon(d.svg, {id: 'device-'~d.id, height: '18px', width: '18px'}) }}
        {% endfor %}
        {{ ux_icon('fa6-solid:plus', {id: 'plus', height: '18px', width: '18px'}) }}
        {{ ux_icon('fa6-solid:eye', {id: 'eye', height: '18px', width: '18px'}) }}
        {{ ux_icon('fa6-solid:arrow-up-long', {id: 'up', height: '18px', width: '18px'}) }}
        {{ ux_icon('fa6-solid:arrow-left-long', {id: 'left', height: '18px', width: '18px'}) }}
        <div class="svg" id="svg-xmark">{{ ux_icon('fa6-solid:xmark', {height: '18px', width: '18px'}) }}</div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"></script>
{% endblock %}
