{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Series'|trans }} → {{ season.localized_name.name ?? series.name }} → {{ 'season'|trans }} {{ season.season_number }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
{% endblock %}
{% block body %}
    <script>
        const bd = '/series/posters{{ season.poster_path }}';
        const body = document.querySelector("body");
        body.style.backgroundSize = "cover";
        body.style.backgroundPosition = "center";
        body.style.backgroundRepeat = "no-repeat";
        body.style.backgroundAttachment = "fixed";
        body.style.backgroundImage = "url(" + bd + ")";
    </script>
    <div class="scroll-watcher"></div>
    {{ include('_blocks/_menu.html.twig', {seriesName: season.localized_name ? season.localized_name.name:series.name, seriesLink: path('app_series_show', {id: series.id, slug: season.localized_name.slug ?? series.slug}) }) }}
    <div class="container-fluid backgroundImageOverlay">
        <div id="series-season" class="series-show">
            <div class="header">
                <div class="poster" id="top">
                    <img src="/series/posters{{ season.poster_path }}" alt="{{ series.name }} {{ season.season_number }}">
                </div>
                <div class="infos">
                    {% if season.localized_name %}
                        <h1>{{ season.localized_name.name }} ({{ series.firstDateAir|date("Y") }})</h1>
                    {% else %}
                        <h1>{{ series.name }} ({{ series.firstDateAir|date("Y") }})</h1>
                    {% endif %}
                    <h2>{{ season.name }}{% if season.season_number > 1 %} ({{ season.air_date|date("Y") }}){% endif %}</h2>
                    <div class="overview">{{ season.overview }}</div>
                    {% if season.deepl %}
                        {% if season.deepl.localized %}
                            <div class="overview deepl">{{ season.deepl.localizedOverview|raw }}</div>
                        {% endif %}
                    {% endif %}
                    <div class="backdrop">
                        <img src="/series/backdrops{{ series.backdropPath }}" alt="{{ series.name }}">
                    </div>
                </div>
                <div class="series-back">
                    <a href="{{ path('app_series_show', {id: series.id, slug: season.localized_name.slug ?? series.slug}) }}">
                        {% if series.posterPath %}
                            <div class="poster-back">
                                <img src="/series/posters{{ series.posterPath }}" alt="{{ series.name }} {{ season.season_number }}">
                            </div>
                        {% endif %}
                        <div class="series-back-link">
                            <i class="fas fa-arrow-left"></i>&nbsp;<span>{{ 'Back to series'|trans }}</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="quick-episodes">
                {% for episode in season.episodes %}
                    <div class="quick-episode{% if episode.user_episode and episode.user_episode.watchAt %} watched{% endif %}" data-number="{{ episode.episode_number }}" data-title="{{ episode.name }}">
                        {{ episode.episode_number }}
                    </div>
                {% endfor %}
            </div>

            <div class="content column">
                <div class="seasons-episodes">
                    <h3>{{ 'Episodes'|trans }}</h3>
                    {% for episode in season.episodes %}
                        <div class="episode-card">
                            <div class="season-episode" id="episode-{{ episode.episode_number }}">
                                <div class="still">
                                    {% if episode.still_path %}
                                        <img src="{{ episode.still_path }}" alt="{{ episode.name }}">
                                    {% else %}
                                        <div>{{ 'No poster'|trans }}</div>
                                    {% endif %}
                                    <div class="number{% if episode.user_episode and episode.user_episode.watchAt %} watched{% endif %}"{% if episode.user_episode and episode.user_episode.numberOfView %} data-title="{{ 'Watched %time% times'|trans({'%time%': episode.user_episode.numberOfView}) }}"{% endif %}>
                                        {{ episode.episode_number }}
                                    </div>
                                </div>
                                <div class="infos">
                                    <div class="episode-name">
                                        <div class="name">{{ episode.name }}</div>
                                        <div class="substitute{% if episode.substitute_name %} colored{% endif %}">
                                            {% if episode.substitute_name %}
                                                {{ episode.substitute_name }}
                                            {% endif %}
                                        </div>
                                        <div class="edit" data-title="{{ 'Suggest a title'|trans }}" data-id="{{ episode.id }}">
                                            <i class="fas fa-pen"></i>
                                        </div>
                                    </div>
                                    {% if episode.air_date %}
                                        <div class="air-date">{{ 'Air date'|trans }} {{ date(episode.air_date)|format_date('relative_long') }}</div>
                                    {% endif %}
                                    {% if episode.runtime %}
                                        <div class="runtime">{{ episode.runtime }} {{ 'minutes'|trans }}</div>
                                    {% endif %}
                                    {% if episode.overview %}
                                        <div class="overview">{{ episode.overview }}</div>
                                    {% elseif season.deepl %}
                                        <div class="overview{% if season.deepl.localized == false %} us{% endif %}"{% if season.deepl.localized == false %} data-id="{{ episode.id }}"{% endif %}>
                                            {{ season.deepl.us_episode_overviews[episode.episode_number - 1] }}
                                            {% if season.deepl.localized == false %}
                                                <div class="translate" data-title="{{ 'Paste your translation here'|trans }}">
                                                    <i class="fas fa-language"></i>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if episode.guest_stars %}
                                        <div class="guest-stars">
                                            <div class="wrapper">
                                                {% for people in episode.guest_stars %}
                                                    <a href="{{ path('app_series_people', {id: people.id, slug: people.slug}) }}">
                                                        <div class="people" data-title="{{ people.name }} - {{ people.character }}">
                                                            <div class="photo">
                                                                {% if people.profile_path %}
                                                                    <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                                                {% else %}
                                                                    {{ 'No picture'|trans }}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="user-episode">
                                    {% if episode.user_episode and episode.user_episode.watchAt %}
                                        <div class="remove-this-episode" data-id="{{ episode.id }}"
                                             data-last-episode="{{ loop.last ?? 0 }}"
                                             data-show-id="{{ episode.show_id }}"
                                             data-s-number="{{ episode.season_number }}"
                                             data-e-number="{{ episode.episode_number }}"
                                             data-views="{{ episode.user_episode.numberOfView }}"
                                             data-title="{{ episode.user_episode.watchAt|format_datetime('relative_short', 'short')|capitalize }}">
                                            <i class="fas fa-eye"></i>
                                        </div>
                                        <div class="select-provider" data-id="{{ episode.id }}" data-title="{{ 'Choose a provider'|trans }}">
                                            {% if episode.user_episode.providerId %}
                                                <img src="{{ providers.logos[episode.user_episode.providerId] }}" alt="{{ providers.names[episode.user_episode.providerId] }}" data-title="{{ providers.names[episode.user_episode.providerId] }}">
                                            {% else %}
                                                <i class="fas fa-plus"></i>
                                            {% endif %}
                                        </div>
                                        <div class="select-device" data-id="{{ episode.id }}" data-title="{{ 'Choose a device'|trans }}">
                                            {% if episode.user_episode.deviceId %}
                                                <img src="{{ deviceLogo(episode.user_episode.deviceId) }}" alt="{{ deviceName(episode.user_episode.deviceId)|trans }}" data-title="{{ deviceName(episode.user_episode.deviceId)|trans }}">
                                            {% else %}
                                                <i class="fas fa-plus"></i>
                                            {% endif %}
                                        </div>
                                        <div class="select-vote" data-id="{{ episode.id }}" data-title="{{ 'Give a rating'|trans }}">
                                            {% if episode.user_episode.vote %}
                                                {{ episode.user_episode.vote }}
                                            {% else %}
                                                <i class="fas fa-plus"></i>
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <div class="add-this-episode" data-id="{{ episode.id }}"
                                             data-last-episode="{{ loop.last ?? 0 }}"
                                             data-show-id="{{ episode.show_id }}"
                                             data-s-number="{{ episode.season_number }}"
                                             data-e-number="{{ episode.episode_number }}"
                                             data-title="{{ 'Mark this episode as seen'|trans }}">
                                            <i class="fas fa-plus"></i>
                                        </div>
                                    {% endif %}
                                    <div class="back-to-top" data-title="{{ 'Back to top'|trans }}">
                                        <i class="fas fa-arrow-up"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if season.credits.cast|length %}
                    <h3>{{ 'Cast'|trans }}</h3>
                    <div class="cast">
                        <div class="wrapper">
                            {% for people in season.credits.cast %}
                                <a href="{{ path('app_series_people', {id: people.id, slug: people.slug}) }}">
                                    <div class="people">
                                        <div class="photo">
                                            {% if people.profile_path %}
                                                <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                            {% else %}
                                                {{ 'No picture'|trans }}
                                            {% endif %}
                                        </div>
                                        <div class="infos">
                                            <div class="name">{{ people.name }}</div>
                                            <div>{{ people.character }}</div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if season.credits.guest_stars|length %}
                    <h3>{{ 'Guest starts'|trans }}</h3>
                    <div class="cast">
                        <div class="wrapper">
                            {% for people in season.credits.guest_stars %}
                                <a href="{{ path('app_series_people', {id: people.id, slug: people.slug}) }}">
                                    <div class="people">
                                        <div class="photo">
                                            {% if people.profile_path %}
                                                <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                            {% else %}
                                                {{ 'No picture'|trans }}
                                            {% endif %}
                                        </div>
                                        <div class="infos">
                                            <div class="name">{{ people.name }}</div>
                                            <div>{{ people.caracter }}</div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if season.credits.crew|length %}
                    <h3>{{ 'Crew'|trans }}</h3>
                    <div class="crew">
                        <div class="wrapper">
                            {% for people in season.credits.crew %}
                                <a href="{{ path('app_series_people', {id: people.id, slug: people.slug}) }}">
                                    <div class="people">
                                        <div class="photo">
                                            {% if people.profile_path %}
                                                <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                            {% else %}
                                                {{ 'No picture'|trans }}
                                            {% endif %}
                                        </div>
                                        <div class="infos">
                                            <div class="name">{{ people.name }}</div>
                                            <div>{{ people.job ~ ' - ' ~ people.department }}</div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% include '_blocks/_footer.html.twig' %}
    </div>
    {#     Retirez-vous cet épisode ou le regardez-vous de nouveau ? #}
    <dialog id="review-dialog">
        <div class="content">
            <form method="dialog">
                <button value="remove">{{ 'Remove'|trans }}</button>
                <button value="watch" autofocus>{{ 'Watched again'|trans }}</button>
            </form>
        </div>
    </dialog>
    <div id="globs" style="display: none">
        {
        "seasonProvider": {{ season["watch/providers"]|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "providers": {{ providers|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "devices": {{ devices|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "text": {
        "provider": "{{ 'Choose a provider'|trans }}",
        "device": "{{ 'Choose a device'|trans }}",
        "rating": "{{ 'Give a rating'|trans }}",
        "now": "{{ 'Now'|trans }}",
        "add": "{{ 'Add'|trans }}",
        "Television": "{{ 'Television'|trans }}",
        "Mobile": "{{ 'Mobile'|trans }}",
        "Tablet": "{{ 'Tablet'|trans }}",
        "Laptop": "{{ 'Laptop'|trans }}",
        "Desktop": "{{ 'Desktop'|trans }}",
        "Search": "{{ 'Search'|trans }}",
        "days": "{{ 'days'|trans }}",
        "hours": "{{ 'hours'|trans }}",
        "minutes": "{{ 'minutes'|trans }}",
        "seconds": "{{ 'seconds'|trans }}",
        "day": "{{ 'day'|trans }}",
        "hour": "{{ 'hour'|trans }}",
        "minute": "{{ 'minute'|trans }}",
        "second": "{{ 'second'|trans }}"
        }
        }
    </div>
    {#    <pre> #}
    {#        {{ dump(devices) }} #}
    {#    </pre> #}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"></script>
{% endblock %}
