{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Series'|trans }} → {{ series.name }} → {{ 'season'|trans }} {{ season.season_number }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
{% endblock %}
{% block body %}
    <script>
        const bd = '/series/posters{{ season.poster_path }}';
        const body = document.querySelector("body");
        body.style.backgroundSize = "cover";
        body.style.backgroundPosition = "center";
        body.style.backgroundRepeat = "no-repeat";
        body.style.backgroundAttachment = "fixed";
        body.style.backgroundImage = "url(" + bd + ")";
    </script>
    <div class="container-fluid backgroundImageOverlay">
        {% include '_blocks/_menu.html.twig' %}
        <div class="series-show">
            <div class="header">
                <div class="poster">
                    <img src="/series/posters{{ season.poster_path }}" alt="{{ series.name }} {{ season.season_number }}">
                </div>
                <div class="infos">
                    <h1>{{ season.name }} ({{ season.air_date|date("Y") }})</h1>
                    <div class="overview">{{ season.overview }}</div>
                    {% if season.deepl %}
                        {% if season.deepl.localized %}
                            <div class="overview deepl">{{ season.deepl.localizedOverview|raw }}</div>
                        {% endif %}
                    {% endif %}
                    <div class="backdrop">
                        <img src="/series/backdrops{{ series.backdropPath }}" alt="{{ series.name }}">
                    </div>
                </div>
                <div class="series-back">
                    <a href="{{ path('app_series_show', {id: series.id, slug: series.slug}) }}">
                        {% if series.posterPath %}
                            <div class="poster-back">
                                <img src="/series/posters{{ series.posterPath }}" alt="{{ series.name }} {{ season.season_number }}">
                            </div>
                        {% endif %}
                        <div class="series-back-link">
                            <i class="fas fa-arrow-left"></i>&nbsp;<span>{{ 'Back to series'|trans }}</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="content column">
                <div class="seasons-episodes">
                    <h3>{{ 'Episodes'|trans }}</h3>
                    {% for episode in season.episodes %}
                        <div class="season-episode">
                            <div class="still">
                                {% if episode.still_path %}
                                    <img src="{{ episode.still_path }}" alt="{{ episode.name }}">
                                {% else %}
                                    <div>{{ 'No poster'|trans }}</div>
                                {% endif %}
                                <div class="number">
                                    {{ episode.episode_number }}
                                </div>
                            </div>
                            <div class="infos">
                                <div class="name">{{ episode.name }}</div>
                                {% if episode.air_date %}
                                    <div class="air-date">{{ 'Air date'|trans }} {{ date(episode.air_date)|format_date('relative_short') }}</div>
                                {% endif %}
                                {% if episode.runtime %}
                                    <div class="runtime">{{ episode.runtime }} {{ 'minutes'|trans }}</div>
                                {% endif %}
                                {% if episode.overview %}
                                    <div class="overview">{{ episode.overview }}</div>
                                {% endif %}
                                {% if episode.guest_stars %}
                                    <div class="guest-stars">
                                        <div class="wrapper">
                                            {% for people in episode.guest_stars %}
                                                <a href="{{ path('app_series_people', {id: people.id, slug: people.slug}) }}">
                                                    <div class="people" data-title="{{ people.name }} - {{ people.character }}">
                                                        <div class="profile">
                                                            {% if people.profile_path %}
                                                                <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                                            {% else %}
                                                                {{ 'No picture'|trans }}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if episode.user_episode %}
                                    <div class="user-episode-watch-at">
                                        {{ episode.user_episode.watchAt|format_datetime('relative_short', 'short')|capitalize }}
                                    </div>
                                    <div class="user-episode-actions" data-id="{{ episode.id }}">
                                        <i class="fas fa-eye"></i>
                                    </div>
                                    <div class="user-episode-provider" data-id="{{ episode.id }}" data-title="{{ 'Choose a provider'|trans }}">
                                        {% if episode.user_episode.providerId %}
                                            <img src="{{ providers.logos[episode.user_episode.providerId] }}" alt="{{ providers.names[episode.user_episode.providerId] }}" data-title="{{ providers.names[episode.user_episode.providerId] }}">
                                        {% else %}
                                            <i class="fas fa-plus"></i>
                                        {% endif %}
                                    </div>
                                    <div class="user-episode-device" data-id="{{ episode.id }}" data-title="{{ 'Choose a device'|trans }}">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                {% else %}
                                    <div class="add-this-episode" data-id="{{ episode.id }}" data-show-id="{{ episode.show_id }}" data-s-number="{{ episode.season_number }}" data-e-number="{{ episode.episode_number }}">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                    {# TODO: Dialog (provider, device, vote) #}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if season.credits.cast|length %}
                    <h3>{{ 'Cast'|trans }}</h3>
                    <div class="cast">
                        <div class="wrapper">
                            {% for people in season.credits.cast %}
                                <a href="{{ path('app_series_people', {id: people.id, slug: people.slug}) }}">
                                    <div class="people">
                                        <div class="profile">
                                            {% if people.profile_path %}
                                                <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                            {% else %}
                                                {{ 'No picture'|trans }}
                                            {% endif %}
                                        </div>
                                        <div class="infos">
                                            <div class="name">{{ people.name }}</div>
                                            <div>{{ people.character }}</div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if season.credits.guest_stars|length %}
                    <h3>{{ 'Guest starts'|trans }}</h3>
                    <div class="cast">
                        <div class="wrapper">
                            {% for people in season.credits.guest_stars %}
                                <a href="{{ path('app_series_people', {id: people.id, slug: people.slug}) }}">
                                    <div class="people">
                                        <div class="profile">
                                            {% if people.profile_path %}
                                                <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                            {% else %}
                                                {{ 'No picture'|trans }}
                                            {% endif %}
                                        </div>
                                        <div class="infos">
                                            <div class="name">{{ people.name }}</div>
                                            <div>{{ people.caracter }}</div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if season.credits.crew|length %}
                    <h3>{{ 'Crew'|trans }}</h3>
                    <div class="crew">
                        <div class="wrapper">
                            {% for people in season.credits.crew %}
                                <a href="{{ path('app_series_people', {id: people.id, slug: people.slug}) }}">
                                    <div class="people">
                                        <div class="profile">
                                            {% if people.profile_path %}
                                                <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                            {% else %}
                                                {{ 'No picture'|trans }}
                                            {% endif %}
                                        </div>
                                        <div class="infos">
                                            <div class="name">{{ people.name }}</div>
                                            <div>{{ people.job ~ ' - ' ~ people.department }}</div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% include '_blocks/_footer.html.twig' %}
    </div>
    <pre>
        {{ dump(providers) }}
    </pre>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        const text = {
            'provider': '{{ 'Choose a provider'|trans }}',
            'device': '{{ 'Choose a device'|trans }}',
            'vote': '{{ 'Vote'|trans }}'
        };
        document.addEventListener('DOMContentLoaded', function () {

            const seasonsEpisodes = document.querySelector('.seasons-episodes');
            const infos = seasonsEpisodes.querySelectorAll('.infos');
            infos.forEach(info => {
                info.addEventListener('mouseleave', () => {
                    info.scrollTop = 0;
                });
            });

            const lang = document.documentElement.lang;
            const addThisEpisode = document.querySelectorAll('.add-this-episode');
            addThisEpisode.forEach(episode => {
                episode.addEventListener('click', () => {
                    const id = episode.getAttribute('data-id');
                    fetch('/' + lang + '/series/add/episode/' + id, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest'
                        },
                        body: JSON.stringify({
                            showId: episode.getAttribute('data-show-id'),
                            seasonNumber: episode.getAttribute('data-s-number'),
                            episodeNumber: episode.getAttribute('data-e-number')
                        })
                    }).then(function (response) {
                        if (response.ok) {
                            episode.innerHTML = '<i class="fas fa-eye"></i>';
                            episode.classList.remove('add-this-episode');
                            episode.classList.add('user-episode-actions');

                            const watchAt = document.createElement('div');
                            watchAt.classList.add('user-episode-watch-at');
                            watchAt.innerHTML = '{{ 'Now'|trans }}';
                            episode.parentElement.appendChild(watchAt);
                            const provider = document.createElement('div');
                            provider.classList.add('user-episode-provider');
                            provider.setAttribute('data-id', id);
                            provider.setAttribute('data-title', text.provider);
                            provider.innerHTML = '<i class="fas fa-plus"></i>';
                            episode.parentElement.appendChild(provider);
                            const device = document.createElement('div');
                            device.classList.add('user-episode-device');
                            device.setAttribute('data-id', id);
                            device.setAttribute('data-title', text.device);
                            device.innerHTML = '<i class="fas fa-plus"></i>';
                            episode.parentElement.appendChild(device);
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}
