{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Series to start'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
{% endblock %}

{% block body %}
    {% include('_blocks/_menu.html.twig') %}
    <div class="container-fluid series-to-start">
        {% if seriesToStart|length %}
            <h2>
                {{ 'Series to start'|trans }} ({{ seriesToStart|length }})
                <label for="filter-by-name">
                    <input type="search" id="filter-by-name" placeholder="{{ 'Search'|trans }}">
                </label>
            </h2>
            <div class="series-group user">
                <div class="wrapper">
                    <div class="content center">
                        {% for series in seriesToStart %}
                            {{ include('_blocks/series/_card2Start.html.twig') }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% include('_blocks/_footer.html.twig') %}
        <div id="global-data" class="hidden">
            {
            "tmdbIds": {{ tmdbIds|json_encode|raw }},
            "app_series_tmdb_check": "{{ path('app_series_tmdb_check') }}"
            }
        </div>
        <div id="svgs" style="display: none">
            <div id="svg-xmark">{{ ux_icon('fa6-solid:xmark', {height: '16px', width: '16px'}) }}</div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        window.addEventListener("DOMContentLoaded", init);

        function init() {
            const filterByName = document.getElementById('filter-by-name');
            filterByName.addEventListener('input', filterSeries);
        }

        function filterSeries() {
            const filter = this.value.toLowerCase();
            const series = document.querySelectorAll('.series-group.user .content .card');
            series.forEach((s) => {
                const title = s.querySelector('.name').textContent.toLowerCase();
                if (title.includes(filter)) {
                    s.style.display = "block";
                    setTimeout(() => {
                        s.style.opacity = "1";
                        s.style.width = "15rem";
                    }, 0);
                } else {
                    s.style.opacity = "0.125";
                    s.style.width = "0";
                    setTimeout(() => {
                        s.style.display = "none";
                    }, 300);
                }
            });
        }
    </script>
{% endblock %}
