{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Series by country'|trans }} - {{ country|country_name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/card.scss') }}">
{% endblock %}

{% block body %}
    {% include('_blocks/_menu.html.twig') %}
    <div class="container-fluid series-by-country">
        <h1>{{ 'Series by country'|trans }} - {{ country|country_name }}</h1>
        {% if userSeriesCount < 20 %}
            {{ include('_blocks/series/_search.html.twig') }}
        {% endif %}
{#        {% if seriesByCountry|length %}#}
            <header>
                {% set seriesCount = seriesByCountry|length %}
                <h2>{{ seriesCount }} {{ (seriesCount > 1 ? 'seriess':'series')|trans }}</h2>
                {#<div class="legends">
                    <div class="legend to-start" data-title="{{ 'To start'|trans }}">{{ ux_icon('mdi:battery-outline') }}</div>
                    <div class="legend in-progress" data-title="{{ 'In progress'|trans }}">{{ ux_icon('mdi:battery-50') }}</div>
                    <div class="legend up-to-date" data-title="{{ 'Up to date'|trans }}">{{ ux_icon('mdi:battery') }}</div>
                </div>#}
                <label for="filter-by-country">
                    <select id="filter-by-country">
                        <option value="">{{ 'All'|trans }}</option>
                        {% for c in userSeriesCountries %}
                            <option value="{{ c }}"{{ c == country ? ' selected' : '' }}>{{ c|country_name }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label for="filter-by-name">
                    <input type="search" id="filter-by-name" placeholder="{{ 'Search'|trans }}">
                </label>
            </header>
            <div class="series-group user">
                <div class="wrapper">
                    <div class="content center">
                        {% for series in seriesByCountry %}
                            {{ include('_blocks/series/_card_by_country.html.twig') }}
                        {% endfor %}
                    </div>
                </div>
            </div>
{#        {% endif %}#}
        <div id="global-data" class="hidden">
            {
            "tmdbIds": {{ tmdbIds|json_encode|raw }},
            "app_series_tmdb_check": "{{ path('app_series_tmdb_check') }}"
            }
        </div>
        <div id="svgs" style="display: none">
            <div id="svg-xmark">{{ ux_icon('mdi:close') }}</div>
            <div id="svg-bookmark">{{ ux_icon('mdi:bookmark') }}</div>
            <div id="svg-bookmark-outline">{{ ux_icon('mdi:bookmark-outline') }}</div>
        </div>
    </div>
    {{ include('_blocks/series/_tools_submenu_list.html.twig', {userLists: app.user.userLists}) }}
    {% include('_blocks/_footer.html.twig') %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        window.addEventListener("DOMContentLoaded", init);

        function init() {
            const lang = document.documentElement.lang;
            const filterByCountry = document.getElementById('filter-by-country');
            filterByCountry.addEventListener('change', (e) => {
                const country = e.target.value;
                window.location.href = '/' + lang + '/series/by/country/' + country;
            });
            /** @type {HTMLInputElement} */
            const filterByName = document.getElementById('filter-by-name');
            filterByName.addEventListener('input', filterSeries);
            filterByName.focus();
            setTimeout(() => {
                filterSeries({target: filterByName});
            }, 1000);
        }

        function filterSeries(e) {
            const filter = e.target.value.toLowerCase();
            const series = document.querySelectorAll('.series-group.user .content .card');
            series.forEach((s) => {
                const title = s.querySelector('.name').textContent.toLowerCase();
                if (title.includes(filter)) {
                    s.style.display = "block";
                    setTimeout(() => {
                        s.style.opacity = "1";
                        s.style.width = "15rem";
                    }, 0);
                } else {
                    s.style.opacity = "0.125";
                    s.style.width = "0";
                    setTimeout(() => {
                        s.style.display = "none";
                    }, 300);
                }
            });
        }
    </script>
{% endblock %}
