{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Series'|trans }} → {{ series.name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/contact.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/user.scss') }}">
{% endblock %}
{% block body %}
    <script>
        const bd = '/series/posters_blurred{{ series.blurredPosterPath }}';
        const body = document.querySelector("body");
        body.style.backgroundSize = "cover";
        body.style.backgroundPosition = "center";
        body.style.backgroundRepeat = "no-repeat";
        body.style.backgroundAttachment = "fixed";
        body.style.backgroundImage = "url(" + bd + ")";
    </script>
    {% include '_blocks/_menu.html.twig' %}
    <div class="container-fluid backgroundImageOverlay">
        <div class="series-show user-series-show">
            <div class="header">
                {% if series.backdropPath %}
                    <div class="backdrop">
                        <img src="/series/backdrops{{ series.backdropPath }}" alt="{{ series.name }}">
                    </div>
                {% endif %}
                <div class="poster">
                    {% if series.posterPath %}
                        <img src="/series/posters{{ series.posterPath }}" alt="{{ series.name }}">
                    {% else %}
                        <div>{{ 'No poster'|trans }}</div>
                    {% endif %}
                    {% if series.firstAirDate %}
                        <div class="progress" data-value="{{ userSeries.progress }}">
                            <div class="progress-bar"></div>
                        </div>
                    {% endif %}
                    {% if app.environment == 'dev' %}
                        <div class="debug">{{ series.id }} / {{ series.tmdbId }}</div>
                    {% endif %}
                </div>
                <div class="infos">
                    <div class="infos-content">
                        <div class="name">
                            <h1>
                                {% if tv.localized_name %}
                                    <span class="localization-span">{{ tv.localized_name.name }}</span>
                                {% endif %}
                                <span class="name-span">{{ series.name }}</span>
                                {% if series.firstAirDate %}
                                    <span title="{{ series.firstAirDate|date("d/m/Y") }}">({{ series.firstAirDate|date("Y") }})</span>
                                {% endif %}
                            </h1>
                        </div>
                        <h5>
                            {% set n = series.visitNumber %}
                            {% if n > 1000 %}
                                {% set n = (n / 1000)|round(1, 'floor') ~ 'k' %}
                            {% endif %}
                            {{ n }} {{ (n > 1 ? 'visits':'visit')|trans }}
                        </h5>
                        <div class="series-overview">{{ series.overview }}</div>
                        {% if series.updates %}
                            <h4>{{ 'Updates'|trans }}</h4>
                            <div class="updates">
                                <div class="wrapper">
                                    {% for update in series.updates %}
                                        <div class="update">{{ update }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if series.firstAirDate is null %}
                            <div class="no-air-date">{{ 'No date yet'|trans }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if userSeries %}
                <div class="user-actions">
                    <h2>{{ 'User actions'|trans }}</h2>
                    <div class="wrapper">
                        <div class="watch-links">
                            <div class="label">{{ 'Watch on'|trans }}</div>
                            {% for link in series.watchLinks %}
                                <div class="watch-link" data-id="{{ link.id }}">
                                    <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                                        {% if link.providerId > 0 %}
                                            <img src="{{ providers.logos[link.providerId] }}" alt="{{ providers.names[link.providerId] }}" data-title="{{ link.name ?? providers.names[link.providerId] }}">
                                        {% else %}
                                            <span>{{ link.name }}</span>
                                        {% endif %}
                                    </a>
                                    <div class="watch-link-tools"
                                         data-id="{{ link.id }}"
                                         data-provider="{{ link.providerId }}"
                                         data-name="{{ link.name }}"
                                         data-season-number="{{ link.seasonNumber }}"
                                    >
                                        <div class="watch-link-tool edit" data-title="{{ 'Edit this watch link'|trans }}">
                                            {{ ux_icon('mdi:pencil') }}
                                        </div>
                                        <div class="watch-link-tool copy" data-title="{{ 'Copy this watch link'|trans }}">
                                            {{ ux_icon('mdi:content-paste') }}
                                        </div>
                                        <div class="watch-link-name">{{ link.name }}</div>
                                        <div class="watch-link-tool delete" data-title="{{ 'Delete this watch link'|trans }}">
                                            {{ ux_icon('mdi:trash') }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="rating">
                            <div class="rating-stars">
                                <div class="stars" data-trans-rating="Cancel rating|{{ 'Cancel rating'|trans }}" data-trans-star="star|{{ 'star'|trans }}" data-trans-stars="stars|{{ 'stars'|trans }}">
                                    <div class="star {{ userSeries.rating >= 1 ? "active" }}" data-value="1" data-title="{{ (userSeries.rating >= 1 ? "Cancel rating":"x star")|trans({'x': 1}) }}">
                                        {{ ux_icon('mdi:star') }}
                                    </div>
                                    <div class="star {{ userSeries.rating >= 2 ? "active" }}" data-value="2" data-title="{{ (userSeries.rating >= 2 ? "Cancel rating":"x stars")|trans({'x': 2}) }}">
                                        {{ ux_icon('mdi:star') }}
                                    </div>
                                    <div class="star {{ userSeries.rating >= 3 ? "active" }}" data-value="3" data-title="{{ (userSeries.rating >= 3 ? "Cancel rating":"x stars")|trans({'x': 3}) }}">
                                        {{ ux_icon('mdi:star') }}
                                    </div>
                                    <div class="star {{ userSeries.rating >= 4 ? "active" }}" data-value="4" data-title="{{ (userSeries.rating >= 4 ? "Cancel rating":"x stars")|trans({'x': 4}) }}">
                                        {{ ux_icon('mdi:star') }}
                                    </div>
                                    <div class="star {{ userSeries.rating >= 5 ? "active" }}" data-value="5" data-title="{{ (userSeries.rating >= 5 ? "Cancel rating":"x stars")|trans({'x': 5}) }}">
                                        {{ ux_icon('mdi:star') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if userSeries.marathoner or userSeries.binge %}
                            <div class="badges">
                                {% if userSeries.binge %}
                                    <div class="badge" data-title="{{ 'A real binger!'|trans }}">
                                        {{ ux_icon('mdi:coffee') }}
                                    </div>
                                {% endif %}
                                {% if userSeries.marathoner %}
                                    <div class="badge" data-title="{{ 'A real marathoner!'|trans }}">
                                        {{ ux_icon('mdi:lightning-bolt') }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="actions">
                            <div class="action toggle-pinned-series{% if userSeries.userPinnedSeries %} pinned{% endif %}" data-title="{{ (userSeries.userPinnedSeries ? "Remove from pinned series" : "Add to pinned series")|trans }}">
                                {{ ux_icon('mdi:paperclip') }}
                            </div>
                            <div class="action toggle-favorite-series{% if userSeries.favorite %} favorite{% endif %}" data-title="{{ (userSeries.favorite ? "Remove from favorites" : "Add to favorites")|trans }}">
                                {{ ux_icon('mdi:heart') }}
                            </div>
                            <div class="action remove-this-series"
                                 data-tmdb-id="{{ series.tmdbId }}"
                                 data-slug="{{ tv.localized_name.slug ?? series.slug }}"
                                 data-title="{{ 'Remove this series from your watchlist'|trans }}">
                                {{ ux_icon('mdi:trash') }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="content">
                <div class="left">
                    <div class="all-seasons">
                        <div>{{ 'Seasons'|trans }}</div>
                        {% if tv.seasons|length > 1 %}
                            <div class="season-order-badge">
                                {{ ux_icon('mdi:arrow-down') }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="seasons">
                        {% for season in tv.seasons %}
                            <a href="{{ path('app_series_season', {id: series.id, seasonNumber: season.season_number, slug: tv.localized_name.slug ?? series.slug}) }}">
                                <div class="season">
                                    <div class="poster">
                                        {% if season.poster_path %}
                                            <img src="{{ season.poster_path }}" alt="{{ season.name }}">
                                        {% else %}
                                            <div>{{ 'No poster'|trans }}</div>
                                        {% endif %}
                                        <div class="number">
                                            {{ season.season_number }}
                                        </div>
                                    </div>
                                    <div class="infos">
                                        <div class="season__name">{{ season.name }}</div>
                                        {% if season.overview %}
                                            <div class="season__overview">{{ season.overview }}</div>
                                        {% endif %}
                                        <div class="season__air-date">{{ 'Air date'|trans }}
                                            {% if season.air_date %}
                                                {{ date(season.air_date)|format_date('relative_long') }}
                                                {% if userSeries.lastSeason is not null and userSeries.lastSeason == season.season_number %}
                                                    — {{ 'Last seen'|trans }} {{ date(userSeries.lastWatchAt)|format_date('relative_long') }}
                                                {% endif %}
                                            {% else %}
                                                {{ 'TBA'|trans }}
                                            {% endif %}
                                        </div>
                                        <div class="season__episodes">
                                            {{ season.episode_count }} {{ (season.episode_count>1?'episodes':'episode')|trans }}
                                            <div class="watched"></div>
                                            {% set viewedEpisodes = userSeries.userEpisodes|filter(ue => ue.seasonNumber == season.season_number and ue.watchAt)|length %}
                                            {% if viewedEpisodes == 0 %}
                                                {{ 'No episode seen'|trans }}
                                            {% elseif viewedEpisodes == 1 %}
                                                {{ '1 episode seen'|trans }}
                                            {% elseif viewedEpisodes == season.episode_count %}
                                                {{ 'All episodes seen'|trans }}
                                            {% else %}
                                                {{ viewedEpisodes }} {{ 'episodes seen'|trans }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    {% if tv.credits.cast|length %}
                        <h3>{{ 'Cast'|trans }}</h3>
                        <div class="cast">
                            <div class="wrapper">
                                {% for people in tv.credits.cast %}
                                    <a href="{{ path('app_people_show', {id: people.id, slug: people.slug}) }}">
                                        <div class="people" data-title="{{ people.name }}">
                                            <div class="photo">
                                                {% if people.profile_path %}
                                                    <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                                {% else %}
                                                    {{ 'No picture'|trans }}
                                                {% endif %}
                                            </div>
                                            <div class="infos">
                                                <div class="name">{{ people.name }}</div>
                                                <div>{{ people.character }}</div>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if tv.credits.crew|length %}
                        <h3>{{ 'Crew'|trans }}</h3>
                        <div class="crew">
                            <div class="wrapper">
                                {% for people in tv.credits.crew %}
                                    <a href="{{ path('app_people_show', {id: people.id, slug: people.slug}) }}">
                                        <div class="people" data-title="{{ people.name }}">
                                            <div class="photo">
                                                {% if people.profile_path %}
                                                    <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                                {% else %}
                                                    {{ 'No picture'|trans }}
                                                {% endif %}
                                            </div>
                                            <div class="infos">
                                                <div class="name">{{ people.name }}</div>
                                                <div>{{ people.job ~ ' - ' ~ people.department }}</div>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="globs" style="display: none">
        {
            "seriesName": "{{ series.name }}",
            "seriesId": {{ series.id }},
            "userSeriesId": {{ userSeries.id }}
        }
    </div>
    <div id="svgs" style="display: none">
        <div class="svg" id="arrow-down">{{ ux_icon('mdi:arrow-down') }}</div>
        <div class="svg" id="arrow-up">{{ ux_icon('mdi:arrow-up') }}</div>
        <div class="svg" id="arrow-left">{{ ux_icon('mdi:arrow-left') }}</div>
        <div class="svg" id="arrow-right">{{ ux_icon('mdi:arrow-right') }}</div>
        <div class="svg" id="xmark">{{ ux_icon('mdi:close') }}</div>
        <div class="svg" id="pen">{{ ux_icon('mdi:pencil') }}</div>
        <div class="svg" id="trash">{{ ux_icon('mdi:trash') }}</div>
    </div>
    {% include '_blocks/_footer.html.twig' %}
{% endblock %}

