{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Series'|trans }} → {{ series.name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
{% endblock %}
{% block body %}
    <script>
        const bd = '/series/posters{{ series.posterPath }}';
        const body = document.querySelector("body");
        body.style.backgroundSize = "cover";
        body.style.backgroundPosition = "center";
        body.style.backgroundRepeat = "no-repeat";
        body.style.backgroundAttachment = "fixed";
        body.style.backgroundImage = "url(" + bd + ")";
    </script>
    <div class="container-fluid backgroundImageOverlay">
        {% include '_blocks/_menu.html.twig' %}
        <div class="series-show">
            <div class="header">
                <div class="poster">
                    <img src="/series/posters{{ series.posterPath }}" alt="{{ series.name }}">
                </div>
                <div class="infos">
                    <h1>{{ tv.name }} ({{ tv.first_air_date|date("Y") }})</h1>
                    <h5>
                        {% set n = series.visitNumber %}
                        {% if n > 1000 %}
                            {% set n = (n / 1000)|round(1, 'floor') ~ 'k' %}
                        {% endif %}
                        {{ n }} {{ (n > 1 ? 'visits':'visit')|trans }}
                    </h5>
                    <div class="overview">{{ tv.overview }}</div>
                    <div class="backdrop">
                        <img src="/series/backdrops{{ tv.backdrop_path }}" alt="{{ series.name }}">
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="left">
                    <div class="seasons">
                        <h3>{{ 'Seasons'|trans }}</h3>
                        {% for season in tv.seasons %}
                            <div class="season">
                                <div class="poster">
                                    {% if season.poster_path %}
                                        <img src="{{ season.poster_path }}" alt="{{ season.name }}">
                                    {% else %}
                                        <div>{{ 'No poster'|trans }}</div>
                                    {% endif %}
                                </div>
                                <div class="infos">
                                    <div class="name">{{ season.name }}</div>
                                    {% if season.overview %}
                                        <div class="overview">{{ season.overview }}</div>
                                    {% endif %}
                                    {% if season.air_date %}
                                        <div class="air-date">{{ 'Air date'|trans }} {{ date(season.air_date)|format_date('relative_short') }}</div>
                                    {% endif %}
                                    <div class="episodes">{{ season.episode_count }} {{ (season.episode_count>1?'episodes':'episode')|trans }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if tv.credits.cast|length %}
                        <h3>{{ 'Cast'|trans }}</h3>
                        <div class="cast">
                            <div class="wrapper">
                                {% for people in tv.credits.cast %}
                                    <a href="{{ path('app_series_people', {id: people.id, slug: people.slug}) }}">
                                        <div class="people">
                                            <div class="profile">
                                                {% if people.profile_path %}
                                                    <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                                {% else %}
                                                    {{ 'No picture'|trans }}
                                                {% endif %}
                                            </div>
                                            <div class="infos">
                                                <div class="name">{{ people.name }}</div>
                                                <div>{{ people.character }}</div>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if tv.credits.crew|length %}
                        <h3>{{ 'Crew'|trans }}</h3>
                        <div class="crew">
                            <div class="wrapper">
                                {% for people in tv.credits.crew %}
                                    <a href="{{ path('app_series_people', {id: people.id, slug: people.slug}) }}">
                                        <div class="people">
                                            <div class="profile">
                                                {% if people.profile_path %}
                                                    <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                                {% else %}
                                                    {{ 'No picture'|trans }}
                                                {% endif %}
                                            </div>
                                            <div class="infos">
                                                <div class="name">{{ people.name }}</div>
                                                <div>{{ people.job ~ ' - ' ~ people.department }}</div>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="right">
                    {% if tv['watch/providers'].flatrate|length %}
                        <h3>{{ 'Where to watch'|trans }}</h3>
                        <div class="providers">
                            <div class="wrapper">
                                {% for provider in tv['watch/providers'].flatrate %}
                                    <div class="provider">
                                        <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                        <div>{{ provider.provider_name }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if tv['watch/providers'].rent|length %}
                        <h3>{{ 'Where to rent'|trans }}</h3>
                        <div class="providers">
                            <div class="wrapper">
                                {% for provider in tv['watch/providers'].rent %}
                                    <div class="provider">
                                        <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                        <div>{{ provider.provider_name }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if tv['watch/providers'].buy|length %}
                        <h3>{{ 'Where to buy'|trans }}</h3>
                        <div class="providers">
                            <div class="wrapper">
                                {% for provider in tv['watch/providers'].buy %}
                                    <div class="provider">
                                        <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                        <div>{{ provider.provider_name }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <h3>{{ 'Key facts'|trans }}</h3>
                    <div class="facts">
                        <div class="fact">
                            <div class="fact-label">{{ 'Original name'|trans }}</div>
                            <div class="fact-content">{{ tv.original_name }}</div>
                        </div>
                        <div class="fact">
                            <div class="fact-label">{{ 'Original language'|trans }}</div>
                            <div class="fact-content">{{ tv.original_language|language_name }}</div>
                        </div>
                        <div class="fact">
                            <div class="fact-label">{{ 'Original Country'|trans }}</div>
                            {% for country in tv.origin_country %}
                                <div class="fact-content">{{ country|country_name }}</div>
                            {% endfor %}
                        </div>
                        <div class="fact">
                            <div class="fact-label">{{ 'Status'|trans }}</div>
                            <div class="fact-content">{{ tv.status|trans }}</div>
                        </div>
                        {% if tv.networks|length %}
                            <div class="fact">
                                <div class="fact-label">{{ (tv.networks|length>1?'Networks':'Network')|trans }}</div>
                                <div class="networks">
                                    {% for network in tv.networks %}
                                        <div class="network-detail">
                                            <div class="frame">
                                                {% if network.logo_path %}
                                                    <img src="{{ network.logo_path }}" alt="{{ network.name }}" loading="lazy">
                                                {% else %}
                                                    {{ network.name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% include '_blocks/_footer.html.twig' %}
    </div>
{% endblock %}
