{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Series'|trans }} → {{ tv.localized_name.name ?? series.name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/contact.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/map.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/translations.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/user.scss') }}">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.14.0/mapbox-gl.css">
{% endblock %}
{% block body %}
    {% if series.blurredPosterPath %}
        <script>
            const bd = '/series/posters-blurred{{ series.blurredPosterPath }}';
            const body = document.querySelector("body");
            body.style.backgroundSize = "cover";
            body.style.backgroundPosition = "center";
            body.style.backgroundRepeat = "no-repeat";
            body.style.backgroundAttachment = "fixed";
            body.style.backgroundImage = "url(" + bd + ")";
        </script>
    {% endif %}
    {% include '_blocks/_menu.html.twig' %}
    <div class="container-fluid {# backgroundImageOverlay #}">
        <div class="series-show user-series-show">
            <div class="header">
                <div class="poster">
                    {% if series.posterPath %}
                        <img src="/series/posters{{ series.posterPath }}" alt="{{ series.name }}">
                    {% else %}
                        <div>{{ 'No poster'|trans }}</div>
                    {% endif %}
                    {% if series.firstAirDate %}
                        <div class="progress" data-value="{{ userSeries.progress }}">
                            <div class="progress-bar"></div>
                        </div>
                    {% endif %}
                    <div class="go-to-map"><a href="#series-map-title">{{ 'Filming locations map'|trans }}</a></div>
                    {% if app.environment == 'dev' %}
                        <div class="debug">{{ series.id }} / {{ userSeries.id }} / {{ tv.id }}</div>
                    {% endif %}
                </div>
                <div class="infos">
                    {% if tv.backdrop_path %}
                        <div class="backdrop">
                            <img src="/series/backdrops{{ tv.backdrop_path }}" alt="{{ series.name }}">
                        </div>
                    {% endif %}
                    <div class="infos-content">
                        <div class="name">
                            <h1>
                                {% if tv.localized_name %}
                                    <span class="localization-span">{{ tv.localized_name.name }}</span><br>
                                {% elseif tv.original_language != app.locale and tv.name == tv.original_name and tv.translations %}
                                    <span class="localization-span">{{ tv.translations.data.name }}</span><br>
                                {% endif %}
                                <span class="name-span">{{ series.name }}</span>
                                {% if series.firstAirDate %}
                                    <span title="{{ series.firstAirDate|date("d/m/Y") }}">({{ series.firstAirDate|date("Y") }})</span>
                                {% elseif series.schedules|length %}
                                    {% set sc = series.schedules|first %}
                                    <span class="from-schedule" title="{{ sc.firstAirDate|date("d/m/Y") }}">({{ sc.firstAirDate|date("Y") }})</span>
                                {% endif %}
                            </h1>
                            {{ include('_blocks/translations/_tools.html.twig') }}
                        </div>
                        {{ include('_blocks/forms/_delete-overview.html.twig') }}
                        {{ include('_blocks/forms/_localized-name.html.twig', {media: tv}) }}
                        {{ include('_blocks/forms/_overview.html.twig', {media: tv}) }}
                        <h5>
                            {% set n = series.visitNumber %}
                            {% if n > 1000 %}
                                {% set n = (n / 1000)|round(1, 'floor') ~ 'k' %}
                            {% endif %}
                            {{ n }} {{ (n > 1 ? 'visits':'visit')|trans }}
                        </h5>
                        <div class="series-overview">{{ tv.overview }}</div>
                        <div class="localized overviews">
                            <h4 class="localized-h4">{{ 'Localized overviews'|trans }}</h4>
                            {% if tv.localized_overviews|length %}
                                {% for overview in tv.localized_overviews %}
                                    <div class="localized overview" data-id="{{ overview.id }}">
                                        <div class="content" data-overview="{{ overview.overview }}">
                                            {{ overview.overview|nl2br }}
                                        </div>
                                        <div class="tools">
                                            <div class="locale">{{ overview.locale|upper }}</div>
                                            <button class="edit" data-id="{{ overview.id }}" data-title="{{ 'Edit'|trans }}" popovertarget="overview-form-container">
                                                {{ ux_icon('mdi:pencil') }}
                                            </button>
                                            <button class="delete" data-id="{{ overview.id }}" data-title="{{ 'Delete'|trans }}" popovertarget="delete-overview-form-container">
                                                {{ ux_icon('mdi:trash') }}
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="additional overviews">
                            <h4 class="additional-h4">{{ 'Additional overviews'|trans }}</h4>
                            {% if tv.additional_overviews|length %}
                                {% for overview in tv.additional_overviews %}
                                    <div class="additional overview" data-id="{{ overview.id }}" data-source-id="{{ overview.source.id }}">
                                        <div class="content" data-overview="{{ overview.overview }}">
                                            {{ overview.overview|nl2br }}
                                        </div>
                                        <div class="tools">
                                            <div class="source">
                                                <a href="{{ overview.source.path }}" data-title="{{ overview.source.name }}" target="_blank" rel="noopener noreferrer">
                                                    <img src="{{ overview.source.LogoPath }}" alt="{{ overview.source.name }}">
                                                </a>
                                            </div>
                                            <div class="locale">{{ overview.locale|upper }}</div>
                                            <button class="edit" data-id="{{ overview.id }}" data-title="{{ 'Edit'|trans }}" popovertarget="overview-form-container">
                                                {{ ux_icon('mdi:pencil') }}
                                            </button>
                                            <button class="delete" data-id="{{ overview.id }}" data-title="{{ 'Delete'|trans }}" popovertarget="delete-overview-form-container">
                                                {{ ux_icon('mdi:trash') }}
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% if series.updates %}
                            <h4>{{ 'Updates'|trans }}</h4>
                            <div class="updates">
                                <div class="wrapper">
                                    {% for update in series.updates %}
                                        <div class="update">{{ update }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if series.firstAirDate is null %}
                            <div class="no-air-date">{{ 'No date yet'|trans }}</div>
                        {% endif %}
                    </div>
                </div>
                {% if oldSeriesAdded %}
                    <div class="side-panel old-series-added-panel open">
                        <div class="frame">
                            <div class="dialog-content">
                                <div class="dialog-header">
                                    <h2>{{ 'Addition of older series'|trans }}</h2>
                                </div>
                                <div class="dialog-body">
                                    <div class="message">{{ 'The series has been added to your watchlist'|trans }}.</div>
                                    <div class="message">{{ 'This series is more than 2 years old'|trans }}.</div>
                                    <div class="message">{{ 'Have you already watched it and want to mark all episodes as viewed?'|trans }}</div>
                                </div>
                                <div class="dialog-footer">
                                    <button name="no-thanks" data-title="{{ 'Episodes are considered viewed on the day of broadcast'|trans }}.">{{ 'No, thanks'|trans }}</button>
                                    <button name="yes" data-title="{{ 'Start watching the series now!'|trans }}.">{{ 'Yes'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="header">
                <div class="posters">
                    <div class="wrapper">
                        {% for poster in series.images.posters %}
                            <div class="other-poster">
                                <img src="{{ poster }}" alt="{{ 'Poster #' ~ loop.index ~ ' ' ~ series.name }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="backdrops">
                    <div class="wrapper">
                        {% for backdrop in series.images.backdrops %}
                            <div class="other-backdrop">
                                <img src="{{ backdrop }}" alt="{{ 'Backdrop #' ~ loop.index ~ ' ' ~ series.name }}">
                            </div>
                        {% else %}
                            {{ 'No backdrop'|trans }}
                        {% endfor %}
                    </div>
                    <div class="add-backdrop" data-title="{{ 'Add a backdrop'|trans }}">
                        {{ ux_icon('mdi:plus-circle-outline', {height: '36px', width:'36px'}) }}
                    </div>
                    <div class="add-all-backdrops"
                         data-series-id="{{ series.tmdbId }}"
                         data-series-name="{{ tv.localized_name.name ?? series.name }}"
                         data-title="{{ 'Add all available backdrops from TMDB'|trans }}">
                        {{ ux_icon('mdi:arrow-down-circle-outline', {height: '36px', width:'36px'}) }}
                    </div>
                    <dialog id="add-all-backdrops-dialog" class="add-all-backdrops-dialog">
                        <div class="dialog-content">
                            <div class="dialog-header">
                                <h2>{{ 'Add all available images'|trans }}</h2>
                                <button name="cancel">{{ 'Cancel'|trans }}</button>
                                <button name="add">{{ 'Add'|trans }}</button>
                            </div>
                            <div class="dialog-header">
                                <h3>
                                    {{ 'Poster count'|trans }} {{ ux_icon('mdi:arrow-right') }} <span class="poster-count"></span>
                                    {{ ux_icon('mdi:minus') }}
                                    {{ 'Backdrop count'|trans }} {{ ux_icon('mdi:arrow-right') }}<span class="backdrop-count"></span>
                                </h3>
                            </div>
                            <div class="dialog-header">
                                <div class="progress-bar"></div>
                            </div>
                            <div class="dialog-body">
                                <div class="all-images">
                                </div>
                            </div>
                        </div>
                    </dialog>
                </div>
                <dialog class="add-backdrop-dialog">
                    {{ form_start(addBackdropForm) }}
                    {{ form_widget(addBackdropForm.file) }}
                    <div class="form-row">
                        <button type="button" name="cancel">{{ 'Cancel'|trans }}</button>
                        <button type="submit">{{ 'Upload it!'|trans }}</button>
                    </div>
                    {{ form_end(addBackdropForm) }}
                </dialog>
            </div>

            {% if series.images.logos|length %}
                <div class="header">
                    <div class="logos">
                        <div class="wrapper">
                            {% for logo in series.images.logos %}
                                <div class="other-logo">
                                    <img src="{{ logo }}" alt="{{ 'Logo #' ~ loop.index ~ ' ' ~ series.name }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if previousSeries or nextSeries %}
                <div class="header">
                    <div class="series">
                        {% if previousSeries %}
                            <a href="{{ path('app_series_show', {id: previousSeries.id, slug: previousSeries.slug}) }}"
                               class="previous-series" data-title="{{ 'Previous series'|trans }}">
                                {{ ux_icon('mdi:arrow-left') }}
                                {{ previousSeries.name }} ({{ previousSeries.progress|format_number({max_fraction_digit:2}) }}%)
                                {% if previousSeries.poster_path %}
                                    <img src="/series/posters{{ previousSeries.poster_path }}" alt="{{ 'Poster of the previous series'|trans }}">
                                {% endif %}
                            </a>
                        {% endif %}
                        {% if nextSeries %}
                            <a href="{{ path('app_series_show', {id: nextSeries.id, slug: nextSeries.slug}) }}"
                               class="next-series" data-title="{{ 'Next series'|trans }}">
                                {{ nextSeries.name }} ({{ nextSeries.progress|format_number({max_fraction_digit:2}) }}%)
                                {{ ux_icon('mdi:arrow-right') }}
                                {% if nextSeries.poster_path %}
                                    <img src="/series/posters{{ nextSeries.poster_path }}" alt="{{ 'Poster of the next series'|trans }}">
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% set videoCount = series.videos|length %}
            <div class="videos">
                <div class="video-tools">
                    <h2>{{ 'Videos'|trans }}{% if videoCount %} ({{ videoCount }}){% endif %}</h2>
                    <div class="video-tool add-video" data-title="{{ 'Add a video'|trans }}">
                        {{ ux_icon('mdi:plus') }}
                    </div>
                    {% if videoCount %}
                        <div class="video-tool folder" data-title="{{ (videoListFolded ? 'Expand all videos' : 'Collapse all videos')|trans }}">
                            {{ ux_icon('mdi:chevron-down') }}
                        </div>
                        <script>
                            const dataTitles = {
                                'expand': '{{ 'Expand all videos'|trans }}',
                                'collapse': '{{ 'Collapse all videos'|trans }}'
                            };
                            document.querySelector('.video-tool.folder').addEventListener('click', function (e) {
                                e.preventDefault();
                                const tool = e.currentTarget;
                                const videoList = document.querySelector('.video-list');
                                videoList.classList.toggle('folded');
                                if (videoList.classList.contains('folded')) {
                                    tool.setAttribute('data-title', dataTitles.expand);
                                    saveSettings(1);
                                } else {
                                    tool.setAttribute('data-title', dataTitles.collapse);
                                    saveSettings(0);
                                }
                            });

                            function saveSettings(newValue) {
                                // Use fetch to send the new value to the server
                                fetch('{{ path('app_series_settings_save') }}', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                        'X-CSRF-Token': '{{ csrf_token('user_settings') }}'
                                    },
                                    body: JSON.stringify({"name": "series_video_list_folded", "value": {"folded": newValue}})
                                })
                                    .then(response => {
                                        if (!response.ok) {
                                            throw new Error('Network response was not ok');
                                        }
                                        return response.json();
                                    })
                                    .then(data => {
                                        console.log('Settings saved:', data);
                                    })
                                    .catch(error => {
                                        console.error('Error saving settings:', error);
                                    });
                            }
                        </script>
                    {% endif %}
                </div>
                <div class="video-list{% if videoListFolded %} folded{% endif %}">
                    {% for video in series.videos %}
                        {#                        {% if video.iframe == true %} #}
                        <div class="video">
                            <iframe src="{{ video.link }}" title="{{ video.title }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        {#                        {% endif %} #}
                    {% endfor %}
                </div>
                <dialog class="add-video-dialog">
                    {{ form_start(addVideoForm) }}
                    {{ form_widget(addVideoForm.title) }}
                    {{ form_widget(addVideoForm.link) }}
                    <div class="form-row">
                        <button type="button" name="cancel">{{ 'Cancel'|trans }}</button>
                        <button type="submit" name="add">{{ 'Add'|trans }}</button>
                    </div>
                    {{ form_end(addVideoForm) }}
                </dialog>
            </div>

            {{ include('_blocks/series/_schedules.html.twig') }}

            {{ include('_blocks/series/_externals.html.twig') }}

            <div class="user-actions">
                <h2>{{ 'User actions'|trans }}</h2>
                <div class="wrapper">
                    <div class="watch-links">
                        <div class="label">{{ 'Watch links'|trans }}</div>
                        {% for link in series.watchLinks %}
                            <div class="watch-link" data-id="{{ link.id }}">
                                <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                                    {% if link.providerId > 0 %}
                                        <img src="{{ providers.logos[link.providerId] }}" alt="{{ providers.names[link.providerId] }}" data-title="{{ link.name ?? providers.names[link.providerId] }}">
                                    {% else %}
                                        <span>{{ link.name }}</span>
                                    {% endif %}
                                </a>
                                <div class="watch-link-tools"
                                     data-id="{{ link.id }}"
                                     data-provider="{{ link.providerId }}"
                                     data-name="{{ link.name }}"
                                     data-season-number="{{ link.seasonNumber }}"
                                >
                                    <div class="watch-link-tool edit" data-title="{{ 'Edit this watch link'|trans }}">
                                        {{ ux_icon('mdi:pencil') }}
                                    </div>
                                    <div class="watch-link-tool copy" data-title="{{ 'Copy this watch link'|trans }}">
                                        {{ ux_icon('mdi:content-paste') }}
                                    </div>
                                    <div class="watch-link-name">{{ link.name }}</div>
                                    <div class="watch-link-tool delete" data-title="{{ 'Delete this watch link'|trans }}">
                                        {{ ux_icon('mdi:trash') }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="add-watch-link" data-title="{{ 'Add a watch link'|trans }}">
                            {{ ux_icon('mdi:plus') }}
                        </div>
                    </div>
                    <div class="watch-link-form">
                        <form class="form" action="" id="watch-link-form">
                            <div class="form-row">
                                <div class="form-field">
                                    <label for="provider">{{ 'Provider'|trans }}
                                        <select name="provider" id="provider">
                                            <option value="">{{ 'Select a provider'|trans }}</option>
                                            {% for name, id in providers.select %}
                                                <option value="{{ id }}">{{ name }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label for="name">{{ 'Name'|trans }}
                                        <input type="text" name="name" id="name" required autocomplete="false">
                                        <span class="error"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label for="url">{{ 'URL'|trans }}
                                        <input type="url" name="url" id="url" required>
                                        <span class="error"></span>
                                    </label>
                                </div>
                            </div>
                            {% set numberOfSeason = tv.seasons|length %}
                            {% if numberOfSeason > 1 %}
                                <div class="form-row">
                                    <div class="form-field">
                                        <label for="season-number">{{ 'Season'|trans }}
                                            <select id="season-number" name="season-number">
                                                <option value="-1">{{ 'All seasons'|trans }}</option>
                                                {% for i in 1..numberOfSeason %}
                                                    {% set seasonNumber = tv.seasons[i-1].season_number %}
                                                    <option value="{{ seasonNumber }}">{{ seasonNumber ? ('Season x'|trans({'x': seasonNumber})):('Special episodes'|trans) }}</option>
                                                {% endfor %}
                                            </select>
                                            <span class="error"></span>
                                        </label>
                                    </div>
                                </div>
                            {% else %}
                                <input type="hidden" name="season-number" id="season-number" value="{{ tv.seasons[0].season_number }}">
                            {% endif %}
                            <div class="form-row">
                                <div class="form-field">
                                    <button type="button">{{ 'Cancel'|trans }}</button>
                                    <button type="submit">{{ 'Add'|trans }}</button>
                                </div>
                            </div>
                            <input type="hidden" name="crud-type" id="crud-type" value="">{# create (new) | update (edit) | delete (remove) #}
                            <input type="hidden" name="crud-id" id="crud-id" value="">{# id of updated watch link #}
                        </form>
                    </div>
                    <div class="rating">
                        <div class="rating-stars">
                            <div class="stars" data-trans-rating="Cancel rating|{{ 'Cancel rating'|trans }}" data-trans-star="star|{{ 'star'|trans }}" data-trans-stars="stars|{{ 'stars'|trans }}">
                                <div class="star {{ userSeries.rating >= 1 ? "active" }}" data-value="1" data-title="{{ (userSeries.rating >= 1 ? "Cancel rating":"x star")|trans({'x': 1}) }}">
                                    {{ ux_icon('mdi:star') }}
                                </div>
                                <div class="star {{ userSeries.rating >= 2 ? "active" }}" data-value="2" data-title="{{ (userSeries.rating >= 2 ? "Cancel rating":"x stars")|trans({'x': 2}) }}">
                                    {{ ux_icon('mdi:star') }}
                                </div>
                                <div class="star {{ userSeries.rating >= 3 ? "active" }}" data-value="3" data-title="{{ (userSeries.rating >= 3 ? "Cancel rating":"x stars")|trans({'x': 3}) }}">
                                    {{ ux_icon('mdi:star') }}
                                </div>
                                <div class="star {{ userSeries.rating >= 4 ? "active" }}" data-value="4" data-title="{{ (userSeries.rating >= 4 ? "Cancel rating":"x stars")|trans({'x': 4}) }}">
                                    {{ ux_icon('mdi:star') }}
                                </div>
                                <div class="star {{ userSeries.rating >= 5 ? "active" }}" data-value="5" data-title="{{ (userSeries.rating >= 5 ? "Cancel rating":"x stars")|trans({'x': 5}) }}">
                                    {{ ux_icon('mdi:star') }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if userSeries.marathoner or userSeries.binge %}
                        <div class="badges">
                            {% if userSeries.binge %}
                                <div class="badge" data-title="{{ 'A real binger!'|trans }}">
                                    {{ ux_icon('mdi:coffee') }}
                                </div>
                            {% endif %}
                            {% if userSeries.marathoner %}
                                <div class="badge" data-title="{{ 'A real marathoner!'|trans }}">
                                    {{ ux_icon('mdi:lightning-bolt') }}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="actions">
                        <div class="action toggle-pinned-series{% if userSeries.userPinnedSeries %} pinned{% endif %}" data-title="{{ (userSeries.userPinnedSeries ? "Remove from pinned series" : "Add to pinned series")|trans }}">
                            {{ ux_icon('mdi:paperclip') }}
                        </div>
                        <div class="action toggle-favorite-series{% if userSeries.favorite %} favorite{% endif %}" data-title="{{ (userSeries.favorite ? "Remove from favorites" : "Add to favorites")|trans }}">
                            {{ ux_icon('mdi:heart') }}
                        </div>
                        <div class="action remove-this-series"
                             data-tmdb-id="{{ series.tmdbId }}"
                             data-slug="{{ tv.localized_name.slug ?? series.slug }}"
                             data-title="{{ 'Remove this series from your watchlist'|trans }}">
                            {{ ux_icon('mdi:trash') }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="content column">
                {% if tv['watch/providers'].flatrate|length or tv['watch/providers'].rent|length or tv['watch/providers'].buy|length %}
                    <div class="content-infos">
                        <h2 class="d-none">{{ 'Where to watch, rent or buy'|trans }}</h2>
                        <div class="watch">
                            {% if tv['watch/providers'].flatrate|length %}
                                <div class="providers">
                                    <h2>{{ 'Streaming'|trans }}</h2>
                                    <div class="wrapper">
                                        {% for provider in tv['watch/providers'].flatrate %}
                                            <div class="provider" data-title="{{ provider.provider_name }}">
                                                <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                                <div>{{ provider.provider_name }}</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if tv['watch/providers'].rent|length %}
                                <div class="providers">
                                    <h2>{{ 'Rental'|trans }}</h2>
                                    <div class="wrapper">
                                        {% for provider in tv['watch/providers'].rent %}
                                            <div class="provider" data-title="{{ provider.provider_name }}">
                                                <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                                <div>{{ provider.provider_name }}</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if tv['watch/providers'].buy|length %}
                                <div class="providers">
                                    <h2>{{ 'Purchase'|trans }}</h2>
                                    <div class="wrapper">
                                        {% for provider in tv['watch/providers'].buy %}
                                            <div class="provider" data-title="{{ provider.provider_name }}">
                                                <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                                <div>{{ provider.provider_name }}</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="toggle-visibility watch-block" data-title="{{ 'Hide all providers'|trans }}">
                            {{ ux_icon('mdi:eye', {height: '18px', width: '18px', class: 'hidden'}) }}
                            {{ ux_icon('mdi:eye-off') }}
                        </div>
                    </div>
                {% endif %}
                <div class="content-infos">
                    <h2>{{ 'Key facts'|trans }}</h2>
                    <div class="facts">
                        <div class="fact {{ tv.status_css }}">
                            {#                            <div class="fact-label">{{ 'Status'|trans }}</div> #}
                            <div class="fact-content">{{ tv.status|trans }}</div>
                        </div>
                        {% if tv.average_episode_run_time %}
                            <div class="fact">
                                <div class="fact-label">{{ 'Average episode runtime'|trans }}</div>
                                <div class="fact-content">{{ tv.average_episode_run_time }} {{ 'minutes'|trans }}</div>
                            </div>
                        {% endif %}
                        <div class="fact">
                            <div class="fact-label">{{ 'Original name'|trans }}</div>
                            <div class="fact-content">{{ tv.original_name }}</div>
                        </div>
                        <div class="fact">
                            <div class="fact-label">{{ 'Original language'|trans }}</div>
                            <div class="fact-content">{{ tv.original_language|language_name }}</div>
                        </div>
                        <div class="fact">
                            <div class="fact-label">{{ 'Original Country'|trans }}</div>
                            {% for country in tv.origin_country %}
                                <div class="fact-content"><span>{{ getEmojiFlag(country) }}</span> {{ country|country_name }}</div>
                            {% endfor %}
                        </div>
                        {% if tv.networks|length %}
                            <div class="fact">
                                <div class="fact-label">{{ (tv.networks|length>1?'Networks':'Network')|trans }}</div>
                                <div class="networks">
                                    {% for network in tv.networks %}
                                        <div class="network-detail">
                                            <div class="frame" data-title="{{ network.name }}{% if network.headquarters %} - {{ network.headquarters }}{% endif %} ({{ network.id }})" data-title-bg="grey">
                                                {% if network.logo_path %}
                                                    <img src="{{ network.logo_path }}" alt="{{ network.name }}" loading="lazy">
                                                {% else %}
                                                    {{ network.name }}
                                                {% endif %}
                                            </div>
                                            {% if network.homepage %}
                                                <a href="{{ network.homepage }}" target="_blank" rel="noopener noreferrer" class="network-name">
                                                    <div class="link">{{ ux_icon('mdi:external-link') }}</div>
                                                </a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <script>
                                // get image dimensions to set the aspect ratio
                                const networkDetails = document.querySelectorAll('.network-detail .frame img');
                                networkDetails.forEach(img => {
                                    img.addEventListener('load', function () {
                                        const width = img.naturalWidth;
                                        const height = img.naturalHeight;
                                        img.setAttribute('style', 'aspect-ratio: ' + width + ' / ' + height);
                                    });
                                });
                            </script>
                        {% endif %}
                        {% if tv.keywords.results|length %}
                            <div class="fact keyword-block">
                                {{ include('_blocks/series/_keywords.html.twig', {id: tv.id, keywords: tv.keywords.results, missing: tv.missing_translations}) }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="toggle-visibility facts-block" data-title="{{ 'Hide all facts'|trans }}">
                        {{ ux_icon('mdi:eye', {height: '18px', width: '18px', class: 'hidden'}) }}
                        {{ ux_icon('mdi:eye-off') }}
                    </div>
                </div>
                <script>
                    const toggleVisibilityDivs = document.querySelectorAll('.toggle-visibility');
                    toggleVisibilityDivs.forEach(toggleVisibility => {
                        const contentInfosDiv = toggleVisibility.closest('.content-infos');
                        toggleVisibility.addEventListener('click', function (e) {
                            const firstSvg = toggleVisibility.querySelector('svg');
                            const toggleVisibilitySvgs = toggleVisibility.querySelectorAll('svg');
                            e.preventDefault();
                            toggleVisibilitySvgs.forEach(svg => {
                                svg.classList.toggle('hidden');
                            });
                            if (toggleVisibility.classList.contains('watch-block')) {
                                const h2 = contentInfosDiv.querySelector('h2');
                                h2.classList.toggle('d-none');
                                const providersDivs = contentInfosDiv.querySelectorAll('.providers');
                                providersDivs.forEach(providers => {
                                    providers.classList.toggle('d-none');
                                });
                                if (firstSvg.classList.contains('d-none')) {
                                    toggleVisibility.setAttribute('data-title', '{{ 'Hide all providers'|trans }}');
                                } else {
                                    toggleVisibility.setAttribute('data-title', '{{ 'Show all providers'|trans }}');
                                }
                            }
                            if (toggleVisibility.classList.contains('facts-block')) {
                                const factsDiv = contentInfosDiv.querySelector('.facts');
                                factsDiv.classList.toggle('d-none');
                                if (firstSvg.classList.contains('d-none')) {
                                    toggleVisibility.setAttribute('data-title', '{{ 'Hide all facts'|trans }}');
                                } else {
                                    toggleVisibility.setAttribute('data-title', '{{ 'Show all facts'|trans }}');
                                }
                            }
                        });
                    });
                </script>
                <div class="content-seasons">
                    <div class="all-seasons">
                        <div>{{ 'Seasons'|trans }}</div>
                        {% if tv.seasons|length > 1 %}
                            <div class="season-order">
                                {{ ux_icon('mdi:arrow-down') }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="seasons">
                        {% for season in tv.seasons %}
                            {% set viewedEpisodes = userSeries.userEpisodes|filter(ue => ue.seasonNumber == season.season_number and ue.watchAt)|length %}
                            <a href="{{ path('app_series_season', {id: series.id, seasonNumber: season.season_number, slug: tv.localized_name.slug ?? series.slug}) }}">
                                <div class="season">
                                    <div class="poster" data-title="{{ "Season poster"|trans }}">
                                        {% if season.poster_path %}
                                            <img src="{{ season.poster_path }}" alt="{{ season.name }}">
                                        {% else %}
                                            <div>{{ 'No poster'|trans }}</div>
                                        {% endif %}
                                        <div class="number{% if viewedEpisodes and viewedEpisodes == season.episode_count %} complete{% endif %}">
                                            {{ season.season_number }}
                                        </div>
                                    </div>
                                    <div class="infos">
                                        <div class="season__name">{{ season.name }}</div>
                                        {% if season.overview %}
                                            <div class="season__overview">{{ season.overview }}</div>
                                        {% endif %}
                                        <div class="season__air-date">{{ 'Air date'|trans }}
                                            {% if season.final_air_date is defined %}
                                                {{ date(season.final_air_date)|format_datetime('relative_long', 'short') }}
                                            {% else %}
                                                {% if season.air_date %}
                                                    {{ date(season.air_date)|format_date('relative_long') }}
                                                    {% if userSeries.lastSeason is not null and userSeries.lastSeason == season.season_number %}
                                                        — {{ 'Last seen'|trans }} {{ date(userSeries.lastWatchAt)|format_date('relative_long') }}
                                                    {% endif %}
                                                {% else %}
                                                    {{ 'TBA'|trans }}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="season__episodes">
                                            {{ season.episode_count }} {{ (season.episode_count>1?'episodes':'episode')|trans }}
                                            <div class="watched"></div>
                                            {% if viewedEpisodes == 0 %}
                                                {{ 'No episode seen'|trans }}
                                            {% elseif viewedEpisodes == 1 %}
                                                {{ '1 episode seen'|trans }}
                                            {% elseif viewedEpisodes == season.episode_count %}
                                                {{ 'All episodes seen'|trans }}
                                            {% else %}
                                                {{ viewedEpisodes }} {{ 'episodes seen'|trans }}
                                            {% endif %}
                                        </div>
                                        {% if userSeries.progress and series.userVotes|length %}
                                            <div class="user-votes">
                                                <div class="show-tab">{{ ux_icon('mdi:bar-chart') }}</div>
                                                {% set uvs = series.userVotes[season.season_number] %}
                                                {{ include('_blocks/series/_votes.html.twig', {type: 'entity', season_number: season.season_number, ues: uvs.ues, vas: uvs.avs}) }}
                                            </div>
                                        {% endif %}
                                        {% if tv.last_episode_to_air %}
                                            <div class="last-episode">
                                                <div class="show-tab">{{ ux_icon('mdi:page-previous-outline') }}</div>
                                                <div class="episode-tab">
                                                    {% if tv.last_episode_to_air.season_number == season.season_number %}
                                                        {% set ep = tv.last_episode_to_air %}
                                                        {% set epDate = date(ep.air_date) %}
                                                        <div class="still">
                                                            {% if ep.still_path %}
                                                                <img src="{{ ep.still_path }}" alt="{{ ep.name }}" loading="lazy">
                                                            {% else %}
                                                                <div class="no-still">{{ 'No still'|trans }}</div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="infos">
                                                            <div class="name">{{ 'S%02dE%02d'|format(ep.season_number, ep.episode_number) }}</div>
                                                            <div class="name">{{ ep.name }}</div>
                                                            {% if ep.runtime %}
                                                                <div class="runtime">{{ ep.runtime }} {{ 'minutes'|trans }}</div>
                                                            {% endif %}
                                                            {% if epDate %}
                                                                <div class="air-date">{{ epDate|format_date('relative_long')|capitalize }}</div>
                                                            {% endif %}
                                                        </div>
                                                        {# {% else %}
                                                    <div class="infos">
                                                        {{ 'Nothing to show here'|trans }}
                                                    </div> #}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if tv.next_episode_to_air %}
                                            <div class="next-episode">
                                                <div class="show-tab">{{ ux_icon('mdi:page-next-outline') }}</div>
                                                <div class="episode-tab">
                                                    {% if tv.next_episode_to_air.season_number == season.season_number %}
                                                        {% set ep = tv.next_episode_to_air %}
                                                        {% set epDate = date(ep.air_date) %}
                                                        <div class="still">
                                                            {% if ep.still_path %}
                                                                <img src="{{ ep.still_path }}" alt="{{ ep.name }}" loading="lazy">
                                                            {% else %}
                                                                <div class="no-still">{{ 'No still'|trans }}</div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="infos">
                                                            <div class="name">{{ 'S%02dE%02d'|format(ep.season_number, ep.episode_number) }}</div>
                                                            <div class="name">{{ ep.name }}</div>
                                                            {% if ep.runtime %}
                                                                <div class="runtime">{{ ep.runtime }} {{ 'minutes'|trans }}</div>
                                                            {% endif %}
                                                            {% if epDate %}
                                                                <div class="air-date">{{ epDate|format_date('relative_long')|capitalize }}</div>
                                                            {% endif %}
                                                        </div>
                                                        {# {% else %}
                                                    <div class="infos">
                                                        {{ 'Nothing to show here'|trans }}
                                                    </div> #}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    {% if tv.credits.cast|length %}
                        <h3>{{ 'Cast'|trans }}</h3>
                        <div class="cast">
                            <div class="wrapper">
                                {% for people in tv.credits.cast %}
                                    {{ include('_blocks/series/_people.html.twig', { people: people, role: people.character }) }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if tv.credits.crew|length %}
                        <h3>{{ 'Crew'|trans }}</h3>
                        <div class="crew">
                            <div class="wrapper">
                                {% for people in tv.credits.crew %}
                                    {{ include('_blocks/series/_crew.html.twig') }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
            <div class="content">
                <div id="series-map-title">
                    <div class="title">{{ 'Shooting locations'|trans }}</div>
                    <div class="add-location-button" data-title="{{ 'Add a shooting location'|trans }}">
                        {{ ux_icon('mdi:plus') }}
                    </div>
                    {% if locations|length %}
                        <div class="toggle-cooperative-gestures">
                            {{ ux_icon('mdi:apple-keyboard-command') }} / {{ ux_icon('mdi:apple-keyboard-control') }}
                        </div>
                    {% endif %}
                </div>
                <div class="series-map">
                    {% if locations|length %}
                        {% set loc = locations|first %}
                        {{ include('_blocks/map/_map-container.html.twig', {type: 'series', styleSettings: mapSettings.data.styles}) }}
                        {# <div id="map" class="map-controller"></div>
                        <div class="series-map-list">
                            {{ include('_blocks/map/_thumbnails.html.twig', {styles: mapSettings.data.styles}) }}
                        </div> #}
                        <div class="temp-locations">
                            <div class="locations">
                                <ul>
                                    {% for location in locations %}
                                        <li class="location-item" data-loc-id="{{ location.id }}">
                                            <div class="image db">
                                                <img src="/images/map{{ location.still_path }}" alt="{{ location.title }}">
                                                {% if location.filmingLocationImages|length-1 %}
                                                    <div class="count">
                                                        {{ location.filmingLocationImages|length }}
                                                    </div>
                                                    <div class="arrow left">{{ ux_icon('mdi:arrow-left') }}</div>
                                                    <div class="arrow right">{{ ux_icon('mdi:arrow-right') }}</div>
                                                    <div class="list">
                                                        {#                                                    <img src="{{ location.image }}" alt="{{ location.location ~ ' - ' ~ 'image'|trans ~ ' #1' }}"> #}
                                                        {% for i in location.filmingLocationImages %}
                                                            <img src="/images/map{{ i.path }}" alt="{{ location.title ~ ' - ' ~ 'image'|trans ~ ' #' ~ (loop.index + 1) }}">
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                                {% if location.season_number and location.episode_number %}
                                                    <div class="episode">
                                                        {{ 'S%02dE%02d'|format(location.season_number, location.episode_number) }}
                                                    </div>
                                                {% endif %}
                                                <div class="edit" data-loc-id="{{ location.id }}">{{ ux_icon('mdi:pencil') }}</div>
                                            </div>
                                            <div class="location" data-loc-id="{{ location.id }}">
                                                {{ location.location }}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>

                {% if tv.similar.total_results %}
                    <div class="series-group">
                        <h2>{{ 'Similar series'|trans }}</h2>
                        <div class="wrapper">
                            <div class="content">
                                {% for s in tv.similar.results %}
                                    {{ include('_blocks/series/_card.html.twig', { series: s }) }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if tv.lists.total_results %}
                    <div class="series-group">
                        <h2>{{ 'Lists'|trans }}</h2>
                        <div class="lists">
                            <ul>
                                {% for list in tv.lists.results %}
                                    <li>
                                        <a href="{{ path('app_series_list', {id: list.id, seriesId: series.id}) }}">
                                            <span>{{ list.name }}</span> ({{ list.iso_3166_1|country_name }}, {{ list.item_count }} {{ 'items'|trans }}){% if list.description %} - {{ list.description }}{% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if tv.keywords.results|length %}
        {{ include('_blocks/forms/_keyword-translation.html.twig') }}
    {% endif %}
    {{ include('_blocks/forms/_add-location-form.html.twig', addLocationFormData) }}

    <div id="globs-map" style="display: none">
        {
        "locations": {{ locations|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "bounds": {{ locationsBounds|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "emptyLocation": {{ emptyLocation|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "fieldList": {{ fieldList|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "locationImagePath": "/images/map",
        "poiImagePath": "/images/poi"
        }
    </div>
    <div id="globs" style="display: none">{# |replace({'\'': '\\\'', '"': '\\"'}}) #}
        {
        "seriesId": {{ series.id }},
        "userSeriesId": {{ userSeries.id }},
        "providers": {{ providers|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "translations": {{ translations|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "locations": {{ locations|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "api": {
        "directLinkCrud": {
        "create": "{{ path('api_series_direct_link_create') }}",
        "read": "{{ path('api_series_direct_link_read', {id: 0})|slice(0,-1) }}",
        "update": "{{ path('api_series_direct_link_update', {id: 0})|slice(0,-1) }}",
        "delete": "{{ path('api_series_direct_link_delete', {id: 0})|slice(0,-1) }}"
        }
        }
        }
    </div>
    <div id="svgs" style="display: none">
        <div class="svg" id="arrow-down">{{ ux_icon('mdi:arrow-down') }}</div>
        <div class="svg" id="arrow-up">{{ ux_icon('mdi:arrow-up') }}</div>
        <div class="svg" id="arrow-left">{{ ux_icon('mdi:arrow-left') }}</div>
        <div class="svg" id="arrow-right">{{ ux_icon('mdi:arrow-right') }}</div>
        <div class="svg" id="xmark">{{ ux_icon('mdi:close') }}</div>
        <div class="svg" id="pen">{{ ux_icon('mdi:pencil') }}</div>
        <div class="svg" id="trash">{{ ux_icon('mdi:trash') }}</div>
    </div>
    {% include '_blocks/_footer.html.twig' %}
{% endblock %}

