{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Series'|trans }} → {{ tv.localized_name.name ?? series.name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/contact.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/user.scss') }}">
{% endblock %}
{% block body %}
    <script>
        const bd = '/series/posters{{ series.posterPath }}';
        const body = document.querySelector("body");
        body.style.backgroundSize = "cover";
        body.style.backgroundPosition = "center";
        body.style.backgroundRepeat = "no-repeat";
        body.style.backgroundAttachment = "fixed";
        body.style.backgroundImage = "url(" + bd + ")";
    </script>
    {% include '_blocks/_menu.html.twig' %}
    <div class="container-fluid backgroundImageOverlay">
        <div class="series-show user-series-show">
            <div class="header">
                <div class="poster">
                    {% if series.posterPath %}
                        <img src="/series/posters{{ series.posterPath }}" alt="{{ series.name }}">
                    {% else %}
                        <div>{{ 'No poster'|trans }}</div>
                    {% endif %}
                    {% if series.firstAirDate %}
                        <div class="progress" data-value="{{ userSeries.progress }}">
                            <div class="progress-bar"></div>
                        </div>
                    {% endif %}
                </div>
                <div class="infos">
                    <div class="backdrop">
                        {% if tv.backdrop_path %}
                            <img src="/series/backdrops{{ tv.backdrop_path }}" alt="{{ series.name }}">
                        {% endif %}
                    </div>
                    {% if app.environment == 'dev' %}
                        <div class="debug">{{ series.id }} / {{ tv.id }}</div>
                    {% endif %}
                    <div class="name">
                        <h1>
                            {% if tv.localized_name %}
                                <span class="localized-name-span">{{ tv.localized_name.name }}</span>
                            {% endif %}
                            <span class="name-span">{{ series.name }}</span>
                            {% if series.firstAirDate %}
                                <span title="{{ series.firstAirDate|date("d/m/Y") }}">({{ series.firstAirDate|date("Y") }})</span>
                            {% endif %}
                        </h1>
                        <div class="series-tools">
                            <div class="series-tools-click">
                                {{ ux_icon('fa6-solid:ellipsis-vertical', {height: '18px', width: '18px'}) }}
                            </div>
                            <div class="series-tools-menu">
                                <div id="localized-name">{{ 'Suggest a localized name'|trans }}</div>
                                <div id="localized-overview">{{ 'Add a localized overview'|trans }}</div>
                                <div id="additional-overview">{{ 'Add an additional overview'|trans }}</div>
                            </div>
                        </div>
                    </div>
                    {{ include('_blocks/forms/_delete-overview.html.twig') }}
                    {{ include('_blocks/forms/_localized-name.html.twig', {media: tv}) }}
                    {{ include('_blocks/forms/_overview.html.twig', {media: tv}) }}
                    <h5>
                        {% set n = series.visitNumber %}
                        {% if n > 1000 %}
                            {% set n = (n / 1000)|round(1, 'floor') ~ 'k' %}
                        {% endif %}
                        {{ n }} {{ (n > 1 ? 'visits':'visit')|trans }}
                    </h5>
                    <div class="series-overview">{{ tv.overview }}</div>
                    {% if tv.localized_overviews|length %}
                        <div class="localized overviews">
                            <h4 class="localized-h4">{{ 'Localized overviews'|trans }}</h4>
                            {% for overview in tv.localized_overviews %}
                                <div class="localized overview" data-id="{{ overview.id }}">
                                    <div class="content" data-overview="{{ overview.overview }}">
                                        {{ overview.overview|nl2br }}
                                    </div>
                                    <div class="tools">
                                        <div class="locale">{{ overview.locale|upper }}</div>
                                        <div class="edit" data-id="{{ overview.id }}" data-title="{{ 'Edit'|trans }}">
                                            {{ ux_icon('fa6-solid:pen', {height: '18px', width: '18px'}) }}
                                        </div>
                                        <div class="delete" data-id="{{ overview.id }}" data-title="{{ 'Delete'|trans }}">
                                            {{ ux_icon('fa6-solid:trash', {height: '18px', width: '18px'}) }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if tv.additional_overviews|length %}
                        <div class="additional overviews">
                            <h4 class="additional-h4">{{ 'Additional overviews'|trans }}</h4>
                            {% for overview in tv.additional_overviews %}
                                <div class="additional overview" data-id="{{ overview.id }}" data-source-id="{{ overview.source.id }}">
                                    <div class="content" data-overview="{{ overview.overview }}">
                                        {{ overview.overview|nl2br }}
                                    </div>
                                    <div class="tools">
                                        <div class="source">
                                            <a href="{{ overview.source.path }}" data-title="{{ overview.source.name }}" target="_blank" rel="noopener noreferrer">
                                                <img src="{{ overview.source.LogoPath }}" alt="{{ overview.source.name }}">
                                            </a>
                                        </div>
                                        <div class="locale">{{ overview.locale|upper }}</div>
                                        <div class="edit" data-id="{{ overview.id }}" data-title="{{ 'Edit'|trans }}">
                                            {{ ux_icon('fa6-solid:pen', {height: '18px', width: '18px'}) }}
                                        </div>
                                        <div class="delete" data-id="{{ overview.id }}" data-title="{{ 'Delete'|trans }}">
                                            {{ ux_icon('fa6-solid:trash', {height: '18px', width: '18px'}) }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if series.updates %}
                        <h4>{{ 'Updates'|trans }}</h4>
                        <div class="updates">
                            <div class="wrapper">
                                {% for update in series.updates %}
                                    <div class="update">{{ update }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if series.firstAirDate is null %}
                        <div class="no-air-date">{{ 'No date yet'|trans }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="header">
                {#                <pre>{{ dump(series.images.posters) }}</pre> #}
                {#                <pre>{{ dump(series.images.backdrops) }}</pre> #}
                <div class="posters">
                    <div class="wrapper">
                        {% for poster in series.images.posters %}
                            <div class="other-poster">
                                <img src="{{ poster }}" alt="{{ 'Poster #' ~ loop.index ~ ' ' ~ series.name }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="backdrops">
                    <div class="wrapper">
                        {% for backdrop in series.images.backdrops %}
                            <div class="other-backdrop">
                                <img src="{{ backdrop }}" alt="{{ 'Backdrop #' ~ loop.index ~ ' ' ~ series.name }}">
                            </div>
                        {% else %}
                            {{ 'No backdrop'|trans }}
                        {% endfor %}
                    </div>
                    <div class="add-backdrop" data-title="{{ 'Add a backdrop'|trans }}">
                        {{ ux_icon('ion:add-circle-outline', {height: '36px', width:'36px'}) }}
                    </div>
                    <div class="add-all-backdrops"
                         data-series-id="{{ series.tmdbId }}"
                         data-series-name="{{ tv.localized_name.name ?? series.name }}"
                         data-title="{{ 'Add all available backdrops from TMDB'|trans }}">
                        {{ ux_icon('ion:arrow-down-circle-outline', {height: '36px', width:'36px'}) }}
                    </div>
                    <dialog id="add-all-backdrops-dialog" class="add-all-backdrops-dialog">
                        <div class="dialog-content">
                            <div class="dialog-header">
                                <h2>{{ 'Add all available backdrops'|trans }}</h2>
                                <button name="cancel">{{ 'Cancel'|trans }}</button>
                                <button name="add">{{ 'Add'|trans }}</button>
                            </div>
                            <div class="dialog-body">
                                <div class="all-images">
                                </div>
                            </div>
                        </div>
                    </dialog>
                </div>
            </div>

            {% if series.images.logos|length %}
                <div class="header">
                    <div class="logos">
                        <div class="wrapper">
                            {% for logo in series.images.logos %}
                                <div class="other-backdrop">
                                    <img src="{{ logo }}" alt="{{ 'Backdrop #' ~ loop.index ~ ' ' ~ series.name }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {{ include('_blocks/series/_schedules.html.twig') }}

            {{ include('_blocks/series/_externals.html.twig') }}

            {% if userSeries %}
                <div class="user-actions">
                    <h2>{{ 'User actions'|trans }}</h2>
                    <div class="wrapper">
                        <div class="watch-links">
                            <div class="label">{{ 'Watch links'|trans }}</div>
                            {% for link in series.watchLinks %}
                                <div class="watch-link" data-id="{{ link.id }}">
                                    <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                                        {% if link.providerId > 0 %}
                                            <img src="{{ providers.logos[link.providerId] }}" alt="{{ providers.names[link.providerId] }}" data-title="{{ link.name ?? providers.names[link.providerId] }}">
                                        {% else %}
                                            <span>{{ link.name }}</span>
                                        {% endif %}
                                    </a>
                                    <div class="watch-link-tools"
                                         data-id="{{ link.id }}"
                                         data-provider="{{ link.providerId }}"
                                         data-name="{{ link.name }}"
                                         data-season-number="{{ link.seasonNumber }}"
                                    >
                                        <div class="watch-link-tool edit" data-title="{{ 'Edit this watch link'|trans }}">
                                            {{ ux_icon('fa6-solid:pen', {height: '18px', width: '18px'}) }}
                                        </div>
                                        <div class="watch-link-tool copy" data-title="{{ 'Copy this watch link'|trans }}">
                                            {{ ux_icon('fa6-solid:copy', {height: '18px', width: '18px'}) }}
                                        </div>
                                        <div class="watch-link-name">{{ link.name }}</div>
                                        <div class="watch-link-tool delete" data-title="{{ 'Delete this watch link'|trans }}">
                                            {{ ux_icon('fa6-solid:trash', {height: '18px', width: '18px'}) }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="add-watch-link" data-title="{{ 'Add a watch link'|trans }}">
                                {{ ux_icon('fa6-solid:plus', {height: '18px', width: '18px'}) }}
                            </div>
                        </div>
                        <div class="watch-link-form">
                            <form class="form" action="" id="watch-link-form">
                                <div class="form-row">
                                    <div class="form-field">
                                        <label for="provider">{{ 'Provider'|trans }}
                                            <select name="provider" id="provider">
                                                <option value="">{{ 'Select a provider'|trans }}</option>
                                                {% for name, id in providers.select %}
                                                    <option value="{{ id }}">{{ name }}</option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-field">
                                        <label for="name">{{ 'Name'|trans }}
                                            <input type="text" name="name" id="name" required autocomplete="false">
                                            <span class="error"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-field">
                                        <label for="url">{{ 'URL'|trans }}
                                            <input type="url" name="url" id="url" required>
                                            <span class="error"></span>
                                        </label>
                                    </div>
                                </div>
                                {% set numberOfSeason = tv.seasons|length %}
                                {% if numberOfSeason > 1 %}
                                    <div class="form-row">
                                        <div class="form-field">
                                            <label for="season-number">{{ 'Season'|trans }}
                                                <select id="season-number" name="season-number">
                                                    <option value="-1">{{ 'All seasons'|trans }}</option>
                                                    {% for i in 1..numberOfSeason %}
                                                        {% set seasonNumber = tv.seasons[i-1].season_number %}
                                                        <option value="{{ seasonNumber }}">{{ seasonNumber ? ('Season x'|trans({'x': seasonNumber})):('Special episodes'|trans) }}</option>
                                                    {% endfor %}
                                                </select>
                                                <span class="error"></span>
                                            </label>
                                        </div>
                                    </div>
                                {% else %}
                                    <input type="hidden" name="season-number" id="season-number" value="{{ tv.seasons[0].season_number }}">
                                {% endif %}
                                <div class="form-row">
                                    <div class="form-field">
                                        <button type="button">{{ 'Cancel'|trans }}</button>
                                        <button type="submit">{{ 'Add'|trans }}</button>
                                    </div>
                                </div>
                                <input type="hidden" name="crud-type" id="crud-type" value="">{# create (new) | update (edit) | delete (remove) #}
                                <input type="hidden" name="crud-id" id="crud-id" value="">{# id of updated watch link #}
                            </form>
                        </div>
                        <div class="rating">
                            <div class="rating-stars">
                                <div class="stars" data-trans-rating="Cancel rating|{{ 'Cancel rating'|trans }}" data-trans-star="star|{{ 'star'|trans }}" data-trans-stars="stars|{{ 'stars'|trans }}">
                                    <div class="star {{ userSeries.rating >= 1 ? "active" }}" data-value="1" data-title="{{ (userSeries.rating >= 1 ? "Cancel rating":"x star")|trans({'x': 1}) }}">
                                        {{ ux_icon('fa6-solid:star', {height: '18px', width: '18px'}) }}
                                    </div>
                                    <div class="star {{ userSeries.rating >= 2 ? "active" }}" data-value="2" data-title="{{ (userSeries.rating >= 2 ? "Cancel rating":"x stars")|trans({'x': 2}) }}">
                                        {{ ux_icon('fa6-solid:star', {height: '18px', width: '18px'}) }}
                                    </div>
                                    <div class="star {{ userSeries.rating >= 3 ? "active" }}" data-value="3" data-title="{{ (userSeries.rating >= 3 ? "Cancel rating":"x stars")|trans({'x': 3}) }}">
                                        {{ ux_icon('fa6-solid:star', {height: '18px', width: '18px'}) }}
                                    </div>
                                    <div class="star {{ userSeries.rating >= 4 ? "active" }}" data-value="4" data-title="{{ (userSeries.rating >= 4 ? "Cancel rating":"x stars")|trans({'x': 4}) }}">
                                        {{ ux_icon('fa6-solid:star', {height: '18px', width: '18px'}) }}
                                    </div>
                                    <div class="star {{ userSeries.rating >= 5 ? "active" }}" data-value="5" data-title="{{ (userSeries.rating >= 5 ? "Cancel rating":"x stars")|trans({'x': 5}) }}">
                                        {{ ux_icon('fa6-solid:star', {height: '18px', width: '18px'}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if userSeries.marathoner or userSeries.binge %}
                            <div class="badges">
                                {% if userSeries.binge %}
                                    <div class="badge" data-title="{{ 'A real binger!'|trans }}">
                                        {{ ux_icon('fa:coffee', {height: '18px', width: '18px'}) }}
                                    </div>
                                {% endif %}
                                {% if userSeries.marathoner %}
                                    <div class="badge" data-title="{{ 'A real marathoner!'|trans }}">
                                        {{ ux_icon('fa6-solid:bolt', {height: '18px', width: '18px'}) }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="actions">
                            <div class="action toggle-pinned-series{% if userSeries.userPinnedSeries %} pinned{% endif %}" data-title="{{ (userSeries.userPinnedSeries ? "Remove from pinned series" : "Add to pinned series")|trans }}">
                                {{ ux_icon('fa6-solid:paperclip', {height: '18px', width: '18px'}) }}
                            </div>
                            <div class="action toggle-favorite-series{% if userSeries.favorite %} favorite{% endif %}" data-title="{{ (userSeries.favorite ? "Remove from favorites" : "Add to favorites")|trans }}">
                                {{ ux_icon('fa6-solid:heart', {height: '18px', width: '18px'}) }}
                            </div>
                            <div class="action remove-this-series"
                                 data-tmdb-id="{{ series.tmdbId }}"
                                 data-slug="{{ tv.localized_name.slug ?? series.slug }}"
                                 data-title="{{ 'Remove this series from your watchlist'|trans }}">
                                {{ ux_icon('fa6-solid:trash', {height: '18px', width: '18px'}) }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="content">
                <div class="left">
                    <div class="all-seasons">
                        <div>{{ 'Seasons'|trans }}</div>
                        {% if tv.seasons|length > 1 %}
                            <div class="season-order">
                                {{ ux_icon('fa6-solid:arrow-down', {height: '18px', width: '18px'}) }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="seasons">
                        {% for season in tv.seasons %}
                            <a href="{{ path('app_series_season', {id: series.id, seasonNumber: season.season_number, slug: tv.localized_name.slug ?? series.slug}) }}">
                                <div class="season">
                                    <div class="poster">
                                        {% if season.poster_path %}
                                            <img src="{{ season.poster_path }}" alt="{{ season.name }}">
                                        {% else %}
                                            <div>{{ 'No poster'|trans }}</div>
                                        {% endif %}
                                        <div class="number">
                                            {{ season.season_number }}
                                        </div>
                                    </div>
                                    <div class="infos">
                                        <div class="season__name">{{ season.name }}</div>
                                        {% if season.overview %}
                                            <div class="season__overview">{{ season.overview }}</div>
                                        {% endif %}
                                        <div class="season__air-date">{{ 'Air date'|trans }}
                                            {% if season.air_date %}
                                                {{ date(season.air_date)|format_date('relative_long') }}
                                                {% if userSeries.lastSeason is not null and userSeries.lastSeason == season.season_number %}
                                                    — {{ 'Last seen'|trans }} {{ date(userSeries.lastWatchAt)|format_date('relative_long') }}
                                                {% endif %}
                                            {% else %}
                                                {{ 'TBA'|trans }}
                                            {% endif %}
                                        </div>
                                        <div class="season__episodes">
                                            {{ season.episode_count }} {{ (season.episode_count>1?'episodes':'episode')|trans }}
                                            <div class="watched"></div>
                                            {% set viewedEpisodes = userSeries.userEpisodes|filter(ue => ue.seasonNumber == season.season_number and ue.watchAt)|length %}
                                            {% if viewedEpisodes == 0 %}
                                                {{ 'No episode seen'|trans }}
                                            {% elseif viewedEpisodes == 1 %}
                                                {{ '1 episode seen'|trans }}
                                            {% elseif viewedEpisodes == season.episode_count %}
                                                {{ 'All episodes seen'|trans }}
                                            {% else %}
                                                {{ viewedEpisodes }} {{ 'episodes seen'|trans }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    {% if tv.credits.cast|length %}
                        <h3>{{ 'Cast'|trans }}</h3>
                        <div class="cast">
                            <div class="wrapper">
                                {% for people in tv.credits.cast %}
                                    <a href="{{ path('app_people_show', {id: people.id, slug: people.slug}) }}">
                                        <div class="people" data-title="{{ people.name }}">
                                            <div class="photo">
                                                {% if people.profile_path %}
                                                    <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                                {% else %}
                                                    {{ 'No picture'|trans }}
                                                {% endif %}
                                            </div>
                                            <div class="infos">
                                                <div class="name">{{ people.name }}</div>
                                                <div>{{ people.character }}</div>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if tv.credits.crew|length %}
                        <h3>{{ 'Crew'|trans }}</h3>
                        <div class="crew">
                            <div class="wrapper">
                                {% for people in tv.credits.crew %}
                                    <a href="{{ path('app_people_show', {id: people.id, slug: people.slug}) }}">
                                        <div class="people" data-title="{{ people.name }}">
                                            <div class="photo">
                                                {% if people.profile_path %}
                                                    <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                                {% else %}
                                                    {{ 'No picture'|trans }}
                                                {% endif %}
                                            </div>
                                            <div class="infos">
                                                <div class="name">{{ people.name }}</div>
                                                <div>{{ people.job ~ ' - ' ~ people.department }}</div>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                </div>
                <div class="right">
                    {% if tv['watch/providers'].flatrate|length %}
                        <h3>{{ 'Where to watch'|trans }}</h3>
                        <div class="providers">
                            <div class="wrapper">
                                {% for provider in tv['watch/providers'].flatrate %}
                                    <div class="provider" data-title="{{ provider.provider_name }}">
                                        <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                        <div>{{ provider.provider_name }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if tv['watch/providers'].rent|length %}
                        <h3>{{ 'Where to rent'|trans }}</h3>
                        <div class="providers">
                            <div class="wrapper">
                                {% for provider in tv['watch/providers'].rent %}
                                    <div class="provider" data-title="{{ provider.provider_name }}">
                                        <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                        <div>{{ provider.provider_name }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if tv['watch/providers'].buy|length %}
                        <h3>{{ 'Where to buy'|trans }}</h3>
                        <div class="providers">
                            <div class="wrapper">
                                {% for provider in tv['watch/providers'].buy %}
                                    <div class="provider" data-title="{{ provider.provider_name }}">
                                        <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                        <div>{{ provider.provider_name }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {#                    {% if series.seriesInProgress %} #}
                    {% if tv.next_episode_to_air %}
                        <h3>{{ 'Broadcast delay'|trans }}</h3>
                        <div class="facts">
                            <div class="fact">
                                <div class="broadcast-delay">
                                    <label for="broadcast-delay" data-title="{{ 'Delay in days'|trans }}">{{ 'Delay'|trans }}
                                        <input type="number" id="broadcast-delay" name="broadcast-delay" value="{{ series.dayOffsets.0.offset??0 }}"/>
                                    </label>
                                    <button class="save" value="broadcast-delay">{{ 'Save'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <h3>{{ 'Key facts'|trans }}</h3>
                    <div class="facts">
                        <div class="fact">
                            <div class="fact-label">{{ 'Original name'|trans }}</div>
                            <div class="fact-content">{{ tv.original_name }}</div>
                        </div>
                        <div class="fact">
                            <div class="fact-label">{{ 'Original language'|trans }}</div>
                            <div class="fact-content">{{ tv.original_language|language_name }}</div>
                        </div>
                        <div class="fact">
                            <div class="fact-label">{{ 'Original Country'|trans }}</div>
                            {% for country in tv.origin_country %}
                                <div class="fact-content">{{ getEmojiFlag(country) ~ ' ' ~ country|country_name }}</div>
                            {% endfor %}
                        </div>
                        <div class="fact {{ tv.status_css }}">
                            <div class="fact-label">{{ 'Status'|trans }}</div>
                            <div class="fact-content">{{ tv.status|trans }}</div>
                        </div>
                        {% if tv.networks|length %}
                            <div class="fact">
                                <div class="fact-label">{{ (tv.networks|length>1?'Networks':'Network')|trans }}</div>
                                <div class="networks">
                                    {% for network in tv.networks %}
                                        <div class="network-detail">
                                            <div class="frame">
                                                {% if network.logo_path %}
                                                    <img src="{{ network.logo_path }}" alt="{{ network.name }}" loading="lazy">
                                                {% else %}
                                                    {{ network.name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if tv.keywords.results|length %}
                            <div class="fact keyword-block">
                                {{ include('_blocks/series/_keywords.html.twig', {id: tv.id, keywords: tv.keywords.results, missing: tv.missing_translations}) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="content">
                <div id="series-map-title">
                    <div class="title">{{ 'Shooting locations'|trans }}</div>
                    <div class="add-location-button" data-title="{{ 'Add a shooting location'|trans }}">
                        {{ ux_icon('fa6-solid:plus', {height: '18px', width: '18px'}) }}
                    </div>
                </div>
                <div class="series-map">
                    {% set map = seriesLocations.map %}
                    {% if map %}
                        {{ render_map(map, { 'data-controller': 'series_map', class: 'map-controller' }) }}
                        <div class="temp-locations">
                            <div class="locations">
                                <ul>
                                    {% for location in seriesLocations.locations %}
                                        <li data-lat="{{ location.latitude }}" data-lon="{{ location.longitude }}">
                                            <div class="image">
                                                <img src="{{ location.image }}" alt="{{ location.location }}">
                                                {% if location.additional_images is defined %}
                                                    <div class="count">
                                                        {{ 1 + location.additional_images|length }}
                                                    </div>
                                                    <div class="arrow left">{{ ux_icon('fa6-solid:arrow-left', {height: '18px', width: '18px'}) }}</div>
                                                    <div class="arrow right">{{ ux_icon('fa6-solid:arrow-right', {height: '18px', width: '18px'}) }}</div>
                                                    <div class="list">
                                                        {#                                                    <img src="{{ location.image }}" alt="{{ location.location ~ ' - ' ~ 'image'|trans ~ ' #1' }}"> #}
                                                        {% for i in location.additional_images %}
                                                            <img src="{{ i }}" alt="{{ location.location ~ ' - ' ~ 'image'|trans ~ ' #' ~ (loop.index + 1) }}">
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="location">
                                                {{ location.location }}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="locations">
                                <ul>
                                    {% for location in seriesLocations.filmingLocations %}
                                        <li data-lat="{{ location.latitude }}" data-lon="{{ location.longitude }}">
                                            <div class="image db">
                                                <img src="/images/map{{ location.still_path }}" alt="{{ location.title }}">
                                                {% if location.filmingLocationImages|length-1 %}
                                                    <div class="count">
                                                        {{ location.filmingLocationImages|length }}
                                                    </div>
                                                    <div class="arrow left">{{ ux_icon('fa6-solid:arrow-left', {height: '18px', width: '18px'}) }}</div>
                                                    <div class="arrow right">{{ ux_icon('fa6-solid:arrow-right', {height: '18px', width: '18px'}) }}</div>
                                                    <div class="list">
                                                        {#                                                    <img src="{{ location.image }}" alt="{{ location.location ~ ' - ' ~ 'image'|trans ~ ' #1' }}"> #}
                                                        {% for i in location.filmingLocationImages %}
                                                            <img src="/images/map{{ i.path }}" alt="{{ location.title ~ ' - ' ~ 'image'|trans ~ ' #' ~ (loop.index + 1) }}">
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="location">
                                                {{ location.title }}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    <dialog class="add-location-dialog">
                        <form action="" id="add-location-form" enctype="multipart/form-data">
                            <input type="hidden" name="series-id" id="series-id" value="{{ series.id }}">
                            <input type="hidden" name="crud-type" id="crud-type" value="">{# create (new) | update (edit) | delete (remove) #}
                            <input type="hidden" name="crud-id" id="crud-id" value="">{# id of updated location #}
                            <div class="form-row">
                                <div class="form-field">
                                    <label for="title">{{ 'Title'|trans }}
                                        <input type="text" name="title" id="title" required>
                                        <span class="error"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label for="location">{{ 'Location'|trans }}
                                        <input type="text" name="location" id="location" required>
                                        <span class="error"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label for="description">{{ 'Description'|trans }}
                                        <input type="text" name="description" id="description" required>
                                        <span class="error"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label for="image">{{ 'Image'|trans }}
                                        <input type="url" name="image" id="image" required>
                                        <span class="error"></span>
                                        <div class="image-preview">
                                            <img src="" alt="">
                                        </div>
                                    </label>
                                    {#                                    <label for="files">{{ 'Drop your images files here'|trans }} #}
                                    {#                                        <input type="file" name="files" id="files" multiple> #}
                                    {#                                    </label> #}
                                </div>
                            </div>
                            {#                            <div class="form-row"> #}
                            {#                                <div class="form-field"> #}
                            {#                                    <label for="additional-image-1">{{ 'Additional image'|trans }} #1 #}
                            {#                                        <input type="url" name="additional-image-1" id="additional-image-1"> #}
                            {#                                        <span class="error"></span> #}
                            {#                                        <div class="image-preview"> #}
                            {#                                            <img src="" alt=""> #}
                            {#                                        </div> #}
                            {#                                    </label> #}
                            {#                                    <label for="additional-image-2">{{ 'Additional image'|trans }} #2 #}
                            {#                                        <input type="url" name="additional-image-2" id="additional-image-2"> #}
                            {#                                        <span class="error"></span> #}
                            {#                                        <div class="image-preview"> #}
                            {#                                            <img src="" alt=""> #}
                            {#                                        </div> #}
                            {#                                    </label> #}
                            {#                                </div> #}
                            {#                            </div> #}
                            {#                            <div class="form-row"> #}
                            {#                                <div class="form-field"> #}
                            {#                                    <label for="additional-image-3">{{ 'Additional image'|trans }} #3 #}
                            {#                                        <input type="url" name="additional-image-3" id="additional-image-3"> #}
                            {#                                        <span class="error"></span> #}
                            {#                                        <div class="image-preview"> #}
                            {#                                            <img src="" alt=""> #}
                            {#                                        </div> #}
                            {#                                    </label> #}
                            {#                                    <label for="additional-image-4">{{ 'Additional image'|trans }} #4 #}
                            {#                                        <input type="url" name="additional-image-4" id="additional-image-4"> #}
                            {#                                        <span class="error"></span> #}
                            {#                                        <div class="image-preview"> #}
                            {#                                            <img src="" alt=""> #}
                            {#                                        </div> #}
                            {#                                    </label> #}
                            {#                                </div> #}
                            {#                            </div> #}
                            <div class="form-row">
                                <div class="form-field">
                                    <label for="google-map-url">{{ 'Paste Google maps url here to obtain latitude and longitude'|trans }}
                                        <input type="url" name="google-map-url" id="google-map-url">
                                    </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label for="latitude">{{ 'Latitude'|trans }}
                                        <input type="number" name="latitude" id="latitude" step="0.0000001" required>
                                        <span class="error"></span>
                                    </label>
                                    <label for="longitude">{{ 'Longitude'|trans }}
                                        <input type="number" name="longitude" id="longitude" step="0.0000001" required>
                                        <span class="error"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <button type="button">{{ 'Cancel'|trans }}</button>
                                    <button type="submit">{{ 'Add'|trans }}</button>
                                </div>
                            </div>
                        </form>
                    </dialog>
                </div>

                {% if tv.similar.total_results %}
                    <div class="series-group">
                        <h2>{{ 'Similar series'|trans }}</h2>
                        <div class="wrapper">
                            <div class="content">
                                {% for s in tv.similar.results %}
                                    {{ include('_blocks/series/_card.html.twig', { series: s }) }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if tv.lists.total_results %}
                    <div class="series-group">
                        <h2>{{ 'Lists'|trans }}</h2>
                        <div class="lists">
                            <ul>
                                {% for list in tv.lists.results %}
                                    <li>
                                        <a href="{{ path('app_series_list', {id: list.id, seriesId: series.id}) }}">
                                            <span>{{ list.name }}</span> ({{ list.iso_3166_1|country_name }}, {{ list.item_count }} {{ 'items'|trans }}){% if list.description %} - {{ list.description }}{% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% include '_blocks/_footer.html.twig' %}
    </div>
    <dialog class="add-backdrop-dialog">
        {{ form_start(addBackdropForm) }}
        {{ form_widget(addBackdropForm) }}
        <div class="form-row">
            <button type="button" name="cancel">{{ 'Cancel'|trans }}</button>
            <button type="submit">{{ 'Upload it!'|trans }}</button>
        </div>
        {{ form_end(addBackdropForm) }}
    </dialog>
    {% if oldSeriesAdded %}
        <dialog class="old-series-added-dialog">
            <div class="dialog-content">
                <div class="dialog-header">
                    <h2>{{ 'Old series added'|trans }}</h2>
                </div>
                <div class="dialog-body">
                    <div class="message">
                        {{ 'The series has been added to your watchlist'|trans }}.
                        {{ 'This series is more than 2 years old'|trans }}.
                        {{ 'Have you already watched it and want to mark all episodes as viewed?'|trans }}
                    </div>
                    <button name="add-and-mark">{{ 'Add and mark all episodes as viewed'|trans }}</button>
                    <button name="add">{{ 'Add without marking all episodes as viewed'|trans }}</button>
                </div>
            </div>
        </dialog>
    {% endif %}
    <div id="globs" style="display: none">
        {
        {% if tv.localized_name %}
            "seriesName": "{{ tv.localized_name.name }}",
        {% else %}
            "seriesName": "{{ series.name }}",
        {% endif %}
        "seriesId": {{ series.id }},
        "userSeriesId": {{ userSeries.id }},
        "providers": {{ providers|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "translations": {{ translations|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "api": {
        "directLinkCrud": {
        "create": "{{ path('api_series_direct_link_create') }}",
        "read": "{{ path('api_series_direct_link_read', {id: 0})|slice(0,-1) }}",
        "update": "{{ path('api_series_direct_link_update', {id: 0})|slice(0,-1) }}",
        "delete": "{{ path('api_series_direct_link_delete', {id: 0})|slice(0,-1) }}"
        }
        }
        }
    </div>
    <div id="svgs" style="display: none">
        <div class="svg" id="arrow-down">{{ ux_icon('fa6-solid:arrow-down', {height: '18px', width: '18px'}) }}</div>
        <div class="svg" id="arrow-up">{{ ux_icon('fa6-solid:arrow-up', {height: '18px', width: '18px'}) }}</div>
        <div class="svg" id="arrow-left">{{ ux_icon('fa6-solid:arrow-left', {height: '18px', width: '18px'}) }}</div>
        <div class="svg" id="arrow-right">{{ ux_icon('fa6-solid:arrow-right', {height: '18px', width: '18px'}) }}</div>
        <div class="svg" id="xmark">{{ ux_icon('fa6-solid:xmark', {height: '18px', width: '18px'}) }}</div>
        <div class="svg" id="pen">{{ ux_icon('fa6-solid:pen', {height: '18px', width: '18px'}) }}</div>
        <div class="svg" id="trash">{{ ux_icon('fa6-solid:trash', {height: '18px', width: '18px'}) }}</div>
    </div>
{% endblock %}

