{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Series'|trans }} → {{ tv.localized_name.name ?? series.name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/contact.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/user.scss') }}">
{% endblock %}
{% block body %}
    <script>
        const bd = '/series/posters{{ series.posterPath }}';
        const body = document.querySelector("body");
        body.style.backgroundSize = "cover";
        body.style.backgroundPosition = "center";
        body.style.backgroundRepeat = "no-repeat";
        body.style.backgroundAttachment = "fixed";
        body.style.backgroundImage = "url(" + bd + ")";
    </script>
    {% include '_blocks/_menu.html.twig' %}
    <div class="container-fluid backgroundImageOverlay">
        <div class="series-show user-series-show">
            <div class="header">
                <div class="poster">
                    {% if series.posterPath %}
                        <img src="/series/posters{{ series.posterPath }}" alt="{{ series.name }}">
                    {% else %}
                        <div>{{ 'No poster'|trans }}</div>
                    {% endif %}
                    <div class="progress" data-value="{{ userSeries.progress }}">
                        <div class="progress-bar"></div>
                    </div>
                </div>
                <div class="infos">
                    <div class="backdrop">
                        <img src="/series/backdrops{{ tv.backdrop_path }}" alt="{{ series.name }}">
                    </div>
                    <div class="name">
                        <h1>
                            {% if tv.localized_name %}
                                <span class="localized-name-span">{{ tv.localized_name.name }}</span>
                            {% endif %}
                            <span class="name-span">{{ series.name }} ({{ series.firstAirDate|date("Y") }})</span>
                        </h1>
                        <div class="series-tools">
                            <div class="series-tools-click">
                                {{ ux_icon('fa6-solid:ellipsis-vertical', {height: '18px', width: '18px'}) }}
                            </div>
                            <div class="series-tools-menu">
                                <div id="localized-name">{{ 'Suggest a localized name'|trans }}</div>
                                <div id="localized-overview">{{ 'Add a localized overview'|trans }}</div>
                                <div id="additional-overview">{{ 'Add an additional overview'|trans }}</div>
                            </div>
                        </div>
                    </div>
                    {{ include('_blocks/forms/_delete-overview.html.twig') }}
                    {{ include('_blocks/forms/_localized-name.html.twig', {media: tv}) }}
                    {{ include('_blocks/forms/_overview.html.twig', {media: tv}) }}
                    <h5>
                        {% set n = series.visitNumber %}
                        {% if n > 1000 %}
                            {% set n = (n / 1000)|round(1, 'floor') ~ 'k' %}
                        {% endif %}
                        {{ n }} {{ (n > 1 ? 'visits':'visit')|trans }}
                    </h5>
                    <div class="series-overview">{{ tv.overview }}</div>
                    {% if tv.localized_overviews|length %}
                        <h4 class="localized-h4">{{ 'Localized overviews'|trans }}</h4>
                        <div class="localized overviews">
                            {% for overview in tv.localized_overviews %}
                                <div class="localized overview" data-id="{{ overview.id }}">
                                    <div class="content">
                                        {{ overview.overview|nl2br }}
                                    </div>
                                    <div class="tools">
                                        <div class="locale">{{ overview.locale|upper }}</div>
                                        <div class="edit" data-id="{{ overview.id }}" data-title="{{ 'Edit'|trans }}">
                                            {{ ux_icon('fa6-solid:pen', {height: '18px', width: '18px'}) }}
                                        </div>
                                        <div class="delete" data-id="{{ overview.id }}" data-title="{{ 'Delete'|trans }}">
                                            {{ ux_icon('fa6-solid:trash', {height: '18px', width: '18px'}) }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if tv.additional_overviews|length %}
                        <h4 class="additional-h4">{{ 'Additional overviews'|trans }}</h4>
                        <div class="additional overviews">
                            {% for overview in tv.additional_overviews %}
                                <div class="additional overview" data-id="{{ overview.id }}">
                                    <div class="content">
                                        {{ overview.overview|nl2br }}
                                    </div>
                                    <div class="tools">
                                        {% if overview.source %}
                                            <div class="source">
                                                {% if overview.source.path %}
                                                    <a href="{{ overview.source.path }}" data-title="{{ overview.source.name }}" target="_blank" rel="noopener noreferrer">
                                                        {% if overview.source.LogoPath %}
                                                            <img src="{{ overview.source.LogoPath }}" alt="{{ overview.source.name }}">
                                                        {% else %}
                                                            {{ overview.source.name }}
                                                        {% endif %}
                                                    </a>
                                                {% else %}
                                                    {{ overview.source.name }}
                                                {% endif %}
                                            </div>
                                            <div class="locale">{{ overview.locale|upper }}</div>
                                        {% endif %}
                                        <div class="edit" data-id="{{ overview.id }}" data-title="{{ 'Edit'|trans }}">
                                            {{ ux_icon('fa6-solid:pen', {height: '18px', width: '18px'}) }}
                                        </div>
                                        <div class="delete" data-id="{{ overview.id }}" data-title="{{ 'Delete'|trans }}">
                                            {{ ux_icon('fa6-solid:trash', {height: '18px', width: '18px'}) }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if series.updates %}
                        <h4>{{ 'Updates'|trans }}</h4>
                        <div class="updates">
                            <div class="wrapper">
                                {% for update in series.updates %}
                                    <div class="update">{{ update }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            {% if series.nextEpisodeAirDate %}
                <div class="schedules">
                    {% set neta = tv.next_episode_to_air %}
                    <div class="next-episode">{{ "S%02dE%02d"|format(neta.season_number, neta.episode_number) }} - {{ neta.name }} - {{ series.nextEpisodeAirDate|format_date("relative_full")|capitalize }}</div>

                    {% if series.schedules|length %}
                        {% set schedules = series.schedules %}
                        <div class="wrapper">
                            {% for schedule in schedules %}
                                <div class="schedule">
                                    {% set country = user.country ?? 'FR' %}
                                    <div class="country" data-title="{{ schedule.country|country_name }}">{{ getEmojiFlag(schedule.country) }}</div>
                                    <div class="air">{{ schedule.firstAirDate|format_datetime(pattern="cccc - H:mm")|capitalize }}</div>
                                    <div>
                                        {{ ux_icon('fa6-solid:arrow-right', {height: '18px', width: '18px'}) }}
                                    </div>
                                    <div class="country" data-title="{{ country|country_name }}">{{ getEmojiFlag(country) }}</div>
                                    <div class="local-air">{{ schedule.originalDate|format_datetime(pattern="cccc - H:mm")|capitalize }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            {% if userSeries %}
                <div class="user-actions">
                    <div class="watch-links">
                        <div class="label">{{ 'Watch links'|trans }}</div>
                        {% for link in series.watchLinks %}
                            <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                                <div class="watch-link">
                                    {% if link.providerId %}
                                        <img src="{{ providers.logos[link.providerId] }}" alt="{{ providers.names[link.providerId] }}" data-title="{{ link.name ?? providers.names[link.providerId] }}">
                                    {% else %}
                                        <span>{{ link.name }}</span>
                                    {% endif %}
                                </div>
                            </a>
                        {% endfor %}
                        <div class="add-watch-link" data-title="{{ 'Add a watch link'|trans }}">
                            {{ ux_icon('fa6-solid:plus', {height: '18px', width: '18px'}) }}
                        </div>
                    </div>
                    <div class="watch-link-form">
                        <form class="form" action="" id="watch-link-form">
                            <div class="form-row">
                                <div class="form-field">
                                    <label for="provider">{{ 'Provider'|trans }}
                                        <select name="provider" id="provider">
                                            <option value="">{{ 'Select a provider'|trans }}</option>
                                            {% for name, id in providers.select %}
                                                <option value="{{ id }}">{{ name }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label for="name">{{ 'Name'|trans }}
                                        <input type="text" name="name" id="name" required>
                                        <span class="error"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label for="url">{{ 'URL'|trans }}
                                        <input type="url" name="url" id="url" required>
                                        <span class="error"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <button type="button">{{ 'Cancel'|trans }}</button>
                                    <button type="submit">{{ 'Add'|trans }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="rating">
                        <div class="rating-stars">
                            <div class="stars" data-trans-rating="Cancel rating|{{ 'Cancel rating'|trans }}" data-trans-star="star|{{ 'star'|trans }}" data-trans-stars="stars|{{ 'stars'|trans }}">
                                <div class="star {{ userSeries.rating >= 1 ? "active" }}" data-value="1" data-title="{{ (userSeries.rating >= 1 ? "Cancel rating":"x star")|trans({'x': 1}) }}">
                                    {{ ux_icon('fa6-solid:star', {height: '18px', width: '18px'}) }}
                                </div>
                                <div class="star {{ userSeries.rating >= 2 ? "active" }}" data-value="2" data-title="{{ (userSeries.rating >= 2 ? "Cancel rating":"x stars")|trans({'x': 2}) }}">
                                    {{ ux_icon('fa6-solid:star', {height: '18px', width: '18px'}) }}
                                </div>
                                <div class="star {{ userSeries.rating >= 3 ? "active" }}" data-value="3" data-title="{{ (userSeries.rating >= 3 ? "Cancel rating":"x stars")|trans({'x': 3}) }}">
                                    {{ ux_icon('fa6-solid:star', {height: '18px', width: '18px'}) }}
                                </div>
                                <div class="star {{ userSeries.rating >= 4 ? "active" }}" data-value="4" data-title="{{ (userSeries.rating >= 4 ? "Cancel rating":"x stars")|trans({'x': 4}) }}">
                                    {{ ux_icon('fa6-solid:star', {height: '18px', width: '18px'}) }}
                                </div>
                                <div class="star {{ userSeries.rating >= 5 ? "active" }}" data-value="5" data-title="{{ (userSeries.rating >= 5 ? "Cancel rating":"x stars")|trans({'x': 5}) }}">
                                    {{ ux_icon('fa6-solid:star', {height: '18px', width: '18px'}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if userSeries.marathoner or userSeries.binge %}
                        <div class="badges">
                            {% if userSeries.binge %}
                                <div class="badge" data-title="{{ 'A real binger!'|trans }}">
                                    {{ ux_icon('fa:coffee', {height: '18px', width: '18px'}) }}
                                </div>
                            {% endif %}
                            {% if userSeries.marathoner %}
                                <div class="badge" data-title="{{ 'A real marathoner!'|trans }}">
                                    {{ ux_icon('fa6-solid:bolt', {height: '18px', width: '18px'}) }}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="actions">
                        <div class="action toggle-pinned-series{% if userSeries.userPinnedSeries %} pinned{% endif %}" data-title="{{ (userSeries.userPinnedSeries ? "Remove from pinned series" : "Add to pinned series")|trans }}">
                            {{ ux_icon('fa6-solid:paperclip', {height: '18px', width: '18px'}) }}
                        </div>
                        <div class="action toggle-favorite-series{% if userSeries.favorite %} favorite{% endif %}" data-title="{{ (userSeries.favorite ? "Remove from favorites" : "Add to favorites")|trans }}">
                            {{ ux_icon('fa6-solid:heart', {height: '18px', width: '18px'}) }}
                        </div>
                        <div class="action remove-this-series" data-title="{{ 'Remove this series from your watchlist'|trans }}">
                            {{ ux_icon('fa6-solid:trash', {height: '18px', width: '18px'}) }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="content">
                <div class="left">
                    <div class="all-seasons">
                        <div>{{ 'Seasons'|trans }}</div>
                        {% if tv.seasons|length > 1 %}
                            <div class="season-order">
                                {{ ux_icon('fa6-solid:arrow-down', {height: '18px', width: '18px'}) }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="seasons">
                        {% for season in tv.seasons %}
                            <a href="{{ path('app_series_season', {id: series.id, seasonNumber: season.season_number, slug: tv.localized_name.slug ?? series.slug}) }}">
                                <div class="season">
                                    <div class="poster">
                                        {% if season.poster_path %}
                                            <img src="{{ season.poster_path }}" alt="{{ season.name }}">
                                        {% else %}
                                            <div>{{ 'No poster'|trans }}</div>
                                        {% endif %}
                                        <div class="number">
                                            {{ season.season_number }}
                                        </div>
                                    </div>
                                    <div class="infos">
                                        <div class="season__name">{{ season.name }}</div>
                                        {% if season.overview %}
                                            <div class="season__overview">{{ season.overview }}</div>
                                        {% endif %}
                                        <div class="season__air-date">{{ 'Air date'|trans }}
                                            {% if season.air_date %}
                                                {{ date(season.air_date)|format_date('relative_long') }}
                                                {% if userSeries.lastSeason is not null and userSeries.lastSeason == season.season_number %}
                                                    — {{ 'Last seen'|trans }} {{ date(userSeries.lastWatchAt)|format_date('relative_long') }}
                                                {% endif %}
                                            {% else %}
                                                {{ 'TBA'|trans }}
                                            {% endif %}
                                        </div>
                                        <div class="season__episodes">
                                            {{ season.episode_count }} {{ (season.episode_count>1?'episodes':'episode')|trans }}
                                            <div class="watched"></div>
                                            {% set viewedEpisodes = userSeries.userEpisodes|filter(ue => ue.seasonNumber == season.season_number and ue.watchAt)|length %}
                                            {% if viewedEpisodes == 0 %}
                                                {{ 'No episode seen'|trans }}
                                            {% elseif viewedEpisodes == 1 %}
                                                {{ '1 episode seen'|trans }}
                                            {% elseif viewedEpisodes == season.episode_count %}
                                                {{ 'All episodes seen'|trans }}
                                            {% else %}
                                                {{ viewedEpisodes }} {{ 'episodes seen'|trans }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    {% if tv.credits.cast|length %}
                        <h3>{{ 'Cast'|trans }}</h3>
                        <div class="cast">
                            <div class="wrapper">
                                {% for people in tv.credits.cast %}
                                    <a href="{{ path('app_people_show', {id: people.id, slug: people.slug}) }}">
                                        <div class="people" data-title="{{ people.name }}">
                                            <div class="photo">
                                                {% if people.profile_path %}
                                                    <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                                {% else %}
                                                    {{ 'No picture'|trans }}
                                                {% endif %}
                                            </div>
                                            <div class="infos">
                                                <div class="name">{{ people.name }}</div>
                                                <div>{{ people.character }}</div>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if tv.credits.crew|length %}
                        <h3>{{ 'Crew'|trans }}</h3>
                        <div class="crew">
                            <div class="wrapper">
                                {% for people in tv.credits.crew %}
                                    <a href="{{ path('app_people_show', {id: people.id, slug: people.slug}) }}">
                                        <div class="people" data-title="{{ people.name }}">
                                            <div class="photo">
                                                {% if people.profile_path %}
                                                    <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                                {% else %}
                                                    {{ 'No picture'|trans }}
                                                {% endif %}
                                            </div>
                                            <div class="infos">
                                                <div class="name">{{ people.name }}</div>
                                                <div>{{ people.job ~ ' - ' ~ people.department }}</div>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="right">
                    {% if tv['watch/providers'].flatrate|length %}
                        <h3>{{ 'Where to watch'|trans }}</h3>
                        <div class="providers">
                            <div class="wrapper">
                                {% for provider in tv['watch/providers'].flatrate %}
                                    <div class="provider" data-title="{{ provider.provider_name }}">
                                        <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                        <div>{{ provider.provider_name }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if tv['watch/providers'].rent|length %}
                        <h3>{{ 'Where to rent'|trans }}</h3>
                        <div class="providers">
                            <div class="wrapper">
                                {% for provider in tv['watch/providers'].rent %}
                                    <div class="provider" data-title="{{ provider.provider_name }}">
                                        <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                        <div>{{ provider.provider_name }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if tv['watch/providers'].buy|length %}
                        <h3>{{ 'Where to buy'|trans }}</h3>
                        <div class="providers">
                            <div class="wrapper">
                                {% for provider in tv['watch/providers'].buy %}
                                    <div class="provider" data-title="{{ provider.provider_name }}">
                                        <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                        <div>{{ provider.provider_name }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <h3>{{ 'Key facts'|trans }}</h3>
                    <div class="facts">
                        <div class="fact">
                            <div class="fact-label">{{ 'Original name'|trans }}</div>
                            <div class="fact-content">{{ tv.original_name }}</div>
                        </div>
                        <div class="fact">
                            <div class="fact-label">{{ 'Original language'|trans }}</div>
                            <div class="fact-content">{{ tv.original_language|language_name }}</div>
                        </div>
                        <div class="fact">
                            <div class="fact-label">{{ 'Original Country'|trans }}</div>
                            {% for country in tv.origin_country %}
                                <div class="fact-content">{{ getEmojiFlag(country) ~ ' ' ~ country|country_name }}</div>
                            {% endfor %}
                        </div>
                        <div class="fact">
                            <div class="fact-label">{{ 'Status'|trans }}</div>
                            <div class="fact-content">{{ tv.status|trans }}</div>
                        </div>
                        {% if tv.networks|length %}
                            <div class="fact">
                                <div class="fact-label">{{ (tv.networks|length>1?'Networks':'Network')|trans }}</div>
                                <div class="networks">
                                    {% for network in tv.networks %}
                                        <div class="network-detail">
                                            <div class="frame">
                                                {% if network.logo_path %}
                                                    <img src="{{ network.logo_path }}" alt="{{ network.name }}" loading="lazy">
                                                {% else %}
                                                    {{ network.name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if tv.keywords.results|length %}
                            <div class="fact keyword-block">
                                {{ include('_blocks/series/_keywords.html.twig', {id: tv.id, keywords: tv.keywords.results, missing: tv.missing_translations}) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% include '_blocks/_footer.html.twig' %}
    </div>
    <div id="globs" style="display: none">
        {
        "seriesId": {{ series.id }},
        "userSeriesId": {{ userSeries.id }},
        "providers": {{ providers|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "translations": {{ translations|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
        }
    </div>
    <div class="svgs" style="display: none">
        <div class="svg" id="arrow-down">{{ ux_icon('fa6-solid:arrow-down', {height: '18px', width: '18px'}) }}</div>
        <div class="svg" id="arrow-up">{{ ux_icon('fa6-solid:arrow-up', {height: '18px', width: '18px'}) }}</div>
    </div>
{% endblock %}

