{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Series'|trans }} → {{ tv.localized_name.name ?? series.name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/contact.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
{% endblock %}
{% block body %}
    <script>
        const bd = '/series/posters{{ series.posterPath }}';
        const body = document.querySelector("body");
        body.style.backgroundSize = "cover";
        body.style.backgroundPosition = "center";
        body.style.backgroundRepeat = "no-repeat";
        body.style.backgroundAttachment = "fixed";
        body.style.backgroundImage = "url(" + bd + ")";
    </script>
    <div class="container-fluid backgroundImageOverlay">
        {% include '_blocks/_menu.html.twig' %}
        <div class="series-show">
            <div class="header">
                <div class="poster">
                    <img src="/series/posters{{ series.posterPath }}" alt="{{ series.name }}">
                    <div class="progress" data-value="{{ userSeries.progress }}">
                        <div class="progress-bar"></div>
                    </div>
                </div>
                <div class="infos">
                    <h1>
                        {% if tv.localized_name %}
                            {{ tv.localized_name.name }}
                        {% endif %}
                        {{ series.name }} ({{ series.firstDateAir|date("Y") }})
                        <div class="localized-name" data-title="{{ 'Suggest a name'|trans }}">
                            <i class="fa fa-pen"></i>
                        </div>
                    </h1>
                    <div class="localized-name-form">
                        <form class="form" action="" id="localized-name-form">
                            <div class="form-row">
                                <div class="form-field">
                                    <label for="name">{{ 'Localized name'|trans }}
                                        <input type="text" name="name" id="name" value="{% if tv.localized_name %}{{ tv.localized_name.name }}{% endif %}" required>
                                        <span class="error"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <button type="button">{{ 'Cancel'|trans }}</button>
                                    <button type="submit">{{ 'Add'|trans }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <h5>
                        {% set n = series.visitNumber %}
                        {% if n > 1000 %}
                            {% set n = (n / 1000)|round(1, 'floor') ~ 'k' %}
                        {% endif %}
                        {{ n }} {{ (n > 1 ? 'visits':'visit')|trans }}
                    </h5>
                    <div class="overview">{{ tv.overview }}</div>
                    {% if series.updates %}
                        <h4>{{ 'Updates'|trans }}</h4>
                        <div class="updates">
                            <div class="wrapper">
                                {% for update in series.updates %}
                                    <div class="update">{{ update|trans }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="backdrop">
                        <img src="/series/backdrops{{ tv.backdrop_path }}" alt="{{ series.name }}">
                    </div>
                </div>
            </div>

            {% if userSeries %}
                <div class="user-actions">
                    <div class="watch-links">
                        <div class="label">{{ 'Watch links'|trans }}</div>
                        {% for link in series.seriesWatchLinks %}
                            <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                                <div class="watch-link">
                                    {% if link.providerId %}
                                        <img src="{{ providers.logos[link.providerId] }}" alt="{{ providers.names[link.providerId] }}" data-title="{{ link.name ?? providers.names[link.providerId] }}">
                                    {% else %}
                                        <span>{{ link.name }}</span>
                                    {% endif %}
                                </div>
                            </a>
                        {% endfor %}
                        <div class="add-watch-link" data-title="{{ 'Add a watch link'|trans }}">
                            <i class="fa fa-plus"></i>
                        </div>
                    </div>
                    <div class="watch-link-form">
                        {#                        <form action="{{ path('app_series_add_watch_link', {id: series.id}) }}" method="post"> #}
                        <form class="form" action="" id="watch-link-form">
                            <div class="form-row">
                                <div class="form-field">
                                    <label for="provider">{{ 'Provider'|trans }}
                                        <select name="provider" id="provider">
                                            <option value="">{{ 'Select a provider'|trans }}</option>
                                            {% for name, id in providers.select %}
                                                <option value="{{ id }}">{{ name }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label for="name">{{ 'Name'|trans }}
                                        <input type="text" name="name" id="name" required>
                                        <span class="error"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label for="url">{{ 'URL'|trans }}
                                        <input type="url" name="url" id="url" required>
                                        <span class="error"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <button type="button">{{ 'Cancel'|trans }}</button>
                                    <button type="submit">{{ 'Add'|trans }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="rating">
                        <div class="rating-stars">
                            <div class="stars" data-trans-rating="Cancel rating|{{ 'Cancel rating'|trans }}" data-trans-star="star|{{ 'star'|trans }}" data-trans-stars="stars|{{ 'stars'|trans }}">
                                <i class="star {{ userSeries.rating >= 1 ? "active" }} fas fa-star" data-value="1" data-title="{{ (userSeries.rating >= 1 ? "Cancel rating":"x star")|trans({'x': 1}) }}"></i>
                                <i class="star {{ userSeries.rating >= 2 ? "active" }} fas fa-star" data-value="2" data-title="{{ (userSeries.rating >= 2 ? "Cancel rating":"x stars")|trans({'x': 2}) }}"></i>
                                <i class="star {{ userSeries.rating >= 3 ? "active" }} fas fa-star" data-value="3" data-title="{{ (userSeries.rating >= 3 ? "Cancel rating":"x stars")|trans({'x': 3}) }}"></i>
                                <i class="star {{ userSeries.rating >= 4 ? "active" }} fas fa-star" data-value="4" data-title="{{ (userSeries.rating >= 4 ? "Cancel rating":"x stars")|trans({'x': 4}) }}"></i>
                                <i class="star {{ userSeries.rating >= 5 ? "active" }} fas fa-star" data-value="5" data-title="{{ (userSeries.rating >= 5 ? "Cancel rating":"x stars")|trans({'x': 5}) }}"></i>
                            </div>
                        </div>
                    </div>
                    {% if userSeries.marathoner %}
                    <div class="badges">
                        <div class="badge"data-title="{{ 'A real marathoner!'|trans }}"><i class="fas fa-bolt"></i></div>
                    </div>
                    {% endif %}
                    <div class="actions">
                        <div class="action toggle-favorite-series{% if userSeries.favorite %} favorite{% endif %}">
                            <i class="fas fa-heart" data-title="{{ (userSeries.favorite ? "Remove from favorites" : "Add to favorites")|trans }}"></i>
                        </div>
                        <div class="action remove-this-series">
                            <i class="fas fa-trash" data-title="{{ 'Remove this series from your watchlist'|trans }}"></i>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="content">
                <div class="left">
                    <div class="seasons-episodes">
                        <h3>{{ 'Seasons'|trans }}</h3>
                        {% for season in tv.seasons %}
                            <a href="{{ path('app_series_season', {id: series.id, seasonNumber: season.season_number, slug: tv.localized_name.slug ?? series.slug}) }}">
                                <div class="season-episode">
                                    <div class="poster">
                                        {% if season.poster_path %}
                                            <img src="{{ season.poster_path }}" alt="{{ season.name }}">
                                        {% else %}
                                            <div>{{ 'No poster'|trans }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="infos">
                                        <div class="name">{{ season.name }}</div>
                                        {% if season.overview %}
                                            <div class="overview">{{ season.overview }}</div>
                                        {% endif %}
                                        {% if season.air_date %}
                                            <div class="air-date">{{ 'Air date'|trans }} {{ date(season.air_date)|format_date('relative_long') }}</div>
                                        {% else %}
                                            <div class="air-date">{{ 'Air date'|trans }} {{ 'TBA'|trans }}</div>
                                        {% endif %}
                                        {% if userSeries.lastSeason == season.season_number %}
                                            <div class="air-date">{{ 'Last seen'|trans }} {{ date(userSeries.lastWatchAt)|format_date('relative_long') }}</div>
                                        {% endif %}
                                        <div class="episodes">
                                            {{ season.episode_count }} {{ (season.episode_count>1?'episodes':'episode')|trans }}
                                            <div class="watched"></div>
                                            {% for ep in userSeries.userEpisodes %}
                                                {% if ep.seasonNumber == season.season_number %}
                                                    <div class="episode">
                                                        {{ ep.episodeNumber }}
                                                        {% if ep.watchAt %}
                                                            <i class="fas fa-eye" data-title="{{ ep.watchAt|format_datetime("relative_long", "short") }}"></i>
                                                        {% else %}
                                                            <i class="far fa-eye-slash"></i>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    {% if tv.credits.cast|length %}
                        <h3>{{ 'Cast'|trans }}</h3>
                        <div class="cast">
                            <div class="wrapper">
                                {% for people in tv.credits.cast %}
                                    <a href="{{ path('app_series_people', {id: people.id, slug: people.slug}) }}">
                                        <div class="people">
                                            <div class="profile">
                                                {% if people.profile_path %}
                                                    <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                                {% else %}
                                                    {{ 'No picture'|trans }}
                                                {% endif %}
                                            </div>
                                            <div class="infos">
                                                <div class="name">{{ people.name }}</div>
                                                <div>{{ people.character }}</div>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if tv.credits.crew|length %}
                        <h3>{{ 'Crew'|trans }}</h3>
                        <div class="crew">
                            <div class="wrapper">
                                {% for people in tv.credits.crew %}
                                    <a href="{{ path('app_series_people', {id: people.id, slug: people.slug}) }}">
                                        <div class="people">
                                            <div class="profile">
                                                {% if people.profile_path %}
                                                    <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                                {% else %}
                                                    {{ 'No picture'|trans }}
                                                {% endif %}
                                            </div>
                                            <div class="infos">
                                                <div class="name">{{ people.name }}</div>
                                                <div>{{ people.job ~ ' - ' ~ people.department }}</div>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="right">
                    {% if tv['watch/providers'].flatrate|length %}
                        <h3>{{ 'Where to watch'|trans }}</h3>
                        <div class="providers">
                            <div class="wrapper">
                                {% for provider in tv['watch/providers'].flatrate %}
                                    <div class="provider">
                                        <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                        <div>{{ provider.provider_name }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if tv['watch/providers'].rent|length %}
                        <h3>{{ 'Where to rent'|trans }}</h3>
                        <div class="providers">
                            <div class="wrapper">
                                {% for provider in tv['watch/providers'].rent %}
                                    <div class="provider">
                                        <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                        <div>{{ provider.provider_name }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if tv['watch/providers'].buy|length %}
                        <h3>{{ 'Where to buy'|trans }}</h3>
                        <div class="providers">
                            <div class="wrapper">
                                {% for provider in tv['watch/providers'].buy %}
                                    <div class="provider">
                                        <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                        <div>{{ provider.provider_name }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <h3>{{ 'Key facts'|trans }}</h3>
                    <div class="facts">
                        <div class="fact">
                            <div class="fact-label">{{ 'Original name'|trans }}</div>
                            <div class="fact-content">{{ tv.original_name }}</div>
                        </div>
                        <div class="fact">
                            <div class="fact-label">{{ 'Original language'|trans }}</div>
                            <div class="fact-content">{{ tv.original_language|language_name }}</div>
                        </div>
                        <div class="fact">
                            <div class="fact-label">{{ 'Original Country'|trans }}</div>
                            {% for country in tv.origin_country %}
                                <div class="fact-content">{{ country|country_name }}</div>
                            {% endfor %}
                        </div>
                        <div class="fact">
                            <div class="fact-label">{{ 'Status'|trans }}</div>
                            <div class="fact-content">{{ tv.status|trans }}</div>
                        </div>
                        {% if tv.networks|length %}
                            <div class="fact">
                                <div class="fact-label">{{ (tv.networks|length>1?'Networks':'Network')|trans }}</div>
                                <div class="networks">
                                    {% for network in tv.networks %}
                                        <div class="network-detail">
                                            <div class="frame">
                                                {% if network.logo_path %}
                                                    <img src="{{ network.logo_path }}" alt="{{ network.name }}" loading="lazy">
                                                {% else %}
                                                    {{ network.name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if tv.keywords.results|length %}
                            <div class="fact">
                                <div class="keywords">
                                    {% for k in tv.keywords.results %}
                                        <div class="keyword" data-title="{{ k.name|trans([], 'keywords') }}">{{ k.name }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% include '_blocks/_footer.html.twig' %}
    </div>
    <div id="globs" style="display: none">
        {
        "providers": {{ providers|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
        }
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const jsonGlobsObject = JSON.parse(document.querySelector('div#globs').textContent);
            const providers = jsonGlobsObject.providers;

            const progressDiv = document.querySelector('.progress');
            const progressBarDiv = document.querySelector('.progress-bar');
            const progress = progressDiv.getAttribute('data-value');
            progressBarDiv.classList.add('set');
            progressBarDiv.style.width = progress + '%';
            progressBarDiv.setAttribute('aria-valuenow', progress);

            const userActions = document.querySelector('.user-actions');
            const lang = document.documentElement.lang;
            if (userActions) {
                const stars = userActions.querySelectorAll('.star');
                stars.forEach(function (star) {
                    star.addEventListener('click', function () {
                        const active = this.classList.contains('active');
                        const value = active ? 0 : this.getAttribute('data-value');
                        fetch('/' + lang + '/series/rating/' + {{ userSeries.id }}, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({rating: value})
                        }).then(function (response) {
                            if (response.ok) {
                                const transRating = stars[0].parentElement.getAttribute('data-trans-rating').split('|')[lang === 'en' ? 0 : 1];
                                const transStar = stars[0].parentElement.getAttribute('data-trans-star').split('|')[lang === 'en' ? 0 : 1];
                                const transStars = stars[0].parentElement.getAttribute('data-trans-stars').split('|')[lang === 'en' ? 0 : 1];
                                stars.forEach(function (star) {
                                    star.classList.remove('active');
                                    if (star.getAttribute('data-value') <= value) {
                                        star.setAttribute('data-title', transRating);
                                    } else {
                                        const v = star.getAttribute('data-value');
                                        star.setAttribute('data-title', v + ' ' + (v > 1 ? transStars : transStar));
                                    }
                                });
                                for (let i = 0; i < value; i++) {
                                    stars[i].classList.add('active');
                                }
                            }
                        });
                    });
                });
            }

            const favorite = document.querySelector('.toggle-favorite-series');
            favorite.addEventListener('click', function () {
                const isFavorite = this.classList.contains('favorite');
                fetch('/' + lang + '/series/favorite/' + {{ userSeries.id }}, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({favorite: isFavorite ? 0 : 1})
                }).then(function (response) {
                    if (response.ok) {
                        favorite.classList.toggle('favorite');
                    }
                });
            });

            const addWatchLink = document.querySelector('.add-watch-link');
            const watchLinkForm = document.querySelector('.watch-link-form');
            const form = document.querySelector('#watch-link-form');
            const cancel = form.querySelector('button[type="button"]');
            const submit = form.querySelector('button[type="submit"]');

            addWatchLink.addEventListener('click', function () {
                watchLinkForm.classList.add('display');
                setTimeout(function () {
                    watchLinkForm.classList.add('active');
                }, 0);
            });
            cancel.addEventListener('click', function () {
                watchLinkForm.classList.remove('active');
                setTimeout(function () {
                    watchLinkForm.classList.remove('display');
                }, 300);
            });
            submit.addEventListener('click', function (event) {
                event.preventDefault();

                const provider = form.querySelector('#provider');
                const name = form.querySelector('#name');
                const url = form.querySelector('#url');
                const errors = form.querySelectorAll('.error');
                errors.forEach(function (error) {
                    error.textContent = '';
                });
                if (!provider.value) {
                    provider.value = null;
                }
                if (!name.value) {
                    name.nextElementSibling.textContent = '{{ 'This field is required'|trans }}';
                }
                if (!url.value) {
                    url.nextElementSibling.textContent = '{{ 'This field is required'|trans }}';
                }
                if (name.value && url.value) {
                    fetch('/' + lang + '/series/add/watch/link/' + {{ series.id }}, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({provider: provider.value, name: name.value, url: url.value})
                    }).then(function (response) {
                        if (response.ok) {
                            watchLinkForm.classList.remove('active');
                            setTimeout(function () {
                                watchLinkForm.classList.remove('display');
                            }, 300);
                            const watchLinks = document.querySelector('.watch-links');
                            const newLink = document.createElement('a');
                            newLink.href = url.value;
                            newLink.target = '_blank';
                            newLink.rel = 'noopener noreferrer';
                            if (provider.value) {
                                const watchLink = document.createElement('div');
                                watchLink.classList.add('watch-link');
                                const img = document.createElement('img');
                                img.src = providers.logos[provider.value];
                                img.alt = providers.names[provider.value];
                                img.setAttribute('data-title', name.value);
                                watchLink.appendChild(img);
                                newLink.appendChild(watchLink);
                            } else {
                                const watchLink = document.createElement('div');
                                watchLink.classList.add('watch-link');
                                const span = document.createElement('span');
                                span.textContent = name.value;
                                watchLink.appendChild(span);
                                newLink.appendChild(watchLink);
                            }
                            watchLinks.insertBefore(newLink, watchLinks.lastElementChild);
                            provider.value = '';
                            name.value = '';
                            url.value = '';
                        }
                    });
                }
            });

            const localizedName = document.querySelector('.localized-name');
            const localizedNameForm = document.querySelector('.localized-name-form');
            const lnForm = document.querySelector('#localized-name-form');
            const lnCancel = lnForm.querySelector('button[type="button"]');
            const lnSubmit = lnForm.querySelector('button[type="submit"]');

            localizedName.addEventListener('click', function () {
                localizedNameForm.classList.add('display');
                setTimeout(function () {
                    localizedNameForm.classList.add('active');
                }, 0);
            });
            lnCancel.addEventListener('click', function () {
                localizedNameForm.classList.remove('active');
                setTimeout(function () {
                    localizedNameForm.classList.remove('display');
                }, 300);
            });
            lnSubmit.addEventListener('click', function (event) {
                event.preventDefault();

                const name = lnForm.querySelector('#name');
                const errors = lnForm.querySelectorAll('.error');
                errors.forEach(function (error) {
                    error.textContent = '';
                });
                if (!name.value) {
                    name.nextElementSibling.textContent = '{{ 'This field is required'|trans }}';
                } else {
                    fetch('/' + lang + '/series/add/localized/name/' + {{ series.id }}, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({name: name.value})
                    }).then(function (response) {
                        if (response.ok) {
                            localizedNameForm.classList.remove('active');
                            setTimeout(function () {
                                localizedNameForm.classList.remove('display');
                            }, 300);
                            window.location.reload();
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
