{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Series'|trans }} → {{ tv.name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
{% endblock %}

{% block body %}
    <script>
        const bd = '/series/posters{{ tv.poster_path ?? ('/../backdrops' ~ tv.backdrop_path) }}';
        const body = document.querySelector("body");
        body.style.backgroundSize = "cover";
        body.style.backgroundPosition = "center";
        body.style.backgroundRepeat = "no-repeat";
        body.style.backgroundAttachment = "fixed";
        body.style.backgroundImage = "url(" + bd + ")";
    </script>
    <div class="container-fluid backgroundImageOverlay">
        {% include '_blocks/_menu.html.twig' %}
        <div class="series-show">
            <div class="header">
                <div class="poster">
                    {% if tv.poster_path %}
                        <img src="/series/posters{{ tv.poster_path }}" alt="{{ tv.name }}">
                    {% else %}
                        <div>{{ 'No poster'|trans }}</div>
                    {% endif %}
                </div>
                <div class="infos">
                    <h1>{{ tv.name }} ({{ tv.first_air_date|date("Y") }})</h1>
                    <div class="overview">{{ tv.overview }}</div>
                    <div class="backdrop">
                        <img src="/series/backdrops{{ tv.backdrop_path }}" alt="{{ tv.name }}">
                    </div>
                </div>
            </div>

            {% if tv['watch/providers'].flatrate|length %}
                <h3>{{ 'Where to watch'|trans }}</h3>
                <div class="providers">
                    {% for provider in tv['watch/providers'].flatrate %}
                        <div class="provider">
                            <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                            <div>{{ provider.provider_name }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if tv['watch/providers'].rent|length %}
                <h3>{{ 'Where to rent'|trans }}</h3>
                <div class="providers">
                    {% for provider in tv['watch/providers'].rent %}
                        <div class="provider">
                            <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                            <div>{{ provider.provider_name }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if tv['watch/providers'].buy|length %}
                <h3>{{ 'Where to buy'|trans }}</h3>
                <div class="providers">
                    {% for provider in tv['watch/providers'].buy %}
                        <div class="provider">
                            <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                            <div>{{ provider.provider_name }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if tv.credits.cast|length %}
                <h3>{{ 'Cast'|trans }}</h3>
                <div class="cast">
                    <div class="wrapper">
                        {% for people in tv.credits.cast %}
                            <a href="{{ path('app_series_people', {id: people.id, slug: people.slug}) }}">
                                <div class="people">
                                    <div class="profile">
                                        {% if people.profile_path %}
                                            <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                        {% else %}
                                            {{ 'No picture'|trans }}
                                        {% endif %}
                                    </div>
                                    <div class="infos">
                                        <div class="name">{{ people.name }}</div>
                                        <div>{{ people.character }}</div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if tv.credits.crew|length %}
                <h3>{{ 'Crew'|trans }}</h3>
                <div class="crew">
                    <div class="wrapper">
                        {% for people in tv.credits.crew %}
                            <a href="{{ path('app_series_people', {id: people.id, slug: people.slug}) }}">
                                <div class="people">
                                    <div class="profile">
                                        {% if people.profile_path %}
                                            <img src="{{ people.profile_path }}" alt="{{ people.name }}">
                                        {% else %}
                                            {{ 'No picture'|trans }}
                                        {% endif %}
                                    </div>
                                    <div class="infos">
                                        <div class="name">{{ people.name }}</div>
                                        <div>{{ people.job ~ ' - ' ~ people.department }}</div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        {% include '_blocks/_footer.html.twig' %}
    </div>
{% endblock %}
