{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Series'|trans }} → {{ localizedName.name ?? translatedName ?: tv.name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
{% endblock %}
{% block body %}
    {% if tv.blurredPosterPath %}
        <script>
            const bd = '/series/posters_blurred{{ tv.blurredPosterPath }}';
            const body = document.querySelector("body");
            body.style.backgroundSize = "cover";
            body.style.backgroundPosition = "center";
            body.style.backgroundRepeat = "no-repeat";
            body.style.backgroundAttachment = "fixed";
            body.style.backgroundImage = "url(" + bd + ")";
        </script>
    {% endif %}
    {% include '_blocks/_menu.html.twig' %}
    <div class="container-fluid backgroundImageOverlay">
        <div class="series-show">
            <div class="header">
                {% if tv.backdrop_path %}
                    <div class="backdrop">
                        <img src="/series/backdrops{{ tv.backdrop_path }}" alt="{{ tv.name }}">
                    </div>
                {% endif %}
                <div class="poster-container">
                <div class="poster">
                    {% if tv.poster_path %}
                        <img src="/series/posters{{ tv.poster_path }}" alt="{{ tv.name }}">
                    {% else %}
                        <div>{{ 'No poster'|trans }}</div>
                    {% endif %}
                </div>
                </div>
                <div class="infos">
                    <div class="infos-content">
                        <div class="name">
                            <h1>
                                {% if localizedName %}
                                    <span class="localization-span">{{ localizedName.name }}</span><br>
                                {% elseif tv.original_language != app.locale and tv.name == tv.original_name and tv.translations %}
                                    <span class="localization-span">{{ tv.translations.data.name }}</span><br>
                                {% endif %}
                                {{ tv.name }}
                                {% if tv.first_air_date %}
                                    ({{ tv.first_air_date|date("Y") }})
                                {% endif %}
                            </h1>
                        </div>
                        <div class="series-overview">
                            {{ tv.overview|nl2br }}
                        </div>
                    </div>
                </div>
            </div>

            {#            {{ include('_blocks/series/_externals.html.twig') }} #}

            <div class="content column">
                <div class="content-infos">
                    {% if tv['watch/providers'].flatrate|length %}
                        <h3>{{ 'Where to watch'|trans }}</h3>
                        <div class="providers">
                            <div class="wrapper">
                                {% for provider in tv['watch/providers'].flatrate %}
                                    <div class="provider">
                                        <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                        <div>{{ provider.provider_name }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if tv['watch/providers'].rent|length %}
                        <h3>{{ 'Where to rent'|trans }}</h3>
                        <div class="providers">
                            <div class="wrapper">
                                {% for provider in tv['watch/providers'].rent %}
                                    <div class="provider">
                                        <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                        <div>{{ provider.provider_name }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if tv['watch/providers'].buy|length %}
                        <h3>{{ 'Where to buy'|trans }}</h3>
                        <div class="providers">
                            <div class="wrapper">
                                {% for provider in tv['watch/providers'].buy %}
                                    <div class="provider">
                                        <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}">
                                        <div>{{ provider.provider_name }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <h3>{{ 'Key facts'|trans }}</h3>
                    <div class="facts">
                        {% if tv.average_episode_run_time %}
                            <div class="fact">
                                <div class="fact-label">{{ 'Average episode runtime'|trans }}</div>
                                <div class="fact-content">{{ tv.average_episode_run_time }} {{ 'minutes'|trans }}</div>
                            </div>
                        {% endif %}
                        <div class="fact">
                            <div class="fact-label">{{ 'Original name'|trans }}</div>
                            <div class="fact-content">{{ tv.original_name }}</div>
                        </div>
                        <div class="fact">
                            <div class="fact-label">{{ 'Original language'|trans }}</div>
                            <div class="fact-content">{{ tv.original_language|language_name }}</div>
                        </div>
                        <div class="fact">
                            <div class="fact-label">{{ 'Original Country'|trans }}</div>
                            {% for country in tv.origin_country %}
                                <div class="fact-content">{{ country|country_name }}</div>
                            {% endfor %}
                        </div>
                        <div class="fact">
                            <div class="fact-label">{{ 'Status'|trans }}</div>
                            <div class="fact-content">{{ tv.status|trans }}</div>
                        </div>
                        {% if tv.networks|length %}
                            <div class="fact">
                                <div class="fact-label">{{ (tv.networks|length>1?'Networks':'Network')|trans }}</div>
                                <div class="networks">
                                    {% for network in tv.networks %}
                                        <div class="network-detail">
                                            <div class="frame">
                                                {% if network.logo_path %}
                                                    <img src="{{ network.logo_path }}" alt="{{ network.name }}" loading="lazy">
                                                {% else %}
                                                    {{ network.name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if tv.keywords.results|length %}
                            <div class="fact">
                                <div class="keywords">
                                    {% for k in tv.keywords.results %}
                                        <div class="keyword" data-title="{{ k.name|trans([], 'keywords') }}">{{ k.name }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="content-seasons">
                    <div class="seasons">
                        <h3>{{ 'Seasons'|trans }}</h3>
                        {% for season in tv.seasons %}
                            <div class="season">
                                <div class="poster">
                                    {% if season.poster_path %}
                                        <img src="{{ season.poster_path }}" alt="{{ season.name }}">
                                    {% else %}
                                        <div>{{ 'No poster'|trans }}</div>
                                    {% endif %}
                                </div>
                                <div class="infos">
                                    <div class="name">{{ season.name }}</div>
                                    {% if season.overview %}
                                        <div class="overview">{{ season.overview }}</div>
                                    {% endif %}
                                    {% if season.air_date %}
                                        <div class="air-date">{{ 'Air date'|trans }} {{ date(season.air_date)|format_date('relative_long') }}</div>
                                    {% else %}
                                        <div class="air-date">{{ 'Air date'|trans }} {{ 'TBA'|trans }}</div>
                                    {% endif %}
                                    <div class="episodes">{{ season.episode_count }} {{ (season.episode_count>1?'episodes':'episode')|trans }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if tv.credits.cast|length %}
                        <h3>{{ 'Cast'|trans }}</h3>
                        <div class="cast">
                            <div class="wrapper">
                                {% for people in tv.credits.cast %}
{#                                    <a href="{{ path('app_people_show', {id: people.id, slug: people.slug}) }}">#}
{#                                        <div class="people">#}
{#                                            <div class="profile">#}
{#                                                {% if people.profile_path %}#}
{#                                                    <img src="{{ people.profile_path }}" alt="{{ people.name }}">#}
{#                                                {% else %}#}
{#                                                    {{ 'No picture'|trans }}#}
{#                                                {% endif %}#}
{#                                            </div>#}
{#                                            <div class="infos">#}
{#                                                <div class="name">{{ people.name }}</div>#}
{#                                                <div>{{ people.character }}</div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </a>#}
                                    {{ include('_blocks/series/_cast.html.twig', { people: people, role: people.character }) }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if tv.credits.crew|length %}
                        <h3>{{ 'Crew'|trans }}</h3>
                        <div class="crew">
                            <div class="wrapper">
                                {% for people in tv.credits.crew %}
                                    {{ include('_blocks/series/_crew.html.twig') }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if app.user %}
        <a href="{{ path('app_series_add', {id: tv.id}) }}">
            <div class="add-this">{{ 'Add this series to your watchlist'|trans }}</div>
        </a>
    {% endif %}
    {% include '_blocks/_footer.html.twig' %}
{% endblock %}
