{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Admin'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/admin.scss') }}">
{% endblock %}

{% block body %}
    {% include('_blocks/_menu.html.twig') %}
    <div class="container-fluid">
        <div class="admin">
            <aside>
                <div class="admin__menu_header">
                    <div>{{ ux_icon('eos-icons:admin-outlined', {height: "18px", width: "18px"}) }}</div>
                    <span class="large">{{ 'Admin'|trans }}</span>
                </div>
                <div class="admin__menu">
                    <a href="{{ path('admin_users') }}"{% if route starts with 'admin_index' or route == 'admin_users' %} class="active"{% endif %}>
                        <div>{{ ux_icon('fa6-regular:user', {height: "18px", width: "18px"}) }}</div>
                        <div class="large">
                            {{ 'Users'|trans }}
                        </div>
                    </a>
                    {% if seriesLink is defined %}
                        <a href="{{ seriesLink|raw }}"{% if route starts with 'admin_series' %} class="active"{% endif %}>
                            <div>{{ ux_icon('fa6-solid:tv', {height: "18px", width: "18px"}) }}</div>
                            <div class="large">
                                {{ 'Series'|trans }}
                            </div>
                        </a>
                    {% else %}
                        <a href="{{ path('admin_series') }}"{% if route starts with 'admin_series' %} class="active"{% endif %}>
                            <div>{{ ux_icon('fa6-solid:tv', {height: "18px", width: "18px"}) }}</div>
                            <div class="large">
                                {{ 'Series'|trans }}
                            </div>
                        </a>
                    {% endif %}
                    {% if movieLink is defined %}
                        <a href="{{ movieLink|raw }}"{% if route starts with 'admin_movie' %} class="active"{% endif %}>
                            <div>{{ ux_icon('fa6-solid:film', {height: "18px", width: "18px"}) }}</div>
                            <div class="large">
                                {{ 'Movies'|trans }}
                            </div>
                        </a>
                    {% else %}
                        <a href="{{ path('admin_movies') }}"{% if route starts with 'admin_movie' %} class="active"{% endif %}>
                            <div>{{ ux_icon('fa6-solid:film', {height: "18px", width: "18px"}) }}</div>
                            <div class="large">
                                {{ 'Movies'|trans }}
                            </div>
                        </a>
                    {% endif %}
                    {% if providersLink is defined %}
                        <a href="{{ providersLink|raw }}"{% if route starts with 'admin_provider' %} class="active"{% endif %}>
                            <div>{{ ux_icon('healthicons:provider-fst-outline', {height: "18px", width: "18px"}) }}</div>
                            <div class="large">
                                {{ 'Providers'|trans }}
                            </div>
                        </a>
                    {% else %}
                        <a href="{{ path('admin_providers') }}"{% if route starts with 'admin_provider' %} class="active"{% endif %}>
                            <div>{{ ux_icon('healthicons:provider-fst-outline', {height: "18px", width: "18px"}) }}</div>
                            <div class="large">
                                {{ 'Providers'|trans }}
                            </div>
                        </a>
                    {% endif %}
                </div>
                <div class="dim"></div>
                <script>
                    const dimDiv = document.querySelector('.dim');
                    // Get the dimensions of the window when the  window is resized
                    window.addEventListener('resize', function () {
                        const dim = {
                            width: window.innerWidth,
                            height: window.innerHeight
                        };
                        dimDiv.innerHTML = dim.width + 'px<span class="large">&nbsp;x&nbsp;</span> ' + dim.height + 'px';
                    });
                    const dim = {
                        width: window.innerWidth,
                        height: window.innerHeight
                    };
                    dimDiv.innerHTML = dim.width + 'px<span class="large">&nbsp;x&nbsp;</span> ' + dim.height + 'px';
                </script>
            </aside>
            <main>
                {% if route starts with 'admin_series' %}
                    {{ include('_blocks/admin/_series-tools.html.twig') }}
                {% endif %}

                {% if route == 'admin_index' or route == 'admin_users' %}
                    {% include('_blocks/admin/_users.html.twig') %}
                {% endif %}
                {% if route == 'admin_series' %}
                    {% include('_blocks/admin/_series.html.twig') %}
                {% endif %}
                {% if route == 'admin_series_edit' %}
                    {% include('_blocks/admin/_series-edit.html.twig') %}
                {% endif %}
                {% if route == 'admin_series_search_by_id' %}
                    {% include('_blocks/admin/_series-detail.html.twig') %}
                {% endif %}
                {% if route == 'admin_series_search_by_name' %}
                    {% include('_blocks/admin/_series-list.html.twig') %}
                {% endif %}
                {% if route == 'admin_movies' %}
                    {% include('_blocks/admin/_movies.html.twig') %}
                {% endif %}
                {% if route == 'admin_movie_edit' %}
                    {% include('_blocks/admin/_movie-edit.html.twig') %}
                {% endif %}
                {% if route == 'admin_providers' %}
                    {% include('_blocks/admin/_providers.html.twig') %}
                {% endif %}
                {% if route == 'admin_providers_edit' %}
                    {% include('_blocks/admin/_provider-edit.html.twig') %}
                {% endif %}
                {% if route == 'admin_settings' %}
                    {% include('_blocks/admin/_settings.html.twig') %}
                {% endif %}
            </main>
        </div>
    </div>
    {% include '_blocks/_footer.html.twig' %}
{% endblock %}
