{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Admin'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/contact.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/admin.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/map.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.14.0/mapbox-gl.css">
{% endblock %}

{% block body %}
    {% include('_blocks/_menu.html.twig') %}
    <div class="container-fluid">
        <div class="admin">
            <aside>
                <div class="admin__menu_header">
                    <div>{{ ux_icon('eos-icons:admin-outlined', {height: "18px", width: "18px"}) }}</div>
                    <span class="large">{{ 'Admin'|trans }}</span>
                </div>
                <div class="admin__menu">
                    <a href="{{ path('admin_users') }}"{% if route starts with 'admin_index' or route == 'admin_users' %} class="active"{% endif %}>
                        <div>{{ ux_icon('mdi:user-outline', {height: "18px", width: "18px"}) }}</div>
                        <div class="large">
                            {{ 'Users'|trans }}
                        </div>
                    </a>
                    <a href="{{ path('admin_tools') }}"{% if route starts with 'admin_tools' %} class="active"{% endif %}>
                        <div>{{ ux_icon('mdi:tools', {height: "18px", width: "18px"}) }}</div>
                        <div class="large">
                            {{ 'Tools'|trans }}
                        </div>
                    </a>
                    <a href="{{ path('admin_api') }}"{% if route starts with 'admin_api' %} class="active"{% endif %}>
                        <div>{{ ux_icon('mdi:api', {height: "18px", width: "18px"}) }}</div>
                        <div class="large">
                            {{ 'Api'|trans }}
                        </div>
                    </a>
                    {% if seriesLink is defined %}
                        <a href="{{ seriesLink|raw }}"{% if route starts with 'admin_series' %} class="active"{% endif %}>
                            <div>{{ ux_icon('mdi:tv', {height: "18px", width: "18px"}) }}</div>
                            <div class="large">
                                {{ 'Series'|trans }}
                            </div>
                        </a>
                    {% else %}
                        <a href="{{ path('admin_series') }}"{% if route starts with 'admin_series' %} class="active"{% endif %}>
                            <div>{{ ux_icon('mdi:tv', {height: "18px", width: "18px"}) }}</div>
                            <div class="large">
                                {{ 'Series'|trans }}
                            </div>
                        </a>
                    {% endif %}
                    {% if movieLink is defined %}
                        <a href="{{ movieLink|raw }}"{% if route starts with 'admin_movie' %} class="active"{% endif %}>
                            <div>{{ ux_icon('mdi:filmstrip-box', {height: "18px", width: "18px"}) }}</div>
                            <div class="large">
                                {{ 'Movies'|trans }}
                            </div>
                        </a>
                    {% else %}
                        <a href="{{ path('admin_movies') }}"{% if route starts with 'admin_movie' %} class="active"{% endif %}>
                            <div>{{ ux_icon('mdi:filmstrip-box', {height: "18px", width: "18px"}) }}</div>
                            <div class="large">
                                {{ 'Movies'|trans }}
                            </div>
                        </a>
                    {% endif %}
                    {% if filmingLocationsLink is defined %}
                        <a href="{{ filmingLocationsLink|raw }}"{% if route starts with 'admin_filming_location' %} class="active"{% endif %}>
                            <div>{{ ux_icon('mdi:image-multiple', {height: "18px", width: "18px"}) }}</div>
                            <div class="large">
                                {{ 'Filming locations'|trans }}
                            </div>
                        </a>
                    {% else %}
                        <a href="{{ path('admin_filming_locations') }}"{% if route starts with 'admin_filming_location' %} class="active"{% endif %}>
                            <div>{{ ux_icon('mdi:image-multiple', {height: "18px", width: "18px"}) }}</div>
                            <div class="large">
                                {{ 'Filming locations'|trans }}
                            </div>
                        </a>
                    {% endif %}
                    {% if poiLink is defined %}
                        <a href="{{ poiLink|raw }}"{% if route starts with 'admin_point' %} class="active"{% endif %}>
                            <div>{{ ux_icon('mdi:map-marker') }}</div>
                            <div class="large">
                                {{ 'Points of interest'|trans }}
                            </div>
                        </a>
                    {% else %}
                        <a href="{{ path('admin_points_of_interest') }}"{% if route starts with 'admin_point' %} class="active"{% endif %}>
                            <div>{{ ux_icon('mdi:map-marker') }}</div>
                            <div class="large">
                                {{ 'Points of interest'|trans }}
                            </div>
                        </a>
                    {% endif %}
                    {% if videosLink is defined %}
                        <a href="{{ videosLink|raw }}"{% if route starts with 'admin_video' %} class="active"{% endif %}>
                            <div>{{ ux_icon('mdi:youtube-tv', {height: "18px", width: "18px"}) }}</div>
                            <div class="large">
                                {{ 'Videos'|trans }}
                            </div>
                        </a>
                    {% else %}
                        <a href="{{ path('admin_videos') }}"{% if route starts with 'admin_video' %} class="active"{% endif %}>
                            <div>{{ ux_icon('mdi:youtube-tv', {height: "18px", width: "18px"}) }}</div>
                            <div class="large">
                                {{ 'Videos'|trans }}
                            </div>
                        </a>
                    {% endif %}
                    {% if providersLink is defined %}
                        <a href="{{ providersLink|raw }}"{% if route starts with 'admin_provider' %} class="active"{% endif %}>
                            <div>{{ ux_icon('mdi:radio-tower', {height: "18px", width: "18px"}) }}</div>
                            <div class="large">
                                {{ 'Providers'|trans }}
                            </div>
                        </a>
                    {% else %}
                        <a href="{{ path('admin_providers') }}"{% if route starts with 'admin_provider' %} class="active"{% endif %}>
                            <div>{{ ux_icon('mdi:radio-tower', {height: "18px", width: "18px"}) }}</div>
                            <div class="large">
                                {{ 'Providers'|trans }}
                            </div>
                        </a>
                    {% endif %}
                </div>
                {% if app.user.id == 1 or app.environment == 'dev' %}
                    <div class="dim"></div>
                    <script>
                        const dimDiv = document.querySelector('.dim');
                        // Get the dimensions of the window when the  window is resized
                        window.addEventListener('resize', displayDimensions);
                        // Display the dimensions when the page is loaded
                        window.addEventListener('load', displayDimensions);
                        function displayDimensions() {
                            const dim = getWindowDimensions();
                            dimDiv.innerHTML = dim.width + 'px<span class="large">&nbsp;x&nbsp;</span> ' + dim.height + 'px';
                        }
                        function getWindowDimensions() {
                            return {
                                width: window.innerWidth,
                                height: window.innerHeight
                            };
                        }
                    </script>
                {% endif %}
            </aside>
            <main>
                {% if route starts with 'admin_series' %}
                    {{ include('_blocks/admin/_series_tools.html.twig') }}
                {% endif %}

                {% if route == 'admin_index' or route == 'admin_users' %}
                    {% include('_blocks/admin/_users.html.twig') %}
                {% endif %}
                {% if route == 'admin_tools' %}
                    {% include('_blocks/admin/_tools.html.twig') %}
                {% endif %}
                {% if route == 'admin_api' %}
                    {% include('_blocks/admin/_api.html.twig') %}
                {% endif %}
                {% if route == 'admin_series' %}
                    {% include('_blocks/admin/_series.html.twig') %}
                {% endif %}
                {% if route == 'admin_series_check_updates' %}
                    {% include('_blocks/admin/_series_updates.html.twig') %}
                {% endif %}
                {% if route == 'admin_series_edit' %}
                    {% include('_blocks/admin/_series_edit.html.twig') %}
                {% endif %}
                {% if route == 'admin_series_search_by_id' %}
                    {% include('_blocks/admin/_series_detail.html.twig') %}
                {% endif %}
                {% if route == 'admin_series_search_by_name' %}
                    {% include('_blocks/admin/_series_list.html.twig') %}
                {% endif %}
                {% if route == 'admin_movies' %}
                    {% include('_blocks/admin/_movies.html.twig') %}
                {% endif %}
                {% if route == 'admin_movie_edit' %}
                    {% include('_blocks/admin/_movie_edit.html.twig') %}
                {% endif %}
                {% if route == 'admin_filming_locations' %}
                    {% include('_blocks/admin/_filming_locations.html.twig') %}
                {% endif %}
                {% if route == 'admin_filming_location_edit' %}
                    {% include('_blocks/admin/_filming_location_edit.html.twig') %}
                {% endif %}
                {% if route == 'admin_points_of_interest' %}
                    {% include('_blocks/admin/_points_of_interest.html.twig') %}
                {% endif %}
                {% if route == 'admin_point_of_interest_edit' %}
                    {% include('_blocks/admin/_point_of_interest-edit.html.twig') %}
                {% endif %}
                {% if route == 'admin_videos' %}
                    {% include('_blocks/admin/_videos.html.twig') %}
                {% endif %}
                {% if route == 'admin_video_edit' %}
                    {% include('_blocks/admin/_video_edit.html.twig') %}
                {% endif %}
                {% if route == 'admin_providers' %}
                    {% include('_blocks/admin/_providers.html.twig') %}
                {% endif %}
                {% if route == 'admin_provider_edit' %}
                    {% include('_blocks/admin/_provider_edit.html.twig') %}
                {% endif %}
                {% if route == 'admin_settings' %}
                    {% include('_blocks/admin/_settings.html.twig') %}
                {% endif %}
            </main>
        </div>
    </div>
    {% include '_blocks/_footer.html.twig' %}
{% endblock %}
