{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Admin'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/admin.scss') }}">
{% endblock %}

{% block body %}
    {% include('_blocks/_menu.html.twig') %}
    <div class="container-fluid">
        <div class="admin">
            <aside>
                <h2>{{ 'Admin'|trans }}</h2>
                <div class="admin__menu">
                    <a href="{{ path('app_admin_users') }}"{% if route starts with 'app_admin_index' or route == 'app_admin_users' %} class="active"{% endif %}>{{ 'Users'|trans }}</a>
                    {% if seriesLink is defined %}
                        <a href="{{ seriesLink|raw }}"{% if route starts with 'app_admin_series' %} class="active"{% endif %}>{{ 'Series'|trans }}</a>
                    {% else %}
                        <a href="{{ path('app_admin_series') }}"{% if route starts with 'app_admin_series' %} class="active"{% endif %}>{{ 'Series'|trans }}</a>
                    {% endif %}
                    <a href="{{ path('app_admin_movies') }}"{% if route starts with 'app_admin_movies' %} class="active"{% endif %}>{{ 'Movies'|trans }}</a>
                    <a href="{{ path('app_admin_providers') }}"{% if route starts with 'app_admin_providers' %} class="active"{% endif %}>{{ 'Providers'|trans }}</a>
                </div>
            </aside>
            <main>
                {% if route == 'app_admin_index' or route == 'app_admin_users' %}
                    {% include('_blocks/admin/users.html.twig') %}
                {% endif %}
                {% if route == 'app_admin_series' %}
                    {% include('_blocks/admin/series.html.twig') %}
                {% endif %}
                {% if route == 'app_admin_series_edit' %}
                    {% include('_blocks/admin/series-edit.html.twig') %}
                {% endif %}
                {% if route == 'app_admin_movies' %}
                    {% include('_blocks/admin/movies.html.twig') %}
                {% endif %}
                {% if route == 'app_admin_providers' %}
                    {% include('_blocks/admin/providers.html.twig') %}
                {% endif %}
                {% if route == 'app_admin_settings' %}
                    {% include('_blocks/admin/settings.html.twig') %}
                {% endif %}
            </main>
        </div>
    </div>
{% endblock %}
