<div class="card">
    <a href="{{ path('app_movie_tmdb', {'id': movie.id}) }}">
        <div class="poster">
            {% if movie.poster_path %}
                <img src="{{ movie.poster_path }}" alt="{{ movie.title }}">
            {% else %}
                <div>{{ 'No poster'|trans }}</div>
            {% endif %}
        </div>
        <div class="infos">
            <div class="name{% if ids is defined and movie.id in ids %} added{% endif %}">{{ movie.title }}</div>
            {% if movie.release_date is defined and movie.release_date is not null %}
                <div class="date">{{ movie.release_date|format('Y')|capitalize }}</div>
            {% endif %}
        </div>
    </a>
</div>