<div class="card tmdb"{% if movie.date is defined and movie.date|length %} data-title="{{ movie.date }}"{% endif %}>
    <a href="{{ path('app_movie_tmdb', {'id': movie.id}) }}">
        <div class="poster">
            {% if movie.poster_path %}
                <img src="{{ movie.poster_path }}" alt="{{ movie.title }}">
            {% else %}
                <div>{{ 'No poster'|trans }}</div>
            {% endif %}
        </div>
        <div class="infos">
            <div class="name{% if ids is defined and movie.id in ids %} added{% endif %}">
                {{ movie.title }}
                {% if movie.release_date is defined and movie.release_date|length %}
                    &nbsp;({{ movie.release_date|date('Y') }})
                {% endif %}
            </div>
        </div>
    </a>
</div>