<div class="card">
    <a href="{{ path('app_movie_show', {'id': movie.userMovieId}) }}">
{#    <a href="{{ path('app_movie_show', {'id': movie.id, 'slug': movie.slug }) }}">#}
        <div class="poster">
            {% if movie.posterPath %}
                <img src="/movies/posters/{{ movie.posterPath }}" alt="{{ movie.title }}">
            {% else %}
                <div>{{ 'No poster'|trans }}</div>
            {% endif %}
            {% if movie.favorite %}
                <div class="favorite">
                    <i class="fas fa-heart"></i>
                </div>
            {% endif %}
            {% if movie.lastViewedAt %}
                <div class="viewed">{{ ux_icon('mdi:eye-outline') }}&nbsp;{{ movie.lastViewedAt|format_date('relative_medium')|capitalize }}</div>
            {% endif %}
        </div>
        <div class="infos">
            <div class="name">{{ movie.title }}</div>
            <div class="date">{{ movie.releaseDate|format_date('relative_medium')|capitalize }}        </div>
        </div>
    </a>
</div>