
<div class="item">
    <a href="{{ path('app_people_show', {id: cast.id, slug: cast.slug}) }}">
        <div class="poster" data-title="{{ cast.name }}{% if job %} > {{ job }}{% endif %}">
            {% if cast.profile_path %}
                <img src="{{ cast.profile_path }}" alt="{{ cast.name }}">
            {% else %}
                <div>{{ 'No picture'|trans }}</div>
            {% endif %}
        </div>
    </a>
</div>