{#   "belongs_to_collection" => array:4 [▼
         "id" => 87096
         "name" => "Avatar - Saga"
         "poster_path" => "/uO2yU3QiGHvVp0L5e5IatTVRkYk.jpg"
         "backdrop_path" => "/gxnvX9kF7RRUQYvB52dMLPgeJkt.jpg"
     ]
#}
{% if movie.belongs_to_collection %}
    <div class="movie-collection">
        <div class="label">{{ 'Collection'|trans }}</div>
        <div class="collection">
            {% if movie.belongs_to_collection.poster_path %}
                <a class="collection-poster" href="{{ path('app_movie_collection', {id: movie.belongs_to_collection.id}) }}" title="{{ movie.belongs_to_collection.name }}">
                    <img src="/movies/posters{{ movie.belongs_to_collection.poster_path }}" alt="{{ movie.belongs_to_collection.name }} {{ 'poster'|trans }}">
                </a>
            {% endif %}
            <a class="collection-infos" href="{{ path('app_movie_collection', {id: movie.belongs_to_collection.id}) }}" title="{{ movie.belongs_to_collection.name }}">
                {% if movie.belongs_to_collection.backdrop_path %}
                    <img src="/movies/backdrops{{ movie.belongs_to_collection.backdrop_path }}" alt="{{ movie.belongs_to_collection.name }} {{ 'backdrop'|trans }}">
                {% endif %}
                <div class="name">{{ movie.belongs_to_collection.name }}</div>
            </a>
        </div>
    </div>
{% endif %}