<div class="preferred-name-infos">
    <div>{{ 'Also known as'|trans }}</div>
    <form method="post" class="preferred-name">
        <input type="hidden" name="id" value="{{ people.id }}">
        <input type="hidden" name="name" value="{{ preferredName }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token('people_preferred_name') }}">
        {% if people.also_known_as|length %}
            <ul>
                {% for name in people.also_known_as %}
                    <li>
                        <label for="also_known_as_{{ loop.index }}">
                            <input type="radio"
                                   {% if preferredName and name|trim == preferredName %}checked{% endif %}
                                   id="also_known_as_{{ loop.index }}"
                                   name="also_known_as" value="{{ name }}"
                            >
                            <span class="name">{{ name }}</span>
                        </label>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="none">{{ 'No proposals'|trans }}</div>
        {% endif %}
        <label for="new_name">
            <input type="text" name="new_name" placeholder="{{ 'Add a new name'|trans }}" value="{{ preferredName }}">
        </label>
        <button type="submit" disabled>{{ 'Set as preferred name'|trans }}</button>
    </form>
</div>