{% set route = app.request.attributes.get('_route') %}
{% set parameters = app.request.query %}
{# {% set route_params = app.request.attributes.get('_route_params') %} #}
<nav class="navbar">
    <div class="navbar-items-toggler">{{ ux_icon('mdi:menu') }}</div>
    <div class="navbar-items left">
        <a href="{{ path('app_home_index') }}" accesskey="<">{{ ux_icon('mdi:home') }}</a>
        {% if app.user %}
            <div class="navbar-item">
                {{ ux_icon('mdi:filmstrip-box') }}
                <div class="menu movies">
                    <div class="menu-item"><a href="{{ path('app_movie_index') }}" class="desktop">{{ 'My movies'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_movie_search') }}" class="desktop">{{ 'Search'|trans }}</a></div>
                    <div class="menu-item">
                        <label for="movie-search">
                            <input type="search" id="movie-search" data-type="movie" class="search" spellcheck="false">
                            {{ ux_icon('mdi:search', {class: 'magnifying-glass', height: '18px', width:'18px'}) }}
                        </label>
                        <div class="search-results __movie">
                            <ul data-type="movie"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-item">
                {{ ux_icon('mdi:tv') }}
                <div class="menu series">
                    {% set country=getUserCountrySettings(app.user) %}
                    <div class="menu-item"><a href="{{ path('app_series_index') }}" class="desktop">{{ 'Series.week'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_series_all') }}" class="desktop">{{ 'Series.in progress'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_series_not_seen_in_a_while') }}">{{ 'Series.not seen in a while'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_series_to_start') }}">{{ 'Series.to start'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_series_up_coming') }}">{{ 'Series.up coming series'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_series_ranking_by_vote') }}">{{ 'Series.by ranking vote'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_series_by_country', {country: country}) }}">{{ 'Series.by country'|trans }} - {{ country|country_name(app.locale) }}</a></div>
                    <div class="menu-item">
                        <label for="tv-search">
                            <input type="search" id="tv-search" data-type="tv" class="search" spellcheck="false" placeholder="{{ 'In The Movie Database'|trans }}">
                            {{ ux_icon('mdi:search', {class: 'magnifying-glass', height: '18px', width:'18px'}) }}
                        </label>
                        <div class="search-results __series">
                            <ul data-type="tv"></ul>
                        </div>
                    </div>
                    <div class="menu-item">
                        <label for="tv-search-db">
                            <input type="search" id="tv-search-db" data-type="db" class="search" spellcheck="false" placeholder="{{ 'Among your series'|trans }}">
                            {{ ux_icon('mdi:search', {class: 'magnifying-glass', height: '18px', width:'18px'}) }}
                        </label>
                        <div class="search-results __db_series">
                            <ul data-type="dbtv"></ul>
                        </div>
                    </div>
                    <div class="separation">{{ 'Search'|trans }}</div>
                    {% if app.user %}
                        <div class="menu-item"><a href="{{ path('app_series_search_db') }}">{{ 'Among your series'|trans }}</a></div>
                    {% endif %}
                    <div class="menu-item"><a href="{{ path('app_series_search') }}">{{ 'A series by name/year'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_series_advanced_search') }}">{{ 'Advanced search'|trans }}</a></div>
                </div>
            </div>
            <div class="navbar-item">
                {{ ux_icon('mdi:perm-media') }}
                <div class="menu videos">
                    <div class="menu-item"><a href="{{ path('app_video_index') }}" class="desktop">{{ 'My videos'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_album_index') }}" class="desktop">{{ 'My albums'|trans }}</a></div>
                </div>
            </div>
            <div class="navbar-item">
                {{ ux_icon('mdi:user-outline') }}
                <div class="menu people">
                    <div class="menu-item"><a href="{{ path('app_people_index') }}" class="desktop">{{ 'People'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_people_star') }}" class="desktop">{{ 'Star people'|trans }}</a></div>
                    <div class="menu-item">
                        <label for="person-search">
                            <input type="search" id="person-search" data-type="person" class="search" spellcheck="false">
                            {{ ux_icon('mdi:search', {class: 'magnifying-glass', height: '18px', width:'18px'}) }}
                        </label>
                        <div class="search-results __people">
                            <ul data-type="people"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-item" id="history-menu">
                {{ ux_icon('mdi:clipboard-text-history') }}
                {#            {{ ux_icon('mdi:history', {height: "18px", width: "18px"}) }} #}
                {% set history = seriesHistory(app.user) %}
                <div class="menu history" id="history-list" data-last="{{ history.last }}">
                    <div class="menu-item" id="history-options">
                        <label><input id="history-option-type" type="checkbox"{% if history.type == 'episode' %} checked{% endif %} switch>{{ 'Episodes detail'|trans }}</label>
                        <label>{{ 'Page'|trans }}<input id="history-option-page" type="number" value="{{ history.page }}"></label>
                        <label>{{ 'Count'|trans }}<input id="history-option-count" type="number" value="{{ history.count }}"></label>
                        <label><input id="history-option-vote" type="checkbox"{% if history.vote %} checked{% endif %} switch>{{ 'Rating'|trans }}</label>
                        <label><input id="history-option-device" type="checkbox"{% if history.device %} checked{% endif %} switch>{{ 'Device'|trans }}</label>
                        <label><input id="history-option-provider" type="checkbox"{% if history.provider %} checked{% endif %} switch>{{ 'Provider'|trans }}</label>
                    </div>
                    <ul>
                        {% for h in history.list %}
                            <li class="menu-item history-item" id="{{ h.episodeId }}">
                                <a class="history" href="{{ path('app_series_season', {id: h.id, slug: h.name|slug, seasonNumber: h.seasonNumber}) }}">
                                    <div class="poster">
                                        {% if h.posterPath|length %}
                                            <img src="/series/posters{{ h.posterPath }}" alt="{{ h.name }}">
                                        {% else %}
                                            {{ h.name|slice(0,1)|upper }}
                                        {% endif %}
                                    </div>
                                    <div class="name">{{ h.name }}</div>
                                    <div class="number{% if h.progress==100 %} ended{% endif %}">{{ 'S%02dE%02d'|format(h.seasonNumber, h.episodeNumber) }}</div>
                                    <div class="date">{{ h.lastWatchAt|format_datetime('relative_short', 'short') }}</div>
                                    <div class="vote{% if history.vote == 0 %} hidden{% endif %}">{% if h.vote %}{{ h.vote }}{% endif %}</div>
                                    <div class="device{% if history.device == 0 %} hidden{% endif %}">{% if h.deviceSvg %}{{ ux_icon(h.deviceSvg, {height: "18px", width: "18px"}) }}{% endif %}</div>
                                    <div class="provider{% if history.provider == 0 %} hidden{% endif %}">{% if h.providerLogoPath %}<img src="{{ h.providerLogoPath }}" alt="{{ h.providerName }}">{% endif %}</div>
                                </a>
                            </li>
                        {% else %}
                            <div>{{ 'No history'|trans }}</div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="navbar-item">
                {{ ux_icon('mdi:history') }}
                {% set history = getHistory(app.user) %}
                {% set historyCount = getHistoryCount(app.user) %}
                <div class="menu log" id="log-list" data-last="{{ history.0.id }}">
                    <div class="menu-item" id="log-count">
                        {{ history|length }} / {{ historyCount }} {{ 'history entries'|trans }}
                    </div>
                    {% set logDate = '' %}
                    <ul>
                        {% for h in history %}
                            {% set d = h.date|format_date('relative_medium') %}
                            {% if logDate != d %}
                                {% set logDate = d %}
                                <li class="menu-item log-date">{{ logDate|capitalize }}</li>
                            {% endif %}
                            <li class="menu-item log-item" data-id="{{ h.id }}">
                                <a class="log" href="{{ h.link }}">
                                    <div class="name">{{ h.title }}</div>
                                    <div class="time">{{ h.date|date("H:i") }}</div>
                                </a>
                            </li>
                        {% else %}
                            <div class="menu-item">{{ 'No history'|trans }}</div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="navbar-item">
                {{ ux_icon('mdi:map-outline') }}
                <div class="menu map">
                    <div class="menu-item"><a href="{{ path('app_map_index') }}" class="desktop">{{ 'Shooting locations'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_map_last', { type: 'creation' }) }}" class="desktop">{{ 'Recent additions'|trans }}</a></div>
                </div>
            </div>
        {% endif %}
        <a href="{{ path('app_contact_form') }}" class="desktop">{{ ux_icon('mdi:email') }}</a>
    </div>
    <script>
        const navbarItemsToggler = document.querySelector('.navbar-items-toggler');
        const navbarItems = document.querySelector('.navbar-items.left');
        navbarItemsToggler.addEventListener('click', () => {
            const body = document.querySelector('body');
            navbarItems.classList.toggle('open');
            navbarItemsToggler.classList.toggle('open');
            if (navbarItems.classList.contains('open')) {
                navbarItemsToggler.setAttribute('aria-label', '{{ 'Close menu'|trans }}');
                body.classList.add('frozen');
            } else {
                navbarItemsToggler.setAttribute('aria-label', '{{ 'Open menu'|trans }}');
                body.classList.remove('frozen');
            }
        });
    </script>
    {% if app.user %}
        <div class="multi-search">
            <label for="multi-search">
                <input type="search" id="multi-search" data-type="multi" class="search" spellcheck="false">
                <span class="magnifying-glass">
                    {{ ux_icon('mdi:search', {height: '16px', width:'16px'}) }}
                </span>
            </label>
            <div class="search-results __multi">
                <ul data-type="multi"></ul>
            </div>
        </div>
    {% endif %}

    <div class="navbar-items right">
        {% if app.environment == 'dev' %}
            {% if route in ['app_series_show', 'app_series_season'] %}
                <div class="debug">{{ series.id }} / {{ userSeries.id }} / {{ series.tmdbId }}</div>
            {% endif %}

            {% if route in ['app_series_tmdb'] %}
                <div class="debug">{{ tv.id }}</div>
            {% endif %}

            {% if route in ['app_movie_show'] %}
                <div class="debug">{{ dbMovie.id }} / {{ userMovie.id }} / {{ movie.id }}</div>
            {% endif %}

            {% if route in ['app_movie_tmdb'] %}
                <div class="debug">{{ movie.id }}</div>
            {% endif %}

            {% if route in ['app_people_show'] %}
                <div class="debug">{{ people.id }}</div>
            {% endif %}

            {% if route in ['app_video_show'] %}
                <div class="debug">{{ video.id }} / {{ video.link }}</div>
            {% endif %}
        {% endif %}

        {% set p = '' %}
        {% if parameters|length %}
            {% for key, value in parameters %}
                {% set p = p ~ (loop.index0 ? '&':'?') ~ key ~ '=' ~ value %}
            {% endfor %}
        {% endif %}

        {% if app.user %}
            {% set notificationCount = countEpisodeNotifications(app.user) %}
            {% if notificationCount %}
                {% set notifications = listEpisodeNotifications(app.user) %}
                {% set newCount = countNewEpisodeNotifications(app.user) %}
                <div class="navbar-item notifications">
                    <em>{{ ux_icon('mdi:bell') }}</em>
                    {% if newCount %}
                        <span>{{ newCount }}</span>
                    {% endif %}
                    <div class="menu menu-notifications">
                        {% for n in notifications %}
                            {% set message = n.message|replace({
                                'New episode date': 'New episode date'|trans,
                                'New episode': 'New episode'|trans,
                                'New series date': 'New series date'|trans,
                                'Unknown': 'Unknown'|trans,
                            }) %}
                            <div class="item{% if n.validated_at %} validated{% endif %}" data-id="{{ n.id }}" title="{{ message }}">
                                <div class="message">{{ message }}</div>
                                <div class="date">{{ n.created_at|date('d/m/Y h:i:s') }}</div>
                            </div>
                        {% endfor %}
                        {% if notificationCount > 50 %}
                            <div class="item">
                                <div class="message">{{ notificationCount-50 }} {{ 'more notifications'|trans }}</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {#        {% set users = getUsers() %} #}
        {#        <div class="navbar-item"> #}
        {#            {{ ux_icon('mdi:user-outline') }} #}
        {#            <div class="menu users"> #}
        {#                <label for="user-select"> #}
        {#                    <select id="user-select" class="user-select"> #}
        {#                        <button> #}
        {#                            <!-- Prendra le contenu HTML de l'option choisie --> #}
        {#                            <selectedcontent></selectedcontent> #}
        {#                            {{ ux_icon('mdi:arrow-down') }} #}
        {#                        </button> #}
        {#                        {% for u in users %} #}
        {#                            <option value="{{ loop.index}}"{% if app.user and app.user.id == u.id %} selected{% endif %}> #}
        {#                                {% if u.avatar %} #}
        {#                                    <img src="/images/users/avatars/{{ u.avatar }}" alt="{{ u.username }}"> #}
        {#                                {% else %} #}
        {#                                    <img src="/images/users/avatars/default.png" alt="{{ u.username }}"> #}
        {#                                {% endif %} #}
        {#                                {{ u.username }} #}
        {#                            </option> #}
        {#                        {% endfor %} #}
        {#                    </select> #}
        {#                </label> #}
        {#            </div> #}
        {#        </div> #}
        <div class="navbar-item">
            <div class="avatar">
                {% if app.user %}
                    {% if app.user.avatar %}
                        <img src="/images/users/avatars/{{ app.user.avatar }}" alt="{{ app.user.username }}">
                    {% else %}
                        <img src="/images/users/avatars/default.png" alt="{{ app.user ? app.user.username : ('Guest'|trans) }}">
                    {% endif %}
                {% else %}
                    <div class="svg">
                        {{ ux_icon('mdi:user-outline', {height: '24px', width: '24px'}) }}
                    </div>
                {% endif %}
            </div>
            <div class="menu user">
                {% if app.user %}
                    <a href="{{ path('app_user_profile') }}">{{ 'My account'|trans }}</a>
                    <a href="{{ path('app_user_providers') }}">{{ 'My providers'|trans }}</a>
                    <a href="{{ path('app_user_networks') }}">{{ 'My networks'|trans }}</a>
                    <a href="{{ path('app_logout') }}">{{ 'Disconnect'|trans }}</a>
                    <div class="separation">{{ 'Admin'|trans }}</div>
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <a href="{{ path('admin_index') }}">{{ 'Dashboard'|trans }}</a>
                    {% endif %}
                    <a href="{{ path('app_user_updates') }}">{{ 'Updates'|trans }}</a>
                    <div class="separation">{{ 'Any questions or comments?'|trans }}</div>
                    <a href="{{ path('app_contact_form') }}">{{ 'Contact'|trans }}</a>
                {% else %}
                    <a href="{{ path('app_login') }}">{{ 'Connect'|trans }}</a>
                    <a href="{{ path('app_register') }}">{{ 'Register'|trans }}</a>
                {% endif %}
                <div class="separation">{{ 'Options'|trans }}</div>
                <div class="menu-preview" data-on="{{ 'Hide preview'|trans }}" data-off="{{ 'Show preview'|trans }}">{{ 'Hide preview'|trans }}</div>
                <div class="separation">{{ 'Theme'|trans }}</div>
                <div class="menu-theme" data-theme="auto">{{ 'Automatic'|trans }}</div>
                <div class="menu-theme" data-theme="light">{{ 'Light'|trans }}</div>
                <div class="menu-theme" data-theme="dark">{{ 'Dark'|trans }}</div>
                <div class="separation">{{ 'Language'|trans }}</div>
                <a href="{{ path(route, route_params|merge({'_locale': 'fr'})) ~ p }}"{% if app.locale=='fr' %} class="active"{% endif %}>
                    {{ getEmojiFlag('FR') }} Français - French - 프랑스어
                    {# {{ 'French'|trans }} #}
                </a>
                <a href="{{ path(route, route_params|merge({'_locale': 'en'})) ~ p }}"{% if app.locale=='en' %} class="active"{% endif %}>
                    {{ getEmojiFlag('GB') }} Anglais - English - 영어
                    {# {{ 'English'|trans }} #}
                </a>
                <a href="{{ path(route, route_params|merge({'_locale': 'ko'})) ~ p }}"{% if app.locale=='ko' %} class="active"{% endif %}>
                    {{ getEmojiFlag('KR') }} Coréen - Korean - 한국어
                    {# {{ 'Korean'|trans }} #}
                </a>
            </div>
        </div>
        <div class="navbar-item">
            <div class="burger">
                {#                <span></span> #}
                {#                <span></span> #}
                {#                <span></span> #}
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
            </div>
            <div class="menu main">
{#                <a href="{{ path('app_home_index') }}">{{ 'Home'|trans }}</a>#}
                {% if app.user %}
{#                    <a href="{{ path('app_movie_index') }}">{{ 'My movies'|trans }}</a>#}
                    <div class="separation">{{ 'Series'|trans }}</div>
                    <a href="{{ path('app_series_index') }}">{{ 'Series.week'|trans }}</a>
                    <a href="{{ path('app_series_all') }}">{{ 'Series.in progress'|trans }}</a>
                    <a href="{{ path('app_series_not_seen_in_a_while') }}">{{ 'Series.not seen in a while'|trans }}</a>
                    <a href="{{ path('app_series_to_start') }}">{{ 'Series.to start'|trans }}</a>
                    <a href="{{ path('app_series_up_coming') }}">{{ 'Series.up coming series'|trans }}</a>
                    <a href="{{ path('app_series_ranking_by_vote') }}">{{ 'Series.by ranking vote'|trans }}</a>
                    <a href="{{ path('app_people_index') }}">{{ 'People'|trans }}</a>
                    <a href="{{ path('app_map_index') }}">{{ 'Shooting locations'|trans }}</a>
                {% endif %}
                {% if app.user %}
                    {% set relativeDayStrings = {
                        "-2": 'Two days ago'|trans,
                        "-1": 'Yesterday'|trans,
                        "0": 'Today'|trans,
                        "1": 'Tomorrow'|trans,
                        "2": 'In two days'|trans
                    } %}
                    {% set interval = listEpisodeOfTheInterval(app.user, "-2 day", "2 day", app.locale) %}
                    {% for relativeDay in  -2..2 %}
                        {#                {% set eotdList = listEpisodeOfTheDay(app.user, relativeDay) %} #}
                        {% set eotdList = interval[relativeDay] %}
                        {% set l = eotdList.totalEpisodeCount %}
                        {% if l %}
                            <div class="separation">{{ relativeDayStrings[relativeDay] }} ({{ l }} {{ (l > 1 ? 'episodes':'episode')|trans }})</div>
                            {% for eotd in eotdList.results %}
                                {% if eotd.type == 'series' %}
                                    {% set url = path('app_series_season', {id: eotd.id, slug: eotd.displayName|slug, seasonNumber: eotd.seasonNumber}) %}
                                {% else %}
                                    {% set url = path('app_movie_show', {id: eotd.id}) %}
                                {% endif %}
                                <div class="a-preview">
                                    <a id="eotd-menu-item-1-{{ eotd.id }}"
                                       href="{{ url }}"
                                       data-episode-count="{{ eotd.episodeCount }}"
                                       data-first-episode-number="{{ eotd.firstEpisodeNumber }}"
                                       style="background: linear-gradient(90deg, var(--green-50) {{ eotd.progress }}%, transparent {{ eotd.progress }}%)">
                                        <div>
                                            {{ eotd.display }}
                                            {% if eotd.customDate %}
                                                {{ ux_icon('mdi:calendar', {'data-title': 'Custom schedule'|trans, height: '16px', width: '16px'}) }}
                                            {% endif %}
                                        </div>
                                        {% if eotd.type == 'series' %}
                                            <div class="time">{{ eotd.airAt|slice(0,5) }}</div>
                                        {% else %}
                                            <div class="time movie">{{ 'Movie'|trans }}</div>
                                        {% endif %}
                                        <div class="provider">
                                            {% if eotd.providerLogoPath %}
                                                <img src="{{ eotd.providerLogoPath }}" alt="{{ eotd.providerName }}">
                                            {% endif %}
                                        </div>
                                    </a>
                                    <div id="eotd-preview-1-{{ eotd.id }}" class="episode-of-the-day-preview">
                                        <a href="{{ url }}">
                                            {% if eotd.posterPath %}
                                                <img src="{{ eotd.posterPath }}" alt="{{ eotd.name }}">
                                            {% else %}
                                                {{ eotd.name }}
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    {% set inProgress = inProgressSeries(app.user, app.user.preferredLanguage??'fr') %}
                    {% if inProgress.ok %}
                        <div class="separation">{{ 'Series in progress'|trans }} - {% if inProgress.nextEpisode %}{{ 'Next episode'|trans }}{% else %}🎉 {{ 'That\'s all!'|trans }} 🎉{% endif %}</div>
                        <div class="a-preview">
                            <a href="{{ path('app_series_season', {id: inProgress.id, slug: inProgress.name|slug, seasonNumber: inProgress.seasonNumber}) }}"
                               id="sip-menu-item-{{ inProgress.id }}"
                               data-episode-count="{{ inProgress.episodeCount }}"
                               data-first-episode-number="1"
                               style="background: linear-gradient(90deg, var(--green-50) {{ inProgress.progress }}%, transparent {{ inProgress.progress }}%)">
                                {{ inProgress.name }}{% if inProgress.nextEpisode %} {{ 'S%02dE%02d'|format(inProgress.seasonNumber, inProgress.nextEpisode) }}{% endif %}
                            </a>
                            <div id="sip-preview-{{ inProgress.id }}" class="episode-of-the-day-preview">
                                <a href="{{ path('app_series_season', {id: inProgress.id, slug: inProgress.name|slug, seasonNumber: inProgress.seasonNumber}) }}">
                                    {% if inProgress.posterPath %}
                                        <img src="{{ inProgress.posterPath }}" alt="{{ inProgress.name }}">
                                    {% else %}
                                        {{ inProgress.name }}
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    {% if seriesName is defined %}
                        <div class="separation">{{ 'Back to the series page'|trans }}</div>
                        <a href="{{ seriesLink }}">
                            <em>{{ ux_icon('mdi:arrow-left') }}</em>&nbsp;{{ seriesName }}
                        </a>
                    {% endif %}

                    {% set pinnedSeries=pinnedSeries(app.user, app.user.preferredLanguage??'fr') %}
                    {% set l = pinnedSeries|length %}
                    {% if l %}
                        <div class="separation">{{ 'Pinned series'|trans }} ({{ l }} {{ (l > 1 ? 'seriess':'series')|trans }})</div>
                        {% for series in pinnedSeries %}
                            <div class="a-preview">
                                <a id="pinned-menu-item-{{ series.id }}"
                                   href="{{ path('app_series_show', {id: series.id, slug: series.name|slug}) }}">
                                    {{ series.name }}
                                </a>
                                <div id="pinned-preview-{{ series.id }}" class="pinned-series-preview">
                                    <a href="{{ path('app_series_show', {id: series.id, slug: series.slug}) }}">
                                        <img src="{{ series.posterPath }}" alt="{{ series.name }}">
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                <div class="separation">{{ 'Search'|trans }}</div>
                {% if app.user %}
                    <a href="{{ path('app_series_search_db') }}">{{ 'Among your series'|trans }}</a>
                {% endif %}
                <a href="{{ path('app_series_search') }}">{{ 'A series by name/year'|trans }}</a>
                <a href="{{ path('app_series_advanced_search') }}">{{ 'Advanced search'|trans }}</a>
            </div>
        </div>
    </div>
</nav>

