{% set route = app.request.attributes.get('_route') %}
{% set parameters = app.request.query %}
{# {% set route_params = app.request.attributes.get('_route_params') %} #}
<nav class="navbar">
    <div class="navbar-items-toggler">{{ ux_icon('mdi:menu') }}</div>
    <div class="navbar-items left">
        <a href="{{ path('app_home_index') }}" accesskey="<">
            {{ ux_icon('mdi:home', {'data-title': 'Home'|trans}) }}
        </a>
        {% if app.user %}
            <div class="navbar-item">
                {{ ux_icon('mdi:filmstrip-box', {'data-title': 'My movies'|trans}) }}
                <div class="menu movies">
                    <div class="menu-item"><a href="{{ path('app_movie_index') }}" class="desktop">{{ 'My movies'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_movie_favorite_index') }}" class="desktop">{{ 'My favorite movies'|trans }}</a></div>
                    <div class="separation">{{ 'Search'|trans }}</div>
                    <div class="menu-item"><a href="{{ path('app_movie_search') }}" class="desktop">{{ 'Search'|trans }}</a></div>
                </div>
            </div>
            <div class="navbar-item">
                {{ ux_icon('mdi:tv', {'data-title': 'My series'|trans}) }}
                <div class="menu series">
                    {% set country=getUserCountrySettings(app.user) %}
                    <div class="menu-item"><a href="{{ path('app_series_index') }}" class="desktop">{{ ux_icon('mdi:calendar') }}{{ 'Series.week'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_series_all') }}" class="desktop">{{ ux_icon('mdi:play') }}{{ 'Series.in progress'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_series_not_seen_in_a_while') }}">{{ ux_icon('mdi:sleep') }}{{ 'Series.not seen in a while'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_series_to_start') }}">{{ ux_icon('mdi:eye') }}{{ 'Series.to start'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_series_up_coming') }}">{{ ux_icon('mdi:page-next-outline') }}{{ 'Series.up coming series'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_series_ranking_by_vote') }}">{{ ux_icon('mdi:star') }}{{ 'Series.by ranking vote'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_series_user_favorites') }}">{{ ux_icon('mdi:heart') }}{{ 'Series.favorites'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_series_by_country', {country: country}) }}">{{ ux_icon('mdi:world') }}{{ 'Series.by country'|trans }} - {{ country|country_name(app.locale) }}</a></div>
                    <div class="separation">{{ 'Shooting locations'|trans }}</div>
                    <div class="menu-item"><a href="{{ path('app_map_index') }}" class="desktop">{{ ux_icon('mdi:map-outline') }}{{ 'All locations'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_map_last', { type: 'creation' }) }}" class="desktop">{{ ux_icon('mdi:timer-plus-outline') }}{{ 'Recent additions'|trans }}</a></div>
                    <div class="separation">{{ 'Search'|trans }}</div>
                    <div class="menu-item"><a href="{{ path('app_series_search_db') }}">{{ ux_icon('mdi:account-search-outline') }}{{ 'Among your series'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_series_search') }}">{{ ux_icon('mdi:search') }}{{ 'A series by name/year'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_series_advanced_search') }}">{{ ux_icon('mdi:text-box-search-outline') }}{{ 'Advanced search'|trans }}</a></div>
                </div>
            </div>
            <div class="navbar-item">
                {{ ux_icon('mdi:user-outline', {'data-title': 'Menu people'|trans}) }}
                <div class="menu people">
                    <div class="menu-item"><a href="{{ path('app_people_index') }}" class="desktop">{{ 'People'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_people_star') }}" class="desktop">{{ 'Star people'|trans }}</a></div>
                </div>
            </div>
            <div class="navbar-item">
                {{ ux_icon('mdi:perm-media', {'data-title': 'My media'|trans}) }}
                <div class="menu videos">
                    <div class="separation">{{ 'Blog'|trans }}</div>
                    <div class="menu-item"><a href="{{ path('app_blog_index') }}" class="desktop">{{ 'My blog'|trans }}</a></div>
                    <div class="separation">{{ 'Videos'|trans }}</div>
                    <div class="menu-item"><a href="{{ path('app_video_index') }}" class="desktop">{{ 'My videos'|trans }}</a></div>
                    <div class="separation">{{ 'Images'|trans }}</div>
                    <div class="menu-item"><a href="{{ path('app_album_index') }}" class="desktop">{{ 'My albums'|trans }}</a></div>
                    <div class="menu-item"><a href="{{ path('app_album_all') }}" class="desktop">{{ 'Photos'|trans }}</a></div>
                </div>
            </div>
            <div class="navbar-item" id="history-menu">
                {{ ux_icon('mdi:clipboard-text-history', {'data-title': 'My viewing history'|trans}) }}
                {% set history = seriesHistory(app.user) %}
                <div class="menu history" id="history-list" data-last="{{ history.last }}">
                    <div class="menu-item" id="history-options">
                        <label><input id="history-option-type" type="checkbox"{% if history.type == 'episode' %} checked{% endif %} switch>{{ 'Episodes detail'|trans }}</label>
                        <label>{{ 'Page'|trans }}<input id="history-option-page" type="number" value="{{ history.page }}"></label>
                        <label>{{ 'Count'|trans }}<input id="history-option-count" type="number" value="{{ history.count }}"></label>
                        {#                        <label><input id="history-option-vote" type="checkbox"{% if history.vote %} checked{% endif %} switch>{{ 'Rating'|trans }}</label> #}
                        {#                        <label><input id="history-option-device" type="checkbox"{% if history.device %} checked{% endif %} switch>{{ 'Device'|trans }}</label> #}
                        {#                        <label><input id="history-option-provider" type="checkbox"{% if history.provider %} checked{% endif %} switch>{{ 'Provider'|trans }}</label> #}
                    </div>
                    <ul>
                        {% for h in history.list %}
                            {% set ep = 'S%02dE%02d'|format(h.seasonNumber, h.episodeNumber) %}
                            <li class="menu-item history-item" id="{{ h.episodeId }}" data-title="{{ h.name }} - {{ ep }}">
                                <a class="history" href="{{ path('app_series_season', {id: h.id, slug: h.name|slug, seasonNumber: h.seasonNumber}) }}">
                                    <div class="poster">
                                        {% if h.posterPath|length %}
                                            <img src="/series/posters{{ h.posterPath }}" alt="{{ h.name }}">
                                        {% else %}
                                            {{ h.name|slice(0,1)|upper }}
                                        {% endif %}
                                    </div>
                                    <div class="name">{{ h.name }}</div>
                                    <div class="date">{{ h.lastWatchAt|format_datetime('relative_short', 'short') }}</div>
                                    <div class="number{% if h.progress==100 %} ended{% endif %}">{{ ep }}</div>
                                    <div class="user-part">
                                        <div class="vote{# {% if history.vote == 0 %} hidden{% endif %} #}">{% if h.vote %}{{ h.vote }}{% endif %}</div>
                                        <div class="device{# {% if history.device == 0 %} hidden{% endif %} #}">{% if h.deviceSvg %}{{ ux_icon(h.deviceSvg, {height: "18px", width: "18px"}) }}{% endif %}</div>
                                        <div class="provider{# {% if history.provider == 0 %} hidden{% endif %} #}">{% if h.providerLogoPath %}<img src="{{ h.providerLogoPath }}" alt="{{ h.providerName }}">{% endif %}</div>
                                    </div>
                                </a>
                            </li>
                        {% else %}
                            <div>{{ 'No history'|trans }}</div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="navbar-item">
                {{ ux_icon('mdi:history', {'data-title': 'My browsing history'|trans}) }}
                {% set history = getHistory(app.user) %}
                {% set historyCount = getHistoryCount(app.user) %}
                <div class="menu log" id="log-list" data-last="{{ historyCount ? history.0.id : -1 }}">
                    <div class="menu-item" id="log-count">
                        {{ history|length }} / {{ historyCount }} {{ 'history entries'|trans }}
                    </div>
                    {% set logDate = '' %}
                    <ul>
                        {% for h in history %}
                            {% set d = h.date|format_date('relative_medium') %}
                            {% if logDate != d %}
                                {% set logDate = d %}
                                <li class="menu-item log-date">{{ logDate|capitalize }}</li>
                            {% endif %}
                            <li class="menu-item log-item" data-id="{{ h.id }}">
                                <a class="log" href="{{ h.link }}">
                                    <div class="name">{{ h.title }}</div>
                                    <div class="time">{{ h.date|date("H:i") }}</div>
                                </a>
                            </li>
                        {% else %}
                            <div class="menu-item">{{ 'No history'|trans }}</div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <a href="{{ path('app_contact_form') }}" class="desktop">
            {{ ux_icon('mdi:email', {'data-title': 'Contact me'|trans}) }}
        </a>
    </div>
    <script>
        const navbarItemsToggler = document.querySelector('.navbar-items-toggler');
        const navbarItems = document.querySelector('.navbar-items.left');
        navbarItemsToggler.addEventListener('click', () => {
            const body = document.querySelector('body');
            navbarItems.classList.toggle('open');
            navbarItemsToggler.classList.toggle('open');
            if (navbarItems.classList.contains('open')) {
                navbarItemsToggler.setAttribute('aria-label', '{{ 'Close menu'|trans }}');
                body.classList.add('frozen');
            } else {
                navbarItemsToggler.setAttribute('aria-label', '{{ 'Open menu'|trans }}');
                body.classList.remove('frozen');
            }
        });
    </script>
    {% if app.user %}
        <div class="multi-search">
            <label for="multi-search">
                <input type="search" id="multi-search" data-type="multi" data-sub-type="all" class="search" placeholder="{{ 'Movies, series, actors…'|trans }}" spellcheck="false">
                <span class="multi-search-options-button" data-title="{{ 'Search options'|trans }}">
                    {{ ux_icon('mdi:ellipsis-horizontal', {height: '16px', width:'16px'}) }}
                </span>
                <span class="magnifying-glass">
                    {{ ux_icon('mdi:search', {height: '16px', width:'16px'}) }}
                </span>
            </label>
            <div class="search-results __multi">
                <ul data-type="multi" data-sub-type="multi"></ul>
            </div>
            <div class="multi-search-options-menu-tail"></div>
            <div id="multi-search-options" class="multi-search-options-menu">
                <div class="multi-search-option active" data-value="multi">{{ 'Movies, series, actors…'|trans }}</div>
                <div class="multi-search-option" data-value="movie">{{ 'Movies'|trans }}</div>
                <div class="multi-search-option" data-value="movie_id">{{ 'Movies by ID'|trans }}</div>
                <div class="multi-search-option" data-value="tv">{{ 'Series'|trans }}</div>
                <div class="multi-search-option" data-value="tv_id">{{ 'Series by ID'|trans }}</div>
                <div class="multi-search-option" data-value="people">{{ 'People'|trans }}</div>
                <div class="multi-search-option-separator"></div>
                <div class="multi-search-option" data-value="dbmovie">{{ 'In my movie list'|trans }}</div>
                <div class="multi-search-option" data-value="dbtv">{{ 'In my series list'|trans }}</div>
                <div class="multi-search-option-separator"></div>
                <div class="multi-search-setting"><label for="display-poster-toggler">{{ 'Display the poster'|trans }}<input type="checkbox" switch id="display-poster-toggler"/></label></div>
                <div class="multi-search-setting"><label for="new-tab-toggler">{{ 'Open in a new tab'|trans }}<input type="checkbox" switch id="new-tab-toggler"/></label></div>
            </div>
        </div>
    {% endif %}

    <div class="navbar-items right">
        {% if app.environment == 'dev' and app.user %}
            <div class="navbar-item">
                <div class="debug-comment-anchor">{{ ux_icon('mdi:comment-text-outline') }}</div>
                {% set seriesList = commentCountBySeries() %}
                <div class="menu debug-comment-menu">
                    <ul>
                        {% for sl in seriesList %}
                            <li class="menu-item">
                                <a href="{{ path('app_series_season', {id: sl.id, slug: sl.name|slug, seasonNumber: sl.sn}) }}">
                                    {{ sl.name }} ({{ sl.count }}) - {{ sl.id }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% if route in ['app_series_show', 'app_series_season'] %}
                <div class="debug">{{ series.id }} / {{ userSeries.id }} / {{ series.tmdbId }}</div>
            {% endif %}

            {% if route in ['app_series_tmdb'] %}
                <div class="debug">{{ tv.id }}</div>
            {% endif %}

            {% if route in ['app_movie_show'] %}
                <div class="debug">{{ dbMovie.id }} / {{ userMovie.id }} / {{ movie.id }}</div>
            {% endif %}

            {% if route in ['app_movie_tmdb'] %}
                <div class="debug">{{ movie.id }}</div>
            {% endif %}

            {% if route in ['app_people_show'] %}
                <div class="debug">{{ people.id }}</div>
            {% endif %}

            {% if route in ['app_video_show'] %}
                <div class="debug">{{ video.id }} / {{ video.link }}</div>
            {% endif %}
        {% endif %}

        {% set p = '' %}
        {% if parameters|length %}
            {% for key, value in parameters %}
                {% set p = p ~ (loop.index0 ? '&':'?') ~ key ~ '=' ~ value %}
            {% endfor %}
        {% endif %}
        <div class="navbar-item">
            <div class="avatar"{% if app.user and app.user.avatar is null %} data-title="{{ 'Change your avatar on your account page'|trans }}"{% endif %}>
                {% if app.user %}
                    {% if app.user.avatar %}
                        <img src="/images/users/avatars/{{ app.user.avatar }}" alt="{{ app.user.username }}">
                    {% else %}
                        <img src="/images/users/avatars/default.png" alt="{{ app.user ? app.user.username : ('Guest'|trans) }}">
                    {% endif %}
                {% else %}
                    <div class="svg">
                        {{ ux_icon('mdi:user-outline', {height: '24px', width: '24px'}) }}
                    </div>
                {% endif %}
            </div>
            <div class="menu user" data-user-connected="{{ app.user ? 'true' : 'false' }}">
                {% if app.user %}
                    <a href="{{ path('app_user_profile') }}">{{ 'My account'|trans }}</a>
                    <a href="{{ path('app_user_list_index') }}">{{ 'My lists'|trans }}</a>
                    <a href="{{ path('app_user_providers') }}">{{ 'My providers'|trans }}</a>
                    <a href="{{ path('app_user_networks') }}">{{ 'My networks'|trans }}</a>
                    <a href="{{ path('app_logout') }}">{{ 'Disconnect'|trans }}</a>
                    <div class="separation">{{ 'Admin'|trans }}</div>
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <a href="{{ path('admin_index') }}" class="admin-link">{{ 'Dashboard'|trans }}{{ adminNewMessageCheck('user menu')|raw }}</a>
                    {% endif %}
                    <a href="{{ path('app_user_updates') }}">{{ 'Updates'|trans }}</a>
                    <div class="separation">{{ 'Any questions or comments?'|trans }}</div>
                    <a href="{{ path('app_contact_form') }}">{{ 'Contact'|trans }}…</a>
                {% else %}
                    <a href="{{ path('app_login') }}">{{ 'Connect'|trans }}…</a>
                    <a href="{{ path('app_register') }}">{{ 'Register'|trans }}…</a>
                {% endif %}
                {% if app.user %}
                    <div class="separation">{{ 'Settings'|trans }}</div>
                    <div class="accent-color-settings" data-value="#E0861F">{{ 'Accent color'|trans }}…
                        <div class="sample"></div>
                    </div>
                    <div class="schedule-range-settings">{{ 'Series schedule menu range'|trans }}…</div>
                    <div class="what-next-settings">{{ 'What next to watch'|trans }}…</div>
                    <div class="menu-preview-settings" data-on="{{ 'Hide preview'|trans }}" data-off="{{ 'Show preview'|trans }}">{{ 'Hide preview'|trans }}</div>
                {% endif %}
                <div class="separation">{{ 'Theme'|trans }}</div>
                <div class="menu-theme" data-theme="auto">{{ 'Automatic'|trans }}</div>
                <div class="menu-theme" data-theme="light">{{ 'Light'|trans }}</div>
                <div class="menu-theme" data-theme="dark">{{ 'Dark'|trans }}</div>
                <div class="separation">{{ 'Language'|trans }}</div>
                <a href="{{ path(route, route_params|merge({'_locale': 'fr'})) ~ p }}"{% if app.locale=='fr' %} class="active"{% endif %}>
                    {{ getEmojiFlag('FR') }} Français - French - 프랑스어
                </a>
                <a href="{{ path(route, route_params|merge({'_locale': 'en'})) ~ p }}"{% if app.locale=='en' %} class="active"{% endif %}>
                    {{ getEmojiFlag('GB') }} Anglais - English - 영어
                </a>
                <a href="{{ path(route, route_params|merge({'_locale': 'ko'})) ~ p }}"{% if app.locale=='ko' %} class="active"{% endif %}>
                    {{ getEmojiFlag('KR') }} Coréen - Korean - 한국어
                </a>
            </div>
        </div>
        {% if app.user %}
            <div class="navbar-item">
                <div class="burger">
                    <div>
                        <div></div>
                    </div>
                    <div>
                        <div></div>
                    </div>
                </div>
                <div class="menu main">
                    {{ include('_blocks/_empty_schedule_menu.html.twig') }}

                    {% set inProgress = inProgressSeries(app.user, app.user.preferredLanguage??'fr') %}
                    {% if inProgress.ok %}
                        <div class="separation" id="menu-main-series-in-progress">{{ 'Series in progress'|trans }} - {% if inProgress.nextEpisode %}{{ 'Next episode'|trans }}{% else %}🎉 {{ 'That\'s all!'|trans }} 🎉{% endif %}</div>
                        <div class="a-preview">
                            <a href="{{ path('app_series_season', {id: inProgress.id, slug: inProgress.name|slug, seasonNumber: inProgress.seasonNumber}) }}"
                               id="sip-menu-item-{{ inProgress.id }}"
                               data-episode-count="{{ inProgress.episodeCount }}"
                               data-first-episode-number="1"
                               style="background: linear-gradient(90deg, var(--green-50) {{ inProgress.progress }}%, transparent {{ inProgress.progress }}%)">
                                {{ inProgress.name }}{% if inProgress.nextEpisode %} {{ 'S%02dE%02d'|format(inProgress.seasonNumber, inProgress.nextEpisode) }}{% endif %}
                            </a>
                            <div id="sip-preview-{{ inProgress.id }}" class="episode-of-the-day-preview">
                                <a href="{{ path('app_series_season', {id: inProgress.id, slug: inProgress.name|slug, seasonNumber: inProgress.seasonNumber}) }}">
                                    {% if inProgress.posterPath %}
                                        <img src="{{ inProgress.posterPath }}" alt="{{ inProgress.name }}">
                                    {% else %}
                                        {{ inProgress.name }}
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    {% endif %}

                    {#                    {% if seriesName is defined %} #}
                    {#                        <div class="separation" id="main-menu-back-to-series">{{ 'Back to the series page'|trans }}</div> #}
                    {#                        <a href="{{ seriesLink }}"> #}
                    {#                            <em>{{ ux_icon('mdi:arrow-left') }}</em>&nbsp;{{ seriesName }} #}
                    {#                        </a> #}
                    {#                    {% endif %} #}

                    {% set pinnedSeries=pinnedSeries(app.user, app.user.preferredLanguage??'fr') %}
                    {% set l = pinnedSeries|length %}
                    {% if l %}
                        <div class="separation" id="menu-main-pinned-series">{{ 'Pinned series'|trans }} ({{ l }} {{ (l > 1 ? 'seriess':'series')|trans }})</div>
                        {% for series in pinnedSeries %}
                            <div class="a-preview">
                                <a id="pinned-menu-item-{{ series.id }}"{% if series.linkName %} data-title="{{ series.linkName }}"{% endif %}
                                   href="{{ path('app_series_show', {id: series.id, slug: series.name|slug}) }}">
                                    {{ series.name }}
                                    {% if series.providerLogoPath %}
                                        <div class="time"></div>
                                        <div class="provider">
                                            <img src="{{ series.providerLogoPath }}" alt="{{ series.providerName }}">
                                        </div>
                                    {% endif %}
                                </a>
                                <div id="pinned-preview-{{ series.id }}" class="pinned-series-preview">
                                    <a href="{{ path('app_series_show', {id: series.id, slug: series.slug}) }}">
                                        <img src="{{ series.posterPath }}" alt="{{ series.name }}">
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</nav>
<div class="under-navbar"></div>

