{% set route = app.request.attributes.get('_route') %}
{% set parameters = app.request.query %}
{% set route_params = app.request.attributes.get('_route_params') %}
<nav class="navbar">
    <a href="{{ path('app_home') }}" accesskey="<">{{ ux_icon('ion:home', {height: "18px", width: "18px"}) }}</a>
    {% if app.user %}
        <details>
            <summary>{{ ux_icon('fa6-solid:film', {height: "18px", width: "18px"}) }}</summary>
            <ul>
                <li><a href="{{ path('app_movie_index') }}" class="desktop">{{ 'My movies'|trans }}</a></li>
                <li>
                    <label for="movie-search">
                        <input type="search" id="movie-search" class="search" spellcheck="false">
                        {{ ux_icon('fa6-solid:magnifying-glass', {class: 'magnifying-glass', height: '18px', width:'18px'}) }}
                    </label>
                    <div class="search-results"></div>
                </li>
            </ul>
        </details>
        <details>
            <summary>{{ ux_icon('fa6-solid:tv', {height: "18px", width: "18px"}) }}</summary>
            <ul>
                {% set country=getUserCountrySettings(app.user) %}
                <li><a href="{{ path('app_series_index') }}" class="desktop">{{ 'Episodes of the week'|trans }}</a></li>
                <li><a href="{{ path('app_series_all') }}" class="desktop">{{ 'All my series'|trans }}</a></li>
                <li><a href="{{ path('app_series_to_start') }}">{{ 'Series to start'|trans }}</a></li>
                <li><a href="{{ path('app_series_by_country', {country: country}) }}">{{ 'Series by country'|trans }} - {{ country|country_name }}</a></li>
                <li>
                    <label for="tv-search">
                        <input type="search" id="tv-search" class="search" spellcheck="false" placeholder="{{ 'In The Movie Database'|trans }}">
                        {{ ux_icon('fa6-solid:magnifying-glass', {class: 'magnifying-glass', height: '18px', width:'18px'}) }}
                    </label>
                    <div class="search-results"></div>
                </li>
                <li>
                    <label for="tv-search-db">
                        <input type="search" id="tv-search-db" class="search" spellcheck="false" placeholder="{{ 'Among your series'|trans }}">
                        {{ ux_icon('fa6-solid:magnifying-glass', {class: 'magnifying-glass', height: '18px', width:'18px'}) }}
                    </label>
                    <div class="search-results"></div>
                </li>
            </ul>
        </details>
        <details>
            <summary>{{ ux_icon('fa6-solid:user', {height: "18px", width: "18px"}) }}</summary>
            <ul>
                <li><a href="{{ path('app_people_index') }}" class="desktop">{{ 'People'|trans }}</a></li>
                <li>
                    <label for="person-search">
                        <input type="search" id="person-search" class="search" spellcheck="false">
                        {{ ux_icon('fa6-solid:magnifying-glass', {class: 'magnifying-glass', height: '18px', width:'18px'}) }}
                    </label>
                    <div class="search-results"></div>
                </li>
            </ul>
        </details>
        <details id="history-menu">
            <summary>{{ ux_icon('mdi:history', {height: "18px", width: "18px"}) }}</summary>
            {% set history = seriesHistory(app.user) %}
            {% if history.list %}
                <ul id="history-list" data-last="{{ history.last }}">
                    <li id="history-options">
                        <label><input id="history-option-type" type="checkbox"{% if history.type == 'episode' %} checked{% endif %} switch>{{ 'Episodes detail'|trans }}</label>
                        <label>{{ 'Page'|trans }}<input id="history-option-page" type="number" value="{{ history.page }}"></label>
                        <label>{{ 'Count'|trans }}<input id="history-option-count" type="number" value="{{ history.count }}"></label>
                        <label><input id="history-option-vote" type="checkbox"{% if history.vote %} checked{% endif %} switch>{{ 'Rating'|trans }}</label>
                        <label><input id="history-option-device" type="checkbox"{% if history.device %} checked{% endif %} switch>{{ 'Device'|trans }}</label>
                        <label><input id="history-option-provider" type="checkbox"{% if history.provider %} checked{% endif %} switch>{{ 'Provider'|trans }}</label>
                    </li>
                    {% for h in history.list %}
                        <li class="history-item" id="{{ h.episodeId }}">
                            <a class="history" href="{{ path('app_series_season', {id: h.id, slug: h.slug, seasonNumber: h.seasonNumber}) }}">
                                <div class="poster">
                                    {% if h.posterPath|length %}
                                        <img src="/series/posters{{ h.posterPath }}" alt="{{ h.name }}">
                                    {% else %}
                                        {{ h.name|slice(0,1)|upper }}
                                    {% endif %}
                                </div>
                                <div class="name">{{ h.name }}</div>
                                {% if h.vote %}
                                    <div class="vote{% if history.vote == 0 %} hidden{% endif %}">{{ h.vote }}</div>
                                {% endif %}
                                {% if h.deviceSvg %}
                                    <div class="device{% if history.device == 0 %} hidden{% endif %}">{{ ux_icon(h.deviceSvg, {height: "18px", width: "18px"}) }}</div>
                                {% endif %}
                                {% if h.providerLogoPath %}
                                    <div class="provider{% if history.provider == 0 %} hidden{% endif %}"><img src="{{ h.providerLogoPath }}" alt="{{ h.providerName }}"></div>
                                {% endif %}
                                <div class="number{% if h.progress==100 %} ended{% endif %}">{{ 'S%02dE%02d'|format(h.seasonNumber, h.episodeNumber) }}</div>
                                <div class="date">{{ h.lastWatchAt|format_datetime('relative_medium', 'short', 'Europe/Paris') }}</div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <ul>
                    <li>{{ 'No history'|trans }}</li>
                </ul>
            {% endif %}
        </details>
        <a href="{{ path('app_map_index') }}" class="desktop">{{ ux_icon('ion:map-outline', {height: "18px", width: "18px"}) }}</a>
    {% endif %}
    <a href="{{ path('app_contact_form') }}" class="desktop">{{ ux_icon('ion:mail', {height: "18px", width: "18px"}) }}</a>

    {% set p = '' %}
    {% if parameters|length %}
        {% for key, value in parameters %}
            {% set p = p ~ (loop.index0 ? '&':'?') ~ key ~ '=' ~ value %}
        {% endfor %}
    {% endif %}

    {% if app.user %}
        {% set notificationCount = countEpisodeNotifications(app.user) %}
        {% if notificationCount %}
            {% set notifications = listEpisodeNotifications(app.user) %}
            {% set newCount = countNewEpisodeNotifications(app.user) %}
            <div class="notifications">
                <em>{{ ux_icon('fa6-solid:bell', {height: '18px', width: '18px'}) }}</em>
                {% if newCount %}
                    <span>{{ notificationCount }}</span>
                {% endif %}
                <div class="menu-notifications">
                    {% for n in notifications %}
                        {% set message = n.message|replace({
                            'New episode date': 'New episode date'|trans,
                            'New episode': 'New episode'|trans,
                            'New series date': 'New series date'|trans,
                            'Unknown': 'Unknown'|trans,
                        }) %}
                        <div class="item{% if n.validated_at %} validated{% endif %}" data-id="{{ n.id }}" title="{{ message }}">
                            <div class="message">{{ message }}</div>
                            <div class="date">{{ n.created_at|date('d/m/Y h:i:s') }}</div>
                        </div>
                    {% endfor %}
                    {% if notificationCount > 50 %}
                        <div class="item">
                            <div class="message">{{ notificationCount-50 }} {{ 'more notifications'|trans }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="avatar">
            {% if app.user.avatar %}
                <img src="/images/users/avatars/{{ app.user.avatar }}" alt="{{ app.user.username }}">
            {% else %}
                <img src="/images/users/avatars/default.png" alt="{{ app.user.username }}">
            {% endif %}
        </div>
    {% endif %}
    <div class="burger">
        <span></span>
        <span></span>
        <span></span>
        <div class="menu">
            <a href="{{ path('app_home') }}">{{ 'Home'|trans }}</a>
            {% if app.user %}
                <a href="{{ path('app_movie_index') }}">{{ 'My movies'|trans }}</a>
                <a href="{{ path('app_series_index') }}">{{ 'Episodes of the week'|trans }}</a>
                <a href="{{ path('app_series_all') }}">{{ 'All my series'|trans }}</a>
                <a href="{{ path('app_series_to_start') }}">{{ 'Series to start'|trans }}</a>
                <a href="{{ path('app_people_index') }}">{{ 'People'|trans }}</a>
                <a href="{{ path('app_map_index') }}">{{ 'Shooting locations'|trans }}</a>
                <a href="{{ path('app_contact_form') }}">{{ 'Contact'|trans }}</a>
            {% endif %}
            {% if app.user %}
                {% set eotdList = listEpisodeOfTheDay(app.user, -2) %}
                {% set l = eotdList.totalEpisodeCount %}
                {% if l %}
                    <div class="separation">{{ 'Two days ago'|trans }} ({{ l }} {{ (l > 1 ? 'episodes':'episode')|trans }})</div>
                    {% for eotd in eotdList.results %}
                        <div class="a-preview">
                            <a id="eotd-menu-item-1-{{ eotd.id }}"
                               href="{{ path('app_series_season', {id: eotd.id, slug: eotd.slug, seasonNumber: eotd.seasonNumber}) }}"
                               data-episode-count="{{ eotd.episodeCount }}"
                               data-first-episode-number="{{ eotd.firstEpisodeNumber }}"
                               style="background: linear-gradient(90deg, var(--green-50) {{ eotd.progress }}%, transparent {{ eotd.progress }}%)">
                                <div>{{ eotd.display }}</div>
                                {% if eotd.airAt %}
                                    <div class="time">{{ eotd.airAt|slice(0,5) }}</div>{% endif %}
                            </a>
                            <div id="eotd-preview-1-{{ eotd.id }}" class="episode-of-the-day-preview">
                                <a href="{{ path('app_series_season', {id: eotd.id, slug: eotd.slug, seasonNumber: eotd.seasonNumber}) }}">
                                    <img src="{{ eotd.posterPath }}" alt="{{ eotd.name }}">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                {% set eotdList = listEpisodeOfTheDay(app.user, -1) %}
                {% set l = eotdList.totalEpisodeCount %}
                {% if l %}
                    <div class="separation">{{ 'Yesterday'|trans }} ({{ l }} {{ (l > 1 ? 'episodes':'episode')|trans }})</div>
                    {% for eotd in eotdList.results %}
                        <div class="a-preview">
                            <a id="eotd-menu-item-1-{{ eotd.id }}"
                               href="{{ path('app_series_season', {id: eotd.id, slug: eotd.slug, seasonNumber: eotd.seasonNumber}) }}"
                               data-episode-count="{{ eotd.episodeCount }}"
                               data-first-episode-number="{{ eotd.firstEpisodeNumber }}"
                               style="background: linear-gradient(90deg, var(--green-50) {{ eotd.progress }}%, transparent {{ eotd.progress }}%)">
                                <div>{{ eotd.display }}</div>
                                {% if eotd.airAt %}
                                    <div class="time">{{ eotd.airAt|slice(0,5) }}</div>{% endif %}
                            </a>
                            <div id="eotd-preview-1-{{ eotd.id }}" class="episode-of-the-day-preview">
                                <a href="{{ path('app_series_season', {id: eotd.id, slug: eotd.slug, seasonNumber: eotd.seasonNumber}) }}">
                                    {% if eotd.posterPath %}
                                        <img src="{{ eotd.posterPath }}" alt="{{ eotd.name }}">
                                    {% else %}
                                        {{ eotd.name }}
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                {% set eotdList = listEpisodeOfTheDay(app.user, 0) %}
                {% set l = eotdList.totalEpisodeCount %}
                {% if l %}
                    <div class="separation">{{ 'Today'|trans }} ({{ l }} {{ (l > 1 ? 'episodes':'episode')|trans }})</div>
                    {% for eotd in eotdList.results %}
                        <div class="a-preview">
                            <a id="eotd-menu-item-2-{{ eotd.id }}"
                               href="{{ path('app_series_season', {id: eotd.id, slug: eotd.slug, seasonNumber: eotd.seasonNumber}) }}"
                               data-episode-count="{{ eotd.episodeCount }}"
                               data-first-episode-number="{{ eotd.firstEpisodeNumber }}"
                               style="background: linear-gradient(90deg, var(--green-50) {{ eotd.progress }}%, transparent {{ eotd.progress }}%)">
                                <div>{{ eotd.display }}</div>
                                {% if eotd.airAt %}
                                    <div class="time">{{ eotd.airAt|slice(0,5) }}</div>{% endif %}
                            </a>
                            <div id="eotd-preview-2-{{ eotd.id }}" class="episode-of-the-day-preview">
                                <a href="{{ path('app_series_season', {id: eotd.id, slug: eotd.slug, seasonNumber: eotd.seasonNumber}) }}">
                                    {% if eotd.posterPath %}
                                        <img src="{{ eotd.posterPath }}" alt="{{ eotd.name }}">
                                    {% else %}
                                        {{ eotd.name }}
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                {% set eotdList = listEpisodeOfTheDay(app.user, 1) %}
                {% set l = eotdList.totalEpisodeCount %}
                {% if l %}
                    <div class="separation">{{ 'Tomorrow'|trans }} ({{ l }} {{ (l > 1 ? 'episodes':'episode')|trans }})</div>
                    {% for eotd in eotdList.results %}
                        <div class="a-preview">
                            <a id="eotd-menu-item-3-{{ eotd.id }}"
                               href="{{ path('app_series_season', {id: eotd.id, slug: eotd.slug, seasonNumber: eotd.seasonNumber}) }}"
                               data-episode-count="{{ eotd.episodeCount }}"
                               data-first-episode-number="{{ eotd.firstEpisodeNumber }}"
                               style="background: linear-gradient(90deg, var(--green-50) {{ eotd.progress }}%, transparent {{ eotd.progress }}%)">
                                <div>{{ eotd.display }}</div>
                                {% if eotd.airAt %}
                                    <div class="time">{{ eotd.airAt|slice(0,5) }}</div>{% endif %}
                            </a>
                            <div id="eotd-preview-3-{{ eotd.id }}" class="episode-of-the-day-preview">
                                <a href="{{ path('app_series_season', {id: eotd.id, slug: eotd.slug, seasonNumber: eotd.seasonNumber}) }}">
                                    {% if eotd.posterPath %}
                                        <img src="{{ eotd.posterPath }}" alt="{{ eotd.name }}">
                                    {% else %}
                                        {{ eotd.name }}
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                {% set inProgress = inProgressSeries(app.user, app.user.preferredLanguage??'fr') %}
                {% if inProgress.ok %}
                    <div class="separation">{{ 'Series in progress'|trans }} - {% if inProgress.nextEpisode %}{{ 'Next episode'|trans }}{% else %}{{ 'That\'s all!'|trans }}{% endif %}</div>
                    <div class="a-preview">
                        <a href="{{ path('app_series_season', {id: inProgress.id, slug: inProgress.slug, seasonNumber: inProgress.seasonNumber}) }}"
                           id="sip-menu-item-{{ inProgress.id }}"
                           data-episode-count="{{ inProgress.episodeCount }}"
                           data-first-episode-number="1"
                           style="background: linear-gradient(90deg, var(--green-50) {{ inProgress.progress }}%, transparent {{ inProgress.progress }}%)">
                            {{ inProgress.name }}{% if inProgress.nextEpisode %} {{ 'S%02dE%02d'|format(inProgress.seasonNumber, inProgress.nextEpisode) }}{% endif %}
                        </a>
                        <div id="sip-preview-{{ inProgress.id }}" class="episode-of-the-day-preview">
                            <a href="{{ path('app_series_season', {id: inProgress.id, slug: inProgress.slug, seasonNumber: inProgress.seasonNumber}) }}">
                                {% if inProgress.posterPath %}
                                    <img src="{{ inProgress.posterPath }}" alt="{{ inProgress.name }}">
                                {% else %}
                                    {{ inProgress.name }}
                                {% endif %}
                            </a>
                        </div>
                    </div>
                {% endif %}
                {% if seriesName is defined %}
                    <div class="separation">{{ 'Back to the series page'|trans }}</div>
                    <a href="{{ seriesLink }}">
                        <em>{{ ux_icon('fa6-solid:arrow-left-long', {height: '18px', width: '18px'}) }}</em>&nbsp;{{ seriesName }}
                    </a>
                {% endif %}

                {% set pinnedSeries=pinnedSeries(app.user, app.user.preferredLanguage??'fr') %}
                {% set l = pinnedSeries|length %}
                {% if l %}
                    <div class="separation">{{ 'Pinned series'|trans }} ({{ l }} {{ (l > 1 ? 'seriess':'series')|trans }})</div>
                    {% for series in pinnedSeries %}
                        <div class="a-preview">
                            <a id="pinned-menu-item-{{ series.id }}"
                               href="{{ path('app_series_show', {id: series.id, slug: series.slug}) }}">
                                {{ series.name }}
                            </a>
                            <div id="pinned-preview-{{ series.id }}" class="pinned-series-preview">
                                <a href="{{ path('app_series_show', {id: series.id, slug: series.slug}) }}">
                                    <img src="{{ series.posterPath }}" alt="{{ series.name }}">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
            <div class="separation">{{ 'Search'|trans }}</div>
            {% if app.user %}
                <a href="{{ path('app_series_search_db') }}">{{ 'Among your series'|trans }}</a>
            {% endif %}
            <a href="{{ path('app_series_search') }}">{{ 'A series by name/year'|trans }}</a>
            <a href="{{ path('app_series_advanced_search') }}">{{ 'Advanced search'|trans }}</a>
            <div class="separation">{{ 'User'|trans }}</div>
            {% if app.user %}
                <a href="{{ path('app_user_profile') }}">{{ 'My account'|trans }}</a>
                <a href="{{ path('app_user_providers') }}">{{ 'My providers'|trans }}</a>
                <a href="{{ path('app_user_networks') }}">{{ 'My networks'|trans }}</a>
                <a href="{{ path('app_logout') }}">{{ 'Disconnect'|trans }}</a>
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <div class="separation">{{ 'Admin'|trans }}</div>
                    <a href="{{ path('app_admin_index') }}">{{ 'Dashboard'|trans }}</a>
                {% endif %}
            {% else %}
                <a href="{{ path('app_login') }}">{{ 'Connect'|trans }}</a>
                <a href="{{ path('app_register') }}">{{ 'Register'|trans }}</a>
            {% endif %}
            <div class="separation">{{ 'Options'|trans }}</div>
            <div class="menu-preview" data-on="{{ 'Hide preview'|trans }}" data-off="{{ 'Show preview'|trans }}">{{ 'Hide preview'|trans }}</div>
            <div class="separation">{{ 'Theme'|trans }}</div>
            <div class="menu-theme" data-theme="auto">{{ 'Automatic'|trans }}</div>
            <div class="menu-theme" data-theme="light">{{ 'Light'|trans }}</div>
            <div class="menu-theme" data-theme="dark">{{ 'Dark'|trans }}</div>
            <div class="separation">{{ 'Language'|trans }}</div>
            <a href="{{ path(route, route_params|merge({'_locale': 'fr'})) ~ p }}"{% if app.locale=='fr' %} class="active"{% endif %}>{{ 'French'|trans }}</a>
            <a href="{{ path(route, route_params|merge({'_locale': 'en'})) ~ p }}"{% if app.locale=='en' %} class="active"{% endif %}>{{ 'English'|trans }}</a>
        </div>
    </div>
</nav>

