{% set route = app.request.attributes.get('_route') %}
{% set parameters = app.request.query %}
{% set route_params = app.request.attributes.get('_route_params') %}
<nav class="navbar">
    <a href="{{ path('app_home') }}" accesskey="<">{{ 'Home'|trans }}</a>
    <a href="{{ path('app_series_index') }}" class="desktop">{{ 'Series'|trans }}</a>
    <a href="{{ path('app_contact_form') }}" class="desktop">{{ 'Contact'|trans }}</a>

    {% set p = '' %}
    {% if parameters|length %}
        {% for key, value in parameters %}
            {% set p = p ~ (loop.index0 ? '&':'?') ~ key ~ '=' ~ value %}
        {% endfor %}
    {% endif %}

    {% if app.user %}
        {% set notificationCount = countEpisodeNotifications(app.user) %}
        {% if notificationCount %}
            {% set notifications = listEpisodeNotifications(app.user) %}
            <div class="notifications">
                {#            <a href="{{ path('app_user_notifications') }}"> #}
                <em>{{ ux_icon('fa6-solid:bell', {height: '18px', width: '18px'}) }}</em>
                <span>{{ notificationCount }}</span>
                {#            </a> #}
                <div class="menu">
                    {% for n in notifications %}
                        <div class="item">{{ n.message }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="avatar">
            <img src="/images/users/avatars/{{ app.user.avatar }}" alt="{{ app.user.username }}">
        </div>
    {% endif %}
    <div class="burger">
        <span></span>
        <span></span>
        <span></span>
        <div class="menu">
            <a href="{{ path('app_home') }}">{{ 'Home'|trans }}</a>
            {% if seriesName is defined %}
                <a href="{{ seriesLink }}">
                    {#                    <i class="fas fa-arrow-left"></i>&nbsp; #}
                    <em>{{ ux_icon('fa6-solid:arrow-left-long', {height: '18px', width: '18px'}) }}</em>&nbsp;{{ seriesName }}
                </a>
            {% endif %}
            <a href="{{ path('app_series_index') }}">{{ 'Series'|trans }}</a>
            <a href="{{ path('app_contact_form') }}">{{ 'Contact'|trans }}</a>
            <div class="separation">{{ 'Search'|trans }}</div>
            {% if app.user %}
                <a href="{{ path('app_series_search_db') }}">{{ 'Among your series'|trans }}</a>
            {% endif %}
            <a href="{{ path('app_series_search') }}">{{ 'A series by name/year'|trans }}</a>
            <a href="{{ path('app_series_advanced_search') }}">{{ 'Advanced search'|trans }}</a>
            <div class="separation">{{ 'User'|trans }}</div>
            {% if app.user %}
                <a href="{{ path('app_user_profile') }}">{{ 'My account'|trans }}</a>
                <a href="{{ path('app_user_providers') }}">{{ 'My providers'|trans }}</a>
                <a href="{{ path('app_logout') }}">{{ 'Disconnect'|trans }}</a>
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <div class="separation">{{ 'Admin'|trans }}</div>
                    <a href="{{ path('app_series_admin') }}">{{ 'Series'|trans }}</a>
                {% endif %}
            {% else %}
                <a href="{{ path('app_login') }}">{{ 'Connect'|trans }}</a>
                <a href="{{ path('app_register') }}">{{ 'Register'|trans }}</a>
            {% endif %}
            <div class="separation">{{ 'Options'|trans }}</div>
            <div class="menu-preview" data-on="{{ 'Hide preview'|trans }}" data-off="{{ 'Show preview'|trans }}">{{ 'Hide preview'|trans }}</div>
            <div class="separation">{{ 'Theme'|trans }}</div>
            <div class="menu-theme" data-theme="auto">{{ 'Automatic'|trans }}</div>
            <div class="menu-theme" data-theme="light">{{ 'Light'|trans }}</div>
            <div class="menu-theme" data-theme="dark">{{ 'Dark'|trans }}</div>
            <div class="separation">{{ 'Language'|trans }}</div>
            <a href="{{ path(route, route_params|merge({'_locale': 'fr'})) ~ p }}"{% if app.locale=='fr' %} class="active"{% endif %}>{{ 'French'|trans }}</a>
            <a href="{{ path(route, route_params|merge({'_locale': 'en'})) ~ p }}"{% if app.locale=='en' %} class="active"{% endif %}>{{ 'English'|trans }}</a>
        </div>
    </div>
</nav>