{% set interval = data.interval %}
{% set startDay = data.startDay %}
{% set endDay = data.endDay %}
<div class="schedule-menu" data-id="{{ interval.lastViewedEpisodeId }}">
    {% for relativeDay in  startDay..endDay %}
        {% set eotdList = interval[relativeDay] %}
        {% set l = eotdList.totalEpisodeCount %}
        {% if l %}
            <div class="separation  {% if relativeDay == 0 %} today{% endif %}">
                <div class="relative-date">{{ relativeDayStrings(relativeDay) }} ({{ l }} {{ (l > 1 ? 'episodes':'episode')|trans }})</div>
                <div class="date">{{ eotdList.date|format_date("full")|capitalize }}</div>
            </div>
            {% if relativeDay %}
                {% for eotd in eotdList.results %}
                    {% if eotd.type == 'series' %}
                        {% if linkTo == 'episode' %}
                            {% set url = path('app_series_episode_show', {id: eotd.id, slug: eotd.name|slug|lower, seasonNumber: eotd.seasonNumber, episodeNumber: eotd.firstEpisodeNumber}) %}
                        {% elseif linkTo == 'season' %}
                            {% set url = path('app_series_season_show', {id: eotd.id, slug: eotd.name|slug|lower, seasonNumber: eotd.seasonNumber}) %}
                        {% else %}
                            {% set url = path('app_series_show', {id: eotd.id, slug: eotd.name|slug|lower}) %}
                        {% endif %}
                    {% else %}
                        {% set url = path('app_movie_show', {id: eotd.id}) %}
                    {% endif %}
                    <div class="a-preview">
                        <a id="eotd-menu-item-1-{{ eotd.id }}"
                           href="{{ url }}"
                           data-episode-ids="{{ eotd.episodeIds }}"
                           data-episode-count="{{ eotd.episodeCount }}"
                           data-first-episode-number="{{ eotd.firstEpisodeNumber }}">
                            <div class="episode-progress" data-id="{{ eotd.id }}" style="right: {{ 100 - eotd.progress }}%;"></div>
                            <div>
                                {{ eotd.display }}
                                {% if eotd.customDate %}
                                    {{ ux_icon('mdi:calendar', {'data-title': 'Custom schedule'|trans, height: '16px', width: '16px'}) }}
                                {% endif %}
                                {% if eotd.last_episode %}
                                    {{ ux_icon('mdi:hand-wave', {'data-title': 'Season finale'|trans, height: '16px', width: '16px'}) }}
                                {% endif %}
                                {% if eotd.premiere %}
                                    {{ ux_icon('mdi:new-box', {'data-title': 'Premiere'|trans, height: '16px', width: '16px'}) }}
                                {% endif %}
                                {% if eotd.upToDate %}
                                    {{ ux_icon('mdi:thumb-up-outline', {'data-title': 'Up to date!'|trans, height: '16px', width: '16px'}) }}
                                {% endif %}
                            </div>
                            {% if eotd.type == 'series' %}
                                <div class="time">{{ eotd.airAt|slice(0,5) }}</div>
                            {% else %}
                                <div class="time movie">{{ 'Movie'|trans }}</div>
                            {% endif %}
                            <div class="provider">
                                {% if eotd.providerLogoPath %}
                                    <img src="{{ eotd.providerLogoPath }}" alt="{{ eotd.providerName }}">
                                {% endif %}
                            </div>
                        </a>
                        <div id="eotd-preview-1-{{ eotd.id }}" class="episode-of-the-day-preview">
                            <a href="{{ url }}">
                                {% if eotd.posterPath %}
                                    <img src="{{ eotd.posterPath }}" alt="{{ eotd.name }}">
                                {% else %}
                                    {{ eotd.name }}
                                {% endif %}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="today-s-episodes">
                    <div class="wrapper ready">
                        {% for eotd in eotdList.results %}
                            {% if eotd.type == 'series' %}
                                {% if linkTo == 'episode' %}
                                    {% set url = path('app_series_episode_show', {id: eotd.id, slug: eotd.name|slug|lower, seasonNumber: eotd.seasonNumber, episodeNumber: eotd.firstEpisodeNumber}) %}
                                {% elseif linkTo == 'season' %}
                                    {% set url = path('app_series_season_show', {id: eotd.id, slug: eotd.name|slug|lower, seasonNumber: eotd.seasonNumber}) %}
                                {% else %}
                                    {% set url = path('app_series_show', {id: eotd.id, slug: eotd.name|slug|lower}) %}
                                {% endif %}
                            {% else %}
                                {% set url = path('app_movie_show', {id: eotd.id}) %}
                            {% endif %}
                            <div class="item">
                                <a href="{{ url }}"
                                   data-title="{{ url }}"
                                   data-episode-ids="{{ eotd.episodeIds }}"
                                   data-episode-count="{{ eotd.episodeCount }}"
                                   data-first-episode-number="{{ eotd.firstEpisodeNumber }}">
                                    <div class="poster">
                                        {% if eotd.posterPath %}
                                            <img src="{{ eotd.posterPath }}" alt="{{ eotd.name }}">
                                        {% else %}
                                            {{ eotd.name }}
                                        {% endif %}
                                        <div class="status">
                                            {% if eotd.customDate %}
                                                {{ ux_icon('mdi:calendar', {'data-title': 'Custom schedule'|trans, height: '16px', width: '16px'}) }}
                                            {% endif %}
                                            {% if eotd.last_episode %}
                                                {{ ux_icon('mdi:hand-wave', {'data-title': 'Season finale'|trans, height: '16px', width: '16px'}) }}
                                            {% endif %}
                                            {% if eotd.premiere %}
                                                {{ ux_icon('mdi:new-box', {'data-title': 'Premiere'|trans, height: '16px', width: '16px'}) }}
                                            {% endif %}
                                            {% if eotd.upToDate %}
                                                {{ ux_icon('mdi:thumb-up-outline', {'data-title': 'Up to date!'|trans, height: '16px', width: '16px'}) }}
                                            {% endif %}
                                        </div>
                                        {% if eotd.type == 'series' %}
                                            {% if eotd.airAt %}
                                                <div class="time">{{ eotd.airAt|slice(0,5) }}</div>
                                            {% endif %}
                                        {% else %}
                                            <div class="movie">{{ 'Movie'|trans }}</div>
                                        {% endif %}
                                        <div class="provider">
                                            {% if eotd.providerLogoPath %}
                                                <img src="{{ eotd.providerLogoPath }}" alt="{{ eotd.providerName }}">
                                            {% endif %}
                                        </div>
                                        <div class="episode-progress" data-id="{{ eotd.id }}">
                                            <div class="progress" style="width: {{ eotd.progress }}%;"></div>
                                        </div>
                                    </div>
                                    <div class="infos">
                                        <div class="name">{{ eotd.display }}</div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>