<dialog class="watch-link-dialog" popover id="watch-link-popover">
    <button class="close" popovertarget="watch-link-popover" popovertargetaction="hide">{{ ux_icon('mdi:close') }}</button>
    <h3>{{ 'Add a watch link'|trans }}</h3>
    <form class="form" action="" id="watch_link_form">
        <div class="form-row">
            <div class="form-field">
                <label for="watch_link_form_url">{{ 'URL'|trans }}
                    <input type="url" name="watch_link_form[url]" id="watch_link_form_url" required>
                    <span class="error"></span>
                </label>
            </div>
        </div>
        {% set numberOfSeason = type == 'series' ? tv.seasons|length : 0 %}
        {% if type == 'series' and numberOfSeason > 1 %}
            <div class="form-row">
                <div class="form-field">
                    <label for="watch_link_form_season_number">{{ 'Season'|trans }}
                        <select id="watch_link_form_season_number" name="watch_link_form[season_number]">
                            <option value="-1">{{ 'All seasons'|trans }}</option>
                            {% for i in 1..numberOfSeason %}
                                {% set seasonNumber = tv.seasons[i-1].season_number %}
                                <option value="{{ seasonNumber }}">{{ seasonNumber ? ('Season x'|trans({'x': seasonNumber})):('Special episodes'|trans) }}</option>
                            {% endfor %}
                        </select>
                        <span class="error"></span>
                    </label>
                </div>
            </div>
        {% else %}
            <input type="hidden" id="watch_link_form_season_number" name="watch_link_form[season_number]" value="{{ numberOfSeason }}">
        {% endif %}
        <div class="form-row">
            <div class="form-field">
                <label for="watch_link_form_provider">{{ 'Provider'|trans }}
                    <select id="watch_link_form_provider" name="watch_link_form[provider]">
                        <option value="-1">{{ 'Select a provider'|trans }}</option>
                        {% for name, id in providers.select %}
                            <option value="{{ id }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-field">
                <label for="watch_link_form_name">{{ 'Name'|trans }}
                    <input type="text" id="watch_link_form_name" name="watch_link_form[name]" required autocomplete="false">
                    <span class="error"></span>
                </label>
            </div>
        </div>
        <div class="form-row">
                <button type="button">{{ 'Cancel'|trans }}</button>
                <button type="submit">{{ 'Add'|trans }}</button>
        </div>
        <input type="hidden" id="watch_link_form_crud_type" name="watch_link_form[crud_type]" value="">{# create (new) | update (edit) | delete (remove) #}
        <input type="hidden" id="watch_link_form_crud_id" name="watch_link_form[crud_id]" value="">{# id of updated watch link #}
    </form>
</dialog>