<div class="watch-links">
    <div class="label">{{ 'Watch links'|trans }}</div>
    <div class="label-small" data-title="{{ 'Watch links'|trans }}">{{ ux_icon('mdi:link-variant') }}</div>
    {% for link in media.watchLinks %}
        <div class="watch-link" data-id="{{ link.id }}">
            <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                {% if link.providerId > 0 %}
                    <img src="{{ providers.logos[link.providerId] }}" alt="{{ providers.names[link.providerId] }}" data-title="{{ link.name ?? providers.names[link.providerId] }}">
                {% else %}
                    <span>{{ link.name }}</span>
                {% endif %}
            </a>
            <div class="watch-link-tools"
                 data-id="{{ link.id }}"
                 data-provider="{{ link.providerId }}"
                 data-name="{{ link.name }}"
                 data-season-number="{{ link.seasonNumber ?? -1 }}"
            >
                <div class="watch-link-tool edit" data-title="{{ 'Edit this watch link'|trans }}">
                    {{ ux_icon('mdi:pencil') }}
                </div>
                <div class="watch-link-tool copy" data-title="{{ 'Copy this watch link'|trans }}">
                    {{ ux_icon('mdi:content-paste') }}
                </div>
                <div class="watch-link-name">{{ link.name }}</div>
                <div class="watch-link-tool delete" data-title="{{ 'Delete this watch link'|trans }}">
                    {{ ux_icon('mdi:trash') }}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="add-watch-link" data-title="{{ 'Add a watch link'|trans }}" popovertarget="watch-link-popover">
        {{ ux_icon('mdi:plus') }}
    </div>
</div>
<div class="watch-link-form" popover id="watch-link-popover">
    <div class="close" data-title="{{ 'Close'|trans }}">{{ ux_icon('mdi:close') }}</div>
    <h3>{{ 'Add a watch link'|trans }}</h3>
    <form class="form" action="" id="watch-link-form">
        <div class="form-row">
            <div class="form-field">
                <label for="provider">{{ 'Provider'|trans }}
                    <select name="provider" id="provider">
                        <option value="">{{ 'Select a provider'|trans }}</option>
                        {% for name, id in providers.select %}
                            <option value="{{ id }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-field">
                <label for="name">{{ 'Name'|trans }}
                    <input type="text" name="name" id="name" required autocomplete="false">
                    <span class="error"></span>
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-field">
                <label for="url">{{ 'URL'|trans }}
                    <input type="url" name="url" id="url" required>
                    <span class="error"></span>
                </label>
            </div>
        </div>
        {% if type == 'series' %}
            {% set numberOfSeason = tv.seasons|length %}
            {% if numberOfSeason > 1 %}
                <div class="form-row">
                    <div class="form-field">
                        <label for="season-number">{{ 'Season'|trans }}
                            <select id="season-number" name="season-number">
                                <option value="-1">{{ 'All seasons'|trans }}</option>
                                {% for i in 1..numberOfSeason %}
                                    {% set seasonNumber = tv.seasons[i-1].season_number %}
                                    <option value="{{ seasonNumber }}">{{ seasonNumber ? ('Season x'|trans({'x': seasonNumber})):('Special episodes'|trans) }}</option>
                                {% endfor %}
                            </select>
                            <span class="error"></span>
                        </label>
                    </div>
                </div>
            {% else %}
                <input type="hidden" name="season-number" id="season-number" value="{{ tv.seasons[0].season_number }}">
            {% endif %}
        {% else %}
            <input type="hidden" name="season-number" id="season-number" value="{{ -1 }}">
        {% endif %}
        <div class="form-row">
            <div class="form-field">
                <button type="button">{{ 'Cancel'|trans }}</button>
                <button type="submit">{{ 'Add'|trans }}</button>
            </div>
        </div>
        <input type="hidden" name="crud-type" id="crud-type" value="">{# create (new) | update (edit) | delete (remove) #}
        <input type="hidden" name="crud-id" id="crud-id" value="">{# id of updated watch link #}
    </form>
</div>