<div class="watch-links">
    <div class="label">{{ 'Watch on'|trans }}</div>
    <div class="label-small" data-title="{{ 'Watch on'|trans }}">{{ ux_icon('mdi:link-variant') }}</div>
    {% for link in media.watchLinks %}
        <div class="watch-link" data-id="{{ link.id }}">
            <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                {% if link.providerId > 0 %}
                    <img src="{{ providers.logos[link.providerId] }}" alt="{{ providers.names[link.providerId] }}" data-title="{{ link.name ?? providers.names[link.providerId] }}">
                {% else %}
                    <span>{{ link.name }}</span>
                {% endif %}
            </a>
            {% if link.seasonNumber is defined %}
                {% if link.seasonNumber > 0 %}
                    <div class="season-number-badge">{{ 'S%02d'|format(link.seasonNumber) }}</div>
                {% endif %}
                {% if link.seasonNumber == 0 %}
                    <div class="season-number-badge">{{ 'SP' }}</div>
                {% endif %}
            {% endif %}
            <div class="watch-link-tools"
                 data-id="{{ link.id }}"
                 data-provider="{{ link.providerId }}"
                 data-name="{{ link.name }}"
                 data-season-number="{{ link.seasonNumber ?? -1 }}"
            >
                <div class="watch-link-tool edit" data-title="{{ 'Edit watch link'|trans }}">
                    {{ ux_icon('mdi:pencil') }}
                </div>
                <div class="watch-link-tool copy" data-title="{{ 'Copy watch link'|trans }}">
                    {{ ux_icon('mdi:content-paste') }}
                </div>
                <div class="watch-link-name">{{ link.name }}</div>
                <div class="watch-link-tool delete" data-title="{{ 'Delete watch link'|trans }}">
                    {{ ux_icon('mdi:trash') }}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="add-watch-link" data-title="{{ 'Add a watch link'|trans }}" popovertarget="watch-link-popover">
        {{ ux_icon('mdi:plus') }}
    </div>
</div>