{% set count = missingTranslations|length %}
<h2>{{ 'Keywords'|trans }} ({{ keywords|length }}) <span class="missing-translations"><span class="missing-count" data-count="{{ count }}">{{ count }}</span> {{ 'missing translations'|trans }}</span></h2>

<div class="admin__keywords_firsts">
    {% for f in firsts %}
        <a href="?first={{ f }}"{% if first == f %} class="active"{% endif %} data-letter="{{ f }}">{{ f }}</a>
    {% endfor %}
</div>

<div class="admin__keywords">

    <div class="keyword">
        <div class="keyword__id">#</div>
        <div class="keyword__name">{{ 'Name'|trans }}</div>
        <div class="keyword__tmdb_id">{{ 'TMDB ID'|trans }}</div>
        <div class="keyword__input_label">{{ 'Translation'|trans }}</div>
    </div>
    {% for k in keywords %}
        <div class="keyword">
            <div class="keyword__id">{{ k.id }}</div>
            <div class="keyword__name">{{ k.name }}</div>
            <div class="keyword__tmdb_id">{{ k.keyword_id }}</div>
            <div class="keyword__translation">
                {% if k.name in missingTranslations %}
                    <label for="{{ k.id }}"><input type="text" id="{{ k.id }}" value="{{ k.name }}" data-keyword="{{ k.name }}" class="keyword__input"></label>
                {% else %}
                    {{ ux_icon('mdi:check') }} {{ k.name|trans([], 'keywords') }}
                {% endif %}
            </div>
        </div>
    {% endfor %}

</div>
<div id="globs" style="display:none">
    {
    "first": "{{ first }}",
    "firsts": {{ firsts|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
    }
</div>
<div id="svgs" style="display:none">
    <div id="check">{{ ux_icon('mdi:check') }}</div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let firstArray = [];
        const globs = document.querySelector('#globs').textContent;
        const json = JSON.parse(globs);
        const activeLetter = json['first'];
        const firstInput = document.querySelector('.keyword__input');
        if (firstInput) {
            firstInput.focus();
        }
        const inputs = document.querySelectorAll('.keyword__input');
        inputs.forEach(input => {
            input.addEventListener('keydown', function (e) {
                if (e.key === 'Enter') {
                    if (input.value.length === 0) {
                        return;
                    }
                    const translations = [{original: input.dataset.keyword, translated: input.value}];
                    fetch('/api/keywords/save', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({type: '', id: 0, noUpdate: 1, language: "{{ language }}", keywords: translations})
                    })
                        .then((response) => response.json())
                        .then(data => {
                            /*console.log(data);*/
                            const keywordTranslationDiv = input.closest('.keyword__translation');
                            const label = keywordTranslationDiv.querySelector('label');
                            label.remove();
                            const svgCheck = document.querySelector('#check').querySelector('svg').cloneNode(true);
                            keywordTranslationDiv.appendChild(svgCheck);
                            keywordTranslationDiv.appendChild(document.createTextNode(input.value));
                            const missingCountSpan = document.querySelector('.missing-count');
                            const missingCount = missingCountSpan.textContent - 1;
                            missingCountSpan.dataset.count = missingCount.toString();
                            missingCountSpan.textContent = missingCount.toString();
                            const link = document.querySelector(`[data-letter="${activeLetter}"]`);
                            link.title = missingCount.toString() + ' / ' + firstArray[activeLetter];
                            const firstInput = document.querySelector('.keyword__input');
                            if (firstInput) {
                                firstInput.focus();
                            }
                        });
                }
            })
        })

        fetch('/api/keywords/check', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then((response) => response.json())
            .then(data => {
                /*console.log(data);*/
                const links = document.querySelectorAll('.admin__keywords_firsts > a');
                firstArray = data['firstArray'];
                links.forEach(link => {
                    const letter = link.dataset.letter;
                    if (firstArray[letter] === 0) {
                        link.classList.add('done');
                    } else {
                        link.title = firstArray[letter];
                    }
                })
            });

    });
</script>
