{% set count = missingTranslations|length %}
<h2>
    {{ 'Keywords'|trans }} ({{ keywords|length }})
    <span class="missing-text">
        <span class="missing-count" data-count="{{ count }}">{{ count }}</span>
        <span class="missing-translations">{% if count > 1 %}{{ 'missing translations'|trans }}{% else %} {{ 'Only one translation left!'|trans }}{% endif %}</span>
    </span>
</h2>

<div class="admin__keywords_firsts">
    {% for f in firsts %}
        <a href="?first={{ f }}"{% if first == f %} class="active"{% endif %} data-letter="{{ f }}">{{ f }}</a>
    {% endfor %}
</div>

<div class="admin__keywords">

    <div class="keyword">
        <div class="keyword__id">#</div>
        <div class="keyword__name">{{ 'Name'|trans }}</div>
        <div class="keyword__tmdb_id">{{ 'TMDB ID'|trans }}</div>
        <div class="keyword__input_label">{{ 'Translation'|trans }}</div>
    </div>
    {% for k in keywords %}
        <div class="keyword">
            <div class="keyword__id">{{ k.id }}</div>
            <div class="keyword__name">{{ k.name }}</div>
            <div class="keyword__tmdb_id">{{ k.keyword_id }}</div>
            <div class="keyword__translation">
                {% if k.name in missingTranslations %}
                    <label for="{{ k.id }}"><input type="text" id="{{ k.id }}" value="{{ k.name }}" data-keyword="{{ k.name }}" class="keyword__input"></label>
                {% else %}
                    {{ ux_icon('mdi:check') }} {{ k.name|trans([], 'keywords') }}
                {% endif %}
            </div>
        </div>
    {% endfor %}

</div>
<div id="globs" style="display:none">
    {
        "first": "{{ first }}",
        "firsts": {{ firsts|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "translations": {{ translations|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "language": "{{ language }}"
    }
</div>
<div id="svgs" style="display:none">
    <div id="check">{{ ux_icon('mdi:check') }}</div>
    <div id="svg-xmark">{{ ux_icon('mdi:close') }}</div>
</div>
