<section class="admin__tools">
    <div class="admin__result">
        {{ pois.count }} {{ (pois.count > 1 ? 'points of interest':'point of interest')|trans }}
    </div>
</section>
<section>
    <div id="series-map-title">
        <div class="title">{{ 'Points of interrest'|trans }}</div>
        <div class="add-location-button" data-title="{{ 'Add a new point of interest'|trans }}">
            {{ ux_icon('fa6-solid:plus') }}
        </div>
        <div class="toggle-cooperative-gestures">
            {{ ux_icon('iconoir:key-command') }} / {{ ux_icon('iconoir:mac-control-key') }}
        </div>
    </div>
    <div class="series-map">
        {% if pois|length %}
            {% set loc = pois.list|first %}
            {{ include('_blocks/map/_map-container.html.twig', {type: 'all', styleSettings: mapSettings.data.styles}) }}
            <div class="temp-locations">
                <div class="locations">
                    <ul>
                        {% for location in pois.list %}
                            <li class="location-item" data-loc-id="{{ location.id }}">
                                <div class="image db">
                                    <img src="/images/poi{{ location.still_path }}" alt="{{ location.name }}">
                                    {% if location.images|length-1 %}
                                        <div class="count">
                                            {{ location.images|length }}
                                        </div>
                                        <div class="arrow left">{{ ux_icon('fa6-solid:arrow-left') }}</div>
                                        <div class="arrow right">{{ ux_icon('fa6-solid:arrow-right') }}</div>
                                        <div class="list">
                                            {#                                                    <img src="{{ location.image }}" alt="{{ location.location ~ ' - ' ~ 'image'|trans ~ ' #1' }}"> #}
                                            {% for i in location.images %}
                                                <img src="/images/poi{{ i.path }}" alt="{{ location.name ~ ' - ' ~ 'image'|trans ~ ' #' ~ (loop.index + 1) }}">
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="edit" data-loc-id="{{ location.id }}">{{ ux_icon('fa6-solid:pen') }}</div>
                                </div>
                                <div class="location poi" data-loc-id="{{ location.id }}">
                                    <div>{{ location.name }}</div>
                                    <div>
                                        {% if location.city %}
                                            <span class="city">{{ location.city }}</span>
                                        {% endif %}
                                        {% if location.origin_country %}
                                            <span class="country">{{ location.origin_country|country_name }} {{ getEmojiFlag(location.origin_country) }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
</section>
<section class="admin__points_of_interest">
    {{ pagination|raw }}

    <div class="list__header">
        <div class="points_of_interest__still"></div>
        <div class="list__item__header">
            {% if sort == 'id' %}
                {% if order == 'desc' %}
                    <a class="points_of_interest__id" href="{{ path('admin_points_of_interest', {s: 'id', o: 'asc', l: limit}) }}">
                        {{ 'Id'|trans }}
                        {{ ux_icon('iconoir:nav-arrow-down') }}
                    </a>
                {% else %}
                    <a class="points_of_interest__id" href="{{ path('admin_points_of_interest', {s: 'id', o: 'desc', l: limit}) }}">
                        {{ 'Id'|trans }}
                        {{ ux_icon('iconoir:nav-arrow-up') }}
                    </a>
                {% endif %}
            {% else %}
                <a class="points_of_interest__id" href="{{ path('admin_points_of_interest', {s: 'id', o: 'desc', l: limit}) }}">
                    {{ 'Id'|trans }}
                </a>
            {% endif %}

            {% if sort == 'name' %}
                {% if order == 'desc' %}
                    <a class="points_of_interest__name" href="{{ path('admin_points_of_interest', {s: 'name', o: 'asc', l: limit}) }}">
                        {{ 'Name'|trans }}
                        {{ ux_icon('iconoir:nav-arrow-down') }}
                    </a>
                {% else %}
                    <a class="points_of_interest__name" href="{{ path('admin_points_of_interest', {s: 'name', o: 'desc', l: limit}) }}">
                        {{ 'Name'|trans }}
                        {{ ux_icon('iconoir:nav-arrow-up') }}
                    </a>
                {% endif %}
            {% else %}
                <a class="points_of_interest__name" href="{{ path('admin_points_of_interest', {s: 'name', o: 'desc', l: limit}) }}">
                    {{ 'Title'|trans }}
                </a>
            {% endif %}

            {% if sort == 'city' %}
                {% if order == 'desc' %}
                    <a class="points_of_interest__city" href="{{ path('admin_points_of_interest', {s: 'city', o: 'asc', l: limit}) }}">
                        {{ 'City'|trans }}
                        {{ ux_icon('iconoir:nav-arrow-down') }}
                    </a>
                {% else %}
                    <a class="points_of_interest__city" href="{{ path('admin_points_of_interest', {s: 'city', o: 'desc', l: limit}) }}">
                        {{ 'City'|trans }}
                        {{ ux_icon('iconoir:nav-arrow-up') }}
                    </a>
                {% endif %}
            {% else %}
                <a class="points_of_interest__city" href="{{ path('admin_points_of_interest', {s: 'city', o: 'desc', l: limit}) }}">
                    {{ 'Location'|trans }}
                </a>
            {% endif %}

            {% if sort == 'origin_country' %}
                {% if order == 'desc' %}
                    <a class="points_of_interest__country" href="{{ path('admin_points_of_interest', {s: 'origin_country', o: 'asc', l: limit}) }}">
                        {{ 'Country'|trans }}
                        {{ ux_icon('iconoir:nav-arrow-down') }}
                    </a>
                {% else %}
                    <a class="points_of_interest__country" href="{{ path('admin_points_of_interest', {s: 'origin_country', o: 'desc', l: limit}) }}">
                        {{ 'Country'|trans }}
                        {{ ux_icon('iconoir:nav-arrow-up') }}
                    </a>
                {% endif %}
            {% else %}
                <a class="points_of_interest__country" href="{{ path('admin_points_of_interest', {s: 'origin_country', o: 'desc', l: limit}) }}">
                    {{ 'Country'|trans }}
                </a>
            {% endif %}

            {% if sort == 'created_at' %}
                {% if order == 'desc' %}
                    <a class="points_of_interest__dates" href="{{ path('admin_points_of_interest', {s: 'created_at', o: 'asc', l: limit}) }}">
                        {{ 'Date added'|trans }}
                        {{ ux_icon('iconoir:nav-arrow-down') }}
                    </a>
                {% else %}
                    <a class="points_of_interest__dates" href="{{ path('admin_points_of_interest', {s: 'created_at', o: 'desc', l: limit}) }}">
                        {{ 'Date added'|trans }}
                        {{ ux_icon('iconoir:nav-arrow-up') }}
                    </a>
                {% endif %}
            {% else %}
                <a class="points_of_interest__dates" href="{{ path('admin_points_of_interest', {s: 'created_at', o: 'desc', l: limit}) }}">
                    {{ 'Date added' |trans }}
                </a>
            {% endif %}

            {% if sort == 'updated_at' %}
                {% if order == 'desc' %}
                    <a class="points_of_interest__dates" href="{{ path('admin_points_of_interest', {s: 'updated_at', o: 'asc', l: limit}) }}">
                        {{ 'Update_'|trans }}
                        {{ ux_icon('iconoir:nav-arrow-down') }}
                    </a>
                {% else %}
                    <a class="points_of_interest__dates" href="{{ path('admin_points_of_interest', {s: 'updated_at', o: 'desc', l: limit}) }}">
                        {{ 'Update_'|trans }}
                        {{ ux_icon('iconoir:nav-arrow-up') }}
                    </a>
                {% endif %}s
            {% else %}
                <a class="points_of_interest__dates" href="{{ path('admin_points_of_interest', {s: 'updated_at', o: 'desc', l: limit}) }}">
                    {{ 'Update_' |trans }}
                </a>
            {% endif %}
        </div>

    </div>
    <div class="list__content">
        {% for p in pois.list %}
            <div class="list__item">
                <a href="{{ path('admin_point_of_interest_edit', {id: p.id}) }}?p={{ page }}&s={{ sort }}&o={{ order }}&l={{ limit }}">
                    <div class="point_of_interest__still" data-title="{{ p.name }} - {{ p.city }} - {{ 'See the point of interest description'|trans }}">
                        {% if p.still_path %}
                            <img src="/images/poi{{ p.still_path }}" class="points_of_interest__still" alt="{{ p.name }} - {{ p.city }}"/>
                        {% else %}
                            {{ ux_icon('fa6-solid:photo-film') }}
                        {% endif %}
                    </div>
                </a>
                <a class="item" href="{{ path('admin_point_of_interest_edit', {id: p.id}) }}?p={{ page }}&s={{ sort }}&o={{ order }}&l={{ limit }}">
                    <div class="point_of_interest__id">{{ p.id }}</div>
                    <div class="point_of_interest__name">
                        {{ p.name }}
                        {% for c in p.categories %}
                            <div class="point_of_interest__category" data-title="{{ c.category_name }}">
                                {{ ux_icon(c.category_icon) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="point_of_interest__city">{{ p.city }}</div>
                    <div class="point_of_interest__country">
                        {{ p.origin_country|country_name }} <span>{{ getEmojiFlag(p.origin_country) }}</span>
                    </div>
                    <div class="point_of_interest__dates">{{ p.created_at }}</div>
                    <div class="point_of_interest__dates">{% if p.created_at != p.updated_at %}{{ p.updated_at }}{% endif %}</div>
                </a>
            </div>
        {% endfor %}
    </div>
    {{ pagination|raw }}
</section>

{{ addLocationForm|raw }}

<div id="globs-map" style="display: none">
    {
    "bounds": {{ pois.bounds|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
    "pointsOfInterest": {{ pois.list|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
    "mapSettings": {{ mapSettings.data|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
    "emptyLocation": {{ pois.emptyPoi|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
    "imagePath": "/images/poi",
    "translations": {
    "Add": "{{ 'Add'|trans }}",
    "Not a valid file type. Update your selection": "{{ 'Not a valid file type. Update your selection'|trans }}",
    "This field is required": "{{ 'This field is required'|trans }}",
    "Update": "{{ 'Update'|trans }}"
    }
    }
</div>
