<section class="admin__provider__details">

    <div class="db">
        <div class="source">Database</div>
        <div class="details">
            <div class="logo">
                {% if provider.logo_path %}
                    <img src="{{ provider.logo_path }}" alt="{{ provider.provider_name }}{{ 'logo'|trans }}">
                {% else %}
                    {{ 'No logo'|trans }}
                {% endif %}
            </div>
            <div class="infos">
                <h2>{{ provider.provider_name }} - {{ provider.provider_id }}</h2>
                <div class="display-priorities">
                    {% for dp, v in provider.display_priorities %}
                        <div class="display-priority" data-title="{{ dp|country_name }}">{{ getEmojiFlag(dp) }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% if tvProvider %}
        <div class="tmdb">
            <div class="source">The Movie Database</div>
            <div class="details">
                <div class="logo">
                    {% if tvProvider.logo_path %}
                        <img src="{{ tvProvider.logo_path }}" alt="{{ tvProvider.provider_name }}{{ 'logo'|trans }}">
                    {% else %}
                        {{ 'No logo'|trans }}
                    {% endif %}
                </div>
                <div class="infos">
                    <h2>{{ tvProvider.provider_name }} - {{ tvProvider.provider_id }}</h2>
                    <div class="display-priorities">
                        {% for dp in tvProvider.display_priorities|keys|sort %}
                            <div class="display-priority" data-title="{{ dp|country_name }}">{{ getEmojiFlag(dp) }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    {% endif %}
</section>
