<section class="admin__series__details">

    <header>
        <div class="poster">
            {% if series.poster_path %}
                <img src="{{ posterUrl ~ series.poster_path }}" alt="{{ series.name }}">
            {% else %}
                {{ 'No poster'|trans }}
            {% endif %}
        </div>
        <div class="infos">
            <h2>{{ series.name }}{% if series.first_air_date %} ({{ series.first_air_date|date("Y") }}){% endif %}</h2>
            {% if series.name != series.original_name %}
                <div class="infos__details">
                    <div class="infos__details__title">{{ 'Original title'|trans }}</div>
                    <div class="infos__details__value">{{ series.original_name }}</div>
                </div>
            {% endif %}
            {% if series.overview %}
                <div class="infos__details">
                    <div class="infos__details__title">{{ 'Synopsis'|trans }}</div>
                    <div class="infos__details__value">{{ series.overview }}</div>
                </div>
            {% endif %}
            {% if series.first_air_date %}
                <div class="infos__details">
                    <div class="infos__details__title">{{ 'First air date'|trans }}</div>
                    <div class="infos__details__value">{{ series.first_air_date|date('d/m/Y') }}</div>
                </div>
            {% endif %}
            {% if series.last_air_date %}
                <div class="infos__details">
                    <div class="infos__details__title">{{ 'Last air date'|trans }}</div>
                    <div class="infos__details__value">{{ series.last_air_date|date('d/m/Y') }}</div>
                </div>
            {% endif %}
            {% if series.created_by|length %}
                <div class="infos__details">
                    <div class="infos__details__title">{{ 'Creator'|trans }}</div>
                    <div class="infos__details__value">
                        {% for creator in series.created_by %}
                            {{ creator.name }}
                            {% if loop.index < loop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="backdrop">
            {% if series.backdrop_path %}
                <img src="{{ backdropUrl ~ series.backdrop_path }}" alt="{{ series.name }}">
            {% endif %}
        </div>
    </header>
    <div class="admin__series__details__actions">
        <button>{{ 'Add this series'|trans }}</button>
    </div>
</section>
