<section class="admin__tools">
    <div class="admin__result">
        {{ seriesCount }} {{ 'seriess'|trans }}
    </div>
</section>
<section class="admin__series">
    {{ pagination|raw }}
    <div class="list__header">
        <div class="series__poster"></div>
        {% if sort == 'id' %}
            {% if order == 'desc' %}
                <a class="series__id" href="{{ path('admin_series', {s: 'id', o: 'asc', l: limit}) }}">
                    {{ 'Id'|trans }}
                    {{ ux_icon('mdi:arrow-down') }}
                </a>
            {% else %}
                <a class="series__id" href="{{ path('admin_series', {s: 'id', o: 'desc', l: limit}) }}">
                    {{ 'Id'|trans }}
                    {{ ux_icon('mdi:arrow-up') }}
                </a>
            {% endif %}
        {% else %}
            <a class="series__id" href="{{ path('admin_series', {s: 'id', o: 'desc', l: limit}) }}">
                {{ 'Id'|trans }}
            </a>
        {% endif %}

        {% if sort == 'tmdb_id' %}
            {% if order == 'desc' %}
                <a class="series__tmdb_id" href="{{ path('admin_series', {s: 'tmdb_id', o: 'asc', l: limit}) }}">
                    {{ 'TMDB Id'|trans }}
                    {{ ux_icon('mdi:arrow-down') }}
                </a>
            {% else %}
                <a class="series__tmdb_id" href="{{ path('admin_series', {s: 'tmdb_id', o: 'desc', l: limit}) }}">
                    {{ 'TMDB Id'|trans }}
                    {{ ux_icon('mdi:arrow-up') }}
                </a>
            {% endif %}
        {% else %}
            <a class="series__tmdb_id" href="{{ path('admin_series', {s: 'tmdb_id', o: 'desc', l: limit}) }}">
                {{ 'TMDB Id'|trans }}
            </a>
        {% endif %}

        {% if sort == 'name' %}
            {% if order == 'desc' %}
                <a class="series__name" href="{{ path('admin_series', {s: 'name', o: 'asc', l: limit}) }}">
                    {{ 'Name'|trans }}
                    {{ ux_icon('mdi:arrow-down') }}
                </a>
            {% else %}
                <a class="series__name" href="{{ path('admin_series', {s: 'name', o: 'desc', l: limit}) }}">
                    {{ 'Name'|trans }}
                    {{ ux_icon('mdi:arrow-up') }}
                </a>
            {% endif %}
        {% else %}
            <a class="series__name" href="{{ path('admin_series', {s: 'name', o: 'desc', l: limit}) }}">
                {{ 'Name'|trans }}
            </a>
        {% endif %}

        {% if sort == 'localized_name' %}
            {% if order == 'desc' %}
                <a class="series__localized_name" href="{{ path('admin_series', {s: 'localized_name', o: 'asc', l: limit}) }}">
                    {{ 'Localized name'|trans }}
                    {{ ux_icon('mdi:arrow-down') }}
                </a>
            {% else %}
                <a class="series__localized_name" href="{{ path('admin_series', {s: 'localized_name', o: 'desc', l: limit}) }}">
                    {{ 'Localized name'|trans }}
                    {{ ux_icon('mdi:arrow-up') }}
                </a>
            {% endif %}
        {% else %}
            <a class="series__localized_name" href="{{ path('admin_series', {s: 'localized_name', o: 'desc', l: limit}) }}">
                {{ 'Localized name'|trans }}
            </a>
        {% endif %}

        {% if sort == 'number_of_season' %}
            {% if order == 'desc' %}
                <a class="series__seasons" href="{{ path('admin_series', {s: 'number_of_season', o: 'asc', l: limit}) }}">
                    {{ 'Seasons'|trans }}
                    {{ ux_icon('mdi:arrow-down') }}
                </a>
            {% else %}
                <a class="series__seasons" href="{{ path('admin_series', {s: 'number_of_season', o: 'desc', l: limit}) }}">
                    {{ 'Seasons'|trans }}
                    {{ ux_icon('mdi:arrow-up') }}
                </a>
            {% endif %}
        {% else %}
            <a class="series__seasons" href="{{ path('admin_series', {s: 'number_of_season', o: 'desc', l: limit}) }}">
                {{ 'Seasons'|trans }}
            </a>
        {% endif %}

        {% if sort == 'number_of_episode' %}
            {% if order == 'desc' %}
                <a class="series__episodes" href="{{ path('admin_series', {s: 'number_of_episode', o: 'asc', l: limit}) }}">
                    {{ 'Episodes'|trans }}
                    {{ ux_icon('mdi:arrow-down') }}
                </a>
            {% else %}
                <a class="series__episodes" href="{{ path('admin_series', {s: 'number_of_episode', o: 'desc', l: limit}) }}">
                    {{ 'Episodes'|trans }}
                    {{ ux_icon('mdi:arrow-up') }}
                </a>
            {% endif %}
        {% else %}
            <a class="series__episodes" href="{{ path('admin_series', {s: 'number_of_episode', o: 'desc', l: limit}) }}">
                {{ 'Episodes'|trans }}
            </a>
        {% endif %}

        {% if sort == 'origin_country' %}
            {% if order == 'desc' %}
                <a class="series__country" href="{{ path('admin_series', {s: 'origin_country', o: 'asc', l: limit}) }}">
                    {{ 'Country'|trans }}
                    {{ ux_icon('mdi:arrow-down') }}
                </a>
            {% else %}
                <a class="series__country" href="{{ path('admin_series', {s: 'origin_country', o: 'desc', l: limit}) }}">
                    {{ 'Country'|trans }}
                    {{ ux_icon('mdi:arrow-up') }}
                </a>
            {% endif %}
        {% else %}
            <a class="series__country" href="{{ path('admin_series', {s: 'origin_country', o: 'desc', l: limit}) }}">
                {{ 'Country'|trans }}
            </a>
        {% endif %}

        {% if sort == 'first_air_date' %}
            {% if order == 'desc' %}
                <a class="series__first_air_date" href="{{ path('admin_series', {s: 'first_air_date', o: 'asc', l: limit}) }}">
                    {{ 'Release'|trans }}
                    {{ ux_icon('mdi:arrow-down') }}
                </a>
            {% else %}
                <a class="series__first_air_date" href="{{ path('admin_series', {s: 'first_air_date', o: 'desc', l: limit}) }}">
                    {{ 'Release'|trans }}
                    {{ ux_icon('mdi:arrow-up') }}
                </a>
            {% endif %}
        {% else %}
            <a class="series__first_air_date" href="{{ path('admin_series', {s: 'first_air_date', o: 'desc', l: limit}) }}">
                {{ 'Release'|trans }}
            </a>
        {% endif %}

        {% if sort == 'status' %}
            {% if order == 'desc' %}
                <a class="series__status" href="{{ path('admin_series', {s: 'status', o: 'asc', l: limit}) }}">
                    {{ 'Status'|trans }}
                    {{ ux_icon('mdi:arrow-down') }}
                </a>
            {% else %}
                <a class="series__status" href="{{ path('admin_series', {s: 'status', o: 'desc', l: limit}) }}">
                    {{ 'Status'|trans }}
                    {{ ux_icon('mdi:arrow-up') }}
                </a>
            {% endif %}
        {% else %}
            <a class="series__status" href="{{ path('admin_series', {s: 'status', o: 'desc', l: limit}) }}">
                {{ 'Status'|trans }}
            </a>
        {% endif %}

        {% if sort == 'provider_name' %}
            {% if order == 'desc' %}
                <a class="series__provider" href="{{ path('admin_series', {s: 'provider_name', o: 'asc', l: limit}) }}">
                    {{ ux_icon('mdi:tv') }}
                    {{ ux_icon('mdi:arrow-down') }}
                </a>
            {% else %}
                <a class="series__provider" href="{{ path('admin_series', {s: 'provider_name', o: 'desc', l: limit}) }}">
                    {{ ux_icon('mdi:tv') }}
                    {{ ux_icon('mdi:arrow-up') }}
                </a>
            {% endif %}
        {% else %}
            <a class="series__provider" href="{{ path('admin_series', {s: 'provider_name', o: 'desc', l: limit}) }}">
                {{ ux_icon('mdi:tv') }}
            </a>
        {% endif %}
    </div>
    <div class="list__content">
        {% for s in series %}
            <div class="list__item">
                <a href="{{ path('app_series_tmdb', {id: s.tmdb_id, slug: (s.localized_name ?? s.name)|slug}) }}" class="poster" target="_blank">
                    {% if s.poster_path %}
                        <div data-title="{{ s.localized_name ?? s.name }} - {{ 'See the series description'|trans }}">
                            <img src="/series/posters{{ s.poster_path }}" class="series__poster" alt="{{ s.name }}">
                        </div>
                    {% else %}
                        <div class="series__poster" data-title="{{ s.localized_name ?? s.name }} - {{ 'See the series description'|trans }}">
                            {{ ux_icon('mdi:tv') }}
                        </div>
                    {% endif %}
                </a>
                <a class="item" href="{{ path('admin_series_edit', {id: s.id}) }}?p={{ page }}&s={{ sort }}&o={{ order }}&l={{ limit }}">
                    <div class="series__id">{{ s.id }}</div>
                    <div class="series__tmdb_id">{{ s.tmdb_id }}</div>
                    <div class="series__name">{{ s.name }}</div>
                    <div class="series__localized_name">{{ s.localized_name }}</div>
                    <div class="series__seasons">{{ s.number_of_season }}</div>
                    <div class="series__episodes">{{ s.number_of_episode }}</div>
                    <div class="series__countries">
                        {% for c in s.origin_country %}
                            <div class="series__country" data-title="{{ c|country_name }}">{{ getEmojiFlag(c) }}</div>
                        {% endfor %}
                    </div>
                    <div class="series__first_air_date">
                        {% if s.first_air_date %}
                            {{ s.first_air_date|format_date('short') }}
                        {% else %}
                            --
                        {% endif %}
                    </div>
                    <div class="series__status">{{ s.status|trans }}</div>
                    <div class="series__provider"{% if s.provider_logo %} data-title="{{ s.provider_name }}"{% endif %}>
                        {% if s.provider_logo %}
                            <img src="{{ s.provider_logo }}" alt="{{ s.provider_name }}">
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {{ pagination|raw }}
</section>
