<section class="admin__tools">
    {#<div class="admin__wip">{{ 'Work in progress'|trans }}</div>#}
    <div class="admin__button" id="admin-series-updates">{{ 'Check for updates'|trans }}</div>
</section>
<section class="admin__series__updates">
    <div class="admin__series__updates__wrapper"></div>
    <div class="go-to-top">{{ ux_icon('fa6-solid:arrow-up', {height: '24px', width: '24px'}) }}</div>
    <div class="go-to-bottom">{{ ux_icon('fa6-solid:arrow-down', {height: '24px', width: '24px'}) }}</div>
</section>

<div id="globs" style="display: none;">
    {
        "ids": {{ ids|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "urls": {{ urls|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "api_series_update_series": "{{ path('api_series_update_series') }}"
    }
</div>
<div id="svgs" style="display: none;">
    <div id="right-arrow">
        {{ ux_icon('fa6-solid:arrow-right', {height: '24px', width: '24px'}) }}
    </div>
</div>