{% for key, value in results %}
    <div class="item">
        <div class="key">
            <div>{{ key }}</div>
            <div><sup>({{ level }})</sup></div>
            {% if level==2 and extra=='watch/providers' %}
                <div><span class="flag">{{ getEmojiFlag(key) }}</span></div>
            {% endif %}
            {% if value is iterable %}
                <div class="value-switch"></div>
            {% endif %}
        </div>
        {% if value is iterable %}
            <div class="iterable">
                {{ include('_blocks/admin/_series_append_iterable.html.twig', { level: level+1, parent: key, results: value }) }}
            </div>
            {% if level==2 and extra=='images' %}
                <div class="image" data-title="{{ parent }}">
                    {% if parent == 'backdrops' %}
                        <img src="{{ urls.backdrop ~ value.file_path }}" alt="Backdrop" class="backdrop"/>
                    {% elseif parent == 'logos' %}
                        <img src="{{ urls.logo ~ value.file_path }}" alt="Logo" class="logo"/>
                    {% elseif parent == 'posters' %}
                        <img src="{{ urls.poster ~ value.file_path }}" alt="Poster" class="poster"/>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            {{ include('_blocks/admin/_series_append_item.html.twig', { key: key, value: value }) }}
        {% endif %}
    </div>
{% endfor %}