{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'My videos'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/video.scss') }}">
{% endblock %}

{% block body %}
    {{ include('_blocks/_menu.html.twig') }}
    <div class="container-fluid videos-page">
        <h1>{{ 'My videos'|trans }}</h1>
        <h4>{{ totalDuration }}</h4>
        <div class="video-tools">
            <form>
                <label for="categories">{{ 'Categories'|trans }}
                    <select id="categories" name="categories">
                        <option value="all">{{ 'All categories'|trans }}</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name|trans }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label for="link"><span>{{ 'Add a video'|trans }}</span>
                    <input type="text" id="link" name="link" placeholder="{{ 'Link'|trans }}" value="">
                </label>
                <button type="submit" id="add-video">{{ 'Add'|trans }}</button>
            </form>
        </div>
        <div class="video-wrapper">
            {% for userVideo in dbUserVideos %}
                <div class="video">
                    <div class="thumbnail">
                        <a href="{{ path('app_video_show', {'id': userVideo.user_video_id}) }}">
                            <img src="/videos/thumbnails{{ userVideo.thumbnail }}" alt="{{ userVideo.title }}">
                        </a>
                        <div class="duration">{{ userVideo.duration }}</div>
                    </div>
                    {% set categories = userVideo.categories ?? [] %}
                    {% set bgStyle = '' %}
                    {% if categories|length %}
                        {% set bgStyle = 'background: linear-gradient(90deg, ' %}
                        {% for category in categories %}
                            {% set bgStyle = bgStyle ~ category.color %}
                            {% if not loop.last %}{% set bgStyle = bgStyle ~ ', ' %}{% endif %}
                        {% endfor %}
                        {% set bgStyle = bgStyle ~ ');' %}
                    {% endif %}
                    <div class="infos" style="{{ bgStyle|raw }}">
                        <div class="channel">
                            <div class="thumbnail">
                                <img src="/videos/channels/thumbnails{{ userVideo.channel_thumbnail }}" alt="{{ userVideo.channel_title }}">
                            </div>
                            <div class="title">
                                {{ userVideo.channel_title }}
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">{{ userVideo.title }}</div>
                            <div class="at">
                                <div class="published-at">{{ userVideo.published_at }}</div>
                                <div class="added-at">{{ userVideo.added_at }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="no-video">
                    <p>{{ 'No video'|trans }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include '_blocks/_footer.html.twig' %}
{% endblock %}
