{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'My videos'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/video.scss') }}">
{% endblock %}

{% block body %}
    {{ include('_blocks/_menu.html.twig') }}
    <div class="container-fluid videos-page">
        {#        <pre>{{ dump(videos) }}</pre> #}
        {#        <pre>{{ dump(now) }}</pre> #}
        <h1>{{ 'My videos'|trans }}</h1>
        <div class="video-tools">
            <form>
                <label for="link"><span>{{ 'Add a video'|trans }}</span>
                    <input type="text" id="link" name="link" placeholder="{{ 'Link'|trans }}" value="">
                </label>
                <button type="submit" id="add-video">{{ 'Add'|trans }}</button>
            </form>
        </div>
        <div class="video-wrapper">
            {% for userVideo in videos %}
                {% set video = userVideo.video %}
                {% set channel = video.channel %}
                <div class="video">
                    <div class="thumbnail">
                        <a href="{{ path('app_video_show', {'id': userVideo.id}) }}">
                            <img src="/videos/thumbnails{{ video.thumbnail }}" alt="{{ video.title }}">
                        </a>
                        <div class="duration">{{ video.durationString }}</div>
                    </div>
                    <div class="infos">
                        <div class="channel">
                            <div class="thumbnail">
                                <img src="/videos/channels/thumbnails{{ channel.thumbnail }}" alt="{{ channel.title }}">
                            </div>
                            <div class="title">
                                {{ channel.title }}
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">{{ video.title }}</div>
                            <div class="at">
{#                                <div class="published-at">{{ 'Published at'|trans }} {{ video.publishedAt|format_date('relative_short')|capitalize }} {{ 'at'|trans }} {{ video.publishedAt|format_time('short') }}</div>#}
{#                                <div class="added-at">{{ 'Added at'|trans }} {{ userVideo.createdAt|format_date('relative_short')|capitalize }} {{ 'at'|trans }} {{ userVideo.createdAt|format_time('short') }}</div>#}
                                <div class="published-at">{{ userVideo.publishedAtString }}</div>
                                <div class="added-at">{{ userVideo.addedAtString }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="no-video">
                    <p>{{ 'No video'|trans }}</p>
                </div>
            {% endfor %}
        </div>
        {% include '_blocks/_footer.html.twig' %}
    </div>
{% endblock %}
