{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'My videos'|trans }} → {{ video.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/video.scss') }}">
{% endblock %}

{% block body %}
    {{ include('_blocks/_menu.html.twig') }}
    <div class="container-fluid video-page" data-id="{{ video.id }}">
        <div class="video">
            <iframe src="https://www.youtube.com/embed/{{ video.link }}" title="{{ video.title }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="title">
            <div class="h1-categories">
                <h1>{{ video.title }}</h1>
                <div class="select-categories">
                    <label for="categories">{{ 'Categories'|trans }}
                        <select id="categories" name="categories">
                            <option value="all">{{ 'All categories'|trans }}</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}"{% if category in video.categories %} disabled{% endif %}>{{ category.name|trans }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                {% if video.categories|length %}
                    <div class="categories">
                        {% for category in video.categories %}
                            <div class="category" data-id="{{ category.id }}" style="background-color: {{ category.color }}">
                                {{ category.name|trans }}
                                <div class="delete-category">
                                    {{ ux_icon('mdi:close', {height: '12px', width: '12px'}) }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="prev-next-videos">
                <div>
                    {% if previousVideo %}
                        <h4 class="youtube-red">{{ 'Previous video'|trans }}</h4>
                        <div class="prev-video">
                            <a href="{{ path('app_video_show', {id: previousVideo.user_video_id}) }}">
                                <img src="/videos/thumbnails{{ previousVideo.thumbnail }}" alt="{{ previousVideo.title }}">
                                <div class="title">{{ previousVideo.title }}</div>
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div>
                    {% if nextVideo %}
                        <h4 class="youtube-red">{{ 'Next video'|trans }}</h4>
                        <div class="next-video">
                            <a href="{{ path('app_video_show', {id: nextVideo.user_video_id}) }}">
                                <img src="/videos/thumbnails{{ nextVideo.thumbnail }}" alt="{{ nextVideo.title }}e">
                                <div class="title">{{ nextVideo.title }}</div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="video-infos"></div>
    </div>
    <div id="global-data" style="display: none">
        {
            "app_video_details": "{{ path('app_video_details', {id: video.id}) }}",
            "app_video_comments": "{{ path('app_video_comments') }}",
            "app_video_category_add": "{{ path('app_video_category_add') }}",
            "app_video_category_delete": "{{ path('app_video_category_delete') }}",
            "published_at": "{{ userVideo.publishedAtString }}",
            "added_at": "{{ userVideo.addedAtString }}",
            "texts": {
                "comments": "{{ 'comments'|trans }}",
                "likes": "{{ 'likes'|trans }}",
                "views": "{{ 'views'|trans }}",
                "published": "{{ 'Published at'|trans }}",
                "added": "{{ 'Added at'|trans }}",
                "no_comments": "{{ 'No comments'|trans }}",
                "Comments": "{{ 'Comments'|trans }}",
                "display_more": "{{ 'Display more'|trans }}",
                "display_less": "{{ 'Display less'|trans }}"
            }
        }
    </div>
    <div id="svgs" style="display: none">
        <div id="comment">{{ ux_icon('mdi:comment-processing')|raw }}</div>
        <div id="like">{{ ux_icon('mdi:like')|raw }}</div>
        <div id="view">{{ ux_icon('mdi:eye')|raw }}</div>
        <div id="delete">{{ ux_icon('mdi:close', {height: '12px', width: '12px'}) }}</div>
    </div>
    {% include '_blocks/_footer.html.twig' %}
{% endblock %}
