{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'Blog'|trans }} → {{ article.title }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/blog.scss') }}">
{% endblock %}

{% block body %}
    {% include '_blocks/_menu.html.twig' %}
    <div class="container-fluid">
        <div class="article-details">
            <div class="back-to-blog">
                <div class="tool"><a href="{{ path('app_blog_index') }}" class="back-to-blog-link">{{ ux_icon('mdi:blog', {'data-title': 'Back to blog'|trans}) }}</a></div>
                <div class="tool"><a href="{{ path('app_blog_article_edit', {'id': article.id}) }}" class="edit-link">{{ ux_icon('mdi:pen', {'data-title': 'Edit article'|trans}) }}</a></div>
                <div class="tool"><button popovertarget="confirm-delete-dialog" class="delete-link">{{ ux_icon('mdi:trash', {'data-title': 'Delete article'|trans}) }}</button></div>
            </div>
            <dialog id="confirm-delete-dialog" popover="auto">
                <p>{{ 'Are you sure you want to delete this article?'|trans }}</p>
                <form method="post" action="{{ path('app_blog_article_delete', {'id': article.id}) }}">
                    <button type="button" popovertarget="confirm-delete-dialog" popovertargetaction="hide">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="confirm-delete-button">{{ 'Delete'|trans }}</button>
                </form>
            </dialog>
            <div class="header">
                <div class="backdrop">
                    <img src="/images/articles/backdrops/{{ article.backdropPath }}" alt="{{ article.title }} backdrop">
                </div>
                <h1>{{ article.title }}</h1>
                <div class="article-author">{{ article.author }}</div>
                <div class="article-dates">
                    <div class="article-date">{{ article.createdAt|format_datetime('relative_medium', 'short')|capitalize }}</div>
                    <div class="article-date">{{ article.updatedAt|format_datetime('relative_medium', 'short')|capitalize }}</div>
                </div>
            </div>
            <div class="content">
                {{ include('_blocks/blog/_markdown.html.twig', {'content': article.content}) }}
            </div>
        </div>
    </div>
    {% include '_blocks/_footer.html.twig' %}
{% endblock %}
