<div class="help">?</div>
<div class="keyboard-help">
    <div>{{ 'Click the map to copy the latitude and longitude to the clipboard'|trans }}</div>
    <div></div>
    <div>= / +: {{ 'Increase the zoom level by 1'|trans }}.</div>
    <div>{{ ux_icon('mdi:apple-keyboard-shift') }} = / {{ ux_icon('mdi:apple-keyboard-shift') }} +: {{ 'Increase the zoom level by 2'|trans }}.</div>
    <div>-: {{ 'Decrease the zoom level by 1'|trans }}.</div>
    <div>{{ ux_icon('mdi:apple-keyboard-shift') }} -: {{ 'Decrease the zoom level by 2'|trans }}.</div>
    <div>{{ 'Arrow keys'|trans }}: {{ 'Pan by 100 pixels'|trans }}.</div>
    <div>{{ ux_icon('mdi:apple-keyboard-shift') }} {{ ux_icon('mdi:arrow-right') }}: {{ 'Increase the rotation by 15 degrees'|trans }}.</div>
    <div>{{ ux_icon('mdi:apple-keyboard-shift') }} {{ ux_icon('mdi:arrow-left') }}: {{ 'Decrease the rotation by 15 degrees'|trans }}.</div>
    <div>{{ ux_icon('mdi:apple-keyboard-shift') }} {{ ux_icon('mdi:arrow-up') }}: {{ 'Increase the pitch by 10 degrees'|trans }}.</div>
    <div>{{ ux_icon('mdi:apple-keyboard-shift') }} {{ ux_icon('mdi:arrow-down') }}: {{ 'Decrease the pitch by 10 degrees'|trans }}.</div>
</div>