{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'My albums'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/album.scss') }}">
{% endblock %}

{% block body %}
    {{ include('_blocks/_menu.html.twig') }}
    <div class="container-fluid albums-page">
        <h1>{{ 'My albums'|trans }}</h1>
        <div class="album-tools">
            <form>
                <div class="form-group">
                    <label for="new-album"><span>{{ 'Create a new album'|trans }}</span>
                        <input type="text" id="new-album" name="new-album" placeholder="{{ 'New album name'|trans }}" value="">
                    </label>
                    <button type="submit" id="create-album">{{ 'Create'|trans }}</button>
                </div>
            </form>
        </div>
        {{ pagination|raw }}
        <div class="album-wrapper">
            {% for album in albums %}
                <div class="album">
                    <div class="thumbnail">
                        <a href="{{ path('app_album_show', {'id': album.id}) }}">
                            {% if album.photos|length %}
                                <img
                                        src="/albums/576p{{ album.photos.0.imagePath }}"
                                        alt="{{ album.name }}"
                                        srcset="/albums/576p{{ album.photos.0.imagePath }} 576w, /albums/720p{{ album.photos.0.imagePath }} 720w, /albums/1080p{{ album.photos.0.imagePath }} 1080w"
                                >
                            {% else %}
                                <div>{{ 'No photo'|trans }}</div>
                            {% endif %}
                        </a>
                    </div>
                    <div class="infos">
                        <div class="content">
                            <div class="name">{{ album.name }}</div>
                            {% if album.range is defined %}
                                <div class="range">{{ album.dateRange.min|format_datetime('relative_short', 'short', locale: 'fr')|capitalize }} {{ ux_icon('mdi:arrow-right-thin') }} {{ album.dateRange.max|format_datetime('relative_short', 'short', locale: 'fr') }}</div>
                            {% endif %}
                            <div class="at">
                                <div class="created-at" data-title="{{ 'Created at'|trans }}">{{ ux_icon('mdi:update') }} {{ album.createdAt|format_datetime('relative_short', 'short', locale: 'fr') }}</div>
                                <div class="updated-at" data-title="{{ 'Updated at'|trans }}">{{ ux_icon('mdi:create-new-folder') }} {{ album.updatedAt|format_datetime('relative_short', 'short', locale: 'fr') }}</div>
                            </div>
                            <div class="range">{{ album.dateRangeString }}</div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="no-album">
                    <div class="new-album">{{ 'Create a new album'|trans }}</div>
                </div>
            {% endfor %}
        </div>
        {{ pagination|raw }}
    </div>
    {% include '_blocks/_footer.html.twig' %}
{% endblock %}
