{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'My albums'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/album.scss') }}">
{% endblock %}

{% block body %}
    {{ include('_blocks/_menu.html.twig') }}
    <div class="container-fluid albums-page">
        <h1>{{ 'My albums'|trans }}</h1>
        <div class="album-tools">
            <form>
                <div class="form-group">
                    <label for="new-album"><span>{{ 'Create a new album'|trans }}</span>
                        <input type="text" id="new-album" name="new-album" placeholder="{{ 'New album name'|trans }}" value="">
                    </label>
                    <button type="submit" id="create-album">{{ 'Create'|trans }}</button>
                </div>
            </form>
        </div>
        {{ pagination|raw }}
        <div class="album-wrapper">
            {% for album in albums %}
                {%  set id = album.user.id %}
                <div class="album">
                    <div class="thumbnail">
                        <a href="{{ path('app_album_show', {'id': album.id}) }}">
                            {% if album.photos|length %}
                                {% set n = album.photos|length %}
                                {% set n = random(n-1) %}
                                <img
                                        src="/albums/{{ id }}/mobile{{ album.photos[n].imagePath }}"
                                        alt="{{ album.name }}"
                                        srcset="/albums/{{ id }}/mobile{{ album.photos[n].imagePath }} 360w, /albums/{{ id }}/576p{{ album.photos[n].imagePath }} 576w, /albums/{{ id }}/720p{{ album.photos[n].imagePath }} 720w, /albums/{{ id }}/1080p{{ album.photos[n].imagePath }} 1080w"
                                >
                            {% else %}
                                <div>{{ 'No photo'|trans }}</div>
                            {% endif %}
                        </a>
                    </div>
                    {% if album.userCreated %}
                        <div class="user-created">
                            {% if album.user.avatar %}
                                <img src="/images/users/avatars/{{ album.user.avatar }}" alt="{{ album.user.username }}">
                            {% else %}
                                <div class="no-avatar">{{ album.user.username|first|upper }}</div>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="infos">
                        <div class="content">
                            <div class="name">{{ album.userCreated ? album.name : album.description }}</div>
                            <div class="count">{{ album.photos|length }} {{ 'photos'|trans }}</div>
                            {% if album.userCreated %}
                                <div class="range">{{ album.dateRangeString }}</div>
                            {% endif %}
                            {% if album.createdAt %}
                                <div class="at">
                                    <div class="created-at" data-title="{{ 'Created at'|trans }}">{{ ux_icon('mdi:create-new-folder') }} {{ album.createdAt|format_datetime('relative_short', 'short', locale: 'fr') }}</div>
                                    {% if album.userCreated %}
                                        <div class="updated-at" data-title="{{ 'Updated at'|trans }}">{{ ux_icon('mdi:update') }} {{ album.updatedAt|format_datetime('relative_short', 'short', locale: 'fr') }}</div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="no-album">
                    <div class="new-album">{{ 'Create a new album'|trans }}</div>
                </div>
            {% endfor %}
        </div>
        {{ pagination|raw }}
    </div>
    {% include '_blocks/_footer.html.twig' %}
{% endblock %}
