{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'My albums'|trans }} → {{ album.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/album.scss') }}">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.9.1/mapbox-gl.css">
{% endblock %}

{% block body %}
    {{ include('_blocks/_menu.html.twig') }}
    <div class="container-fluid album-page" data-id="{{ album.id }}">
        <div class="header">
            <div class="h1-tools">
                <h1>{{ album.name }}</h1>
                <div class="tools">
                    <div class="photo-albums-button"><a href="{{ path('app_album_index') }}">{{ 'My albums'|trans }}</a></div>
                    <div class="add-photos-button">{{ 'Modify album'|trans }}</div>
                </div>
            </div>
            <div class="prev-next-albums">
                <div>
                    {% if previousAlbum %}
                        <h4 class="youtube-red">{{ 'Previous album'|trans }}</h4>
                        <div class="prev-album">
                            <a href="{{ path('app_album_show', {id: previousAlbum.id}) }}">
                                <img src="/albums/photos{{ previouAlbum.photos.0.image_path }}" alt="{{ previousVideo.name }}">
                                <div class="name">{{ previousVideo.name }}</div>
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div>
                    {% if nextAlbum %}
                        <h4 class="youtube-red">{{ 'Next album'|trans }}</h4>
                        <div class="next-album">
                            <a href="{{ path('app_album_show', {id: nextVideo.user_video_id}) }}">
                                <img src="/albums/photos{{ nextVideo.photos.0.image_path }}" alt="{{ nextVideo.name }}e">
                                <div class="name">{{ nextVideo.name }}</div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="album-photos">
            {% for photo in album.photos %}
                <div class="album-photo" {#data-title="{{ photo.caption }}"#}>
                    <img
                            src="/albums/1080p{{ photo.imagePath }}"
                            alt="{{ photo.caption }}"
                            data-title="{{ photo.caption }} {{ photo.date|format_datetime('relative_short', 'short', locale: 'fr') }}"
                            loading="lazy"
                            srcset="/albums/576p{{ photo.imagePath }} 576w, /albums/720p{{ photo.imagePath }} 720w, /albums/1080p{{ photo.imagePath }} 1080w"
                    >
                    {#<div class="album-photo-infos">
                        <div class="name">{{ photo.caption }}</div>
                        <div class="dates">
                            <div class="date" data-title="{{ 'Date'|trans }}">{{ ux_icon('mdi:date-range') }} {{ photo.date|format_datetime('relative_short', 'short', locale: 'fr') }}</div>
                            <div class="created-at" data-title="{{ 'Created at'|trans }}">{{ ux_icon('mdi:update') }} {{ photo.createdAt|format_datetime('relative_short', 'short', locale: 'fr') }}</div>
                            <div class="updated-at" data-title="{{ 'Updated at'|trans }}">{{ ux_icon('mdi:create-new-folder') }} {{ photo.updatedAt|format_datetime('relative_short', 'short', locale: 'fr') }}</div>
                        </div>
                    </div>#}
                </div>
            {% else %}
                <div class="no-photo">{{ 'No photos in this album'|trans }}</div>
            {% endfor %}
        </div>
        <div class="series-map">
            <div id="map" class="map-controller"></div>
            <div class="series-map-list-toggler">
                <span>{{ ux_icon('mdi:earth') }}</span>
                <span class="hidden">{{ ux_icon('mdi:arrow-right') }}</span>
            </div>
            <div class="series-map-list">
                {{ include('_blocks/map/_thumbnails.html.twig', {styles: mapSettings.data.styles}) }}
            </div>
            <script>
                const toggler = document.querySelector('.series-map-list-toggler');
                const mapList = document.querySelector('.series-map-list');
                const spans = toggler.querySelectorAll('span');
                toggler.addEventListener('click', () => {
                    mapList.classList.toggle('active');
                    toggler.classList.toggle('active');
                    spans.forEach(span => {
                        span.classList.toggle('hidden');
                    });
                });
            </script>
        </div>
    </div>
    {{ include('_blocks/forms/_modify-album-form.html.twig', addPhotoFormData) }}
    <div id="globs-map" style="display: none">
        {
            "albumName": "{{ album.name|e('js') }}",
            "photos": {{ albumArray.photos|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "bounds": {{ albumArray.bounds|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "emptyPhoto": {{ emptyPhoto|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "fieldList": {{ fieldList|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
        }
    </div>
    <div id="globs" style="display: none">
        {
            "album": {{ albumArray|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "srcsetPaths": {{ srcsetPaths|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "texts": {

            }
        }
    </div>
    <div id="svgs" style="display: none">
        <div class="svg" id="arrow-down">{{ ux_icon('fa6-solid:arrow-down') }}</div>
        <div class="svg" id="arrow-up">{{ ux_icon('fa6-solid:arrow-up') }}</div>
        <div class="svg" id="arrow-left">{{ ux_icon('fa6-solid:arrow-left') }}</div>
        <div class="svg" id="arrow-right">{{ ux_icon('fa6-solid:arrow-right') }}</div>
        <div class="svg" id="xmark">{{ ux_icon('fa6-solid:xmark') }}</div>
        <div class="svg" id="pen">{{ ux_icon('fa6-solid:pen') }}</div>
        <div class="svg" id="trash">{{ ux_icon('fa6-solid:trash') }}</div>
        // Pour les messages Flash
        <div id="svg-xmark">{{ ux_icon('fa6-solid:xmark') }}</div>
    </div>
    {% include '_blocks/_footer.html.twig' %}
{% endblock %}
