{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'My albums'|trans }} → {{ album.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/map.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/album.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.14.0/mapbox-gl.css">
{% endblock %}

{% block body %}
    {% set id = album.user.id %}
    {{ include('_blocks/_menu.html.twig') }}
    <div class="container-fluid">
        <div class="album-page" data-id="{{ album.id }}">
            {% if albumArray.photos|length %}
                {% set photo = albumArray.photos|last %}
                <div class="protection">
                    <div class="layers">
                        <div class="backgrounds">
                            <div class="background-1">
                                <img src="/albums/{{ id }}/1080p{{ photo.image_path }}" alt="{{ album.name }}" loading="lazy"
{#                                     srcset="/albums/576p{{ photo.image_path }} 576w, /albums/720p{{ photo.image_path }} 720w, /albums/1080p{{ photo.image_path }} 1080w, /albums/original{{ photo.image_path }} 1920w"#}
                                >
                            </div>
                            <div class="background-2">
                                <img src="/albums/{{ id }}/1080p{{ photo.image_path }}" alt="{{ album.name }}" loading="lazy"
{#                                     srcset="/albums/576p{{ photo.image_path }} 576w, /albums/720p{{ photo.image_path }} 720w, /albums/1080p{{ photo.image_path }} 1080w, /albums/original{{ photo.image_path }} 1920w"#}
                                >
                            </div>
                        </div>
                    </div>
                    <div class="name">{{ album.userCreated ? album.name : album.description }}</div>
                </div>
            {% endif %}
            <header>
                <div class="h1-tools">
                    <h1>{{ album.userCreated ? album.name : album.description }} ({{ albumArray.photos|length }})</h1>
                    <div class="tools">
                        <div class="layout-buttons">
                            <button class="albums-button" data-title="{{ 'My albums'|trans }}"><a href="{{ path('app_album_index') }}">{{ ux_icon('mdi:image-album') }}</a></button>
                            <button class="photos-button" data-title="{{ 'Photos'|trans }}"><a href="{{ path('app_album_all') }}">{{ ux_icon('mdi:photo-camera') }}</a></button>
                        </div>
                        <div class="layout-switcher">
                            <button class="layout-grid{% if settings.layout == 'grid' %} active{% endif %}">{{ ux_icon('mdi:view-grid') }}</button>
                            <button class="layout-list{% if settings.layout == 'list' %} active{% endif %}">{{ ux_icon('mdi:format-list-bulleted-square') }}</button>
                        </div>
                    </div>
                </div>
                <div class="prev-next-albums">
                    {% if previousAlbum %}
                        <div class="prev-album" data-title="{{ 'Previous album'|trans }}">
                            <a href="{{ path('app_album_show', {id: previousAlbum.id}) }}">
                                {% set c = previousAlbum.photos|length %}
                                {% if c > 0 %}
                                    {% set photo = previousAlbum.photos[random(c-1)] %}
                                    <img src="/albums/{{ id }}/mobile{{ photo.imagePath }}" alt="{{ previousAlbum.name }}">
                                {% else %}
                                    <div class="no-photo">{{ previousAlbum.name|first }}</div>
                                {% endif %}
                                <div class="chevron">{{ ux_icon('mdi:chevron-left') }}</div>
                                <div class="name">{{ previousAlbum.name }}</div>
                            </a>
                        </div>
                    {% endif %}
                    {% if nextAlbum %}
                        <div class="next-album" data-title="{{ 'Next album'|trans }}">
                            <a href="{{ path('app_album_show', {id: nextAlbum.id}) }}">
                                {% set c = nextAlbum.photos|length %}
                                {% if c > 0 %}
                                    {% set photo = nextAlbum.photos[random(c-1)] %}
                                    <img src="/albums/{{ id }}/mobile{{ photo.imagePath }}" alt="{{ nextAlbum.name }}e">
                                {% else %}
                                    <div class="no-photo">{{ nextAlbum.name|first }}</div>
                                {% endif %}
                                <div class="name">{{ nextAlbum.name }}</div>
                                <div class="chevron">{{ ux_icon('mdi:chevron-right') }}</div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </header>
            <main>
                {% if album.userCreated %}
                    <div id="add-photos" data-title="{{ 'Add photos'|trans }}">
                        {{ ux_icon('mdi:plus') }}
                    </div>
                {% endif %}
                <div class="album-container">
                    <div class="bg-header"></div>
                    <div class="album-photos {{ settings.layout }}">
                        <div class="bg"></div>
                        {% for photo in albumArray.photos %}
                            <div class="album-photo {{ cellClasses[loop.index0] }}" data-id="{{ photo.id }}">
                                <img
                                        src="/albums/{{ id }}/mobile{{ photo.image_path }}"
                                        alt="{{ photo.caption }}"
                                        data-title="{{ photo.caption }} {{ photo.date|format_datetime('relative_short', 'short', locale: 'fr') }}"
                                        loading="lazy"
                                        srcset="/albums/{{ id }}/mobile{{ photo.image_path }} 360w, /albums/{{ id }}/576p{{ photo.image_path }} 576w, /albums/{{ id }}/720p{{ photo.image_path }} 720w, /albums/{{ id }}/1080p{{ photo.image_path }} 1080w, /albums/{{ id }}/original{{ photo.image_path }} 1920w"
                                >
                                {# <div class="number-badge">{{ loop.index }}</div> #}
                                <div class="album-photo-infos">
                                    <div class="name">{{ photo.caption }}</div>
                                    <div class="dates">
                                        <div class="date" data-title="{{ 'Date'|trans }}">{{ ux_icon('mdi:date-range') }} <span>{{ photo.date|format_datetime('relative_short', 'short', locale: 'fr')|capitalize }}</span></div>
                                        <div class="created-at" data-title="{{ 'Created at'|trans }}">{{ ux_icon('mdi:update') }} {{ photo.createdAt|format_datetime('relative_short', 'short', locale: 'fr')|capitalize }}</div>
                                        <div class="updated-at" data-title="{{ 'Updated at'|trans }}">{{ ux_icon('mdi:create-new-folder') }} {{ photo.updatedAt|format_datetime('relative_short', 'short', locale: 'fr')|capitalize }}</div>
                                    </div>
                                </div>
                                <div class="edit-photo-button" data-id="{{ photo.id }}">{{ ux_icon('mdi:image-edit') }}</div>
                            </div>
                            {# {% else %}
                        <div id="add-photos">{{ ux_icon('mdi:plus') }}</div> #}
                        {% endfor %}
                    </div>
                </div>
                {{ include('_blocks/map/_map-container.html.twig', {type: 'album', styleSettings: mapSettings.data.styles}) }}
            </main>
            {% if album.date|length == 0 %}
                {{ include('_blocks/forms/_modify-album-form.html.twig', addPhotoFormData) }}
            {% endif %}
            {{ include('_blocks/forms/_edit-photo-form.html.twig', addPhotoFormData) }}
        </div>
    </div>
    {% include '_blocks/_footer.html.twig' %}
    <div id="globs-map" style="display: none">
        {
        "id": {{ id }},
        "albumName": "{{ album.name|e('js') }}",
        "photos": {{ albumArray.photos|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "bounds": {{ albumArray.bounds|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "emptyPhoto": {{ emptyPhoto|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "fieldList": {{ photoFieldList|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
        }
    </div>
    <div id="globs" style="display: none">
        {
        "album": {{ albumArray|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "imagePaths": {{ imagePaths|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "srcsetPaths": {{ srcsetPaths|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
        "settings": {
        "layout": "{{ settings.layout }}",
        "photosPerPage": {{ settings.photosPerPage }},
        "token": "{{ csrf_token('settings') }}"
        },
        "texts": {

        }
        }
    </div>
    <div id="svgs" style="display: none">
        <div class="svg" id="arrow-down">{{ ux_icon('mdi:arrow-down') }}</div>
        <div class="svg" id="arrow-up">{{ ux_icon('mdi:arrow-up') }}</div>
        <div class="svg" id="arrow-left">{{ ux_icon('mdi:arrow-left') }}</div>
        <div class="svg" id="arrow-right">{{ ux_icon('mdi:arrow-right') }}</div>
        <div class="svg" id="xmark">{{ ux_icon('mdi:close') }}</div>
        <div class="svg" id="pen">{{ ux_icon('mdi:pencil') }}</div>
        <div class="svg" id="trash">{{ ux_icon('mdi:trash') }}</div>
        <div class="svg" id="svg-date">{{ ux_icon('mdi:date-range') }}</div>
        <div class="svg" id="svg-create">{{ ux_icon('mdi:update') }}</div>
        <div class="svg" id="svg-update">{{ ux_icon('mdi:create-new-folder') }}</div>
        // Pour les messages Flash
        <div id="svg-xmark">{{ ux_icon('mdi:close') }}</div>
    </div>
{% endblock %}
