{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'My lists'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/user_list.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/card.scss') }}">
{% endblock %}
{% block body %}
    {% include('_blocks/_menu.html.twig') %}
    <div class="container-fluid">
        <div class="user-lists">
            <h1>{{ 'My lists'|trans }}</h1>
            <div class="lists-container">
                <div class="lists-list">
                    {% for list in lists %}
                        <div class="list-item{% if loop.index==1 %} active{% endif %}" data-id="{{ list.id }}">{{ list.name }}</div>
                    {% else %}
                        <p>{{ 'No lists found.'|trans }}</p>
                    {% endfor %}
                </div>
                <div class="list-container">
                    {% if infos %}
                        <div class="list-card">
                            <div class="name">{{ infos.name }}</div>
                            <div class="count">{{ infos.count }}</div>
                            <div class="description">{{ infos.description }}</div>
                            <div class="select-year{% if years|length < 2 %} d-none{% endif %}">
                                <label for="year-filter">{{ 'Years'|trans }}
                                    <select id="year-filter">
                                        <option value="all">{{ 'All'|trans }}</option>
                                        {% for year in years %}
                                            <option value="{{ year }}">{{ year }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <script>
                                const yearSelect = document.querySelector("#year-filter");
                                yearSelect.addEventListener("change", () => {
                                    const cards = document.querySelectorAll(".list-content > div");
                                    const newValue = yearSelect.value;
                                    if (newValue === 'all') {
                                        cards.forEach(card => {
                                            card.classList.remove("d-none")
                                        });
                                        return;
                                    }
                                    const cardsToShow = document.querySelectorAll(".list-content > div[data-year=\"" + newValue + "\"");
                                    cards.forEach(card => {
                                        card.classList.add("d-none")
                                    });
                                    cardsToShow.forEach(card => {
                                        card.classList.remove("d-none")
                                    });
                                });
                            </script>
                        </div>
                        <div class="list-content">
                            {% for series in seriesList %}
                                <div data-year="{{ series.air_year }}">
                                    {{ include('_blocks/series/_card.html.twig', {series: series}) }}
                                </div>
                            {% else %}
                                <p>{{ 'No series found in this list.'|trans }}</p>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>{{ 'No lists found.'|trans }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include('_blocks/_footer.html.twig') %}
    <div id="globs" style="display: none">
        {
        "translations": {{ translations|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
        }
    </div>
    <div id="svgs" style="display: none">
        <div id="svg-xmark">{{ ux_icon('mdi:close') }}</div>
        <div id="svg-bookmark">{{ ux_icon('mdi:bookmark') }}</div>
        <div id="svg-bookmark-outline">{{ ux_icon('mdi:bookmark-outline') }}</div>
        <div id="svg-ellipsis">{{ ux_icon('mdi:ellipsis-vertical') }}</div>
        <div id="svg-favorite">{{ ux_icon('mdi:favorite') }}</div>
        <div id="svg-share-outline">{{ ux_icon('mdi:share-outline') }}</div>
    </div>
{% endblock %}
