{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'My lists'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/user_list.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/card.scss') }}">
{% endblock %}
{% block body %}
    {% include('_blocks/_menu.html.twig') %}
    <div class="container-fluid">
        <div class="user-lists">
            <h1><span>{{ 'My lists'|trans }}</span></h1>
            <div class="lists-container">
                <div class="lists-list-toggler" data-title="{{ 'Show/hide lists'|trans }}">{{ ux_icon('mdi:menu', {class: 'icon-open'}) }}{{ ux_icon('mdi:close', {class: 'icon-close'}) }}</div>
                <div class="lists-list">
                    {% for list in lists %}
                        <div class="list-item{% if loop.index==1 %} active{% endif %}" data-id="{{ list.id }}">{{ list.name }}</div>
                    {% else %}
                        <p>{{ 'No lists found.'|trans }}</p>
                    {% endfor %}
                    <div class="add-list">{{ ux_icon('mdi:plus') }}{{ 'New list'|trans   }}</div>
                </div>
                <div class="list-container">
                    {% if infos %}
                        <div class="list-header">
                            <div class="list-card" data-id="{{ infos.id }}">
                                <div class="name">{{ infos.name }}</div>
                                <div class="count"><span class="sub-count"></span>{{ infos.count|raw }}</div>
                                <div class="description">{{ infos.description }}</div>
                                <div class="select-year{% if years|length < 2 %} d-none{% endif %}">
                                    <label for="year-filter"><span>{{ 'Years'|trans }}</span>
                                        <select id="year-filter">
                                            <option value="all">{{ 'All'|trans }}</option>
                                            {% for year in years %}
                                                <option value="{{ year }}">{{ year }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                                <div class="tools">
                                    <div class="tool edit">{{ ux_icon('mdi:pen') }}</div>
                                    <div class="tool delete">{{ ux_icon('mdi:trash') }}</div>
                                </div>
                            </div>
                        </div>
                        <script>
                            window.addEventListener("DOMContentLoaded", (event) => {
                                const listContainer = document.querySelector(".list-container");
                                let lastTop = 0;
                                listContainer.addEventListener("scroll", (event) => {
                                    const listContent = document.querySelector(".list-content");
                                    const rect = listContent.getBoundingClientRect();

                                    if (rect.top < 0 && lastTop >= 0) {
                                        const listHeader = document.querySelector(".list-header");
                                        listHeader.classList.add("fixed");
                                        lastTop = rect.top;
                                    }
                                    if (rect.top >= 0 && lastTop < 0) {
                                        const listHeader = document.querySelector(".list-header");
                                        listHeader.classList.remove("fixed");
                                        lastTop = rect.top;
                                    }
                                });
                            });
                        </script>
                        <div class="list-content">
                            {% for series in seriesList %}
                                <div data-year="{{ series.air_year }}">
                                    {{ include('_blocks/series/_card.html.twig', {series: series}) }}
                                </div>
                            {% else %}
                                <p>{{ 'No series found in this list.'|trans }}</p>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>{{ 'No lists found.'|trans }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include('_blocks/_footer.html.twig') %}
    <div id="globs" style="display: none">
        {
            "infos": {{ infos|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
            "translations": {{ translations|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
        }
    </div>
    <div id="svgs" style="display: none">
        <div id="svg-xmark">{{ ux_icon('mdi:close') }}</div>
        <div id="svg-bookmark">{{ ux_icon('mdi:bookmark') }}</div>
        <div id="svg-bookmark-outline">{{ ux_icon('mdi:bookmark-outline') }}</div>
        <div id="svg-ellipsis">{{ ux_icon('mdi:ellipsis-vertical') }}</div>
        <div id="svg-favorite">{{ ux_icon('mdi:favorite') }}</div>
        <div id="svg-share-outline">{{ ux_icon('mdi:share-outline') }}</div>
    </div>
{% endblock %}
