<!DOCTYPE html>
<html lang="{{ app.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000000">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

{#    <script type="module">#}
{#        if (!("anchorName" in document.documentElement.style)) {#}
{#            import("https://unpkg.com/@oddbird/css-anchor-positioning");#}
{#        }#}
{#    </script>#}
</head>
<body>
{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% block body %}{% endblock %}
{% include "_blocks/_flash_messages.html.twig" %}
{% include "_blocks/settings/_accent_color.html.twig" %}
{% include "_blocks/settings/_schedule_range.html.twig" %}
{% include "_blocks/list/_user_list.html.twig" %}
{% include "_blocks/list/_tools_submenu_list.html.twig" %}
<div class="global-tools{% if app.environment is same as 'dev' %} dev{% endif %}">
    <div class="preview-toggler">{{ ux_icon('mdi:eye') }}</div>
    <div class="to-top">{{ ux_icon('mdi:arrow-up') }}</div>
</div>
</body>
</html>
{% if app.user and route is not null %}
    {{ logHistory(app.user, block('title'), path(route, route_params)) }}
{% endif %}
