{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'User networks'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/providers.scss') }}">
{% endblock %}

{% block body %}
    {% include('_blocks/_menu.html.twig') %}
    <div class="container-fluid">
        <div class="user-providers user-networks">
            <div class="provider-filter">
                <label for="provider-filter-search">{{ 'Filter'|trans }}
                    <input type="search" id="provider-filter-search" placeholder="{{ 'Start taping...'|trans }}">
                </label>
                <label for="provider-selected">
                    <input type="checkbox" switch id="provider-selected">
                    {{ 'See selected'|trans }}<span id="provider-selected-count"></span>
                </label>
            </div>
            <div class="providers">
                {% for n in networks %}
                    <div class="provider">
                        <label
                                for="network-{{ n.id }}"
                                class="provider__label"
                                data-title="{{ n.name }} ({{ n.id }})"
                                data-title-bg="white">
                            <input type="checkbox" switch id="network-{{ n.id }}"{% if n.id in userNetworkIds %} checked{% endif %}>
                            {% if n.logo %}
                                <img src="{{ n.logo }}" alt="{{ n.name }}" class="provider__logo">
                            {% else %}
                                <div class="no-logo">{{ n.name|first|upper }}</div>
                            {% endif %}
                            {{ n.name }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include('_blocks/_footer.html.twig') %}
{% endblock %}