{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'User networks'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/providers.scss') }}">
{% endblock %}

{% block body %}
    {% include('_blocks/_menu.html.twig') %}
    <div class="container-fluid">
        <div class="user-providers">
            <div class="providers">
                {% for n in networks %}
                    <div class="provider">
                        <label
                                for="network-{{ n.id }}"
                                class="provider__label"
                                data-title="{{ n.name }}"
                                data-title-bg="white">
                            <input type="checkbox" id="network-{{ n.id }}"{% if n.id in userNetworkIds %} checked{% endif %}>
                            <img src="{{ n.logo }}" alt="{{ n.name }}" class="provider__logo">
                            {{ n.name }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include('_blocks/_footer.html.twig') %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            const locale = document.documentElement.lang;
            const providers = document.querySelector('.providers');
            const checkboxes = providers.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', () => {
                    const networkId = checkbox.id.split('-')[1];
                    const url = `/${locale}/user/network/toggle/${networkId}`;
                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({}),
                    }).then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                        throw new Error('Network response was not ok.');
                    }).then(data => {
                        console.log(data);
                    }).catch(error => {
                        console.error('There has been a problem with your fetch operation:', error);
                    })
                });
            });
        });
    </script>
{% endblock %}