{% extends 'base.html.twig' %}

{% block title %}my Tv Time → {{ 'User providers'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/providers.scss') }}">
{% endblock %}

{% block body %}
    {% include('_blocks/_menu.html.twig') %}
    <div class="container-fluid">
        <div class="user-providers">
            <div class="provider-filter">
                <label for="provider-filter-search">{{ 'Filter'|trans }}
                    <input type="search" id="provider-filter-search" placeholder="{{ 'Start taping...'|trans }}">
                </label>
                <label for="provider-selected">
                    <input type="checkbox" id="provider-selected" switch>
                    {{ 'See selected'|trans }}<span id="provider-selected-count"></span>
                </label>
            </div>
            <div class="providers">
                {% for p in providers %}
                    <div class="provider">
                        <label for="provider-{{ p.id }}" class="provider__label">
                            <input type="checkbox" switch id="provider-{{ p.id }}"{% if p.id in userProviderIds %} checked{% endif %}>
                            <img src="{{ p.logo }}" alt="{{ p.name }}" class="provider__logo">
                            {{ p.name }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include('_blocks/_footer.html.twig') %}
    </div>
{% endblock %}