{% if episodes|length %}
    <div class="episodes-today{% if show %} show{% endif %}" data-date="{{ date }}">
        <div class="wrapper">
            {% for episode in episodes %}
                <a href="{{ episode.link }}">
                    <div class="episode-today{% if episode.wat %} watched{% endif %}" data-id="{{ episode.episode_id }}">
                        <div class="poster">
                            <img src="{{ episode.poster_path }}" alt="{{ episode.name }}">
                            <div class="checked">{{ ux_icon('mdi:check') }}</div>
                            {% if episode.wplp %}
                                <div class="provider">
                                    <img src="{{ episode.wplp }}" alt="{{ episode.wppn }}" title="{{ episode.wppn }}">
                                </div>
                            {% endif %}
                        </div>
                        <div class="infos"{% if episode.wpbc %} style="background-color: {{ episode.wpbc }}; color: {{ episode.wpc }};"{% endif %}>
                            <div>{{ episode.name }}</div>
                            <div>{{ episode.number }}{% if episode.sbs_time %} - {{ episode.sbs_time }}{% endif %}</div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="toggler" data-title="{{ 'Episodes of the day'|trans }}">
            {{ ux_icon('mdi:chevron-double-right') }}
        </div>
    </div>
{% endif %}
